/* @override http://pallbeta.3bit.co.uk/logincms/assets/css/formulary.css */

/* @override 
	http://pall2010.3bitlabs.com/css/formulary.css
	http://pallbeta.3bit.co.uk/logincms/assets/css/formulary.css
*/
.container sup,
.container sub { height: 0; line-height: 1; vertical-align: baseline; _vertical-align: bottom; position: relative; }
sup { bottom: 1ex; }
sub { top: .5ex; }
.container #monographtitle h1 { border-bottom: 2px solid black; padding-bottom: 0.5em; text-transform: uppercase; margin-left: 0; padding-left: 0; margin-bottom: 0; }
p.indent { margin-bottom: 0; text-indent: 1.5em; margin-top: 0; }
.boxoutline { border: 1px solid black; padding: 1em; margin: 1em -5px; }
.greybox { background-color: #d9d9d9; margin-bottom: 1em; margin-left: -0.5em; margin-top: 1em; padding: 5px; }
div#class, div#indications { margin-bottom: 1em; }
.greybox p { padding: 0 5px 5px; margin-bottom: 0; }
#indications div.greybox h3 { display: inline; float: left; margin: 0 1em 0 5px; }
#dose-and-use ul.last { margin-bottom: 2em; }
#pharmacology p.first { margin-bottom: 0; }
#indications div.greybox h2 { margin-left: 5px; margin-top: 0; z-index: 1; }
#supply h3 { margin-bottom: 0; }
h4, #supply h4, #dose-and-use h4 { font-weight: bold; font-style: italic; margin-top: 0.2em; font-size: 1.2em; margin-bottom: 0.2em; }
div#references { border-top: 2px solid black; padding-top: 1em; margin-top: 1em; }
.container p, .container li { font-size: 1.2em; line-height: 1.5em; }
.container p, li {
	font-size: 1.2em;
	line-height: 1.5em; margin-bottom: 0; }
.container p, p { margin-bottom: 0; margin-top: 0; }
/*#supply p {
	margin-bottom: 1em;
}*/
.container ul {
	margin-left: 2em; margin-bottom: 0; padding: 0; margin-top: 0;}
#tinymce .container ul { padding: 0; }
.container ul li li, ul li li { font-size: inherit; list-style-type: circle; }
.container table.tablechart tfoot tr td ol,
.container table.box tfoot tr { font-size: 80%; }
#pretext table.box tbody tr td table.innercontent tbody tr td h5 { margin-bottom: 0; margin-top: 1em; }
#pretext ul li ul { margin-bottom: 0; }
.container table.tablechart tfoot tr,
.container table.box tfoot tr { border-style: hidden; border-top-style: solid; border-top-width: 1px; }
table.boxfigure tfoot td { border-style: hidden; border-top-style: solid; border-top-width: 1px; }
.container h2, h2 { margin-bottom: 0; font-size: 1.5em; display: inline; float: left; margin-top: 0; margin-right: 1em; }
#pharmacology h2, #cautions h2, #dose-and-use h2, #supply h2, #undesirable-effects h2, #overdose h2, #death-rattle h2, #undesireable-effects h2 { display: block; float: none; margin-top: 1em; }
#supply ul { margin-bottom: 1em; }
#dose-and-use h3 { margin-top: 0; margin-bottom: 0; }
#dose-and-use p { margin-bottom: 0; }
#formulary  li.oarrow, .container ul ul li { list-style-image: url(http://www.palliativedrugs.com/assets/templates/pall/triangleright.gif); }
#formulary ul ul.oarrow { margin-left: 1.6em; }
h3, .container h3 { font-size: 1.3em; margin-bottom: 0; }
#formulary .container ul, #formulary .container ul ul li { margin-bottom: 0; }
p.last, #dose-and-use p.last, ul.last, .innercontent tbody tr td p.last { margin-bottom: 1em; }
/* Monograph Tables */
.container table.box,
.container table.tablechart,
.container table.boxfigure { width: 99%; border-collapse: collapse; margin-bottom: 1em; margin-top: 1em; }
.tablechart tfoot ol { margin-bottom: 0; }
table.innercontent tbody tr td h5 { margin: 0; }
.container table.tablechart tbody tr td table.innercontent thead tr th { font-style: italic; background-image: none; background-color: transparent; }
.container table.box thead tr,
.container table.tablechart thead tr, 
.container table.box tbody tr, .container table.tablechart tbody tr { border: 1px solid #000; }
.container table th { background-color: #e1e1e1; text-align: left; font-weight: normal; font-style: normal; }
.container  table.tablechart tbody tr td table.innercontent thead tr th { border-bottom-width: 1px; border-bottom-style: solid; }
/*.container  table{border-collapse:collapse; width: 99%;}
.container  thead tr{border:2px solid #000;}
.container tbody tr{border: 2px solid #000; border-top:none;

}*/
/* Inner Table Content */
table.innercontent { width: 100%; margin-bottom: 0; }
table.innercontent td { /
*

font-size: 1.2em;*/
	margin: 0; vertical-align: top; }
.nohpadding td { padding-top: 0; padding-bottom: 0; }
.container table th strong { margin-right: 1em; }
.container table.innercontent tr { border-style: none; }
.container .innercontent thead tr td { border-bottom-width: 2px; border-bottom-style: solid; }
.container table.innercontent td p, .container table.innercontent td li { margin-bottom: 0; padding-bottom: 0; font-size: 100%; }
/* Header */
.container #monographtitle h1 span { font-weight: normal; font-style: normal; font-size: 75%; }
.container table.tablechart tfoot tr td ol { list-style-type: lower-latin; }
.container #pretext table.boxfigure tfoot tr td p { margin-bottom: 0.5em; }
.container .innercontent tbody tr td ul.nobullet { list-style-type: none; }
#pretext h2, #pre-text-article h2 { float: none; display: block; margin-top: 1em; }
p.first, #supply p.first { margin-bottom: 0; }
#box3g tbody tr td table.innercontent tbody tr td h5 { margin-top: 1em; }
#box3g tbody tr td table.innercontent tbody tr.nohpadding td { padding-left: 25px; padding-right: 0; }
td.border-right { border-right-style: solid; border-right-width: 2px; }
td.border-bottom { border-bottom-style: solid; border-bottom-width: 2px; }
.innercontent tbody tr td.greybox { padding-bottom: 10px; }
#undesirable-effects h4 { margin-top: 0; font-style: italic; margin-bottom: 0; }
#pharmacology blockquote { color: black; font-size: 1.2em; margin-top: 0; margin-bottom: 0; border-style: none; }
/* Tables CSS */
.box .innercontent tbody tr.nobtmpad td { padding-bottom: 0; }
.box .innercontent tbody tr.notopmpad td { padding-top: 0; }
p.greybox { margin-bottom: 1em; margin-top: 1px; margin-left: -0.5em; padding-left: 0.5em; padding-bottom: 0.5em; padding-top: 0.5em; }
.innercontent td.vlmiddle { vertical-align: middle; padding-top: 0; padding-bottom: 0; }
.innercontent tbody tr.nobottompadding td { padding-bottom: 0; }
.innercontent tbody tr.nopadding td { padding-top: 0; padding-bottom: 0; }
.innercontent tbody tr.notoppadding td { padding-top: 0; }
#sidemenu div.stretcher ul.titles, #sidemenu div.stretcher .titles ul li { list-style-type: none; margin-bottom: 1em; text-align: left; font-size: 1em; }
#sidemenu { float: left; width: 240px; background-color: #e0e2e2; min-height: 700px; margin: 7px 0 0 7px; }
#sidemenu div.stretcher ul.titles li ul { margin-left: 10px; font-weight: normal; font-style: normal; margin-bottom: 0; }
#sidemenu div.stretcher ul.titles li a { text-decoration: none; color: #474747; text-transform: none; }
#sidemenu div.stretcher ul.titles li ul li ul li { margin-bottom: 0; }
#sidemenu div.stretcher ul.titles li ul li { margin-bottom: 0; }

#article #sidemenu h1 { padding: 2px; margin: 0 10px 5px 5px; padding-top: 11px; font: normal 1.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; text-align: left; }
#formulary { float: left; width: 690px; margin-top: 5px; margin-left: 10px; }
#sidemenu h2.displayer a { text-decoration: none; color: #fffbf6; }
ul.titles { margin: 0 0 0 7px; padding: 0; font-size: 13px; line-height: 1.6em; font-weight: bold; text-transform: uppercase; }

#tinymce h2 { float: none;display: block;margin-top: 1em;}
#tinymce table.abbrv { border: none; }
#tinymce table.abbrv td  { padding: 0; }
#tinymce { padding: 0 1em; }
#tinymce ol{ padding: 0 0 0 2em; margin: 0; }
#tinymce ol li ul { list-style-type: disc; margin-left: 1.3em; }
#tinymce ol li ul li { font-size: inherit; }
#tinymce li.oarrow {
	list-style-image: url(http://www.palliativedrugs.com/assets/templates/pall/triangleright.gif); font-size: inherit; }
	#tinymce ul ul li { list-style-type: square; list-style-image: none; }
	#tinymce ol { margin-bottom: 1.5em; }
