/*************************************
      WELCOME TO THE IE STYLESHEET
--------------------------------------
               ie.css
        BlueTrip CSS Framework
         http://bluetrip.org
***************************************/

body {text-align:center;}
.container {text-align:left;}
* html .column {overflow-x:hidden;}
* html legend {margin:-18px -8px 16px 0;padding:0;}
ol {margin-left:2em;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
html>body p code {*white-space:normal;}
hr {margin:-8px auto 11px;}
ul { list-style: disc outside; margin-left: 2em; } /* IE can't handle :before and :after */
ul li { text-indent: 0; margin-left: 0; }
legend { margin-bottom: 1.6em; } /* IE form margin bug */
sup, sub { font-size: 100%; } /* IE superscript & subscript bug */
blockquote p, blockquote ul, blockquote ol, blockquote dl, blockquote pre, blockquote address,
blockquote table, blockquote form, blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 { margin-top: .8em; margin-bottom: .8em; } /* IE can't handle :first-child */
* html textarea, * html input { padding: 0; } /* IE < 7 form fix */
input[type='submit'], input[type='button'] { padding: 0; } /* IE 7 button fix */
legend+* { margin-top: 0; } /* we already added legend margin */
a abbr, a acronym { text-decoration: underline; } /* IE 7 bug */
fieldset legend { margin: 0; } /* IE 6 disappearing legend bug */

