/* @group General Outer Table */
.container table.box,
.container table.tablechart,
.container table.boxfigure {
	width: 99%;
	margin-bottom: 1em;
	margin-top: 1em;
}

.container table thead th {
	background-color: #e1e1e1;
	text-align: left;
	font-weight: normal;
	font-style: normal; font-size: 12px; }

.container table th strong {
	margin-right: 2em;
}

.container table tfoot tr td ol { list-style-type: lower-latin; margin-bottom: 0; }
.container table td { border: 1px solid black; }
.container table th { border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; }
.container table tfoot td  {border-style: none;  }
/* @end */
/* @group InnerContent */
.container table.innercontent thead th {
background-color: transparent; border-bottom-width: 2px; border-bottom-style: solid; border-top-style: none; border-right-style: none; border-left-style: none; padding-bottom: 0; }

.container table.innercontent { border-style: none; padding: 0px; margin: 0px; width: 97.5%; }
.container .innercontent tbody tr td p { margin-bottom: 0; }
.container table.innercontent td { border-style: none; padding-bottom: 0; padding-top: 0.5em; font-size: 12px; }
.container .innercontent tbody td h5 { font-size: 12px; }
/*.container table.innercontent td { border-style: none; }*/
/* @end */
.container table td, .container table th {padding: 0.8em;  }
.container .innercontent tbody tr.notopmpad  { padding-top: 0; vertical-align: middle; }
.container .innercontent tbody tr td h5 { margin-top: 0; margin-bottom: 0; }
.container .innercontent tbody ul.nobullet { margin-left: 0; list-style-type: none; }
.container .innercontent tbody tr td h5 { margin: 0; }
.container .innercontent tbody tr td p.last { margin-bottom: 1em; }
.container .innercontent tbody tr.notopmpad td { padding-top: 0; margin-top: 0; vertical-align: middle; }

