/* @override http://pallbeta.3bit.co.uk/logincms/assets/css/temp.css */

/* @override 
	http://pall2010.3bitlabs.com/logincms/assets/css/temp.css
	http://pallbeta.3bit.co.uk/logincms/assets/css/temp.css
*/
p.delabel { margin: 0px;  
position: relative; left: 170px; top: -19px; font-size: 1em; color: #848687; width: 340px; height: 2em; }
li.filtertitle { font-weight: bold; margin-right: 1em; display: inline-block; width: 100%; font-size: 0.85em; text-transform: uppercase; }
label.choice { height: 1em; }

#filters .ui-widget-content { padding-top: 0px; }
#colversion, #colctype { width: 8em;}
#colstatus { width: 8em; }
#colsnippet { width: 25em; }
#colaction { width: 24em; }

#audit ol li.update { background:url(/logincms/assets/images/icons/table_edit.png) no-repeat 0 2px }
#audit ol li.view { background: url(/logincms/assets/images/icons/table_go.png) no-repeat 0 2px}
#audit ol li.login { background-image: url(/logincms/assets/images/icons/user.png); }
.wrap ul { list-style-type: none; 
margin: 0; padding: 0; list-style-image: url(/logincms/assets/images/blakarrow.gif); }
div.sort-handle {cursor: move;  }
.wrap ul { font-size: 12px; margin-bottom: 0.5em; }
.wrap img { display: none; }
div.ui-selectee span a { float: right; display: block; width: 5em; height: 14px; padding-left: 16px; border: 1px solid #d5d5d5; }
.ui-selectee div { line-height: 1.5e; }