/* @override 
	http://pdrugs-zend.3bitlabs.com/css/bookshop.css
	http://pdrugs-zend.3bitlabs.com/css/bookshop.css
	http://shop.dev/css/bookshop.css
*/

.bookshop { width: 900px; margin: 15px 0 0 20px; }
.bookshop .head { width: 100%; float: left; margin-bottom: 2em; }
#content #col01 .col01_1 .bookshop .head h4 { color: #cb0001; font: bold 14px/27px Arial, Helvetica, sans-serif; font-style: normal; background: url(../images/pd-icon-h1.gif) left top no-repeat; text-indent: 27px; text-transform: uppercase; float: left; width: auto; margin: 0 0 3px 0; }
#article #content #col01 .col01_1 .bookshop .head p { font: bold 18px/27px "Trebuchet MS", Arial, Helvetica, sans-serif;  color: #666; clear: none; width: auto; margin: 0 0 3px 0; }
#article .basket { float: right; margin-top: 0px; margin-left: 5px; margin-bottom: -10px; margin-right: 12px; background: #f7f7f7; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 5px 8px 14px 8px; }
#article .basket img { float: left; }
#article .basket p { float: left; margin: 0 0 0 0px; width: auto; clear: none; }
#article .basket p a { color: #cd0001; text-decoration: none; font: bold 12px/12px Arial, Helvetica, sans-serif; padding-top: 6px; display: block; }
#article .basket p a:hover { text-decoration: underline; }
#article #content #col01 .col01_1 .bookshop .feature { float: left; width: 100%; clear: both; padding-bottom: 20px; }
#article #checkout { margin-right: 1em; }
#article #checkout a { background: url(../images/checkout.png) no-repeat 0 1px; width: 89px; color: #bdbdbd; display: inline-block; margin-top: 1px; padding: 5px 5px 5px 7px; margin-left: -110px; }
#article #checkout a:hover { color: white; text-decoration: none; }
#article #content #col01 .col01_1 .bookshop .feature .col01 { float: left; width: 675px; margin-top: 20px; }
#article #content #col01 .col01_1 .bookshop .feature .col02 { float: right; margin-top: 20px; }
#article #content #col01 .col01_1 .bookshop .feature h1 { margin: 0; font: normal 22px Arial, Helvetica, sans-serif; padding: 0; clear: both; }
#article #content #col01 .col01_1 .bookshop .feature h2, #article #content #col01 .col01_1 .bookshop.detail div.feature div.col01 h3, #article #content #col01 .col01_1 .bookshop.detail div.feature div.col01 div.editors h4  { margin: 0 0 5px 0; font: normal 13px Arial, Helvetica, sans-serif; color: #666; background: none; text-transform: none; padding: 0; }

#article #content #col01 .col01_1 .bookshop .feature h3 { margin: 10px 0 8px 0; font: normal 13px/13px Arial, Helvetica, sans-serif; color: #666; padding: 0; }
#article #content #col01 .col01_1 .bookshop .feature h3 strong, #article #content #col01 .col01_1 .bookshop.detail div.feature div.col01 div.editors h4 strong { color: #cb0001; font-weight: normal; }
#article #content #col01 .col01_1 .bookshop .feature h4 { margin-left: 0; color: #cb0001; font: bold 17px Arial, Helvetica, sans-serif; padding: 0; }
#article #content #col01 .col01_1 .bookshop .feature p { margin: 2px 0 8px 0; font: normal 15px/21px Arial, Helvetica, sans-serif; color: #666; }
#article #content #col01 .col01_1 .bookshop .feature .buttons { margin-top: 10px; float: left; clear: both; width: 100%; }
#article #content #col01 .col01_1 .bookshop .feature .buttons a.buy { background: url(../images/buy.gif) no-repeat; width: 47px; height: 27px; display: block; color: #fff; text-decoration: none; text-align: center; font: bold 12px/27px Arial, Helvetica, sans-serif; float: left; }
#article #content #col01 .col01_1 .bookshop .feature .buttons a.buy:hover { background-position: -47px; }
#article #content #col01 .col01_1 .bookshop .feature .buttons a.moreinfo { background: url(../images/more-info.gif) no-repeat; width: 79px; height: 27px; display: block; color: #fff; text-decoration: none; text-align: center; font: bold 12px/27px Arial, Helvetica, sans-serif; float: left; margin-left: 2px;}
.ie6 #article #content #col01 .col01_1 .bookshop .feature .buttons a.moreinfo{margin-left:0;}
#article #content #col01 .col01_1 .bookshop .feature .buttons a.moreinfo:hover { background-position: -79px; }
#article #content #col01 .col01_1 .detail .feature { width: 578px; margin-bottom: 20px; }
#article #content #col01 .col01_1 .detail .feature p { font-size: 13px; }
.ie6 #article #content #col01 .col01_1 .detail .feature p, .ie7 #article #content #col01 .col01_1 .detail .feature p{float:none;}

#article #content #col01 .col01_1 .detail .feature .col01 { width: 365px; }
#article #content #col01 .col01_1 .detail .feature form { margin: 0; padding: 0; }
#article #content #col01 .col01_1 .detail .feature fieldset { margin: 0; border: none; padding: 0; float: left;  }
.ie6 #article #content #col01 .col01_1 .detail .feature fieldset {width:578px; overflow:hidden; float:right;}
#article #content #col01 .col01_1 .detail .feature fieldset h4 { color: #666; font-size: 13px; text-transform: uppercase; width:100%; float:right; margin-right:0; }
#article #content #col01 .col01_1 .detail .feature fieldset .row { border-top: 1px solid #ccc; width: 100%; clear: both; float: right; padding: 3px 0 3px 0; }
#article #content #col01 .col01_1 .detail .feature fieldset input { float: left; }
.ie6 #article #content #col01 .col01_1 .detail .feature fieldset input{width:auto;}
#col01 .col01_1 .detail .feature fieldset input:hover { cursor: pointer; }
#article #content #col01 .col01_1 .detail .feature fieldset label { float: left; color: #8a8a8a; font: normal 13px Arial, Helvetica, sans-serif; text-transform: uppercase; width: 485px; }
#article #content #col01 .col01_1 .detail .feature fieldset .row p { float: right; font-weight: bold; text-align: right; clear: none; width: auto; font: bold 13px/25px Arial, Helvetica, sans-serif; margin-bottom: 0; margin-right: 5px; }
#article #content #col01 .col01_1 .detail .feature fieldset #addtocart, #article #content #col01 .col01_1 .detail .feature fieldset .addtocart { background: url(../images/add-to-cart.gif) no-repeat; width: 87px ; height: 26px; border: none; color: #fff; float:right; font: bold 13px Arial, Helvetica, sans-serif; margin: 5px 0 20px 0; border: 0px outset buttonface; clear:both; display:block; }

#article #content #col01 .col01_1 .detail .feature fieldset #addtocart:hover { color: #ffb9ad; }

/* SUbscriptions */
#article #content #col01 .col01_1 .bookshop .feature .subscriptions h1{ color: #cb0001; font-size:18px;}
#article #content #col01 .col01_1 .bookshop .feature .subscriptions table{ width:100%; margin:8px 0 0 0;}
#article #content #col01 .col01_1 .bookshop .feature .subscriptions table th{text-align:left; color: #666; font-size: 13px; text-transform: uppercase;}
#article #content #col01 .col01_1 .bookshop .feature .subscriptions table td{border-top: 1px solid #ccc; vertical-align:middle; line-height:1em; color:#666;}
#article #content #col01 .col01_1 .bookshop .feature .subscriptions table input{float:left;}
#article #content #col01 .col01_1 .bookshop .feature .subscriptions table label{width:auto; margin-left:3px; text-transform:none; line-height:13px; padding-bottom:8px;}
#onlinesubscriptions-page.shop-section #article #content #col01 .col01_1 .detail .feature fieldset input.addtocart { margin-top: 5px; } 

#article #content #col01 .col01_1 .bookshop .feature .subscriptions table .center{text-align:center ;}
#article #content #col01 .col01_1 .bookshop .feature .subscriptions table .rightalign{text-align:right ; padding:5px 10px 5px 0; vertical-align:middle;}
#article #content #col01 .col01_1 .bookshop .feature .subscriptions table .addtocart{float:none;}
 #article #content #col01 .col01_1 .detail .feature fieldset .addtocart {margin-bottom:5px;}
 .ie6 #article #content #col01 .col01_1 .detail .feature fieldset .addtocart{width:87px;}

#article #content #col01 .col01_1 .bookshop .feature .packages table td{padding:5px 0 5px 0;}
#article #content #col01 .col01_1 .bookshop .feature .packages table .save{text-transform:none; font-weight:normal;}


/* Corporate */
#article #content #col01 .col01_1 .bookshop .feature table.corporate td, #article #content #col01 .col01_1 .bookshop .feature table.combined td{padding-top:5px;padding-bottom:5px;}
#article #content #col01 .col01_1 .bookshop .feature table.corporate th{width:25%;}


#article #content #col01 .col01_1 .detail .side { float: right; width: 265px; margin-top: 10px; }
#article #content #col01 .col01_1 .detail .side h2 { background: none; font: normal 18px Arial, Helvetica, sans-serif; margin: 10px 0 12px 0; padding: 0; color: #9d9d9d; }
#article #content #col01 .col01_1 .detail .side .quote { background: url(../images/quote-left.jpg) no-repeat top left; clear: both; }
#article #content #col01 .col01_1 .detail .side .quote blockquote { background: url(../images/quote-right.jpg) no-repeat bottom right; font: normal 16px Arial, Helvetica, sans-serif; padding: 8px 8px 8px 0; margin: 20px 20px 0 20px; color: #999; }
#article #content #col01 .col01_1 .detail .side .quote p { width: 180px; margin: -5px 0 20px 20px; padding: 0; color: #cb0001; font: normal 11px Arial, Helvetica, sans-serif; }
.ie6 #article #content #col01 .col01_1 .detail .side .quote p{margin-left:10px;}
#article #content #col01 .col01_1 .checkout .cart {  }
#article #content #col01 .col01_1 .checkout .cart table { width: 100%; margin: 0; border: 0; }
#article #content #col01 .col01_1 .checkout .cart table th { background: #cb0001; text-align: left; color: #fff; font: bold 12px Arial, Helvetica, sans-serif; padding: 3px 5px 3px 5px; }
#article #content #col01 .col01_1 .checkout .cart table td { text-align: center; color: #333; padding: 7px; }
#article #content #col01 .col01_1 .checkout .cart table td input { width: 30px; text-align: center; margin: 0; }
#article #content #col01 .col01_1 .checkout .cart table td .centre { width: 30px; margin: auto; }
#article #content #col01 .col01_1 .checkout .cart table.total { text-align: right; font: bold 16px Arial, Helvetica, sans-serif; width: 100%; border-top: 1px solid #ccc; }
#article #content #col01 .col01_1 .checkout .cart table.total td { text-align: right; padding: 10px 10px 10px 0; }
#article #content #col01 .col01_1 .checkout .cart table.total td input#checkout { background: url(../images/add-to-cart.gif) no-repeat; width: 87px; height: 26px; border: none; color: #fff; font: bold 13px Arial, Helvetica, sans-serif; float: right; margin: 5px 0 20px 0; border: 0px outset buttonface; }
#article #content #col01 .col01_1 .checkout .cart table.total td input#checkout:hover { background-position: -87px; cursor: pointer; }
#content #col01 .col01_1 input#checkout { background: url(../images/wide-button.png) no-repeat -139px; height: 26px; border: none; color: #fff; font: bold 13px Arial, Helvetica, sans-serif; float: right; margin: 5px 0 20px 0; border: 0px outset buttonface; width: 138px; }
#content #col01 .col01_1 input#checkout:hover { background-position: 0; cursor: pointer; }
#article #content #col01 .col01_1 .checkout .cart table.total td input#updatecart { background: url(../images/wide-button.png) no-repeat; width: 137px; border: none; color: #fff; font: bold 13px Arial, Helvetica, sans-serif; margin: 4px 0 20px; border: 0px outset buttonface; height: 28px; }
#article #content #col01 .col01_1 .checkout .cart table.total td input#updatecart:hover { background-position: -139px; cursor: pointer; }
#article #content #col01 .col01_1 .checkout .cart table.total td input#continue { background: url(../images/wide-button.png) no-repeat 0; width: 138px; height: 27px; border: none; color: #fff; font: bold 13px Arial, Helvetica, sans-serif; float: left; border: 0px outset buttonface; margin: 5px 1em 20px 0; }
#article #content #col01 .col01_1 .checkout .cart table.total td input#continue:hover { background-position: -139px; cursor: pointer; }
#article #content #col01 .col01_1 .bookshop .otherbooks { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; float: left; width: 100%; padding-bottom: 20px; margin-bottom: 20px; }
#article #content #col01 .col01_1 .bookshop .otherbooks h2 { color: #999; text-transform: uppercase; font: bold 12px Arial, Helvetica, sans-serif; background: none; padding: 0; margin: 15px 0 10px 0; float: none; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book { float: left; width: 300px; margin-bottom: 50px; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book img { float: left; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book .desc { float: left; margin-left: 10px; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book .desc .block { height: 135px; }
.ie7 #article #content #col01 .col01_1 .bookshop .otherbooks .book .desc .block{ height:140px;}
#article #content #col01 .col01_1 .bookshop .otherbooks .book .desc h2 { font: 1.4em Arial, Helvetica, sans-serif; text-transform: none; margin: 0; padding: 0; width: 155px; color: #000; }


#article #content #col01 .col01_1 .bookshop .otherbooks .book .desc h3 { color: #666; margin: 0; font-style: normal; font-family: Arial, Helvetica, sans-serif; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book .desc h4 { float: left; font: normal 10px Arial, Helvetica, sans-serif; color: #666; margin: 10px 5px 0 0; padding: 0; display: block; clear: none; width: auto; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book .desc h4 strong { color: #cb0001; font-weight: normal; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book .desc p { margin: 10px 0 0 0; color: #666; font: 1.5em Arial, Helvetica, sans-serif; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book .buttons_sml { position: relative; clear:both; float:left; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book .buttons_sml a.buy { background: url(../images/buy-sml.gif) no-repeat; width: 40px; height: 22px; display: block; color: #fff; text-decoration: none; text-align: center; font: bold 10px/22px Arial, Helvetica, sans-serif; float: left; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book .buttons_sml a.buy:hover { background-position: -40px; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book .buttons_sml a.moreinfo { background: url(../images/more-info-sml.gif) no-repeat; width: 65px; height: 22px; display: block; color: #fff; text-decoration: none; text-align: center; font: bold 10px/22px Arial, Helvetica, sans-serif; float: left; margin-left: 0; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book .buttons_sml a.moreinfo:hover { background-position: -65px; }
/* My Comment */
fieldset#billing p { display: ; padding-top: 0; }
#content #col01 .appnitro h1 { padding: 0; margin: 0; }
#content #col01 .appnitro p { margin-top: 0; color: #797979; }
#content #col01 form.appnitro { padding: 0; margin: 20px; }
#content #col01 .appnitro li { width: 700px; }
#content #col01 form.appnitro ul { font-size: 100%; list-style-type: none; margin: 0; padding: 5px 5px 5px 1px; width: 100%; }
#content #col01 form.appnitro li { display: block; margin: 0; padding: 4px 5px 2px 10px; position: relative; }

#content #col01 form.appnitro li:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
/** html form li
{
	height:1%;
}

* html .buttons
{
	height:1%;
}*/
#content #col01 form.appnitro li div { color: #444; margin: 0 4px 0 0; padding: 0 0 8px; }
#content #col01 form.appnitro li span { color: #444; float: left; margin: 0 4px 0 0; padding: 0 0 8px; }
#content #col01 form.appnitro li div.left { display: inline; float: left; width: 48%; }
#content #col01 form.appnitro li div.right { display: inline; float: right; width: 48%; }
#content #col01 #content #col01 form.appnitro li div.left .medium { width: 100%; }
#content #col01 form.appnitro li div.right .medium { width: 100%; }
#content #col01 .appnitro .clear { clear: both; }
#content #col01 form.appnitro li div label { clear: both; color: #444; display: block; font-size: 9px; line-height: 9px; padding-top: 3px; float: none; margin-bottom: 0.5em; }
#content #col01 form li span label { clear: both; color: #444; display: block; font-size: 9px; line-height: 9px; margin: 0; padding-top: 3px; }
#content #col01 .appnitro form li .datepicker { cursor: pointer !important; float: left; height: 16px; margin: .1em 5px 0 0; padding: 0; width: 16px; }
#content #col01 .appnitro p { font-size: 1em; margin-right: 0px; margin-left: 0px; }
#content #col01 div.ui-widget { margin-bottom: 1em; }
#content #col01 .form_description { border-bottom: 1px dotted #ccc; clear: both; display: inline-block; margin: 0 0 1em; }
#content #col01 .form_description[class] { display: block; }
#content #col01 .form_description h2 { clear: left; font-size: 160%; font-weight: 400; margin: 0 0 3px; }
#content #col01 .form_description p { font-size: 95%; line-height: 130%; margin: 6px 0 12px; }
#content #col01 form.appnitro hr { display: none; }
#content #col01 form.appnitro li.section_break { border-top: 1px dotted #ccc; margin-top: 9px; padding-bottom: 0; padding-left: 9px; padding-top: 13px; width: 97% !important; }
#content #col01 form.appnitro ul li.first { border-top: none !important; margin-top: 0 !important; padding-top: 0 !important; }
#content #col01 form.appnitro .section_break h3 { font-size: 110%; font-weight: 400; line-height: 130%; margin: 0 0 2px; }
#content #col01 form.appnitro .section_break p { font-size: 85%; margin: 0 0 10px; }
/**** Buttons ****/
#content #col01 .appnitro input.button_text { overflow: visible; padding: 0 7px; width: auto; }
#content #col01 .appnitro .buttons input { /
*font-size: 120%; */
	margin-right: 5px; }
/**** Inputs and Labels ****/
#content #col01 .appnitro label.description { border: none; color: #222; display: block; font-size: 95%; font-weight: 700; line-height: 150%; padding: 0 0 1px; width: 100%; }
#content #col01 .appnitro span.symbol { font-size: 115%; line-height: 130%; }
#content #col01 .appnitro input.text { border-bottom: 1px solid #ddd; border-left: 1px solid #c3c3c3; border-right: 1px solid #c3c3c3; border-top: 1px solid #7c7c7c; color: #333; margin: 0; padding: 2px 0 2px 2px; height: 22px; font: 1.4em "Lucida Grande", Lucida, Verdana, sans-serif; }
#content #col01 .appnitro input.file { color: #333; font-size: 100%; margin: 0; padding: 2px 0; }
#content #col01 .appnitro textarea.textarea { border-bottom: 1px solid #ddd; border-left: 1px solid #c3c3c3; border-right: 1px solid #c3c3c3; border-top: 1px solid #7c7c7c; color: #333; font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size: 100%; margin: 0; width: 99%; }
#content #col01 .appnitro select.select { color: #333; font-size: 16px; margin: 1px 0 0; padding: 1px 0 0; }
#content #col01 .appnitro input.currency { text-align: right; }
#content #col01 .appnitro input.checkbox { display: block; height: 13px; line-height: 1.4em; margin: 6px 0 0 3px; width: 13px; }
#content #col01 .appnitro input.radio { display: block; height: 13px; line-height: 1.4em; margin: 6px 0 0 3px; width: 13px; }
#content #col01 .appnitro label.choice { color: #444; display: block; font-size: 100%; line-height: 1.4em; margin: -1.55em 0 0 25px; padding: 4px 0 5px; width: 90%; }
select.select[class] { margin: 0; padding: 1px 0; }
*:first-child+html select.select[class] { margin: 1px 0; }
/*.safari select.select
{
	font-size:120% !important;
	margin-bottom:1px;
}*/
#content #col01 .appnitro input.small { width: 25%; }
#content #col01 .appnitro select.small { width: 25%; }
#content #col01 .appnitro input.medium { width: 50%; }
#content #col01 .appnitro select.medium { width: 50%; }
#content #col01 .appnitro input.large { width: 99%; }
#content #col01 .appnitro select.large { width: 100%; }
#content #col01 .appnitro textarea.small { height: 5.5em; }
#content #col01 .appnitro textarea.medium { height: 10em; }
#content #col01 .appnitro textarea.large { height: 20em; }
/**** Errors ****/
#content #col01 .appnitro #error_message { background: #fff; border: 1px dotted red; margin-bottom: 1em; padding-left: 0; padding-right: 0; padding-top: 4px; text-align: center; width: 99%; }
#content #col01 .appnitro #error_message_title { color: #DF0000; font-size: 125%; margin: 7px 0 5px; padding: 0; }
#content #col01 .appnitro #error_message_desc { color: #000; font-size: 100%; margin: 0 0 .8em; }
#content #col01 .appnitro #error_message_desc strong { background-color: #FFDFDF; color: red; padding: 2px 3px; }
#content #col01 form.appnitro li.error { background-color: #FFDFDF !important; border-bottom: 1px solid #EACBCC; border-right: 1px solid #EACBCC; margin: 3px 0; }
#content #col01 form.appnitro li.error label { color: #DF0000 !important; }
#content #col01 form p.error { clear: both; color: red; font-size: 10px; font-weight: 700; margin: 0 0 5px; }
#content #col01 form.appnitro .required { color: red; float: none; font-weight: 700; }
/**** Guidelines and Error Highlight ****/
#content #col01 form.appnitro li.highlighted { background-color: #fff7c0; }
#content #col01 form.appnitro .guidelines { background: #f5f5f5; border: 1px solid #e6e6e6; color: #444; font-size: 80%; left: 100%; line-height: 130%; margin: 0 0 0 8px; padding: 8px 10px 9px; position: absolute; top: 0; visibility: hidden; width: 42%; z-index: 1000; }
#content #col01 form.appnitro .guidelines small { font-size: 105%; }
#content #col01 form.appnitro li.highlighted .guidelines { visibility: visible; }
#content #col01 form.appnitro li:hover .guidelines { visibility: visible; }
#content #col01 .appnitro .no_guidelines .guidelines { display: none !important; }
#content #col01 .appnitro .no_guidelines form li { width: 97%; }
#content #col01 .appnitro .no_guidelines li.section { padding-left: 9px; }
/*** Success Message ****/
#content #col01 .appnitro .form_success { clear: both; margin: 0; padding: 90px 0pt 100px; text-align: center }
#content #col01 .appnitro .form_success h2 { clear: left; font-size: 160%; font-weight: normal; margin: 0pt 0pt 3px; }
/*** Password ****/
#content #col01 .appnitro ul.password { margin-top: 60px; margin-bottom: 60px; text-align: center; }
#content #col01 .appnitro .password h2 { color: #DF0000; font-weight: bold; margin: 0pt auto 10px; }
#content #col01 .appnitro .password input.text { font-size: 170% !important; width: 380px; text-align: center; }
#content #col01 .appnitro .password label { display: block; font-size: 120% !important; padding-top: 10px; font-weight: bold; }
#content #col01 .appnitro #li_captcha { padding-left: 5px; }
#content #col01 .appnitro #li_captcha span { float: none; }
#content #col01 .embed form.appnitro { margin: 0px 0px 0; }
#content #col01 form.appnitro fieldset ul li span label { clear: both; }
#content #col01 .appnitro  label#bcntry { margin-top: 3px; }
#content #col01 .appnitro  fieldset { margin: 0 0 2em; background-color: #f3f3f3; padding: 10px; width: auto; }
/*Summary Page CSS */
#article.summary table.cart_address { width: 97%; }
#article.summary table.cart_address th { border-collapse: separate; border-style: solid; border-width: 1px; border-right-style: none; border-left-style: none; border-top-style: none; border-bottom-width: 2px; border-bottom-style: solid; }
#article.summary table.cart_address tbody td { padding: 10px; border-right-style: none; border-left-style: none; border-bottom-width: 1px; border-bottom-style: solid; }
#article.summary table.cart_address th { text-align: left; padding: 10px 10px 10px 0; }
#article.summary #frmSummary table { margin-top: 2em; width: 97%; border-collapse: collapse; }
#article.summary #frmSummary table td, #article.summary #frmSummary table th { text-align: left; }
#article.summary #frmSummary table th { padding-bottom: 5px; border-bottom-width: 2px; border-bottom-style: solid; }
#article.summary #frmSummary table td { padding-top: 5px; padding-right: 5px; padding: 5px; }
div.booksample { float: left; }
.booksample a.bkimage { float: left; display: block; width: 40px; height: 42px; background: url(../images/pdficon.png) no-repeat; margin-right: 1em; }
#content #col01 .col01_1 .booksample p { width: auto; clear: none; margin-left: 0; font-style: italic; margin-top: .5em; float: none; }
div.booksample { border-bottom-color: #C5C5C5; border-bottom-style: dotted; border-bottom-width: 1px; border-top-color: #C5C5C5; border-top-style: dotted; border-top-width: 1px; padding-top: 6px; width: 100%; }
div.booksample.first { border-bottom-style: none; }
#content #col01 .col01_1 .booksample .sampleLink { position: relative; top: 6px; font: 1.6em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }
#overlay { display: none; }
#col01 .col01_1 #frmSummary table thead tr th.align-right, 
#col01 .col01_1 #frmSummary table tbody tr td.align-right, 
#col01 .col01_1 #frmSummary table tfoot tr.align-right td { text-align: right; }
#frmSummary table tfoot td { padding: 5px; border-top: 1px solid #bfbfbf; }
#frmSummary table tfoot { border-top: 2px solid black; }
#col01 .col01_1 .terms input#terms { float: none; }
#col01 .col01_1 .terms, #payment-cont { margin-top: 1em; margin-left: 1em; margin-bottom: 1em; }
#col01 .col01_1 #frmSummary table tfoot tr.align-right td.value { font-size: 1.2em; }
#overlay { padding: 10px; width: 640px; }
fieldset#invoice { background-color: #eee; border-style: none; font-size: 1.3em; }
.apple_overlay { color: #fff; -moz-box-shadow: 0 0 10px black; -webkit-box-shadow: 0 0 10px black; box-shadow: 0 0 10px black; }
div.cart_action_buttons { font-size: 1.3em; }
.apple_overlay .close { position: absolute; right: 0px; top: -10px; cursor: pointer; height: 35px; width: 35px; background: url(../images/close.png) no-repeat; }
.button { padding: 7px; text-align: center; background: none no-repeat 0; -moz-border-radius: 8px; border-radius: 8px; }
div#payment-options { text-align: left; margin: 2em 1em 3em; float: right;}
#col01 .col01_1 #payment-options a.button { color: #fff; font-weight: bold; background-color: #666; }
#payment-cont a.button.payment-cart.active { background-color: red; }
#col01 .col01_1  #payment-options p { float: none; display: inline; font-style: italic; color: gray; font-size: small; }
#overlay div.cart_action_buttons { margin-top: 1em; margin-bottom: 1em; margin-left: 8px; }
#overlay a.button.save-info { font-weight: bold; text-decoration: none; color: white; background-color: #666; font-size: 0.75em; padding: 0.4em 1.2em; }
#overlay a.button.save-info:hover, #col01 .col01_1 #payment-options a.button:hover { background-color: #cb0000; text-decoration: none; }
/* Fix for SMAC Issue */



#hospice-and-palliative-care-formulary-page #prolist {display: none;  }
#col01 .col01_1 .bookshop .otherbooks .book .desc h2, #article #content #col01 .col01_1 .bookshop .otherbooks .book .desc h1  { font: 1.4em Arial, Helvetica, sans-serif; text-transform: none; margin: 0; padding: 0; width: 155px; color: #000; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book .desc h2 { font: normal 1.1em Arial, Helvetica, sans-serif; color: #666; margin: 0; }
#article #content #col01 .col01_1 .bookshop .otherbooks .book .desc h3 { margin-top: 0; padding-top: 0; margin-bottom: 1em; }
#books-page #content #col01 .col01_1 .bookshop.list .book .editors h3 { display: none; }

.editors { width: 150px; float: left; }


#article #content #col01 .col01_1 .bookshop .feature h2, #article #content #col01 .col01_1 .bookshop.detail div.feature div.col01 h3, #article #content #col01 .col01_1 .bookshop.detail div.feature div.col01 div.editors h3  { margin: 0; font: normal 13px Arial, Helvetica, sans-serif; color: #666; background: none; text-transform: none; padding-bottom: 0; }
.editors h3 strong { color: #cb0001; font-weight: normal; font-style: normal; }

#article #content #col01 .col01_1 .bookshop .otherbooks .book .desc h3 { float: none; font: normal 10px Arial, Helvetica, sans-serif; color: #666; margin: 5px 5px 0 0; padding: 0; display: block; clear: none; }
#article #content #col01 .col01_1 div.bookshop.detail div.feature div.col01 h2 { float: none; margin-top: 0; margin-bottom: 0; }
#article #content #col01 .col01_1 div.bookshop.detail div.feature div.col01 h3 { margin-top: 0; margin-bottom: 1em; }
#article #content #col01 .col01_1 div.bookshop.detail div.feature hr { width: 100%; float: left; border-style: solid; }
#content #col01 { background: #fff url(../images/shop_bg_grad.png) repeat-x 0 2px; }
#content #col01 .tr { background-image: none; }

/* Stop menu */
#content #col01 .col01_1 .bookshop div.head ul.stopmenu { list-style-type: none; margin: 0; padding: 0; }
#col01 .col01_1 .bookshop div.head ul.stopmenu li { display: inline; border-right:1px solid #ccc; }

#col01 .col01_1 .bookshop div.head ul.stopmenu li a { padding-left: 5px; margin-right: 5px; }
#col01 .col01_1 .bookshop div.head ul.stopmenu li:nth-last-child(3) a{ padding: 0; }
#col01 .col01_1 .bookshop div.head ul.stopmenu li:nth-last-child(1)  { border-right-style: none; }

#summary-page #content #col01 .col01_1 .terms ul{ list-style-type: none; margin: 0; padding: 0; float: none;}
#summary-page #content #col01 .col01_1 .terms li {line-height: 0; margin-bottom: 5px; font-size: 12px; clear:both;  }
#summary-page #content  #col01 .col01_1 .terms input { margin: 2px 10px 0 0; padding: 0; float: left; }
#summary-page #content #col01 .col01_1 .terms label { float: none; margin: 0; }
#summary-page #content #col01 .col01_1 .terms div.highlight.warning { height: 30px; margin-top: 1em; width: 900px; padding: 10px 8px 0; color: red; font-weight: bold; font-size: 1.4em; background-color: #f1cdc4; border: 1px solid red; }
#summary-page #content #col01 .col01_1 .terms div.highlight.swarning { height: 30px; margin-top: 1em; width: 900px; padding: 10px 8px 0; color: red; font-weight: bold; font-size: 1.4em; background-color: #f1cdc4; border: 1px solid red; }

/* Proforma Invoice */
body.proforma{ background-position: 0 -100px;}
body.proforma #container{margin-top:46px;}
body.proforma #container table{margin-top:20px;}
body.proforma #container #col01{ background-position: 0 -46px;}
body.proforma #container #col01 h3{margin-left:0;}
body.proforma #container #col01 h4{font-size:14px; line-height:14px; font-style:normal;margin-left:0; margin-top:0; padding-left:0; padding-top:20px;}
body.proforma #container #col01 #chkcheque{margin-top:23px; float:left; margin-left:5px; } 
body.proforma #container #col01 label{margin-top:20px; margin-left:0; float:left; font-size:14px; line-height:14px; font-weight:bold; color:#cb0001; }
body.proforma #container #col01 #print{ background: url(../images/add-to-cart.gif) no-repeat; width: 87px ; height: 26px; border: none; color: #fff; font: bold 13px Arial, Helvetica, sans-serif; margin: 10px 0 20px 0; border: 0px outset buttonface; clear:both; display:block; }

.notice {
	float: left; font-size: 14px;
	padding: 5px;
	margin-top: 25px;
	border: 1px solid #ffe347;
	background-color: #fff44d;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 25px;
}

