/* @override http://testing.palldev.co.uk/css/formulary-medium.css */

body{margin:0;padding:0; font-size:82.5%;background:url(../images/bg-medium.gif) repeat-x #dcdcdc}
#container{width:940px; margin:0 auto;}
#container #header{width:940px;}
#container .left{float:left;}
#container .right{float:right; width:400px;}
#container .right ul{margin:10px 0 0 0; float:right;}
#container .right ul li{float:left; font:normal 1.1em Arial, Helvetica, sans-serif; list-style:none; border-right:1px solid #7f7f7f;}
#container .right ul li a{color:#7f7f7f; text-decoration:none; display:block; padding:0 4px 0 4px;}
#container .right form{clear:both;margin:0; padding:0; float:right; width:310px;}
#container .right form fieldset{border:none;padding:0;margin:14px 0 0 0;}
#container .right form fieldset input{float:left; width:225px; border:1px solid #ccc; padding:4px;}
#container .right form fieldset .submit{width:auto;border:none; margin:2px 0 0 3px;padding:0;}

#nav{ clear:both; margin-top:18px; *margin-top:15px; float:left;}
#nav ul{margin:0;padding:0;}
#nav li{background:url(../images/nav-top-left-bg.gif) #e5e5e5 top left no-repeat; list-style:none;float:left; margin-right:2px; font:bold 1.4em Arial, Helvetica, sans-serif; display:inline;}
#nav li:hover, #nav li.active{background:url(../images/nav-top-left-hover.gif) #b2b2b2 top left no-repeat;}
#nav li a{background:url(../images/nav-top-right-bg.gif) no-repeat top right;  padding:8px 8px 0 8px;text-align:center;text-decoration:none; color:#5c5c5c; border-bottom:2px solid #fff;display:block; height:26px; float:left; *height:26px;}


/* -- Safari hack --- */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #nav li a{height:24px;}
}

#nav li a:hover, #nav li.active a{background:url(../images/nav-top-right-hover.gif) no-repeat top right; padding:8px 8px 2px 8px; color:#000; border-bottom:none;}

#subnav{ clear:both;  float:left; width:940px; }
#subnav ul{margin:0;padding:0; width:100%;}
#subnav li{ list-style:none; float:left; margin:0; font:bold 1.2em Arial, Helvetica, sans-serif;}
#subnav li a{color:#fff; text-decoration:none; padding:9px; display:block;}
#subnav li a:hover{ color:#000;}
#subnav #hideleft{font:bold 1.1em/1.3em Arial, Helvetica, sans-serif; background:url(/images/show-hide-but.gif) no-repeat #333;padding-top:2px; height:23px; width:174px; border:none; color:#333; font-weight:bold; margin-top:4px; text-align:left; padding-left:5px; float:left;}

#subnav .textsize ul{width:100px;}
#subnav .textsize{float:right;}
#subnav .textsize .small{font-size:0.8em;}
#subnav .textsize .medium{font-size:1em;}
#subnav .textsize .large{font-size:1.2em;}

#contentwrapper {background:url(../images/corner-topleft.gif) no-repeat #fff top left;width: 940px; float:left; font:normal 1.3em Arial, Helvetica, sans-serif; margin-top:10px;}
#contentwrapper .tr{background:url(../images/corner-top-right.gif) no-repeat top right; float:left;width: 940px;}
#contentwrapper .bl{background:url(../images/corner-bottom-left.gif) no-repeat bottom left; float:left;}
#contentwrapper .br{background:url(../images/corner-bottom-right.gif) no-repeat bottom right; float:left;padding-bottom:15px; min-height:692px; width: 940px;}
* html #contentwrapper .br{height:692px;overflow-x:hidden;}

#container #footer{clear:both; float:left;}
#container #footer p{font:bold 1.3em Arial, Helvetica, sans-serif; color:#424242;margin:8px 0 0 3px;}
#container #footer h4{margin:0 0 0 3px;padding:1px 0 20px 0; font:normal 1.1em Arial, Helvetica, sans-serif;}
#container #footer h4 a{color:#424242; text-decoration:none;}
#container #footer h4 a:hover{text-decoration:underline;}

#leftcolumn {
	font-size:80%;
		float: left; 
		width: 210px; /*Width of left column*/
		margin-left: -940px; 
		
		margin-right: 20px; 
		margin-top: 10px;
		margin-bottom: 20px;
		z-index:1;
	}
	* html #leftcolumn{ margin-left: -940px;margin-right:0;}
	
#treemenu1 h2{margin-bottom:0;}
#treemenu1 .sml_link{padding-bottom:10px;}