/* @override 
	http://palliative.3bitdev.com/css/styles.css
	http://testing.palldev.co.uk/css/large.css
*/

body{background:url(../images/bg-large.gif) repeat-x #dcdcdc;margin:0; font:normal 100% Arial, Helvetica, sans-serif;behavior:url("/css/csshover.htc");}
#container{width:1060px; margin:0 auto;}
#container #header{width:1060px;}
#container .left{float:left;}
#container .right{float:right; width:500px;}
#container .right ul{margin:10px 0 0 0; float:right;}
#container .right ul li{float:left; font:normal 1.1em/1.1em Arial, Helvetica, sans-serif; list-style:none; border-right:1px solid #7f7f7f;}
#container .right ul li a{color:#7f7f7f; text-decoration:none; display:block; padding:0 4px 0 4px;}
#container .right form{clear:both;margin:0; padding:0; float:right; width:310px;}
#container .right form fieldset{border:none;padding:0;margin:20px 0 0 0;}
#container .right form fieldset input{float:left; width:225px; border:1px solid #ccc; padding:4px;}
#container .right form fieldset .submit{width:auto;border:none; margin:2px 0 0 3px;padding:0;}

#nav{ clear:both; margin-top:18px; *margin-top:15px; float:left;}
#nav ul{margin:0;padding:0;}
#nav li{background:url(../images/nav-top-left-bg.gif) #e5e5e5 top left no-repeat; list-style:none;float:left; margin-right:2px; font:bold 1.4em Arial, Helvetica, sans-serif; display:inline;}
#nav li:hover, #nav li.active{background:url(../images/nav-top-left-hover.gif) #b2b2b2 top left no-repeat;}
#nav li a{background:url(../images/nav-top-right-bg.gif) no-repeat top right;  padding:8px 8px 0 8px;text-align:center;text-decoration:none; color:#5c5c5c; border-bottom:2px solid #fff;display:block; height:35px; float:left; *height:36px;}


/* -- Safari hack --- */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #nav li a{height:32px;}
}

#nav li a:hover, #nav li.active a{background:url(../images/nav-top-right-hover.gif) no-repeat top right; padding:8px 8px 2px 8px; color:#000; border-bottom:none;}

#subnav{ clear:both;  float:left; width:1060px; }
#subnav ul{margin:0;padding:0; width:100%;}
#subnav li{ list-style:none; float:left; margin:0; font:bold 1.2em Arial, Helvetica, sans-serif;}
#subnav li a{color:#fff; text-decoration:none; padding:9px; display:block;}
#subnav li a:hover{ color:#000;}

#subnav #hideleft{background:url(/images/show-hide-but.gif) no-repeat #333; height:23px; width:174px; border:none; color:#fff; }

#subnav .textsize{float:right;}
#subnav .textsize ul{width:100px;}
#subnav .textsize .small{font-size:0.8em;}
#subnav .textsize .medium{font-size:1em;}
#subnav .textsize .large{font-size:1.2em;}


#content{clear:both; margin-top:20px; float:left;width:1060px;}
#content #col01{background:url(../images/corner-topleft.gif) no-repeat #fff top left; width:257px; float:left;}
#article #content #col01 {
	width: 1060px;
}
#content #col01 .tr{background:url(../images/corner-top-right.gif) no-repeat top right; float:left;}
#article #col01 .tr {
	width: 1060px;
}
#content #col01 .bl{background:url(../images/corner-bottom-left.gif) no-repeat bottom left; float:left;}
#article #col01 .br { width: 1060px;
	
}
#content #col01 .br{background:url(../images/corner-bottom-right.gif) no-repeat bottom right; float:left;padding-bottom:15px; min-height:692px;}
* html #content #col01 .br{height:692px;}
#content #col01 h1{font:normal 2.2em Arial, Helvetica, sans-serif; padding-top:11px; margin:0 0 5px 13px;}
#content #col01 h3{font:bold 1.5em Arial, Helvetica, sans-serif; padding-top:15px; margin:0 0 0px 13px; clear:both;}

#content #col01 form{padding:0;margin:8px 0 5px 0;}
#content #col01 fieldset{border:1px solid #dcdcdc; margin:0 5px; padding:8px 0 5px 5px; width:240px;}
#content #col01 label{color:#272727; font:bold 1.2em Arial, Helvetica, sans-serif; float:left; clear:both; margin-top:8px;}
#content #col01 input, #content #col01 input:focus{clear:both; float:left; width:220px; padding:2px; background-color:#fff;}
#content #col01 p{clear:both; float:left; width:100%;margin:8px 0 8px 0;}
#content #col01 p a{color:#c00b19; text-decoration:none; font:normal 1.2em Arial, Helvetica, sans-serif; display:block;}
#content #col01 p a:hover{text-decoration:underline;}
#content #col01 #password{width:143px; float:left; margin-right:5px;}
#content #col01 #login{width:auto; float:left; clear:none;}
#content #col01 #remember{margin:8px 0 0 0; float:left; clear:none; width:auto;}
#content #col01 #remember2{ float:left; clear:none; margin-left:8px;}

#content #col01 #honcode {float:left; width:228px; border:1px solid #dcdcdc; clear:both; margin-left:6px; padding:10px 8px 10px 8px;}
#content #col01 #honcode .honimg{ float:left; display:block;}
#content #col01 #honcode .hontext{float:left; width:170px;margin-left:8px;}
#content #col01 #honcode .hontext p{font:normal 1.3em/1.3em Arial, Helvetica, sans-serif;margin:0; }
#content #col01 #honcode .hontext p a{font:normal 1em Arial, Helvetica, sans-serif;}

#content #col01 h2{ background: url(../images/dark-grey-heading-nav.gif) no-repeat; margin: 15px 0 5px 5px; color:#fff; font:bold 1.1em/1em Arial, Helvetica, sans-serif; width: 242px; height:18px; text-transform:uppercase; padding:6px 0 0 10px; float:left;}

#content #col02{float:left; width:670px; margin-left:10px; background:url(../images/corner-topleft.gif) top left #fff no-repeat;}
#content #col02 .bg_right{background:url(../images/content-bg.gif) repeat-y right; float:left; width:670px;}
#content #col02 .tr{background:url(../images/corner-top-right-dark.gif) no-repeat top right; float:left; width:670px;}

#content #col02 .bg_right_2col .tr{background:url(../images/corner-top-right.gif) no-repeat top right; float:left;}

#content #col02 .bl{background:url(../images/corner-bottom-left.gif) no-repeat bottom left; float:left; width:670px;}
#content #col02 .br{background:url(../images/corner-bottom-right-dark.gif) no-repeat bottom right; float:left;padding-bottom:15px; min-height:692px; width:670px;}

#content #col02 .bg_right_2col .br{background:url(../images/corner-bottom-right.gif) no-repeat bottom right; float:left;padding-bottom:15px; min-height:692px; width:670px;}

#content #col02 #col02_1{width:435px; float:left;}
#content #col02 .bg_right_2col #col02_1{width:auto; float:left;}

#content #col02 #col02_1 ul.crumbs, #col01 ul.crumbs {margin:10px; padding:0; list-style:none;}
#content #col02 #col02_1 ul.crumbs li, #col01 ul.crumbs li {float:left; font:normal 0.9em Arial, Helvetica, sans-serif; margin-right:3px;}
#content #col02 #col02_1 ul.crumbs li strong, #col01 ul.crumbs li strong {color:#c00b19; font-weight:normal;}
#content #col02 #col02_1 ul.crumbs li a, #col01 ul.crumbs li a{color:#000; text-decoration:none;}
#content #col02 #col02_1 ul.crumbs li a:hover, #col01 ul.crumbs li a:hover{text-decoration:underline;}
#content #col02 #col02_1 h1{margin:15px 0 15px 10px; font:bold 1.3em Arial, Helvetica, sans-serif; clear:both; float:left; width:95%;}
* html #content #col02 #col02_1 h1{margin-left:5px;}
#content #col02 #col02_1 h2{margin:10px 0 0px 10px; font:bold 1.3em Arial, Helvetica, sans-serif; clear:both; float:left; width:95%;}
* html #content #col02 #col02_1 h2{margin-left:5px;}
#content #col02 #col02_1 p{margin:0 10px 10px 10px; font:normal 1.3em/1.4em Arial, Helvetica, sans-serif; clear:both; float:left; width:95%;}
* html #content #col02 #col02_1 p{margin-left:5px;}
#content #col02 #col02_1 p a{color:#000;}#content #col02 #col02_1 p a:hover{text-decoration:none;}

#content #col02 #col02_2{float:left; width:230px; margin-left:5px;}
#content #col02 #col02_2 .latestnews{width:206px; margin:10px 0 0 10px;}
#content #col02 #col02_2 .latestnews h1{background:url(../images/box-heading.gif) no-repeat; margin:0; color:#fff; font:bold 0.8em Arial, Helvetica, sans-serif; width:209px; height:18px; text-transform:uppercase; padding:6px 0 0 10px;}
#content #col02 #col02_2 .latestnews ul{border:1px solid #dbdbdb; margin:0; width:207px; padding:0 0 8px 0; background-color:#fff;}
#content #col02 #col02_2 .latestnews ul li{padding-left:20px;background:url(../images/news-list.gif) top left no-repeat; list-style:none; margin:8px 5px 3px 5px; font:normal 1.1em/1.3em Arial, Helvetica, sans-serif;}
#content #col02 #col02_2 .latestnews ul li a{color:#c00b19;
	text-decoration: none;
}
#content #col02 #col02_2 .latestnews ul li a:hover{text-decoration: underline;}

#content #col02 #col02_2 h2{ background:url(../images/dark-grey-heading.gif) no-repeat; margin:8px 0 5px 10px; color:#fff; font:bold 0.8em/1em Arial, Helvetica, sans-serif; width:209px; height:18px; text-transform:uppercase; padding:6px 0 0 10px; float:left;}
* html #content #col02 #col02_2 h2{margin-left:5px;}
#content #col02 #col02_2 p{font:normal 1.2em Arial, Helvetica, sans-serif; margin:8px 0 0 12px; }
#content #col02 #col02_2 p a{color:#c00b19;
	text-decoration: none;
}
#content #col02 #col02_2 p a:hover{text-decoration: underline;}

#container #footer{clear:both; float:left;}
#container #footer p{font:bold 1.3em Arial, Helvetica, sans-serif; color:#424242;margin:8px 0 0 3px;}
#container #footer h4{margin:0 0 0 3px;padding:1px 0 20px 0; font:normal 1.1em Arial, Helvetica, sans-serif;}
#container #footer h4 a{color:#424242; text-decoration:none;}
#container #footer h4 a:hover{text-decoration:underline;}

/* Generic template */

#content #col01 .col01_1 a{font:normal 1em Arial, Helvetica, sans-serif; display:inline;}
#content #col01 .col01_1 p{margin:10px 10px 10px 13px; font:normal 1.3em/1.4em Arial, Helvetica, sans-serif; clear:both; float:left; width:95%;}
#content #col01 .col01_1 h4{margin:10px 10px 10px 13px; font:bold 1.3em/1.4em Arial, Helvetica, sans-serif; font-style:italic; clear:both; float:left; width:95%;}

#content #col01 .col01_1 ul{margin:0 10px 10px 10px; font:normal 1.3em/1.4em Arial, Helvetica, sans-serif; clear:both; float:left; width:95%;}
#content #col01 .col01_1 table{clear:both; margin-left:10px; font:normal 1.3em/1.4em Arial, Helvetica, sans-serif;}
#content #col01 .col01_1 table h1, #content #col01 .col01_1 fieldset p{margin-left:0;}
#content #col01 .col01_1 table h1{ font:bold 1.3em/1.4em Arial, Helvetica, sans-serif;}

#content #col01 .col01_1 fieldset{width:auto;}
#content #col01 .col01_1 br{clear:both;}
#content #col01 .col01_1 label{float:left; clear:none; display:inline; font-weight:normal;  }
#content #col01 .col01_1 input{float:left; clear:none; display:inline;  width:auto; margin-top:8px; padding:0;}
#content #col01 #honcode p a { display: inline;}
/* Added for formulary template */

div.stretcher { float: left;
	
}
div.collapse {width: 250px;
}

#sidemenu { float: left; width: 240px;
	background-color: #f4f4f4; min-height: 700px;
	margin: 7px 7px 0;
}

#sidemenu ul.titles { list-style-type: none; margin: 0px; padding: 0px;
	
}
#sidemenu ul.titles a { display: block;
	text-decoration: none;
}
#article #sidemenu h1 {
	background-color: #d3d4d4;
	padding: 2px;
	font-size: 13px;
	margin: 0;
}
#formulary { float: left;width: 680px;
	margin-top: 5px;
}
div.exposed {
	border:1px solid #ccc;
	background:#fff;
	padding:30px 20px;
	margin: 30px auto 20px;
	text-align:left;
	width:550px;
	margin-top:15px;
	-moz-border-radius:10px;
	text-align:center;
}