/* @override http://pdrugs-zend.3bitlabs.com/css/popup.css */


/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}


.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(../images/overlay/white.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:640px;		
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

	/* a little styling */	
	font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image:url(../images/overlay/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}



body {
	padding:0;
}
.popup_contain {
	position:absolute;
	width:526px;
	z-index:1000;
}
.popup_contain .popup { background-color: white; }
.popup_contain .popup h1 {
	margin:0;
	/*background:url(/images/popup/pop-head-bg.png) top no-repeat;*/
	color: #cc0001;
	font:bold 19px/30px Arial, Helvetica, sans-serif;
	padding:10px 5px 5px 20px; background-color: #ccc; }
.popup_contain .popup p {
	font:normal 13px Arial, Helvetica, sans-serif;
	color:#333;
	padding:8px 15px 8px 20px;
	margin:0;
	clear:both;
}
.popup_contain .popup form {
	margin:0;
	padding:10px 0 10px 0;
	background:#fff;
}
.popup_contain .popup fieldset {
	margin:0;
	padding:0;
	border:none;
}
.popup_contain .popup label {
	font:normal 13px/15px Arial, Helvetica, sans-serif;
	color:#666;
	width:125px;
	float:left;
	clear:both;
	margin-left:20px;
}
.popup_contain .popup input, .popup_contain .popup select {
	width:250px;
	float:left;
}
.popup_contain .popup .block {
	clear:both;
	float:left;
	padding-bottom:8px;
	background:#e7e7e7;
}



.popup_contain .popup #update {
	background:url(/images/popup/pop-update-but.jpg) no-repeat;
	width:65px;
	height:25px;
	color:#fff;
	font:bold 12px Arial, Helvetica, sans-serif;
	border:none;
	padding-top:0;
	margin-left:20px;
}
.popup_contain .popup .foot {
	background: url(/images/popup/pop-foot-bg.png) no-repeat bottom;
}
.popup_contain .popup .foot p {
	font-size:11px;
}
#custom {
	width:526px;
	padding:0px;
}
.apple_overlay .close {
	right:-15px;
	top:-15px;
}

.popup_contain .popup .warning {
	background-color: #febcc3;
}
.popup_contain .popup .error { display:none; }
.popup_contain .popup .warning .error {
	display:inherit; font-weight: bold; }
.popup_contain .popup .warning p.error { background-color: red; color: #fff; }
	.popup_contain .popup .warning label,.popup_contain .popup .warning p  { color: #000; }

/*.popupagreement{width: 550px;float:left;background-color:#FFFFFF;height: 650px;overflow-y: scroll; padding-top: 15px; padding-bottom: 15px; padding-left: 15px; }*/
#uAgree.popupagreement h1 { padding-left: 0; padding: 0; font-size: 2.2em; margin-bottom: 0.25em; background-color: transparent; }
#uAgree.popupagreement p, #uAgree.popupagreement li { padding: 0; margin-bottom: 1em; margin-right: 20px; font: 14px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }
#uAgree.popupagreement li { margin-bottom: 5px; line-height: inherit; }
#uAgree center input { margin: auto; }
/*#uAgree.popupagreement { width: 640px; }*/
#uAgree.popupagreement h3 { color: #cc0001; font-size: 16px; margin-bottom: 5px; }
#uAgree.popupagreement a { text-decoration: none; color: #cc0001; }
#uAgree.popupagreement ul.oarrow { list-style-image: url(https://www.palliativedrugs.com/assets/templates/pall/triangleright.gif); padding-left: 20px; margin-top: 5px; }
#uAgree.popupagreement a:hover { text-decoration: underline; }

#uAgree.popupagreement, .popup #uDetails { 
  -webkit-border-radius: 5px; 
     -moz-border-radius: 5px; 
          border-radius: 5px; 

  
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  
  -webkit-box-shadow: 0px 0px 30px #000; 
     -moz-box-shadow: 0px 0px 30px #000; 
          box-shadow: 0px 0px 30px #000; 
          overflow-y: scroll;
          height: 450px;
 }