/* @override http://pdrugs-zend.3bitlabs.com/css/styles.css */

/* @override http://pdrugs-zend.3bitlabs.com/css/styles.css */
Body { background-image: none; background-color: #dcdcdc; }
body{background: #dcdcdc url(../images/bg.gif) repeat-x;margin:0; font:normal 62.5% Arial, Helvetica, sans-serif;behavior:url("/css/csshover.htc");}
#container{width:940px; margin:0 auto;}
#container #header{width:940px;}
#container .left{float:left;}
#container .right{float:right; width:400px;}
#container .right ul{margin:10px 0 0 0; float:right;}
#container .right ul li{float:left; font:normal 1.1em Arial, Helvetica, sans-serif; list-style:none; border-right:1px solid #7f7f7f;}

#container .right ul li a{color:#7f7f7f; text-decoration:none; display:block; padding:0 4px 0 4px;}
#container .right ul li a:hover{ color: #000; text-decoration: underline; }
#container .right form{clear:both;margin:0; padding:0; float:right; width:310px;}
#container .right form fieldset{border:none;padding:0;margin:20px 0 0 0;}
#container .right form fieldset input{float:left; width:225px; border:1px solid #ccc; padding:4px;}
#container .right form fieldset .submit{width:auto;border:none; margin:2px 0 0 3px;padding:0;}

#nav{ clear:both; margin-top:18px; float:left;}
.ie6 #nav{margin-top:14px;}
.ie7 #nav{margin-top:14px;}
.ie8 #nav{margin-top:5px;}
#nav ul{margin:0;padding:0;}
#nav li{background:url(../images/nav-top-left-bg.gif) #e5e5e5 top left no-repeat; list-style:none;float:left; margin-right:2px; font:bold 1.4em Arial, Helvetica, sans-serif; display:inline;}
#nav li:hover, #nav li.active{background:url(../images/nav-top-left-hover.gif) #b2b2b2 top left no-repeat;}
#nav li a{background:url(../images/nav-top-right-bg.gif) no-repeat top right;  padding:8px 8px 0 8px;text-align:center;text-decoration:none; color:#5c5c5c; border-bottom:2px solid #fff;display:block; height:24px; float:left;}
#nav li a:hover, #nav li.active a{background:url(../images/nav-top-right-hover.gif) no-repeat top right; padding:8px 8px 2px 8px; color:#000; border-bottom:none;}

#subnav{ clear:both;  float:left; width:940px; }
#subnav ul{margin:0;padding:0; width:100%;}
#subnav li{ list-style:none; float:left; margin:0; font:bold 1.2em Arial, Helvetica, sans-serif;}
#subnav li a{color:#fff; text-decoration:none; padding:9px; display:block;}
#subnav li a:hover{color:#000;}

#subnav #hideleft{background:url(/images/show-hide-but.gif) no-repeat #333; height:23px; width:174px; border:none; color:#fff; }

#subnav .textsize ul{width:80px;}
#subnav .textsize{float:right;}
#subnav .textsize .small{font-size:0.8em;}
#subnav .textsize .medium{font-size:1em;}
#subnav .textsize .large{font-size:1.2em;}


#content{clear:both; margin-top:10px; float:left;width:940px;}
#content #col01{background:url(../images/corner-topleft.gif) no-repeat #fff top left; width:257px; float:left; z-index:1; position:relative;}
#article #content #col01 {
	width: 940px;
}
#content #col01 .tr{background:url(../images/corner-top-right.gif) no-repeat top right; float:left;}
#news #content #col01 .tr{background:url(../images/news-corner-top-right.gif) no-repeat top right; float:left;}
#article #col01 .tr {
	width: 940px;
}
#content #col01 .bl{background:url(../images/corner-bottom-left.gif) no-repeat bottom left; float:left;}
#article #col01 .br { width: 940px;
	
}
#content #col01 .br{background:url(../images/corner-bottom-right.gif) no-repeat bottom right; float:left;padding-bottom:15px; min-height:545px;}
#news #content #col01 .br{background:url(../images/news-corner-bottom-right.gif) no-repeat bottom right; float:left;padding-bottom:15px; min-height:716px;}
* html #content #col01 .br{height:692px;}
#content #col01 h1{font:normal 2.2em Arial, Helvetica, sans-serif; padding-top:11px; margin:0 0 5px 13px;}
#content #col01 h3{font:bold 1.5em Arial, Helvetica, sans-serif; padding-top:15px; margin: 0 0 0px 13px; clear:both;}
#editorial-staff-page #content #col01 h3 { color: #000; text-transform: none; }
#editorial-staff-page #content #col01 h3 strong, #list-of-abbreviations-page  #content #col01 h3 strong { color: #c00b19; font-size: 1.2em; }
#content #col01 form{padding:0;margin:8px 0 5px 0;}
#content #col01 fieldset{border:1px solid #dcdcdc; margin:0 5px; padding:8px 0 5px 5px; width:240px;}
#content #col01 label{color:#272727; font:bold 1.2em Arial, Helvetica, sans-serif; float:left; clear:both; margin-top:8px;}
#content #col01 input, #content #col01 input:focus{clear:both; float:left; width:220px; padding:2px; background-color:#fff;}
#content #col01 p{clear:both; float:left; /*width:100%*/;margin:8px 0 8px 0;}
form.registration fieldset p { width: 100%; }



div.pcfcontent { width: 665px; float: left;
	
}

#content #col01 p a{color:#c00b19; text-decoration:none; font:normal 1.2em Arial, Helvetica, sans-serif; }
#content #col01 p a:hover{text-decoration:underline;}
#content #col01 #password{width:143px; float:left; margin-right:5px;}
#content #col01 #login{width:auto; float:left; clear:none;}
#content #col01 #remember{margin:8px 0 0 0; float:left; clear:none; width:auto;}
#content #col01 #remember2{ float:left; clear:none; margin-left:8px;}

#content #col01 #honcode {float:left; width:228px; border:1px solid #dcdcdc; clear:both; margin-left:6px; padding:10px 8px 10px 8px; margin-top: 2em; margin-bottom: 75px; }
#content #col01 #honcode .honimg{ float:left; display:block;}
#content #col01 #honcode .hontext{float:left; width:170px;margin-left:8px;}
#content #col01 #honcode .hontext p{font:normal 1.3em/1.3em Arial, Helvetica, sans-serif;margin:0; }
#content #col01 #honcode .hontext p a{font:normal 1em Arial, Helvetica, sans-serif;}

#content #col01 h2{ background: url(../images/dark-grey-heading-nav.gif) no-repeat; margin: 15px 0 5px 5px; color:#fff; font:bold 1.1em/1em Arial, Helvetica, sans-serif; width: 242px; text-transform:uppercase; padding:6px 0 0 10px; float:left;}

#content #col02{float:left; width:670px; margin-left:10px; background:url(../images/corner-topleft.gif) top left #fff no-repeat;}
#content #col02 .bg_right{background:url(../images/content-bg.gif) repeat-y right; float:left; width:670px;}
#content #col02 .tr{background:url(../images/corner-top-right-dark.gif) no-repeat top right; float:left; width:670px;}
width:auto; 
#content #col02 .bg_right_2col .tr{background:url(../images/corner-top-right.gif) no-repeat top right; float:left;}

#content #col02 .bl{background:url(../images/corner-bottom-left.gif) no-repeat bottom left; float:left; width:670px;}
#content #col02 .br{background:url(../images/corner-bottom-right-dark.gif) no-repeat bottom right; float:left;padding-bottom:15px; min-height:545px; width:670px;}

#content #col02 .bg_right_2col .br{background:url(../images/corner-bottom-right.gif) no-repeat bottom right; float:left;padding-bottom:15px; min-height:692px; width:670px;}

#content #col02 #col02_1{width:435px; float:left;}
#content #col02 .bg_right_2col #col02_1{width:auto; float:left;}

#content #col02 #col02_1 ul.crumbs, #col01 ul.crumbs {margin:10px; padding:0; list-style:none;}
#content #col02 #col02_1 ul.crumbs li, #col01 ul.crumbs li {float:left; font:normal 0.9em Arial, Helvetica, sans-serif; margin-right:3px;}
#content #col02 #col02_1 ul.crumbs li strong, #col01 ul.crumbs li strong {color:#c00b19; font-weight:normal;}
#content #col02 #col02_1 ul.crumbs li a, #col01 ul.crumbs li a{color:#000; text-decoration:none;}
#content #col02 #col02_1 ul.crumbs li a:hover, #col01 ul.crumbs li a:hover{text-decoration:underline;}
#content #col02 #col02_1 h1{ clear:both; float:left; width:95%; font: bold 1.3em Arial, Helvetica, sans-serif; margin: 15px 0 0.5em 10px; }
* html #content #col02 #col02_1 h1{margin-left:5px;}
#content #col02 #col02_1 h2{margin:10px 0 0px 10px; font:bold 1.3em Arial, Helvetica, sans-serif; clear:both; float:left; width:95%;}
* html #content #col02 #col02_1 h2{margin-left:5px;}
#content #col02 #col02_1 p{margin:0 10px 10px 10px; font:normal 1.3em/1.4em Arial, Helvetica, sans-serif; clear:both; float:left; width:95%;}
* html #content #col02 #col02_1 p{margin-left:5px;}
#content #col02 #col02_1 p a{color: #c00b19;}#content #col02 #col02_1 p a:hover{text-decoration: underline;
	color: #c00b19;
}

#content #col02 #col02_2{float:left; width:230px; margin-left:5px; }
#content #col02 #col02_2 .latestnews{width:206px; margin:10px 0 0 10px;}
#content #col02 #col02_2 .latestnews h1{background:url(../images/box-heading.gif) no-repeat; margin:0; color:#fff; font:bold 1.1em Arial, Helvetica, sans-serif; width:209px; height:18px; text-transform:uppercase; padding:6px 0 0 10px;}
#content #col02 #col02_2 .latestnews ul{border:1px solid #dbdbdb; margin:0; width:207px; padding:0 0 8px 0; background-color:#fff;}
#content #col02 #col02_2 .latestnews ul li{padding-left:20px;background:url(../images/news-list.gif) top left no-repeat; list-style:none; margin:8px 5px 3px 5px; font:normal 1.1em/1.3em Arial, Helvetica, sans-serif;}
#content #col02 #col02_2 .latestnews ul li a{color:#c00b19;
	text-decoration: none;
}
#content #col02 #col02_2 .latestnews ul li a:hover{text-decoration: underline;}

#content #col02 #col02_2 h2{ background:url(../images/dark-grey-heading.gif) no-repeat; margin:8px 0 5px 10px; color:#fff; font:bold 1.1em/1em Arial, Helvetica, sans-serif; width:209px; height:18px; text-transform:uppercase; padding:6px 0 0 10px; float:left;}
* html #content #col02 #col02_2 h2{margin-left:5px;}
#content #col02 #col02_2 p{font:normal 1.2em Arial, Helvetica, sans-serif; margin:8px 0 0 12px; }
#content #col02 #col02_2 p a{color:#c00b19;
	text-decoration: none;
}
#content #col02 #col02_2 p a:hover{text-decoration: underline;}

#container #footer{clear:both; float:left; width:100%;}
#container #footer p{font:bold 1.3em Arial, Helvetica, sans-serif; color:#424242;margin: 8px 0 0 5px;}
#container #footer h4{margin: 0;padding:1px 0 20px 0; font:normal 1.1em Arial, Helvetica, sans-serif;}
#container #footer h4 a{color:#424242; text-decoration:none; padding-right: 5px; padding-left: 5px; border-right: 1px solid silver; }
#container #footer h4 a:hover{text-decoration:underline; }
#container #footer h4 a:nth-last-child(1) { border-right-style: none; }
/* Generic template */

#content #col01 .col01_1 a{font:normal 1em Arial, Helvetica, sans-serif; 
	text-decoration: none;
	color: #cc0001;
}

#col01 div.tr div.bl div.br div.col01_1 div.bookimg a.buynow { display: block;
	width: 180px;
	height: 55px;
	background-image: url(../images/buynow.gif);
}

span.buynow a { width: 180px; display: block; height: 26px; clear: both;
	background: url(../images/buynow.gif) no-repeat 0 -28px;
	text-indent: -10000px;
	margin-left: 5px;
	padding-top: 3px;
	top: 5px;
	position: relative;
}

span.prelim a { width: 180px; display: block; height: 26px; clear: both;
	background: url(../images/prelims.png) no-repeat 0 -29px;
	text-indent: -10000px;
	margin-left: 5px;
	padding-top: 3px;
	top: 5px;
	position: relative;
	
}
span.prelim a:hover {
	background-position: 0 0;
}

span.chaptersample a {width: 180px; display: block; height: 26px; clear: both;
	background: url(../images/chap1.png) no-repeat 0 -29px;
	text-indent: -10000px;
	margin-left: 5px;
	padding-top: 3px;
	top: 5px;
	position: relative;
	
}
span.chaptersample a:hover {
	background-position: 0 0;
}
div.bookimg img {
	padding-left: 5px;
	width: 178px;
}
span.buynow a:hover {
	background-position: 0 1px;
}

#col01 div.tr div.bl div.br div.col01_1 div.bookimg { float: right; 
}

div.bookimg { width: 215px;
	height: 440px;
	margin-right: 5px;
}

span.chaptersample.thirteen a {
	background-image: url(../images/chap13.png);
}
span.chaptersample.thirteen a:hover {
	background: url(../images/chap13.png) 0 0;
}
p.quote {
	border-left: 4px solid #ececec;
	padding-left: 10px;
}

p.quote em {
	font-weight: bold;
	color: #a7a7a7;
}
#content #col01 .col01_1 a:hover {
	text-decoration: underline;
}

#content #col01 .col01_1 p{margin:10px 10px 10px 13px; font:normal 1.3em/1.4em Arial, Helvetica, sans-serif; clear:both; float:left; /*width:95%;*/}
#article #content #col01 .col01_1 p{ width: 95%;}
#content #col01 .col01_1 p.greybox{background:#cdcacd;padding:8px;}
#content #col01 .col01_1 h4{margin:10px 10px 10px 13px; font:bold 1.3em/1.4em Arial, Helvetica, sans-serif; font-style:italic; clear:both; float:left; width:95%;
	padding-left: 5px;
}
* html #content #col01 .col01_1 h4{margin:10px 10px 10px 7px;} 
#content #col01 .col01_1 ul{margin:0 10px 10px 0px; padding-left:30px; font:normal 1.3em/1.4em Arial, Helvetica, sans-serif; clear:both; float:left; width: 95%; }
#content #col01 .col01_1 ul ul { font-size: 1em; list-style-type: disc; padding-left: 1em; margin-left: 25px; width: 100%; }

#col01 div.tr div.bl div.br div.col01_1 ul li ul li {width: auto; }
#content #col01 .col01_1 ul.secord {
	margin-left: 15px;
}

#content #col01 .col01_1 table{clear:both; margin-left:13px; font-style: normal; line-height: 1.4em; font-size: 1.3em; }
#content #col01 .col01_1 table td { vertical-align: top; }
#content #col01 .col01_1 table h1, #content #col01 .col01_1 fieldset p{margin-left:0;}
#content #col01 .col01_1 table h1{ font:bold 1.3em/1.4em Arial, Helvetica, sans-serif;}

#content #col01 .col01_1 fieldset{width:100%; padding:0;}
#content #col01 .col01_1 br{clear:both;}
#content #col01 .col01_1 label{float:left; clear:none; display:inline; font-weight:normal;  }
#content #col01 .col01_1 input{float:left; clear:none; display:inline;  width:auto; margin-top:8px; padding:0;}
#content #col01 #honcode p a { display: inline;}
/* Added for formulary template */

#content #col01 .col01_1 #wrapper{margin-top:10px;}

div.stretcher { float: left;
	
}
div.collapse {width: 250px;
}

#sidemenu { float: left; width: 240px;
	background-color: #f4f4f4; min-height: 700px;
	margin: 7px 7px 0;
}

#sidemenu ul.titles { list-style-type: none; margin: 0px; padding: 0px;
	
}
#sidemenu ul.titles a { display: block;
	text-decoration: none;
}
#article #sidemenu h1 {
	background-color: #d3d4d4;
	padding: 2px;
	font-size: 13px;
	margin: 0;
}
#formulary { float: left;width: 680px;
	margin-top: 5px;
}
#col02_1 p a {
	color: #c00b19;
	text-decoration: none;
}
#col02_1 p a:hover {
	color: #c00b19;
	text-decoration: underline;
}

/* ----- Registration Form ------ */

#form table{width:97%;}
#form table td{padding-left:5px;}
#form input{border:1px solid #ccc;}
#form input, #form select{width:150px; font:normal 1em Arial, Helvetica, sans-serif;}

#regform table{width:97%;}
#regform table td{padding-left:5px;}
#regform input, select {padding:0px; width:auto; font:normal .8em Arial, Helvetica, sans-serif;}

/* 2009 Added by jat@3bit.co.uk */

#article #nav {
	margin-top: 18px;
}

.ie6 #article #nav{margin-top:13px;}
.ie7 #article #nav{margin-top:15px;}
.ie8 #article #nav{margin-top:5px;}

body#survey2009 {
	background-color: white;
}

#survey2009 div.legacy {
	margin-left: 20px;
	margin-right: 20px;
}

div.exposed {
	border:1px solid #ccc;
	background:#fff;
	padding:30px 20px;
	margin: 70px auto 20px 180px;
	*margin: 30px auto 20px -600px;
	text-align:left;
	width:550px;
	-moz-border-radius:10px;
	text-align:center;
	position:absolute;
	left:auto;
}

#e1 fieldset h3 {
	text-align: left;
	font-size: 1.5em;
	margin: 0;
	padding: 5px;
}

#e1 fieldset p {
	font-size: 12px;
	text-align: left;
	line-height: 15px;
	margin: 0;
	padding: 5px;
}

#e1 fieldset {
	border-style: none;
	border-width: 1px;
	background-color: white;
	padding: 5px;
	margin: 0;
}

div#e1.exposed {
	background-color: #e4e4e4;
}

* html div.exposed {
	margin: 30px auto 20px -600px;
}

element.style {
position:relative;
z-index:9999;
}

/* New Added */

p.helppull {
	background-color: #fffacb;
	border: 1px solid #ebccc0;
	padding: 6px;
}

a.downloadhpcf { display: block;
	background: url(../images/download-flyer.png) no-repeat;
	height: 34px;
	background-position: 0 -40px;
	text-indent: -5000px;
	width: 125px;
	margin-top: 5px;
}
a.downloadhpcf:hover {
	background-position: 0 -3px;
}

a.downloadweb { display: block;
	background: url(../images/download-webflyer.png) no-repeat;
	height: 34px;
	background-position: 0 -40px;
	text-indent: -5000px;
	width: 125px;
	margin-top: 5px;
}
a.downloadweb:hover {
	background-position: 0 -3px;
}

#main2 {
	margin-left: 6px;
	margin-right: 0;
}
#news #col01 { width: 940px; }
#news #col01 div.tr div.bl div.br div.col01_1 { width: 940px; }
#news #col01 div.tr div.bl div.br div.col01_1 h1 { margin-left: 24px; }
#news #newscontent {width: 670px; float: left; padding-right: 10px; }
#news #newslisting {float: left; width: 260px; }
#news #newslisting h1 { margin-right: 11px; font-size: 1.8em; border-bottom: 1px dotted #959696; margin-bottom: 0.5em; }
#news #lastnewsitems ul { padding: 0; margin: 0 1em 0 0; list-style-type: none;}
#news #lastnewsitems ul li a, #news #newsarchive ul li ul li a { text-decoration: none; font-size: 1.2em; background-repeat: no-repeat; color: #c00b19; }

#news #lastnewsitems ul li a:hover, #news #newsarchive ul li ul li a:hover { text-decoration: underline; }

#news #lastnewsitems ul li { margin-left: 13px; margin-bottom: 1em; }
#newsarchive ul { padding: 0; margin: 0; list-style-type: none; }
#news #col01 .col01_1 h2 { background-image: none; color: black; font-size: 2em; text-decoration: none; text-transform: none; display: inline; margin-top: 0; width: 98%; height: auto; }
#news #col01 .col01_1 h3 { margin-top: 0; padding-top: 0; font-size: 1.1em; margin-left: 15px; color: #444545; }
#news #nav { margin-top: 15px; }
#news .testbg{background: url(../images/news-back.jpg) repeat-y 679px; float:left; ; clear: both;}
#news #col01 .news-item { border-bottom: 1px dotted #d0d0d0; float: left; margin-bottom: 1em; margin-left: 1em; width: 660px; }
#news #newsfilters { font-size: 1.3em; line-height: 1.4em; padding-left: 0; padding-bottom: 1em; margin: 1em 20px 1em 24px; border-bottom-width: 1px; border-bottom-style: dotted; width: 640px; }
#newsarchive ul li { padding-left: 15px; font-size: 1.3em; font-weight: bold; margin-bottom: 0.5em; }
#newsarchive ul li ul li { font-weight: normal; font-style: normal; margin-bottom: 0.5em; font-size: 0.75em; }

#col02_1 div.pressnews { float: left; border: 1px solid #dcdcdc; padding: 5px 5px 5px 10px; margin: 5px 5px 0 5px; width: 395px; background-color: #f5f5f5; }
#content #col02 #col02_1 .pressnews h1{ font: bold 1.1em Arial, Helvetica, sans-serif; text-transform: uppercase; margin: 0 0 5px; color: #c00b19; }
#content #col02 #col02_1 .pressnews p { margin-left: 0; padding-left: 0; font-size: 1.3em; margin-top:0;margin-bottom:0; }
#content #col02 #col02_1 .pressnews h2{margin: 0 0 5px;  font-size: 2em; letter-spacing: -0.01em; line-height: 0.95em; text-transform: none; }
#col02_1 div.pressnews h3 { margin-left: 0; color: #444545;  margin-bottom: 5px; clear: both; font-size:1.2em; margin-top:0; }
#newsarchive ul li ul li { display: inline; margin-left: 0; padding-left: 0; }
a#prlink {float: left; font-size: 1.2em; }
#newsarchive ul li ul li a { padding: 4px 4px 4px 0; outline: none;}
/* My Comment */
#col02_1 div.pressnews div.rightimg img { width: 90px; }
#col02_1 div.pressnews div.rightimg { width: 100px; float: right; }
#col02_1 div.pressnews p { width: 100px;  float: left;}
#col02_1 div.pressnews div.leftcontent { float: left; width: 280px; font-size: 0.95em; }
#col02_1 div.pressnews a { text-transform: none; text-decoration: none; color: #c00b19; font-size: 1.1em; }
#col02_1 div.pressnews p a { margin-left: 0; }
a.downloadhpcfca { display: block;
	background: url(../images/download-pcfca.png) no-repeat;
	height: 34px;
	background-position: 0 -40px;
	text-indent: -5000px;
	width: 125px;
	margin-top: 5px;
}

a.downloadhpcfca:hover { 	background-position: 0 -3px;
 }
#news #content #col01 p { clear: none; float: none; }
#pcfcnimg { margin-left: 1em; }

.hpbanners {
	position:relative;	
	height: 136px;	
	width: 246px;
	float:left;
	cursor:pointer; margin: 1em 0 2em; 
}
/* single slide */
.hpbanners div {
	display:none;
	position:absolute;
	top:0;
	left:0;		
	margin: 0;
	padding: 0;
	height: 136px;
	font-size:12px;
}


table.plain.figure { 
width: 95%; border: none; border-collapse: collapse; margin-bottom: 2em; }
#col01 div.tr div.bl div.br div.col01_1 table.plain.figure tfoot tr td { padding-top: 0.5em; padding-bottom: 0; }
table.plain.figure td, table.plain.figure th { border: none; text-align: left; font-weight: normal; font-style: normal; padding: 0.1em 0.5em 0.1em 0; }
table.plain.figure tbody tr:first-child td { padding-top: 0.5em; }
table.plain.figure th { font-style: italic; padding-bottom: 0.5em; padding-top: 0.5em; border-bottom: 1px solid #000; border-top: 1px solid #000; }
table.plain.figure caption { text-align: left; padding-bottom: 0.5em; font-size: inherit; }
table.plain.figure caption strong { margin-right: 1em; }
table.plain.figure ol { padding: 0; margin: 0 0 0 25px; font-size: 90%; list-style-type: lower-latin; }
.webkit table.plain.figure ol { margin-left: 20px; }
table.plain.figure .padding-bottom td { padding-bottom: 0.5em; }
#content #col01 .col01_1 .border-bottom, #content #col01 .col01_1 .border-bottom td { border-bottom: 1px solid #000; }

.greybox { background: #CDCACD; float: left; margin: 1em; }
#article #content #col01 .nomargin.bottom  { margin-bottom: 0; }

#list-of-abbreviations-page #content #col01 table tbody h3  { padding-left: 0; margin-left: 0; font-size: 15px; }
#faq-page #content #col01 h2{ width: 95%; background-image: none; text-decoration: none; text-transform: none; margin-bottom: 0; padding-top: 0; color: #cc0001; margin-top: 18px; font-size: 1.8em; padding-bottom: 0; padding-left: 0; line-height: 1.3em; margin-left:13px; float:none; }
#faq-page #content #col01 h4 { margin-top: 0; margin-bottom: 0; margin-left: 0.5em; }
#faq-page #content #col01 p{float:none;}


#article #content #col01 .first { margin-top: 0; }


#terms-and-conditions-page #content #col01 .col01_1 ul { float: none; width: auto; margin-bottom: 0; margin-left: 0; }



#terms-and-conditions-of-sale-page #content .col01_1, 
#terms-and-conditions-of-sale-subscriptions-page #content .col01_1,
#terms-and-conditions-page #content .col01_1, #privacy-page  #content .col01_1,
#editorial-staff-page #content .col01_1, #privacy-page  #content .col01_1,
#drug-names-page #content .col01_1, #privacy-page  #content .col01_1,
#list-of-abbreviations-page #content .col01_1, #privacy-page  #content .col01_1,
#faq-page #content .col01_1, #privacy-page  #content .col01_1, #privacy-page  #content .col01_1,
#contact-us-page #content .col01_1, #privacy-page  #content .col01_1, #saline-compatability-charts-page #content .col01_1

 { padding-left: 1em; padding-right: 6em; padding-top: 2em; display: ;}

#terms-and-conditions-of-sale-page #content .col01_1 h3,
#terms-and-conditions-of-sale-subscriptions-page #content .col01_1 h3,
#terms-and-conditions-page #content .col01_1 h3,
#privacy-page #content .col01_1 h3, #editorial-staff-page h3 { margin-top: 0; padding-top: 0; margin-bottom: 0; color: #cc0001; text-transform: none; }


#terms-and-conditions-of-sale-page #content .col01_1 ul,
#terms-and-conditions-of-sale-page #content .col01_1 ul ul,
#terms-and-conditions-of-sale-subscriptions-page #content .col01_1 ul,
#terms-and-conditions-of-sale-subscriptions-page .col01_1 ul ul  { list-style-type: none; margin-left: 0; margin-bottom: 10px; }

#terms-and-conditions-of-sale-page #content .col01_1 li, #terms-and-conditions-of-sale-subscriptions-page #content .col01_1 li { margin-top: 0.5em;margin-left:5px; padding-left:0; }
#terms-and-conditions-of-sale-page #content .col01_1 span.bold, #terms-and-conditions-of-sale-subscriptions-page #content .col01_1 span.bold  { font-weight: bold; }

#terms-and-conditions-of-sale-subscriptions-page #content .col01_1 h1, #terms-and-conditions-of-sale-page #content .col01_1 h1 { display: ; text-transform: uppercase; }


h3#germanpcf a  { font-size: 0.85em; text-decoration: none; color: #c20001; font-weight: normal; font-style: normal; }
#content #col01 h3#germanpcf { background-color: #e5e5e5; padding: 6px; margin: 0 5px; border-bottom-style: none; border-bottom-width: 1px; border: 1px solid #e9a39c; text-shadow: #f4f4f4 1px 1px 0; }
h3#germanpcf a:hover { text-decoration: underline; }
hr.spacerline {  float: left;width: 100%; height: 1px; border-style: none; border-width: 1px; background-color: transparent; border-bottom-style: solid; border-bottom-width: 1px; margin-top: 1em; margin-bottom: 1em; }

#saline-compatability-charts-page  ol {   width: 100%; float: left; margin-top: 0; padding: 0; margin-left: 30px; margin-bottom: 2em; font-size: 12px; line-height: 16px; }

#terms-and-conditions-of-sale-subscriptions-page #content #col01 .col01_1 ul li ul { list-style-type: none; margin: 0; padding: 0 0 0 1em; }

#terms-and-conditions-of-sale-subscriptions-page #content #col01 .col01_1 ul li ul { margin-bottom: 10px; }
#content #col01 .col01_1 ul.oarrow { list-style-image: url(https://www.palliativedrugs.com/assets/templates/pall/triangleright.gif); padding-left: 15px; }

#saline-compatability-charts-page #col01 .col01_1 h1.title { border-bottom-style: solid; border-bottom-width: 2px; font-weight: bold; margin-bottom: 10px; font-size: 2.5em; padding-bottom: 0.15em; }
#saline-compatability-charts-page #col01 .col01_1 h1 { font-size: 2em; }
span.chaptersample.nineteen
a{background-image:url(/images/chap19.png)}span.chaptersample.nineteena:hover{background:url(/images/chap19.png) 0 0}


.subscription { border: 1px solid #dcdcdc; margin: 5px; float: left; padding: 0 5px; background-color: #f8f8f8; }
.subscription p, .subscription p a{ font-size: 12px; }
#twitter-widget-0{
	margin: 10px 0 5px 5px;
}

.news-item ul li ul li {
	 list-style-image:url(https://www.palliativedrugs.com/assets/templates/pall/triangleright.gif);

}
.news-item ul ul {
	margin-left: 0.5em!important;
}