/* temp - move to correct file */
.sml_txt { font-size: 0.8em; }

.legacy {
		font-family:arial,helvetica,sans;
		font-size:13px;
	}

.footnotes li {
    margin-bottom: 0px;
    margin-top: 0px;
}

.slant{
    background:transparent url('/mk/slant.gif') no-repeat center center;
}

blockquote {
    margin-top: 8px;
}

#wrapper {
    border: 0px;
}

#numlist {
    list-style-type: decimal;
}

#tbl thead {
    font-style: italic;
}
#tbl tfoot td {
    margin-top: -10px;
    margin-left: 0px;
    text-indent:0px;
    font-size:10px;
}

#searchbox{
	float:right;
	margin-top:8px;
	margin-right:8px;
	width:200px;
	text-align:right;
}
#searchbox #field{
	width:135px;
}

.footnotes {
    margin-top: -10px;
    margin-left: 0px;
    text-indent:0px;
    font-size:10px;
}
#contentcolumn h2 {  /*need 'monograph' div for contextual selectors...*/
    font-style: italic;
}

.bg_light_grey {
    background-color: #c0c0c0;
}

/* end temp */


	body {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		background-color: #9C999C;
		margin: 0px;
		padding: 5px;
	}

	
	#tophead {
		height: 55px;
		margin: 0px;
		padding: 0px;
	}
	#tophead h1 {
		float: left;
		font-size: 14px;
		padding-left: 25px;
		margin: 6px;
		text-align: center;
	}

	#contentwrapper {
		float: left;
		width: 100%;
	}

	#contentcolumn {
		margin: 15px 25px 15px 230px; /*Margins should be "0 0 0 LeftColumnWidth*/
		padding-top: 5px;
	}



	#rightcolumn {
	float: left;
	width: 200px; /*Width of right column*/
	*overflow:hidden;
	margin-left: -200px; /*Set left marginto -(RightColumnWidth)*/
	margin-top: 15px;
}


.sidebar {
	background: #CDCECD; 
	padding: 10px 5px 15px 5px; 
	margin: 10px 15px 10px 15px ;
	text-align: center;
	}

.sidebar h2 {
	margin-top: -10px;
	margin-left: -5px;
	margin-right: 40px; 
	width: 170px;
	background-color:#cd0000;
/*	padding-top: 8px 2px 8px 2px;  */
	color:#f6f2f6;
	text-align: center;
	
}

.sidebar a {
    color: black;
/*    background-color:#CDCECD; */
    text-decoration: underline;
}
.sidebar a:hover {
    color: #CDCECD;
    color: white;
    background-color:#9C999C;
    text-decoration: underline;
}
.sidebar a:visited {
    color: #CDCECD;
}



.sidebar .sidebar td {
  font-size:90%;
}

.side_toc {
float:left;
	/*border: 1px solid #cd0000 ;*/
	background: #f6f2f6;
	padding: 2px;
	margin: 10px 0 0 10px;
	font:normal 1em Arial, Helvetica, sans-serif;
}
.side_toc h2 {
  margin-top: 0;
  margin-left: -10px; margin-right: 20px;
  padding: 8px 2px 8px 2px; 
  font-size:90%;
}
.side_toc .side_toc td {
  font-size:80%;
}

.supply_spacer {
    height: 18px;
    width: 5px;
}

.pagedochead{   
 font-size:120%;
font-weight:bold;
padding:10px 10px 10px 0px;
}
#leftcolumn a, #rightcolumn a{color:#000;}
