<div id="article_tabs">
<ul>
  <li><a href="#tgeneral">Add/Edit Entry</a></li>
</ul>
<div id="tgeneral">
  <div id="form_container">	
	<form action="<?=$this->baseurl?>/sddb/add" class="appnitro" enctype="multipart/form-data" method="post" id="sddb_form" name="sddb_form">
	<div class="form_description">
		<p class="error">
		    <ul>
		    </ul>
		</p>
	</div>		
	<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
	<table width="90%" border="0" align="center">
	<tr>
		<td colspan="5" align="right">
			Center / unit code <input name="unit_code" type="text" id="unit_code" size="20" value="<?=$this->form['unit_code'];?>">
			&nbsp;&nbsp;Record number <input name="unit_ref" type="text" id="unit_ref" size="10" value="<?=$this->form['unit_ref'];?>">
		</td>
	</tr>
	  <tr>
		<td colspan="5">&nbsp;</th>
	  </tr>
	 <tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
			<th>Drug name </th>
			<th>Dose (mg)</th>
			<th>Concentration</th>
	  </tr>
		 <tr>
			<th>Drug 1</th>
			<td>&nbsp;</td>
			<td><? echo($this->form['druglist1']);?>	
		 </td>
			<td><input name="drug1_dose" type="text" id="drug1_dose" size="15" value="<?=$this->form['drug1_dose'];?>"></td>
			<td><input disabled name="drug1_concentration" type="text" id="drug1_concentration" style="background-color:#CCCCCC;"></td>
		</tr>
		  <tr>
			<th>Drug 2 </th>
			<td>
			<? if ($this->form['id']!=0 && ($this->form['drug2_name'])) { ?>
				<a href="<?=$this->baseurl?>/sddb/moveup/mid/2/id/<?=$this->form['id']?>"><img border="0" src="<?=$this->baseurl?>/public/images/icons/arrow_up.png"></a>
			<? } ?>
			</td>
			<td><? echo($this->form['druglist2']); ?></td>
			<td><input name="drug2_dose" type="text" id="drug2_dose" size="15" value="<?=$this->form['drug2_dose'];?>"></td>
			<td><input disabled name="drug2_concentration" type="text" id="drug2_concentration" style="background-color:#CCCCCC;"></td>
		  </tr>
		  <tr>
			<th>Drug 3 </th>
			<td>
			<?  	if ($this->form['id']!=0 && ($this->form['drug3_name'])) { ?>
				<a href="<?=$this->baseurl?>/sddb/moveup/mid/3/id/<?=$this->form['id']?>"><img border="0" src="<?=$this->baseurl?>/public/images/icons/arrow_up.png"></a>
			<? } ?>
			</td>
			<td><? echo($this->form['druglist3']); ?></td>
			<td><input name="drug3_dose" type="text" id="drug3_dose" size="15" value="<?=$this->form['drug3_dose'];?>"></td>
			<td><input disabled name="drug3_concentration" type="text" id="drug3_concentration" style="background-color:#CCCCCC;"></td>
		  </tr>
		  <tr>
			<th>Drug 4 </th>
			<td>
			<?  	if ($this->form['id']!=0 && ($this->form['drug4_name'])) { ?>
				<a href="<?=$this->baseurl?>/sddb/moveup/mid/4/id/<?=$this->form['id']?>"><img border="0" src="<?=$this->baseurl?>/public/images/icons/arrow_up.png"></a>
			<? } ?>
			</td>
			<td><? echo($this->form['druglist4']); ?></td>
			<td><input name="drug4_dose" type="text" id="drug4_dose" size="15" value="<?=$this->form['drug4_dose'];?>"></td>
			<td><input disabled name="drug4_concentration" type="text" id="drug4_concentration" style="background-color:#CCCCCC;"></td>
		  </tr>
		  <tr>
			<th>Drug 5 </th>
			<td>
			<?  	if ($this->form['id']!=0 && ($this->form['drug5_name'])) { ?>
				<a href="<?=$this->baseurl?>/sddb/moveup/mid/5/id/<?=$this->form['id']?>"><img border="0" src="<?=$this->baseurl?>/public/images/icons/arrow_up.png"></a>
			<? } ?>
			</td>
			<td><? echo($this->form['druglist5']); ?></td>
			<td><input name="drug5_dose" type="text" id="drug5_dose" size="15" value="<?=$this->form['drug5_dose'];?>"></td>
			<td><input disabled name="drug5_concentration" type="text" id="drug5_concentration" style="background-color:#CCCCCC;"></td>
		  </tr>
		  <tr>
			<th>Drug 6 </th>
			<td>
			<?  	if ($this->form['id']!=0 && ($this->form['drug6_name'])) { ?>
				<a href="<?=$this->baseurl?>/sddb/moveup/mid/6/id/<?=$this->form['id']?>"><img border="0" src="<?=$this->baseurl?>/public/images/icons/arrow_up.png"></a>
			<? } ?>
			</td>
			<td><? echo($this->form['druglist6']); ?></td>
			<td><input name="drug6_dose" type="text" id="drug6_dose" size="15" value="<?=$this->form['drug6_dose'];?>"></td>
			<td><input disabled name="drug6_concentration" type="text" id="drug6_concentration" style="background-color:#CCCCCC;"></td>
		  </tr>   
		  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td align="center">&nbsp;</td>
		  </tr>
		<tr>
			<td colspan="3">Diluent
			<? echo($this->form['diluent']); ?>
			&nbsp;&nbsp;&nbsp;made up to final volume of 
		  <input name="volume" type="text" id="volume3" size="4" value="<?=$this->form['volume'];?>">	ml  </td>
		  <td colspan="2" align="right"><a href="#" onClick="javascript:update_concentrations();">update concentrations</a></td>
		<tr><td colspan="5">&nbsp;</td></tr>
		<tr>
		<td colspan="5"><b>Actual</b> duration of infusion
				<? echo($this->form['time']); ?>
			&nbsp;&nbsp;(if 'other' please specify <input type="text" name="duration_other" size="6" value="<?=$this->form['duration_other']?>">)
		</td>
	  </tr>
	   
	   
		<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td align="center">&nbsp;</td>
		</tr>
	  <tr>
		<th colspan="5">Outcomes</th>
	  </tr>
	  <tr>
		<td>Compatibilty outcome</td>
		<td colspan="5">
			<?
			echo($this->form['compatibility']);
			?>		
			if <b>incompatible</b> please state details in Comments box below.
		  </td>
	  </tr>
	  <tr>
		<td>Data type</td>
		<td colspan="4">
			<?
			echo($this->form['datatype']);
			?>
		</td>
	  </tr>
	  <tr>
		<td>Infusion site reaction</td>
		<td colspan="4"><?
			echo($this->form['reaction']);
			?>
			if <b>yes</b> please state details in Comments box below.
			</td>
	  </tr>
	  <tr>
		<td>Comments</td>
		<td colspan="4"><textarea name="comments" cols="60" rows="6"><? echo $this->form['comments']; ?></textarea></td>
	  </tr>
	  <tr>
		<td>References</td>
		<td colspan="4"><textarea name="support_data" cols="60" rows="6"><? echo $this->form['support_data']; ?></textarea></td>
	  </tr>
	  <tr>
		<td colspan="5" align="center">&nbsp;</td>
	  </tr>
	  <tr>		
		<td colspan="3" align="center">
			show 'details' link <input name="chkShowDetailsLink" type="checkbox" <? if($this->form['show_details_link']==1) echo "checked";?>>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			approved <input name="chkApproved" type="checkbox" id="chkApproved" <? if($this->form['approved']==1) echo "checked";?>>
		</td>
		<td colspan="2" align="left">
			<button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="submit">Save</button>
			<button id="canForm" class="fg-button ui-state-default ui-corner-all" type="button" onClick="Javascript:history.go(-1);" >Cancel</button>
			<?php if(!empty($this->form['id'])){ ?>
			<button id="delForm" class="fg-button ui-state-default ui-corner-all" type="button" onClick="return open_dialog('/logincms/sddb/delete/id/<?=$this->form['id']?>');" >Delete</button> 
			<?php } ?>
		 </td>
		</tr>
	</table>		
	</form>
</div>
</div>
</div>