<div id="activitytabs">	  
  <ul>
	<li><a href="#users">Syringe Driver Database - Archives</a></li>
  </ul>	
  <div id="archiveslist">  
  </div>
</div>
<div id="actionsBox" class="actionsBox">
	<div id="actionsBoxMenu" class="menu">
		<span id="cntBoxMenu">0</span>
		<a class="button box_action">Restore</a>		
		<a id="closeBoxMenu" class="button">X</a>
	</div>   
</div>