<div id="filters">
  <h3><a href="#">Filters</a></h3>
  <div>	
  <input type='hidden' name='search_drug' id='search_drug' value='A'>  
  <ul id='drug_type'>
	  <li class="filtertitle">By Drugs</li>
	  <li id='drug_A'><a class='selected' href="javascript:;" onclick="show_drugs('A');">Any / All</a></li>
	  <li id='drug_2'><a href="javascript:;" onclick="show_drugs('2');">Two Drugs</a></li>
	  <li id='drug_3'><a href="javascript:;" onclick="show_drugs('3');">Three Drugs</a></li>
	  <li id='drug_4'><a href="javascript:;" onclick="show_drugs('4');">Four Drugs</a></li>	  
	  <li id='drug_5'><a href="javascript:;" onclick="show_drugs('5');">Five Drugs</a></li>	  
	  <li id='drug_6'><a href="javascript:;" onclick="show_drugs('6');">Six Drugs</a></li>	  
  </ul>  
 </div>
</div>
<div id="activitytabs">	  
  <ul>
	<li><a href="#users">Syringe Driver Database</a></li>
  </ul>	
  <div id="sddblist">  
  </div>
</div>
