<div id="filters">
  <h3><a href="#">Filters</a></h3>
  <div>	
  <input type='hidden' name='search_type' id='search_type' value='lu'> 
  <input type='hidden' name='search_dil' id='search_dil' value='A'> 
  <ul id='sddb_type'>
	  <li class="filtertitle">By Type</li>
	  <li id='sddb_A'><a href="javascript:;" onclick="show_sddb('A','');">Any / All</a></li>
	  <li id='sddb_ap'><a href="javascript:;" onclick="show_sddb('ap','');">Approved</a></li>
	  <li id='sddb_lu'><a class='selected' href="javascript:;" onclick="show_sddb('lu','');">Unapproved entries</a></li>
	  <li id='sddb_ua'><a href="javascript:;" onclick="show_sddb('ua','');">Survey unapproved </a></li>	  
  </ul>
   <ul id='dil_type'>
	  <li class="filtertitle">By Diluent</li>
	  <li id='dil_A'><a class='selected' href="javascript:;" onclick="show_sddb('','A');">Any / All</a></li>
	  <?php foreach ($this->diluent as $key=>$value) {?>
	  <li id='dil_<?php echo str_replace(array(" ","%","."),"_",$value['diluent']); ?>'><a href="javascript:;" onclick="show_sddb('','<?php echo $value['diluent']; ?>');"><?php echo $value['diluent']; ?></a></li>			
	  <?php } ?>	  
  </ul>
 </div>
</div>
<div id="activitytabs">	  
  <ul>
	<li><a href="#users">Syringe Driver Database</a></li>
  </ul>	
  <div id="sddblist">  
  </div>
</div>
<div id="actionsBox" class="actionsBox">
	<div id="actionsBoxMenu" class="menu">
		<span id="cntBoxMenu">0</span>
		<a class="button box_action">Archive</a>		
		<a id="closeBoxMenu" class="button">X</a>
	</div>   
</div>