<div id="article_tabs">
<ul>
  <?php if(!empty($this->form['result'])){ ?>
  <li><a href="#tgeneral">Search Result</a></li>
  <?php }else{ ?>
  <li><a href="#tgeneral">Search Entry</a></li>
  <?php } ?>
</ul>
<div id="tgeneral">
  <div id="form_container">	
  <?php if(!empty($this->form['result'])){ 
		echo($this->form['result']);
	 }else{ ?>
  <form action="<?=$this->baseurl?>/sddb/search" class="appnitro" enctype="multipart/form-data" method="post" id="search_form" name="search_form" onsubmit="return validate_search();">
  <input type="hidden" name="qry_type" id="qry_type" value="search">
	<div class="form_description">
		<p class="error">
		    <ul>
		    </ul>
		</p>
	</div>		
	<table border="0" cellspacing="0" cellpadding="4">
	<tr>
		<td>drug 1</td>
		<td><? echo($this->form['druglist1']);?></td>
	</tr>
	<tr><td colspan="2" align="center">&nbsp;</td></tr>
	<tr>
		<td>drug 2</td>
		<td><? echo($this->form['druglist2']);?></td>
	</tr>
	<tr><td colspan="2" align="center">&nbsp;</td></tr>
	<tr>
		<td>drug 3</td>
		<td><? echo($this->form['druglist3']);?></td>
	</tr>
	<tr><td colspan="2" align="center">&nbsp;</td></tr>
	<tr>
		<td>drug 4</td>
		<td><? echo($this->form['druglist4']);?></td>
	</tr>
	<tr><td colspan="2" align="center">&nbsp;</td></tr>
	<tr>
		<td>drug 5</td>
		<td><? echo($this->form['druglist5']);?></td>
	</tr>
	<tr><td colspan="2" align="center">&nbsp;</td></tr>
	<tr>
		<td>drug 6</td>
		<td><? echo($this->form['druglist6']);?></td>
	</tr>
	<tr><td colspan="2" align="center"><input type="checkbox" name="exact" value="1"> exact matches only</td></tr>
	<tr><td colspan="2" align="center">&nbsp;</td></tr>
	<tr>
		<td colspan="2" align="center">
			<button id="searchForm" class="fg-button ui-state-default ui-corner-all" type="submit">&nbsp;<img src="<?=$this->baseurl?>/public/images/zoom.png">&nbsp;Find&nbsp; </button>
		</td>
	</tr>
	</table>
	</form>
	<?php } ?>
</div>
</div>
</div>