/* @override http://pall2010.3bitlabs.com/logincms/assets/css/custom.css */



body, html {
	height: 100%;
	width: 100%;
	overflow: hidden !important;
	background: #323840 repeat-x;
}

#container {
	width: 97%;
	height: 97%;
	margin-bottom: 1%;
	margin-right: 2%;
}

/* My Comment */



/* CSS FOR UI-LAYOUTS */

.ui-layout-pane {


/* all 'panes' */
	padding: 10px;
	background: #FFF;
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	overflow: hidden;
}

.ui-layout-pane-north, .ui-layout-pane-south {
	background-color: transparent;
	border-style: none;
}

.ui-layout-pane-south {
	/*padding: 0;*/
	overflow: auto;
	background-color: #ddd;
	padding: 0 10px 0 0;
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
}

.ui-layout-pane-west {
	border-left: 1px solid #BBB;
}

.ui-layout-pane-east {
	border-right: 1px solid #BBB;
}

.ui-layout-pane-center {
	border-left: 0;
	border-right: 0;
}

.inner-center {
	border: 1px solid #BBB;
	overflow: auto !important;
}

.outer-west,  .outer-east {
	background-color: #EEE;
}

.middle-west,  .middle-east {
	background-color: #FFF;
}

.ui-layout-resizer {


/* all 'resizer-bars' */
	background: #DDD;
}

.ui-layout-resizer:hover {


/* all 'resizer-bars' */
	background: #FED;
}

.ui-layout-resizer-west {
	border-left: 1px solid #BBB;
}

.ui-layout-resizer-east {
	border-right: 1px solid #BBB;
}

.ui-layout-toggler {


/* all 'toggler-buttons' */
	background: #AAA;
}

.ui-layout-toggler:hover {


/* all 'toggler-buttons' */
	background: #FC3;
}

.outer-center,  .middle-center {
	

/* center pane that are 'containers' for a nested layout */ 
		padding: 0;
		border: 0;
}
.ui-layout-pane-north {
	padding: 0;
}
/* 
******************************
END CSS FOR UI-LAYOUTS 
******************************
*/

.breadCrumbHolder.module {
	background-color: #d2d2d2;
	padding-top: 5px;
}

/* @group Tabs */



#featureTabsContainer {
	height: 26px;
}
a.tab:hover {
	background-color: #7c8da2;
	color: #ffff00;
	text-decoration: none;
}

a.tab {
	background-color: #8a9cb4;
	color: #fff;
	border-bottom: 2px solid #4a5360;
	border-style: none;
	letter-spacing: -0.05em;
	font: bold 13px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 6px 10px 7px;
}

a.tab_selected {
	border-bottom-color: #344761;
	background-color: #d2d2d2;
	color: #323840;
}

#featureTabsContainer a.tab img {
	position: relative;
	left: -6px;
	bottom: -4px;
	border: none;
}


/* @end */

#container div.ui-layout-north.ui-layout-pane.ui-layout-pane-north.open h1 {
	margin-top: 5px;
	color: white;
}

#mastheadnavication div.super {
	min-width: 1280px;
}

#mastheadnavication div.super p {
	text-align: right;
	margin-right: 1em;
	color: white;
	font-size: 12px;
	margin-bottom: 0;
	margin-top: 0;
}

#mastheadnavication div.super p span.seperate {
	margin: 0 5px;
}

/* side navigation */


.side-nav, .side-nav dt, .side-nav dd, .side-nav ul, .side-nav li {
	margin: 0;
	padding: 0
}

#side-nav {
	font-size: 1.3em;
}
#side-nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#side-nav dd {
	
	margin: 0px;
	padding: 0px;
	}
#side-nav dt, .side-nav h4 {
	margin: 0;
	padding: 0;
	color: #e87b10;
	font-style: normal;
	font-size: 1.1em;
}

#side-nav dt, .side-nav h4 {
	margin-bottom: 0;
	/*padding-left: 8px;*/
	line-height: 1.2em;
	border-bottom: 1px solid #F4F4F4;
	margin-top: 0.5em;
}

#side-nav dd a, .side-nav li a {
	border-bottom: 1px solid #F4F4F4;
	display: block;
	font-size: 90%;
	text-decoration: none;
	color: #555;
	margin: 2px 0;
	padding: 4px 0 0 4px;
}

#side-nav dd a:hover, .side-nav dd a:focus, .side-nav dd a:hover, .side-nav dd a:focus {
	background: #f3f3f3;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#side-nav dd a.selected {
	background: #555;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* Filters */

#filters .ui-widget-content {
	background: none;
	padding: 10px;
}
#filters {
	margin-bottom: 3em;
	clear: both;
	font-size: 13px;
}

#filters ul {
	list-style-type: none;
	margin: 0px 0px 25px;
	padding: 0px;
	clear: both;
}



#filters ul a:hover {
	background-color: #e0eef7;
}

#newslisting_filter { margin: 1em 1em 0 1.4em;
	
}

#filters {
	margin-bottom: 3em;
	clear: both;
	font-size: 13px;
}




#filters ul li a {
	display: inline;
	font-size: 11px;
	float: left;
	margin-right: 5px;
	padding: 1px 5px 1px 7px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #f4f4f4;
	text-decoration: none;
	margin-bottom: 5px;
}

#filters ul li a.selected {
	font-weight: bold;
	background-color: #d3e3eb;
}

/* Filters End */


.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1;
	border: 1px solid #e7e9ec;
	margin-bottom: 1em;
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
	font-size: 1.1em;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
	font-size: 1.2em;
}

.dataTables_info {
	width: 60%;
	float: left;
	font-size: 1.1em;
	margin-top: 5px;
	margin-left: 10px;
	font-weight: bold;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

.display tbody {
	background-color: #fff;
}



/* Pagination nested */

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */

table.display {
	width: 100%;
	clear: both;
}

table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
	font-size: 1.2em;
}

table.display tfoot th {
	padding: 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
	font-size: 1.2em;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	font-size: 1.1em;
	border-bottom: 1px solid #efefef;
	padding: 1px 5px 1px 10px;
}

table.display td.center {
	text-align: center;
}

table.display tbody tr.even td {
	background-color: #f2f5f7;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}

#example tbody {
	background-color: white;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}

.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

/* @group My Group */

/* Login Box */



.loginarea{
	width: 780px;
	min-height: 300;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	padding: 20px;
		-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 15%; 
}

#login_form {
	text-align: left;
}


#loginbox input.ui-button {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 3px;
	font-size: 1.1em;
}
/* End Login */

/* @end */

/* Updates for Tables and Gen CSS Tweaks */


.display .ui-button-text, .grid span.ui-button-text {
	padding: 0.1em 1em 0.3em;
	font-weight: normal;
	font-style: normal;
}

.display a.button, .grid a.button {
	margin: 2px;
}


.display .ui-button-text img, .grid span.ui-button-text img {
	position: relative;
	left: -5px;
	top: 3px;
}
.grid span.ui-button-text {
	
}


#audit li {
	padding-bottom: 1px;
	padding-top: 1px;
	padding-left: 25px;
}

#audit span.dashdate {
	font-style: italic;
	color: #8593a5;
}

table#druglist.grid {
}


#audit ol li.activdate {
	background-image: none;
	padding-left: 0;
	font-size: 1.1em;
	font-weight: bold;
}

#activitytabs h2 {
	font-size: 180%;
	font-weight: 400;
	border-bottom: 1px dotted #ccc;
	margin: 0 0 1em;
	padding-bottom: 4px;
		font-family: Lucida Grande, Tahoma, Arial, Verdana, sans-serif;

}




#activitytabs ol, #dashtabs ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 1.1em;
}


#activitytabs li, #dashtabs li {
	border-bottom: 1px dotted #cacaca;
}


#activitytabs li.login {
	background: url(../images/icons/accept.png) no-repeat 0 2px;
}

#activitytabs li.loginfail {
	background: #fed0cb url(../images/icons/thumb_down.png) no-repeat 0 2px;
	border: 1px dotted red;
}

#activitytabs li.loginfail, #activitytabs li.login,#activitytabs li.news {
	padding-left: 25px;
}

#activitytabs li.news {
	background: url(../images/icons/page_white_text.png) no-repeat 0 2px;
}

#activitytabs li.pages {
	background: url(/logincms/assets/images/icons/tab.png) no-repeat;
}

#activitytabs li.fixtures {
	background: url(../images/icons/rosette.png) no-repeat;
}