/* @override http://pall2010.3bitlabs.com/logincms/assets/css/forms.css */

#form_container
{


	text-align:left;
	width:100%;
}




form.appnitro
{
	/*margin:20px 20px 0;*/
	padding:0 0 20px;
}


/**** Form Section ****/
.appnitro
{
	font-family:Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
	font-size:small;
}

.appnitro li
{
	width:700px;
}

form.appnitro ul
{
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

form.appnitro li
{
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
}

form.appnitro li:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}



/** html form li
{
	height:1%;
}

* html .buttons
{
	height:1%;
}*/


form.appnitro li div
{
	color:#444;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

form.appnitro li span
{
	color:#444;
	float:left;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

form.appnitro li div.left
{
	display:inline;
	float:left;
	width:48%;
}

form.appnitro li div.right
{
	display:inline;
	float:right;
	width:48%;
}

form.appnitro li div.left .medium
{
	width:100%;
}

form.appnitro li div.right .medium
{
	width:100%;
}

.appnitro .clear
{
	clear:both;
}

form.appnitro li div label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

form li span label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

.appnitro form li .datepicker
{
	cursor:pointer !important;
	float:left;
	height:16px;
	margin:.1em 5px 0 0;
	padding:0;
	width:16px;
}

.appnitro p {
	font-size: 0.85em;
	margin-right: 0px;
	margin-left: 0px;
}

div.ui-widget {
	margin-bottom: 1em;
}

.form_description
{
	border-bottom:1px dotted #ccc;
	clear:both;
	display:inline-block;
	margin:0 0 1em;
}

.form_description[class]
{
	display:block;
}

.form_description h2
{
	clear:left;
	font-size:160%;
	font-weight:400;
	margin:0 0 3px;
}

.form_description p
{
	font-size:95%;
	line-height:130%;
	margin:0 0 12px;
}

form.appnitro hr
{
	display:none;
}

form.appnitro li.section_break
{
	border-top:1px dotted #ccc;
	margin-top:9px;
	padding-bottom:0;
	padding-left:9px;
	padding-top:13px;
	width:97% !important;
}

form.appnitro ul li.first
{
	border-top:none !important;
	margin-top:0 !important;
	padding-top:0 !important;
}

form.appnitro .section_break h3
{
	font-size:110%;
	font-weight:400;
	line-height:130%;
	margin:0 0 2px;
}

form.appnitro .section_break p
{
	font-size:85%;

	margin:0 0 10px;
}

/**** Buttons ****/
.appnitro input.button_text
{
	overflow:visible;
	padding:0 7px;
	width:auto;
}

.appnitro .buttons input
{
	/*font-size:120%;*/
	margin-right:5px;
}

/**** Inputs and Labels ****/
.appnitro label.description
{
	border:none;
	color:#222;
	display:block;
	font-size:95%;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
}

.appnitro span.symbol
{
	font-size:115%;
	line-height:130%;
}

.appnitro input.text
{

	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	color:#333;
	font-size:100%;
	margin:0;
	padding:2px 0;
}

.appnitro input.file
{
	color:#333;
	font-size:100%;
	margin:0;
	padding:2px 0;
}

.appnitro textarea.textarea
{
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	color:#333;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:100%;
	margin:0;
	width:99%;
}

.appnitro select.select
{
	color:#333;
	font-size: 16px;
	margin:1px 0;
	padding:1px 0 0;
}


.appnitro input.currency
{
	text-align:right;
}

.appnitro input.checkbox
{
	display:block;
	height:13px;
	line-height:1.4em;
	margin:6px 0 0 3px;
	width:13px;
}

.appnitro input.radio
{
	display:block;
	height:13px;
	line-height:1.4em;
	margin:6px 0 0 3px;
	width:13px;
}

.appnitro label.choice
{
	color:#444;
	display:block;
	font-size:100%;
	line-height:1.4em;
	margin:-1.55em 0 0 25px;
	padding:4px 0 5px;
	width:90%;
}

select.select[class]
{
	margin:0;
	padding:1px 0;
}

*:first-child+html select.select[class]
{
	margin:1px 0;
}

/*.safari select.select
{
	font-size:120% !important;
	margin-bottom:1px;
}*/

.appnitro input.small
{
	width:25%;
}

.appnitro select.small
{
	width:25%;
}

.appnitro input.medium
{
	width:50%;
}

.appnitro select.medium
{
	width:50%;
}

.appnitro input.large
{
	width:99%;
}

.appnitro select.large
{
	width:100%;
}

.appnitro textarea.small
{
	height:5.5em;
}

.appnitro textarea.medium
{
	height:10em;
}

.appnitro textarea.large
{
	height:20em;
}

/**** Errors ****/
.appnitro #error_message
{
	background:#fff;
	border:1px dotted red;
	margin-bottom:1em;
	padding-left:0;
	padding-right:0;
	padding-top:4px;
	text-align:center;
	width:99%;
}

.appnitro #error_message_title
{
	color:#DF0000;
	font-size:125%;
	margin:7px 0 5px;
	padding:0;
}

.appnitro #error_message_desc
{
	color:#000;
	font-size:100%;
	margin:0 0 .8em;
}

.appnitro #error_message_desc strong
{
	background-color:#FFDFDF;
	color:red;
	padding:2px 3px;
}

form.appnitro li.error
{
	background-color:#FFDFDF !important;
	border-bottom:1px solid #EACBCC;
	border-right:1px solid #EACBCC;
	margin:3px 0;
}

form.appnitro li.error label
{
	color:#DF0000 !important;
}

form p.error
{
	clear:both;
	color:red;
	font-size:10px;
	font-weight:700;
	margin:0 0 5px;
}

form.appnitro .required
{
	color:red;
	float:none;
	font-weight:700;
}

/**** Guidelines and Error Highlight ****/
form.appnitro li.highlighted
{
	background-color:#fff7c0;
}

form.appnitro .guidelines
{
	background:#f5f5f5;
	border:1px solid #e6e6e6;
	color:#444;
	font-size:80%;
	left:100%;
	line-height:130%;
	margin:0 0 0 8px;
	padding:8px 10px 9px;
	position:absolute;
	top:0;
	visibility:hidden;
	width:42%;
	z-index:1000;
}

form.appnitro .guidelines small
{
	font-size:105%;
}

form.appnitro li.highlighted .guidelines
{
	visibility:visible;
}

form.appnitro li:hover .guidelines
{
	visibility:visible;
}

.appnitro .no_guidelines .guidelines
{
	display:none !important;
}

.appnitro .no_guidelines form li
{
	width:97%;
}

.appnitro .no_guidelines li.section
{
	padding-left:9px;
}

/*** Success Message ****/
.appnitro .form_success 
{
	clear: both;
	margin: 0;
	padding: 90px 0pt 100px;
	text-align: center
}

.appnitro .form_success h2 {
    clear:left;
    font-size:160%;
    font-weight:normal;
    margin:0pt 0pt 3px;
}

/*** Password ****/
.appnitro ul.password{
    margin-top:60px;
    margin-bottom: 60px;
    text-align: center;
}
.appnitro .password h2{
    color:#DF0000;
    font-weight:bold;
    margin:0pt auto 10px;
}

.appnitro .password input.text {
   font-size:170% !important;
   width:380px;
   text-align: center;
}
.appnitro .password label{
   display:block;
   font-size:120% !important;
   padding-top:10px;
   font-weight:bold;
}

.appnitro #li_captcha{
   padding-left: 5px;
}


.appnitro #li_captcha span{
	float:none;
}



.embed form.appnitro
{
	margin:0px 0px 0;
	
}