<div id="article_tabs">
    <ul>
      <li><a href="#pglobal">Pubmed List</a></li>	       
    </ul>    
	<div id='pglobal'>
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='pubmedlist'>
		   <col id="colid" />
		   <col id="colstatus" />
		   <col id="colid" />	 		   
		   <col id="colactions" />
		   <thead>		   			
			<tr>				
				<th><a href="#" class="sort">ID</a></th> 
				<th><a href="#" class="sort">PMID</a></th> 
				<th><a href="#" class="sort">Title</a></th> 				
				<th><a href="#" class="sort">Action</a></th> 				
			</tr>
			</thead>
			<tbody>								
			</tbody>
		</table>
	</div>
</div>