<?php
$db			=	Zend_Registry::get("db");
?>
<div id="article_tabs">
<ul>
  <li><a href="#tgeneral">Add/Edit Pubmed</a></li>
</ul>
<div id="tgeneral">
	<div id="form_container">	
		<form action="<?=$this->baseurl?>/pubmed/manualrefadd" class="appnitro" enctype="multipart/form-data" method="post" id="addmanual" name='addmanual'>
		<div class="form_description">			
			<p class="error">
				<ul>
				</ul>
			</p>
		</div>
		<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
		<ul> 	
		  <li id="li_1" >
			  <label class="description" for="email">Author</label>
			  <span>
				 <table cellpadding="0" cellspacing="0" border="0" >
					<tr>
						<td>Author Name</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><input type="text" name="txt_author" id="txt_author" size="10"/></td>
						<td><input type="button" id='sbutton' value="Add" name="Add" onclick="addauthor('txt_author')"/></td>
					</tr>
					<tr>
					   <td colspan="2">
						<table cellpadding="0" cellspacing="0" border="0" id="authtable" >
						   <?php $selAuth	=	$db->fetchAll("SELECT * FROM 3bit_pubmed_authors WHERE pubmed_id ='".$this->form['id']."'");
							  if(count($selAuth)>0){
								  $i	=	0;
						?>	  
								<tbody>
						<?php		foreach($selAuth as $res){
										   $aname	=	stripslashes($res['author_name']);
						?>
									<tr>
										<td><nobr><input id="txtAuth_<?=$i?>" name="txtAuth[]" value="<?=$aname?>" type="hidden"><?=$aname?></nobr></td>
										<td><input name="btnedit" value="Edit" onclick='editRow(this.parentNode.parentNode.rowIndex,document.getElementById("txtAuth_<?=$i?>").value)' class="button" type="button"><input name="btnview" value="Delete" onclick="deleteRow(this.parentNode.parentNode.rowIndex)" class="button" type="button"></td>
									</tr>
						<?php		$i++; }	?>
								</tbody>
						<?php } ?>
						</table>
					   </td>
					</tr>
				</table>
			  </span>		  
			</li>
			<li id="li_2" >
			  <label class="description" for="editor">Editors</label>
			  <span>
				 <table cellpadding="0" cellspacing="0" border="0" >
					<tr>
						<td>Editor Name</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><input type="text" name="txt_editor" id="txt_editor" size="10"/></td>
						<td><input type="button" id='ebutton' value="Add" name="Add" onclick="addeditor('txt_editor')"/></td>
					</tr>
					<tr>
					   <td colspan="2">
						<table cellpadding="0" cellspacing="0" border="0" id="edittable" >
							<?php if(!empty($this->form['last_editor'])){
									$editors	=	explode("##",trim($this->form['last_editor']));
									if(count($editors)>0){?>
								<tbody>
							<?php  for($m=0;$m<count($editors);$m++){ ?>
									<tr>
										<td><nobr><input id="txtEdit_<?=$m?>" name="txtEdit[]" value="<?=$editors[$m]?>" type="hidden"><?=$editors[$m]?></nobr></td>
										<td><input name="bnedit" value="Edit" onclick='editERow(this.parentNode.parentNode.rowIndex,document.getElementById("txtEdit_<?=$m?>").value)' class="button" type="button"><input name="bnview" value="Delete" onclick="deleteERow(this.parentNode.parentNode.rowIndex)" class="button" type="button"></td>
									</tr>
							<?php  } ?>
								</tbody>
							<?php  } 
								}
							?>
						</table>
					   </td>
					</tr>
				</table>
			  </span>		  
			</li>
			<li id="li_21" >
			  <label class="description" for="email">Pub Year</label>          
				<div>
				<input id="pub_date" name="pub_date" class="element text" value="<?php echo stripslashes($this->form['pub_date']) ?>" type="text">			
			</span>
			</li>
			
			<li id="li_3" >
			  <label class="description" for="title">Title</label>
			  <div>
				<input id="title" name="title" class="element text medium" type="text" maxlength="255" value="<?php echo stripslashes($this->form['title']) ?>" />
			  </div>
			  <p class="guidelines"><small>Please enter title.</small></p>
			</li>
			<li id="li_8" >
			  <label class="description" for="nlm">Journal Name</label>
			  <div>
				<input id="full_journalname" name="full_journalname" class="element text medium" type="text" maxlength="255" value="<?php echo stripslashes($this->form['full_journalname']) ?>" />
			  </div>
			  <p class="guidelines"><small>Please enter journal name.</small></p>
			</li>		
			<li id="li_4" >
			  <label class="description" for="vlm">Volume</label>
			  <div>
				<input id="volume" name="volume" class="element text medium" type="text" maxlength="255" value="<?php echo stripslashes($this->form['volume']) ?>"/>
			  </div>
			  <p class="guidelines"><small>Please enter volume.</small></p>
			</li>
			<li id="li_5" >
			  <label class="description" for="issue">Issue</label>
			  <div>
				<input id="issue" name="issue" class="element text medium" type="text" maxlength="255" value="<?php echo stripslashes($this->form['issue']) ?>"/>
			  </div>
			  <p class="guidelines"><small>Please enter issue.</small></p>
			</li>
			<li id="li_6" >
			 <?php 
					$to		=	'';
					$from	=	'';
					if(!empty($this->form['pages'])){
						$pages	=	explode("&#151;",$this->form['pages']);
						if(count($pages)>1){
							$from	=	$pages[0];
							$to		=	$pages[1];
						 }else{
							$from	=	$this->form['pages'];
						 }
					}

			 ?>
			  <label class="description" for="pages">Pages</label>
			  <span>
				<input id="txt_pagesfrom" name="txt_pagesfrom" class="element text" size="3" maxlength="3" value="<?=$from?>" type="text"> -
				<label for="element_7_1">(From)</label>
			  </span>
			  <span>
				<input id="txt_pagesto" name="txt_pagesto" class="element text" size="3" maxlength="3" value="<?=$to?>" type="text"> 
				<label for="element_7_2">(To)</label>
			 </span>          
			  <p class="guidelines"><small>Please enter pages.</small></p>
			</li>
			<li>
				<label for="dcont" class="description">Content</label>
				<div><textarea id="txtContent" name="txtContent" cols="70" rows="10" tabindex='6' class="mceEditor" ></textarea></div>	
		   </li>
			<li class="buttons">         
			  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_manualref();">Submit</button>
			</li>
		 </ul>			
		</form>
	</div>
</div>
</div>