<div id="article_tabs">
<ul>
  <li><a href="#tgeneral">Add/Edit Pubmed</a></li>
</ul>
<div id="tgeneral">
  <div id="form_container">	
	<form action="<?=$this->baseurl?>/pubmed/pubmedrefadd" class="appnitro" enctype="multipart/form-data" method="post" id="addpubmed">
	<div class="form_description">
		<p class="error">
		    <ul>
		    </ul>
		</p>
	</div>			
	<ul> 	
		<li id="li_1" >
		  <label class="description" for="email">Pubmed Code</label>
		  <div>
			<input id="pmid" name="pmid" class="element text medium" type="text" maxlength="255"/>
		  </div>
		  <p class="guidelines"><small>Please enter code.</small></p>
		</li>        
		<li class="buttons">         
		  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_pubmed();">Submit</button>
		</li>
	 </ul>			
	</form>
</div>
</div>
</div>