<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Select Pattern</title>
</head>
<body>
<div id="select_pattern" style="width:100%;height:100%">
    <div class="ui-layout-center">
		<span id="<?php echo $this->form["uploadcat"]?>"></span>
	</div>
	<div class="ui-layout-north">
		<form id="searchform" method="post" enctype="multipart/form-data" class="appnitro">
			<label class="description" for="search">Search</label>
			<div>
				<input id="sel_kword" name="sel_kword" class="element text small" type="text" maxlength="255" value=""/> 
			</div>
		</form>
		</div>
		<div class="ui-layout-west">
			<div id="form_container">
				<form id="patternform" action="select_images.php" method="post" enctype="multipart/form-data" class="appnitro">
					<div class="form_description">
						<h2>Asset Upload</h2>
						<p class="error"></p>
					</div>
					<ul>
						<li id="selecttitle">
							<label class="description" for="title">Title</label>
							<div>
								<input id="txtTitle" name="txtTitle" class="element text medium" type="text" maxlength="255" value="" onblur='save_alt()' /> 
							</div> 
						</li>
						<li id="selecdescription">
							<label class="description" for="alt">Alt</label>
							<div>
								<input id="txtAlt" name="txtAlt" class="element text medium" type="text" maxlength="255" value="" onblur='save_alt()' /> 
							</div> 
						</li>
						<li id="selectag" class="autosuggest">
							<label class="description" for="alt">Asset Tags</label>
							<div>
								<input id="sel_tag" name="sel_tag" class="element text medium" type="text" maxlength="255" value=""/> 
							</div> 
						</li>		
						<li id='selectupload'>			
							<div>
								<input type="file" name="uploadify" id="uploadify" />
								<div id="fileQueue"></div>
							</div> 
						</li>		
					</ul>
				</form>
				</div>
		</div>
</div>
</body>
</html>
