<div id="article_tabs">
	<ul>
	  <li><a href="#tgeneral">Add/Edit Courier</a></li>
	</ul>
	<div id="tgeneral">
		<div id="form_container">	
			<form action="<?=$this->baseurl?>/couriers/add" class="appnitro" enctype="multipart/form-data" method="post" id="addcourier" name='addcourier'>
			<div class="form_description">
				<h2>Add/Edit Courier</h2>
				<p class="error">
					<ul>				
					</ul>
				</p>
			</div>			
			<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
			<ul> 	
				<li>
					<label class="description" for="title">Name<span class="required">*</span></label>
					<div>
						<input id="courier_name" name="courier_name" class="element text medium" type="text" maxlength="30" value="<?php echo $this->form['courier_name'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter name.</small></p>
				</li>	
				<li>
					<label class="description" for="title">URL<span class="required">*</span></label>
					<div>
						<input id="courier_url" name="courier_url" class="element text medium" type="text" value="<?php echo $this->form['courier_url'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter url.</small></p>
				</li>			
				<li>
				  <label class="description" for="status">Status</label>
				  <span>
					<input id="courier_status" name="courier_status" class="element radio" type="radio" value="1" checked <?php if($this->form['courier_status']=='1'){?>checked<? } ?>/>
					<label class="choice" for="status">Active</label>
					<input name="courier_status" class="element radio" type="radio" value="0" <?php if($this->form['courier_status']=='0'){?>checked<? } ?> />
					<label class="choice" for="status">InActive</label>
				  </span>
				</li>
				<li class="buttons">
				  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_courier();">Submit</button>
				</li>
			 </ul>		
			</form>
		</div>
	</div>
</div>