<div id="activitytabs">	 
  <ul>
	<li><a href="#art">List Couriers</a></li>
  </ul>
  <div id="art">
	<h2>List Couriers</h2>
	<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="courierlist">
		<col id="colname" />
		<col id="colmail"/>
		<col id="colstatus" />
		<col id="colactions" />
		<thead>	
		<tr>
			<th>Courier Name</th> 
			<th>URL</th>		
			<th>Status</th>        
			<th>Action</th>
		</tr>
		</thead>
		<tbody>			
		<tr>			
		</tr>
		</tbody>
	</table>
</div>
</div>
