<div id="activitytabs">	  
  <ul>
	<li><a href="#users">Users List</a></li>
  </ul>	
  <div id="users">
	<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="userlist">
		<col id="colname" />
		<col id="colmail"/>
		<col id="colstatus" />
		<col id="colactions" />
	   <thead>
		<tr>
			<th>Name</th> 
			<th>Email</th>		
			<th>Type</th>		
			<th>Status</th>
			<th>Action</th>
		</tr>   
		</thead>	
		<tbody>
		  <tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
  </div>
</div>