<?
//echo $this->form['action'];
//echo "<pre>";
//print_r($this->form);
//print_r($this->$this->memdata);
//echo "</pre>";
?>
<div id="form_container">
	<div class="form_description">
		<h2>Add/Edit Group</h2>
		<p class="error">
			<ul>
			</ul>
		</p>
	</div>  
	<div id="article_tabs">
		<ul>
			<li><a href="#tcontact">Contact Details</a></li>
			<li><a href="#tdemo" onclick="fnContactDetailsNext('<?=$this->form['userid']?>')">Subscribers</a></li>
		</ul>
			<div id="tcontact">
				<form action="<?=$this->baseurl?>/groups/edit" class="appnitro" enctype="multipart/form-data" method="post" name="addgroup" id="addgroup">
				<input type='hidden' name='orderid' id='orderid' value='<?=$this->form['orderid']?>' />
				<input type='hidden' name='duration' id='duration' value='<?=$this->memdata['duration']?>' />
				<input type='hidden' name='group_id' id='group_id' value='<?=$this->form['group_id']?>' />
				<input type='hidden' name='userid' id='userid' value='<?=$this->form['userid']?>' />
				<input type='hidden' name='no_of_subscription' id='no_of_subscription' value='<?=$this->memdata['quantity']?>' />
				<input type='hidden' name='action' id='action' value='editprocess' />
				<ul>
					<li>
						<label class="description" for="regno">Organisation (Group)</label>
						<div>
							<input id="org_name" name="org_name" class="element text medium" type="text" maxlength="255" value="<?=$this->form['org_name']?>" />
						</div>
						<p class="guidelines"><small>Please orgnisation name.</small></p>
					</li>
					<li>
						<label class="description" for="regno">Subscription Start Date</label>
						<div>
							<input id="g_start_date" name="g_start_date" class="element text small" type="text" maxlength="255" value="<?php echo stripslashes($this->form['g_start_date']) ?>"/>
						</div>
						<p class="guidelines"><small>Please enter start date.</small></p>
					</li>
					<li>
						<label class="description" for="regno">Primary User Id</label>
						<div>
							<input id="contact_id" name="contact_id" class="element text medium" type="text" maxlength="255" onchange="get_member_details('id');" value="<?=$this->form['userid']?>" onkeypress="return blockNumbers(event);"/>
							<!--input id="contact_email" name="contact_email" class="element text medium" type="hidden" maxlength="255" value="<?=$this->form['contact_email']?>" /-->
						</div>
						<p class="guidelines"><small>Please enter User Id.</small></p>
					</li>
					<li>
						<label class="description" for="regno">Primary Contact Email</label>
						<div>
							<input id="contact_email" name="contact_email" class="element text medium" type="text" maxlength="255" onchange="get_member_details('email');" value="<?=$this->form['contact_email']?>" />
						</div>
						<p class="guidelines"><small>Please enter email.</small></p>
					</li>
					<li>
						<label class="description" for="regno">Primary Contact Name</label>
						<div>
							<input id="contact_name" name="contact_name" class="element text medium" readonly type="text" maxlength="255" value="<?=$this->memdata['FirstName']." ".$this->memdata['LastName']?>" />
						</div>
					</li>
					<li>
						<label class="description" for="regno">Primary Contact Telephone</label>
						<div>
							<input id="contact_telephone" name="contact_telephone" class="element text medium" readonly type="text" maxlength="255" value="<?=$this->form['contact_telephone']?>" />
						</div>
					</li>
					<li class="buttons">
						<a class="button" onclick="fnContactDetailsNext('<?=$this->form['userid']?>')" >Next</a>
					</li>
				</ul>
			</div>
			<div id="tdemo">
			<?
			
			$arrGroupSubscribers	= $this->groups->getgroupsusersdetails($this->form['group_id']);
			//echo "<pre>";
			//print_r($arrGroupSubscribers);
			?>
						<div>
							<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" style="display:<?=($this->form['orderid']!='')?'block':'none'?>">
							   <thead>
									<tr>
										<th>Id</th>
										<th>Email</th>
										<th>Firstname</th>
										<th>Surname</th>
										<th>Override date</th>
										<th>Date Start</th>
										<th></th>
									</tr>
									<?
									for($i=0;$i<$this->memdata['quantity'];$i++){
									if($i==0){	
									?>
									<tr>
										<td>
										<input type='text' name='txtUserId_<?=$i?>' id='txtUserId_<?=$i?>'  class='element text small' value="<?=($this->form['group_id']!='')?$arrGroupSubscribers[$i]['id']:$this->memdata['id']?>" readonly>
										<input type='text' name='txtEmail_<?=$i?>' id='txtEmail_<?=$i?>'  class='element text small' value="<?=($this->form['group_id']!='')?$arrGroupSubscribers[$i]['email']:$this->form['contact_email']?>" readonly>
										<input type="hidden" name="hidUserId_<?=$i?>" id="hidUserId_<?=$i?>" value="<?=($this->form['group_id']!='')?$arrGroupSubscribers[$i]['id']:$this->memdata['id']?>">
										<input type="hidden" name="hidSubscibtionId_<?=$i?>" id="hidSubscibtionId_<?=$i?>" value="<?=($this->form['group_id']!='')?$arrGroupSubscribers[$i]['subscriber_id']:$this->memdata['subscriber_id']?>">
										</td>
										<td><input type='text' name='txtFirstname_<?=$i?>' id='txtFirstname_<?=$i?>' class='element text small' value="<?=($this->form['group_id']!='')?$arrGroupSubscribers[$i]['FirstName']:$this->memdata['FirstName']?>" readonly></td>
										<td><input type='text' name='txtSurname_<?=$i?>' id='txtSurname_<?=$i?>' class='element text small' value="<?=($this->form['group_id']!='')?$arrGroupSubscribers[$i]['LastName']:$this->memdata['LastName']?>" readonly></td>
										<td align="center"><input type='checkbox' name='txtOverridedate_<?=$i?>' value="1"></td>
										<td><input type='text' name='start_date_<?=$i?>' id='start_date_<?=$i?>' class='element text small' value="<?=($this->form['group_id']!='')?$arrGroupSubscribers[$i]['start_date']:$this->memdata['start_date']?>"></td>
										<td>
											<input type='button' name='send_email_<?=$i?>' value='Authorised Contact' class='button' onclick="fnSendEmailAuthorised('<?=$i?>','Customer')" /></td>
									</tr>
									<?}else{?>
									<tr>
										<td>
										<input type='text' name='txtUserId_<?=$i?>' id='txtUserId_<?=$i?>'  class='element text small' value="<?=$arrGroupSubscribers[$i]['id']?>" onchange="get_group_subscriber_details('id','<?=$i?>');">
										<input type='text' name='txtEmail_<?=$i?>' id='txtEmail_<?=$i?>' class='element text small' value="<?=$arrGroupSubscribers[$i]['email']?>" onchange="get_group_subscriber_details('email','<?=$i?>');">
										<input type="hidden" name="hidUserId_<?=$i?>" id="hidUserId_<?=$i?>" value="<?=$arrGroupSubscribers[$i]['id']?>">
										<input type="hidden" name="hidSubscibtionId_<?=$i?>" id="hidSubscibtionId_<?=$i?>" value="<?=$arrGroupSubscribers[$i]['subscriber_id']?>">
										</td>
										<td><input type='text' name='txtFirstname_<?=$i?>' id='txtFirstname_<?=$i?>' class='element text small' value="<?=$arrGroupSubscribers[$i]['FirstName']?>" readonly></td>
										<td><input type='text' name='txtSurname_<?=$i?>' id='txtSurname_<?=$i?>' class='element text small' value="<?=$arrGroupSubscribers[$i]['LastName']?>" readonly></td>
										<td align="center"><input type='checkbox' name='txtOverridedate_<?=$i?>' value="1" onchange="override_date('<?=$i?>')" ></td>
										<td>
											<input type='text' name='start_date_<?=$i?>' id='start_date_<?=$i?>' class='element text small' value="<?=($arrGroupSubscribers[$i]['start_date']!='')?$arrGroupSubscribers[$i]['start_date']:$this->memdata['start_date']?>" disabled>
										</td>
										<td><input type='button' name='send_email_<?=$i?>' value='Email' class='button' onclick="fnSendEmailTrigger('<?=$i?>', '<?=$this->form['group_id']?>','<?=$this->form['orderid']?>','Customer')" /></td>
									</tr>
									<?}?>
										
									<?}
									?>
									<tr><td colspan="6" align="center"><a class="button" onclick="fnValidateContact(document.addgroup.action.value, '<?=$this->memdata['quantity']?>')" >Save</a></td></tr>
							</table>
						</div>
					</form>
			</div>
		</div>
</div>
<script type="text/javascript">
<!--
	window.onload=function(){
		var qty	= "<?=$this->memdata['quantity']?>";
		$('#g_start_date').datepicker({dateFormat: 'dd-mm-yy',changeMonth:true,changeYear:true});

		for(var i=0;i<3;i++){
			$('#start_date_'+i).datepicker({dateFormat: 'dd-mm-yy',changeMonth:true,changeYear:true}); 
		}

	}
/*
	$('#article_tabs').bind('tabsshow', function(event, ui) {
		if (ui.panel.id == "tdemo") {
			
			var order_id	= document.getElementById('orderid').value

			if(order_id != ''){

			}else{
				alert('<li>Please enter contact details.</li>');
				$($("#article_tabs")[0]).tabs({selected: 0});
			}
		}
	});
*/
//-->
</script>

<?if($_POST['orderid']!=''){?>
<script type="text/javascript">
<!--
	//$( ".article_tabs" ).tabs({ selected: 1 });
	//$('.article_tabs').tabs('options', 'selected', 1);

	$($("#article_tabs")[0]).tabs({selected: 1});

//-->
</script>
<?}?>