
<div id="article_tabs">
    <ul>
      <li><a href="#pglobal">Groups List</a></li>
    </ul>    
	<div id='pglobal'>
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='groups'>
		   <thead>
				<tr>
					<th>Group</th>
					<th>Main Email Contact</th>
					<th>Main Contact</th>
					<th>No. Of Subscription</th>
					<th>Subscribers</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

