
<div id="article_tabs">
    <ul>
      <li><a href="#pglobal">Groups List</a></li>
    </ul>    
	<div id='pglobal'>
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='groups'>
		   <thead>
				<tr>
					<th style="width:150px;">Group</th>
					<th  style="width:150px;">Main Email Contact</th>
					<th  >Main Contact</th>
					<th style="width:100px;">No. Of Subscription</th>
					<!--th>Subscribers</th-->
					<th style="width:100px;">Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

