<div id="article_tabs">
    <ul>
      <li><a href="#pglobal">Asset Category List</a></li>	       
    </ul>    
	<div id='pglobal'>
	<table class="display" cellpadding="0" cellspacing="0" border="0" width="100%" id="assetcatlist">
	  <col id="colname" />
	  <col id="colname" />

	  <col id="colnotes"/>
	  <col id="colstatus" />
	  <col id="colactions" />
	  <thead>
		<tr>
		  <th>Name</th>
		  <th>Type</th>
		  <th>Description</th>

		  <th>Status</th>
		  <th>Action</th>
		</tr>    
	  </thead>  
	  <tbody>    
	  </tbody>
	</table>
	</div>
</div>
