 
/* Main Body */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
/*	background: #E6D3CF;    */
	margin: 0;
	}

.mainbody {
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 8px;	
	padding-bottom: 6px;
	font-size: 12px;
	background-color: white;
}

.MainHeading {
	font-size: 20px;
	font-weight: bold;
}

.SubHeading {
	font-size: 16px;
	font-weight: bold;
}

.contra {
	background-color: cacaca;
	padding: 4px;
}

.pall_box { border: 1px solid; width:100%; }
.pall_box th { background-color: cacaca; text-align: left; font-size: 12px; font-weight: normal; }
.pall_box td { font-size: 12px; padding: 4px; }

#tbl {
	font-size: 12px;
}

/*-------- start top menu ----------*/
#TopMenu ul{
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	font-size: 16px;
}
* html #TopMenu ul{ /*IE only rule, reduce menu width*/
	width: 99%;
}
#TopMenu ul li{
	display: inline;
	display: block;
}
#TopMenu ul li a{
	float: left;
	color: #FFEBE6;
	padding: 2px 12px;
	text-decoration: none;
}
#TopMenu ul li a:visited{
	color: #FFEBE6;
}
#TopMenu ul li a:hover{
	color: #806159;
	background-color: #FFEBE6;
}
/*-------- end top menu ----------*/

/*-------- start side menu ----------*/
#SideMenu ul{
	margin: 0;
	padding: 0;
/*	float: left; */
	width: 100%;
	font-size: 16px;
}
* html #SideMenu ul{ /*IE only rule, reduce menu width*/
	width: 99%;
}
#SideMenu ul li{
	display: inline; 
}
#SideMenu ul li a{
/*	float: left; */
	color: #806159;
	padding: 2px 12px;
	text-decoration: none;
}
#SideMenu ul li a:visited{
	color: #806159;
}
#SideMenu ul li a:hover{
	color: #FFEBE6;
/*	background-color: #FF6633; */
}
/*-------- end side menu ----------*/

/*-------- start footer ----------*/	
.footer {
  /*color: #EEEEEE;*/  
  font-size: 11px;
  color: #EEEEEE;
}
.footer a:link, .footer a:visited {
  text-decoration: none;;
  color: #EEEEEE;
}
.footer a:hover, .footer a:active {
    color: #FFFFFF;
}
/*-------- end footer ----------*/

	
.searchbox {
	font-size: 10px;
}

	
	
#container {
	width: 760px;
	background: #fff;
	margin: 0 auto;
	}
	
/* Header */
#header {
	width: 740px;
	height: 60px;
	background: url(images/header.jpg) no-repeat;
	padding: 10px;
	}
	
#header h1 {
	color: #fff;
	font-size: 34px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -3px;
	margin: 0;
	width: 400px;
	}
	
form {
	float: right;
	font-size: 9px;
	margin-right: 25px;
	margin-top: 10px;
	}
	
input.in {
	background: #FFFFFF url(images/input.png) top left no-repeat;
	color: #999999;
	border: 0;
	font-size: 11px;
	padding: 3px;
	}
	
.button {
	background: #B5B5B5;
	border: 1px solid #ccc;
	width: 30px;
	height: 23px;
	}
	

/* Content */
#content {
	width: 580px;
	border-right: 1px solid #000;
	padding: 5px;
	padding-top: 10px;
	margin-top: 30px;
	}

#content_wide {
	width: 780px;
/*	border-right: 1px solid #000;	*/
	padding: 5px;
	padding-top: 10px;
	margin-top: 30px;
	}


a.story_title {
	margin: 0;
	font-size: 20px;
	color: #B6213E;
	text-decoration: none;
	font-weight: bold;
	}
	
a.story_title:hover {
	color: #7F2429;
	}

#content p {
	line-height: 150%;
	margin-bottom: 0px;
	}
	
#content a.body {
	color: #B6213E;
	text-decoration: none;
	font-weight: 500;
	}
	
#content a.body:hover {
	color: #7F2429;
	}
	
#content a.comment {
	color: #B6213E;
	text-decoration: none;
	font-size: 10px;
	}
	
#content a.comment:hover {
	color: #7F2429;
	}
	
/* Sidebar */
#sidebar {
	width: 150px;
	float: right;
	clear: none;
	padding: 5px;
	}

#sidebar h3 {
	margin: 0;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
	}
	
#sidebar ul {
	list-style-image: url('images/arrow.gif');
	}
	
#sidebar a {
	color: #B6213E;
	text-decoration: none;
	}
	
#sidebar a:hover {
	color: #7F2429;
	}
#sidebar form{
margin-left:10px;
}
