 
/* Main Body 
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;  
	background: #E6D3CF; 
	margin: 0;
	}
*/
li {
	font-size: 12px;
}

.mainbody {
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 8px;	
	padding-bottom: 6px;
	font-size: 14px;
	background-color: white;
}

.MainHeading {
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
}

.SubHeading {
	font-size: 18px;
	font-weight: bold;
}

.contra {
	background-color: #cacaca;
	padding: 4px;
}

.pall_box { border: 1px solid; width:98%; }
.pall_box th { background-color: #cacaca; text-align: left; font-size: 14px; font-weight: normal; height: 24px; }
.pall_box td { font-size: 14px; padding: 4px; }

#tbl {
	font-size: 14px;
}

/*-------- start top menu ----------*/
#TopMenu ul{
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	font-size: 16px;
}
* html #TopMenu ul{ /*IE only rule, reduce menu width*/
	width: 99%;
}
#TopMenu ul li{
	display: inline;
	display: block;
}
#TopMenu ul li a{
	float: left;
	color: #FFEBE6;
	padding: 2px 12px;
	text-decoration: none;
}
#TopMenu ul li a:visited{
	color: #FFEBE6;
}
#TopMenu ul li a:hover{
	color: #806159;
	background-color: #FFEBE6;
}
/*-------- end top menu ----------*/

/*-------- start side menu ----------*/
#SideMenu ul{
	margin: 0;
	padding: 0;
/*	float: left; */
	width: 100%;
	font-size: 16px;
}
* html #SideMenu ul{ /*IE only rule, reduce menu width*/
	width: 99%;
}
#SideMenu ul li{
	display: inline; 
}
#SideMenu ul li a{
/*	float: left; */
	color: #806159;
	padding: 2px 12px;
	text-decoration: none;
}
#SideMenu ul li a:visited{
	color: #806159;
}
#SideMenu ul li a:hover{
	color: #FFEBE6;
/*	background-color: #FF6633; */
}
/*-------- end side menu ----------*/

/*-------- start footer ----------*/	
.footer {  
  font-size: 11px;
  color: #EEEEEE;
}
.footer a:link, .footer a:visited {
  text-decoration: none;;
  color: #EEEEEE;
}
.footer a:hover, .footer a:active {
    color: #FFFFFF;
}
/*-------- end footer ----------*/

	
.searchbox {
	font-size: 10px;
}

	
	
#container {
	width: 760px;
	background: #fff;
	margin: 0 auto;
	}
	
/* Header */
#header {
	width: 740px;
	height: 60px;
	background: url(images/header.jpg) no-repeat;
	padding: 10px;
	}
	
#header h1 {
	color: #fff;
	font-size: 34px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -3px;
	margin: 0;
	width: 400px;
	}
	
form {
	float: right;
	font-size: 9px;
	margin-right: 25px;
	margin-top: 10px;
	}
	
input.in {
	background: #FFFFFF url(images/input.png) top left no-repeat;
	color: #999999;
	border: 0;
	font-size: 11px;
	padding: 3px;
	}
	
.button {
	background: #B5B5B5;
	border: 1px solid #ccc;
	width: 30px;
	height: 23px;
	}
	

/* Content */
#content {
	width: 580px;
	border-right: 1px solid #000;
	padding: 5px;
	padding-top: 10px;
	margin-top: 30px;
	}

#content_wide {
	width: 780px;
/*	border-right: 1px solid #000;	*/
	padding: 5px;
	padding-top: 10px;
	margin-top: 30px;
	}

/*
a.story_title {
	margin: 0;
	font-size: 20px;
	color: #B6213E;
	text-decoration: none;
	font-weight: bold;
	}
	
a.story_title:hover {
	color: #7F2429;
	}
*/
#content p {
	line-height: 150%;
	margin-bottom: 0px;
	}
	
#content a.body {
	color: #B6213E;
	text-decoration: none;
	font-weight: 500;
	}
	
#content a.body:hover {
	color: #7F2429;
	}
	
#content a.comment {
	color: #B6213E;
	text-decoration: none;
	font-size: 10px;
	}
	
#content a.comment:hover {
	color: #7F2429;
	}
	
/* Sidebar */
#sidebar {
	width: 150px;
	float: right;
	clear: none;
	padding: 5px;
	}

#sidebar h3 {
	margin: 0;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
	}
	
#sidebar ul {
	list-style-image: url('images/arrow.gif');
	}
	
#sidebar a {
	color: #B6213E;
	text-decoration: none;
	}
	
#sidebar a:hover {
	color: #7F2429;
	}
#sidebar form{
margin-left:10px;
}

/*----------end of mystuff ---------------*/

body {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; color: #000000; 
text-decoration: none;margin-left:20px;margin-right:20px}

blockquote {
		font-weight : normal;
		background : rgb(204,204,204);         
		width : 100%;
		padding-top: 8px;
		padding-bottom: 4px;
		padding-left: 6px;
		padding-right: 6px;
		margin-left: 0px;
	}

small {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-variant: small-caps; line-height: 16px; color: #000000; 
text-decoration: none;}

p {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; color: #000000; 
text-decoration: none;margin-top:0px; margin-bottom:6px;text-indent:0px; }

/*chapter toc  start*/
.toc1{
font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold; color: #000000; 
text-decoration: none;display: inline;
}

.toc2{
font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: normal; color: #000000; 
text-decoration: none;display: inline;padding-left:20px;
}
/*chapter toc end*/

div.ref {
 font-size: x-small;
}

pg {
 display: inline;
}
p.tocpg:hr {
    display: inline;}

/*new modification end*/

emph.bgrey {font-weight: normal;
		  background: rgb(200,150,555);
          margin: 0 0 0px 0em;
		  width: 100%;
		  padding: 5px 5px 5px 5px;
		}
p.nomar {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; line-height: 16px; color: #000000; 
text-decoration: none; margin-top: 5px;text-indent:0px;}

/* REFERENCE STYLE */

DIV.ref{
margin-top:30px;
}
.ref ol
{
list-style-type: decimal;
margin-top:5px;
}
.ref li
{
margin-bottom:8px;
}

/* REF END */


/* style for PRELIMIS and TOC */



p.ptitle{font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size:38px; line-height:45px; font-weight:bold; margin-bottom:40px;
}

p.pfoot{font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size:18px; line-height:22px; font-weight:normal; margin-top:240px; margin-bottom:20px;
}

p.imp{font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size:10px; line-height:12px; font-weight:normal; margin-bottom:12px; 
}

p.ES{font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; font-weight:normal; margin-bottom:0px;margin-top:20px; 
}
p.EAU{font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height:13px; font-weight:normal; margin-top:4px; margin-bottom:0px; 
}

p.EAFF{font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height:13px; font-weight:normal; margin-left:30px; margin-bottom:0px; 
}
p.toc{font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height:13px; font-weight:normal; margin-left:30px; margin-right:20px; margin-bottom:3px; margin-top:12px;
}
p.tocc{font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height:13px; font-weight:normal; margin-left:50px; margin-right:20px; margin-bottom:3px;
}


#wrap    {
position: relative;
min-height: 100%;
}

* html #wrap {
height: 100%;
}

#left {
position:absolute;
left:20px;
top:0px;
padding:10px;
width:370px;
height:100%;
min-height: 100%;
color:#333;
background:#eaeaea;
}
#right {
position:absolute;
left:420px;
right:0;
top:0px;
padding:10px;
width:370px;
height:100%;
min-height: 100%;
color:#333;
background:#eaeaea;
}

/* TOC END */

/* HEADER AND FOOTER */
div.container
{
width:100%;
margin:0px;
border:1px solid gray;
line-height:150%;
}
div.header,div.footer
{
padding:0.5em;
color:white;
background-color:gray;
clear:left;
}
h1.header
{
padding:0;
margin:0;
}
div.left
{
float:left;
width:160px;
margin:0;
padding:1em;
}
div.content
{
margin-left:190px;
border-left:1px solid gray;
padding:1em;
}

/* HEADER AND FOOTER END */

/* This is the new style for box element */
     code {
		  background-color: #eeeeee;
          padding: 1px;
     }
	 ul.nomar{margin-top: 0em;}
	 ol.nomar{margin-top: 0em;}
ul.secord
{
list-style-image: url('C:\PCF-USA\html\symbols\triangleright.png');
margin-left:18px;
}

	 ul.code {
          padding: 0px;
          margin: 25px;
     }
     p.code {
          padding: 5px;
          margin: 3px;
     }

	
	 .code {
          background-color: #FFFFFF;
          border: 2px solid black;
          padding: 5px;
     }
     .code code {
          background: transparent;
          display: block;
          padding: 3px;
          margin-bottom: 0;
     }
     .code p {
   /*       background: #E6F2E6; */
          margin: 0 0 0px 0em;
          padding: 3px;
     }
	
	p.boxlbl {
          background: rgb(204,204,204);
          margin-bottom: 15px;
          padding: 6px;
     }
/*
	 .code p:hover {
          background: #fff;
     }
*/
	  .code li {
/*          background: #E6F2E6;	*/
          margin: 0 0 1px 2.2em;
          padding: 2px;
     }
     .code li:hover {
          background: #fff;
     }
	 .code blockquote p {font-weight: normal;
	           margin:6px 0px;
		  width: 100%;
		  background: rgb(200,150,555);
		  padding: 0px 0px 0px 0px;}


 /* style end for box element */
 
 /* new style runon text with leading dots.......*/
p.first
 { 
display: inline; font-size: 14px;
 }

table.sample {
	border-width: 1px;
	border-spacing: 10px;
	border:10px;
	margin-left:5%;
	border-style: ridge;
	border-color: blue;
	border-collapse: separate;
	background-color: #FFF8DC;
}

div.cat {
	width: 100%; 
	height: .8em; /* needed by NN6*/
	line-height: 1em;
	border-bottom: 3px dotted gray;
	margin-top: .9em;
	font-size: 1em;
	font-weight: bold;
}


div.cata {
	width: 100%; 
	height: .8em; /* needed by NN6*/
	line-height: 1em;
	margin-top: .9em;
	font-size: 1em;
	font-weight: normal;
}


.itemname	{
	float: left;
	position: relative; /*needed by IE6*/
	top: 5px;
	background-color: white;
	margin-bottom: -.3em;
	border-bottom: solid white .2em;
	padding-right: 10px;
	text-align: left;
	font-variant: small-caps;
}


.num	{
	float: right;
	position: relative; /* needed by IE6*/
	top: 5px;
	background-color: white;
	margin-bottom: -.4em;
	border-bottom: solid white .2em;
	width: 44px;
	text-align: right;
	font-family: "Courier New", monospace;
}

/*  new style definition end */


/* definition list coding.....*/
div.defn {
	width: 100%; 
	height: .8em; /* needed by NN6*/
	margin-top: .9em;
}

.term	{
	float: left;
	position: relative; /*needed by IE6*/
	top: 5px;
	line-height:18px;
	text-align: left;
}


.def	{
	float: left;
	position: relative; /* needed by IE6*/
	line-height:18px;
	top: 5px;
	margin-left:60px;
	text-align: left;
}


/* definition list coding end.....*/

td {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; line-height: 16px; color: #000000; 
text-decoration: none;
}

td.ttl {
font-size: 19px; line-height: 26px; font-weight:600
}

h1 {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 16px;
color: black; text-decoration: none;margin-bottom:0px;}

h2 {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: italic; font-weight: bold; line-height: 16px; 
color: #000000; text-decoration: none; margin-bottom:6px;}
h2.nomar {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: italic; font-weight: bold; line-height: 16px; 
color: #000000; text-decoration: none; margin-top:5px; margin-bottom:0px;}

h3 {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 16px;display: inline;}


h3.nomar {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; line-height: 16px; 
color: #000000; text-decoration: none; margin-top:5px; margin-bottom:0px; }


/* new style...for box headings....*/

.code h1 {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 16px;
color: black; text-decoration: none; margin-top:6px;margin-bottom:0px; background: #F2F8F2; padding: 2px;background-color: #E6F2E6;}

 .code h2 { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: italic; font-weight: bold; line-height: 16px; 
color: #000000; text-decoration: none; margin-top:10px; margin-bottom:0px; background: #F2F8F2; padding: 2px; background-color: #E6F2E6;}

/* end......*/



hr.home {
    height: 1px;  border: 0; background:#008776; margin: 0px 0px 0px 0px; }

hr.grey {
height: 1px; border: 0; background:#cccccc; margin: 0px 0px 0px 0px; }

a.pagelink, {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; line-height: 16px; color: black; 
text-decoration: underline;}

a.pagelink:hover {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; line-height: 16px; color: #000000; 
text-decoration: underline;}

a.pagelink:visited {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; line-height: 16px; color: #660099; 
text-decoration: underline;}

.white {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold; line-height: 16px; color: #ffffff; 
text-decoration: none;}

a.browse {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
color: #000000;  margin: 1px; text-decoration: underline;}

a.browse:visited {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;

color: #660099; margin: 1px; text-decoration: underline;}
a.browse:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;

color: #ffffff; margin: 1px; text-decoration: underline;}

.small_red, a.small_red, a.small_red:visited {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 14px; 
color: #CC0000; text-decoration:underline;}

.small_white {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 14px; 
color: #ffffff; text-decoration: none;}

.small_black {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;
color: #000000; text-decoration: none;}

.small_green {font-family: Verdana, Arial, Helvetics, sans-serif; font-size: 10px; line-height: 14px; color: black; text-decoration: none;}


a.small_green {font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px;  line-height: 14px; color: black; text-decoration: underline;}

a.green10 {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: black; 
text-decoration: none;}

a.green10:visited {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: black; 
text-decoration: none;}

.black10 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;
color: #000000; text-decoration: none;}

.free {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #cc0000; 
text-decoration: none;}

.redhead {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #cc0000; 
text-decoration: none;}

.red {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #cc0000; 
text-decoration: none;}


.pagedochead	{font-family: 
Verdana, Arial, Helvetica, sans-serif;  line-height: 27px; font-size: 22px; font-weight: bold; 
color: black; text-decoration: none;}

.pagetitle	{font-family: 
Verdana, Arial, Helvetica, sans-serif;  line-height: 24px; font-size: 19px; font-weight: bold; 
color: black; text-decoration: none;}

.articlesutitle {font-family: 
Verdana, Arial, Helvetica, sans-serif;  line-height: 24px; font-size: 19px; font-weight: bold; 
color: black; text-decoration: none;}

.articletype {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold; line-height: 16px; color: black; 
text-decoration: none;}


.artitle {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold; line-height: 16px; color: #000000; 
text-decoration: none;}

.blackhead {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold;  color: #000000; text-decoration: none;}

.vsmall {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size:10px;  color: #000000; text-decoration: none;}

a.sm_greenlink, a.sm_greenlink:hover {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 13px; 
color: black; text-decoration: underline;}

a.sm_greenlink:visited {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 13px; 
color: #660099; text-decoration: underline;}

a.artitle {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold; line-height: 16px; color: #000000; 
text-decoration: none;}

a.artitle:hover {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold; line-height: 16px; color: black; 
text-decoration: none;}

a.articlelink, a.articlelink:visited {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold; line-height: 13px; color: #000000; 
text-decoration: none;}

a.articlelink:hover {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold; line-height: 13px; color: black; 
text-decoration: underline;}

a.blacklink, a.blacklink:visited {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; 
text-decoration: none;}

a.blacklink:hover {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; 
text-decoration: underline;}

.search { font: bold 11px Verdana, Arial, Helvetica, sans-serif; color:#008776}
.advanced { font: 9px Verdana, Arial, Helvetica, sans-serif; text-decoration:underline; color:#008776}

input  {
background-color:#ffffff;
color:#FFFFFF;
border-width:1px;
border-color: white;
font-family: Verdana, Arial, Helvetica; font-size: 11px; color: #000000;
}
.nobdr {
border-width:0px;
} 

a.nav {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 10px; 
font-weight: bold; line-height: 18px; color: black; 
text-decoration: none;}
a.nav:hover { font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 10px; 
font-weight: bold; line-height: 18px; color: black; 
text-decoration: underline;}

a.leftnav, a.leftnav:visited, .leftnav { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; font-weight: bold; color: #666666; 
text-decoration: none;}

a.leftnav:hover  {  font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 11px; 
font-weight: bold; color: black; 
text-decoration: underline;}

a.leftsub, a.leftsub:visited, .leftsub { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; color: #666666; 
text-decoration: none;}

a.leftsub:hover { font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 11px; 
color: black; text-decoration: underline;}

.navhead { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; font-weight: bold; color: #666666; 
text-decoration: none;}

.whitehead { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; line-height: 18px; font-weight: bold; color: #ffffff; 
text-decoration: none;}

.rightwhite, a.rightwhite, a.rightwhite:visited { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; color: #ffffff; 
text-decoration: none;}

a.rightwhite:hover { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; color: #b6edcc; 
text-decoration: underline;}

a.rightlinks, a.rightlinks:visited { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; color: #000000; 
text-decoration: none;}

a.rightlinks:hover { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; color: black; 
text-decoration: underline;}

a.npglinks, a.npglinks:visited { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; color: #000000; 
text-decoration: none;}

a.npglinks:hover { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; color: #cc0033; 
text-decoration: underline;}

.footer{ 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; color: black; 
text-decoration: none;}

/* MK
a.footer, a.footer:hover, a.footer:visited, { 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; color: black; 
text-decoration: none;}
*/

TR.tablehead {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight:bold;
color: #000000;}

TR.tablecell {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #000000;}

TD.tableline { background-color:#000000; }

p.ind {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; line-height: 12px;}

p.ind1 {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; line-height: 12px; margin-left: 20px}

p.ind2 {font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; line-height: 12px; margin-left: 40px}

li
{
line-height: 13pt
}


