P  {
	font-size : 12px;
	font-family : arial, verdana, helvetica, geneva,  sans-serif;
	font-weight : normal;
	font-style : normal;
	color=#000000;
}

.topmenu {	
	font-size : xx-small;
	font-weight : bold;
}

P.error {
	font-weight : bold;
	font-size: 15px;
	color : #ff6666;
}

A  {
	font-size : 12px;
	font-family : arial, verdana, helvetica, geneva,  sans-serif;
	font-weight : normal;
	font-style : normal;
	color : #000000;
	text-decoration : underline;
}

A:Visited  {
	font-size : 12px;
	font-family : arial, verdana, helvetica, geneva,  sans-serif;
	font-weight : normal;
	color : #000000;
	font-style : normal;
}

A:Active  {
	font-size : 12px;
	font-family : arial, verdana, helvetica, geneva,  sans-serif;
	font-weight : normal;
	font-style : normal;
	color : #000000;
}

A:Hover  {
	text-decoration : underline;
	font-size : 12px;
	font-family : arial, verdana, helvetica, geneva, sans-serif;
	font-weight : normal;
	font-style : normal;
	color : Yellow;
}

BODY  {
	font-size : 12px;
	font-family : arial, verdana, helvetica, geneva, sans-serif;
	font-weight : normal;
	color=#000000;
	font-style : normal;
	background-color : #99CCFF;
}

table  {
	font-size : 12px;
	font-family : arial, verdana, helvetica, geneva, sans-serif;
	font-weight : normal;
	color=#000000;
}

td  {
	font-size : 11px;
	font-family : arial, verdana, helvetica, geneva,  sans-serif;
	font-weight : normal;
	color=#000000;
}

th  {
	font-size : 11px;
	font-family : arial, verdana, helvetica, geneva, sans-serif;
	font-weight : bold;
	font-style : normal;
	color=#000000;
	background : #6699ff;
	color : #dddddd;
}

H1 {
	font-size : 15px;
	font-family : arial, verdana, helvetica, geneva, sans-serif;
	font-weight : bold;
	font-style : normal;
	color=#000000;
}

