<div class="loginarea" style="text-align:center">
	 <?php if(!empty($this->past_url) && $this->past_url !=$_SERVER['REQUEST_URI']){ 
				$past_url	=	$this->past_url;
			}else{
				$past_url	=	'home';
			}
			if(!empty($_POST)){
				unset($_SESSION['wlsession']['past_url']);
				header("location:$past_url");
				exit;
			}
	 ?>
     <form id="login_form" name="login_form" class="appnitro"  method="post" action="">	  
	  <div class="form_description">
		<h2>CMS Administration.</h2>
		<p>Access to this area is strictly private, Insert your details below. If you require access contact the CMS Administrator.</p>
	  </div>
	  <ul >
		<li id="fname">
		  <label class="description" for="fname">Full Name </label> 
		  <span>
		  <input id="first_name" name= "first_name" class="element text" maxlength="255" size="8" value=""/>
		  <label>First</label>
		  </span> <span>
		  <input id="last_name" name= "last_name" class="element text" maxlength="255" size="14" value=""/>
		  <label>Last</label>
		  </span> <span id='name_error' style="display:none">Unable to vertify these details</span></li>
		<li id="uname">
		  <label class="description" for="uname">Access Username </label>
		  <div>
			<input id="username" name="username" class="element text medium" type="text" maxlength="255" value=""/>
		  </div><span id='uname_error' style="display:none">Invalid Username</span>
		</li>
		<li id="pwd">
		  <label class="description" for="pwd">Access Password </label>
		  <div>
			<input id="password" name="password" class="element text medium" type="password" maxlength="255" value=""/>
		  </div><span id='pwd_error' style="display:none">Invalid Password</span>
		</li>
		<li class="buttons">      
		  <input id="submitLogin" class="button" type="button" name="submitLogin" value="Submit" />
		  <input name="Reset" type="reset" value="Reset" id="Reset" />
		</li>
	  </ul>
	</form>
</div>