<div id="article_tabs">
    <ul>
      <li><a href="#pglobal">Assets List</a></li>	       
    </ul>    
	<div id='pglobal'>
		<table class="display" cellpadding="0" cellspacing="0" border="0" width="100%" id="assetlist">
		  <col id="colname" />
		  <col id="colasset"/>
		  <col id="colasset"/>
		  <col id="colstatus" />
		  <col id="colactions" />
		  <thead>
			<tr>
			  <th>Asset Title</th>
			  <th>Asset</th>
			  <th>Asset Category</th>
			  <th>Status</th>
			  <th>Action</th>
			</tr>   
		  </thead>
		  <tbody>  
		  </tbody>
		</table>
	</div>
</div>
