<div id="article_tabs">
	<ul>
	  <li><a href="#tgeneral">Add/Edit Category</a></li>
	</ul>
	<div id="tgeneral">
		<div id="form_container">	
			<form action="<?=$this->baseurl?>/productcat/add" class="appnitro" enctype="multipart/form-data" method="post" id="addprocat" name='addprocat'>
			<div class="form_description">
				<h2>Add/Edit Category</h2>
				<p class="error">
					<ul></ul>
				</p>
			</div>			
			<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
			<ul> 	
				<li>
					<label class="description" for="title">Title<span class="required">*</span></label>
					<div>
						<input id="procat_title" name="procat_title" class="element text medium" type="text" maxlength="30" value="<?php echo $this->form['procat_title'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter title.</small></p>
				</li>
				<li>
					<label class="description" for="parent">Category Under<span class="required">*</span></label>
					<div>
						<select name='procat_parent_id'	name='procat_parent_id' class="element select small">
						   <option value='0'>Main Category</option>
						   <?=$this->list_procat?>
						</select>
					</div> 
					<p class="guidelines"><small>Please enter title.</small></p>
				</li>		
				<li>
					<label class="description" for="desc">Description</label>
					<div>
						<textarea id="procat_desc" name="procat_desc" class="element textarea medium"><?php echo $this->form['procat_desc'];?></textarea> 
					</div> 
					<p class="guidelines"><small>Please enter description.</small></p>
				</li>	
				<li>
				  <label class="description" for="ftype">Form Type<span class="required">*</span></label>
				  <span>
					<input id="form_type" name="form_type" class="element radio" type="radio" value="general" checked <?php if($this->form['form_type']=='general'){?>checked<? } ?>/>
					<label class="choice" for="ftype">General</label>
					<input id="form_type" name="form_type" class="element radio" type="radio" value="clothing" <?php if($this->form['form_type']=='clothing'){?>checked<? } ?>/>
					<label class="choice" for="ftype">Clothing</label>
					<input name="form_type" class="element radio" type="radio" value="membership" <?php if($this->form['form_type']=='membership'){?>checked<? } ?> />
					<label class="choice" for="ftype">Memberships</label>
					<input name="form_type" class="element radio" type="radio" value="event" <?php if($this->form['form_type']=='event'){?>checked<? } ?>/>
					<label class="choice" for="ftype">Events</label>
				  </span>
				</li>
				<li>
				  <label class="description" for="status">Status</label>
				  <span>
					<input id="status" name="status" class="element radio" type="radio" value="1" checked <?php if($this->form['status']=='1'){?>checked<? } ?>/>
					<label class="choice" for="status">Active</label>
					<input name="status" class="element radio" type="radio" value="0" <?php if($this->form['status']=='0'){?>checked<? } ?> />
					<label class="choice" for="status">InActive</label>
				  </span>
				</li>
				<li class="buttons">
				  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_procat();">Submit</button>
				</li>
			 </ul>		
			</form>
		</div>
	</div>
</div>