<div id="activitytabs">	 
  <ul>
	<li><a href="#art">List Categories</a></li>
  </ul>
  <div id="art">
	<h2>List Categories</h2>
	<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display">
		<thead>	
		<tr>		
			<th><a href="#" class="sort">Category Title</a></th> 
			<th><a href="#" class="sort">Level</a></th> 
			<th><a href="#" class="sort">Form Type</a></th>		
			<th><a href="#" class="sort">Status</a></th>
			<th><a href="#" class="sort">Action</a></th>
		</tr>
		</thead>
		<tbody>	
			<?=$this->pcats;?>
		</tbody>	
	</table>
 </div>
</div>
