<div id="article_tabs">
	<ul>
	  <li><a href="#tgeneral">Add/Edit Vat Rate</a></li>
	</ul>
	<div id="tgeneral">
		<div id="form_container">	
			<form action="<?=$this->baseurl?>/vatrates/add" class="appnitro" enctype="multipart/form-data" method="post" id="addvat" name='addvat'>
			<div class="form_description">
				<h2>Add/Edit Vat Rate</h2>
				<p class="error">
					<ul>				
					</ul>
				</p>
			</div>			
			<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
			<ul> 	
				<li>
					<label class="description" for="title">Code<span class="required">*</span></label>
					<div>
						<input id="vat_code" name="vat_code" class="element text medium" type="text" maxlength="30" value="<?php echo $this->form['vat_code'] ?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter code.</small></p>
				</li>	
				<li>
					<label class="description" for="title">Amount<span class="required">*</span></label>
					<div>
						<input id="vat_rate" name="vat_rate" class="element text medium" type="text" maxlength="30" value="<?php echo $this->form['vat_rate']?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter amount.</small></p>
				</li>			
				<li>
				  <label class="description" for="status">Status</label>
				  <span>
					<input id="status" name="status" class="element radio" type="radio" value="1" checked <?php if($this->form['status']=='1'){?>checked<? } ?>/>
					<label class="choice" for="status">Active</label>
					<input name="status" class="element radio" type="radio" value="0" <?php if($this->form['status']=='0'){?>checked<? } ?> />
					<label class="choice" for="status">InActive</label>
				  </span>
				</li>
				<li class="buttons">
				  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_vat();">Submit</button>
				</li>
			 </ul>		
			</form>
		</div>
	</div>
</div>