<div id="activitytabs">	 
  <ul>
	<li><a href="#art">List Vat Rates</a></li>
  </ul>
  <div id="art">
	<h2>List Vat Rates</h2>
	<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="vatlist">
		<thead>	
		<tr>
			<th>Code</th> 
			<th>Rate</th>
			<th>Live Rate</th>
			<th>Status</th>        
			<th>Action</th>
		</tr>
		</thead>
		<tbody>			
		<tr>			
		</tr>
		</tbody>
	</table>
  </div>
</div>
