<div id="article_tabs">
<ul>
  <li><a href="#tgeneral">Add/Edit Drugs</a></li>
</ul>
<div id="tgeneral">
<div id="form_container">	
	<form action="/drugs/add" class="appnitro" enctype="multipart/form-data" method="post" id="adddrugs" name='adddrugs'>
	<div class="form_description">		
		<p class="error">
			<ul>	
			</ul>
		</p>
	</div>		
	<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
	<input type='hidden' name='action' id='action' value='' />
	<ul> 		 
		<li>
			<label class="description" for="title">Formulary<span class="required">*</span></label>
			<div>
				<select name="formulary_id" id="formulary_id" class="element select medium">
				 <?php foreach ($this->parent_form as $type): ?>
					 <option value="<?php echo stripslashes($type['formulary_id']) ?>" <?php if($this->form['formulary_id'] == $type['formulary_id']){?>selected<? } ?>><?php echo stripslashes($type['formulary_title']) ?></option>
				  <?php endforeach ?>
				  </select>
			</div> 
			<p class="guidelines"><small>Please select formulary.</small></p>
		</li>
		<li>
			<label class="description" for="element_1">Drug name</label>				
			<input id="drug_name" name="drug_name" class="element text medium" type="text" maxlength="255" value="<?=stripslashes($this->form['drug_name'])?>"/> 
			<p class="guidelines" id="guide_1"><small>Please enter the drug name</small></p> 
		</li>
		<li>
			<label class="description" for="element_1">Brand</label>				
			<input id="brand" name="brand" class="element text medium" type="text" maxlength="255" value="<?=stripslashes($this->form['brand'])?>"/> 
			<p class="guidelines" id="guide_1"><small>Please enter the brand</small></p> 
		</li>
		<li>
			<label class="description" for="dgman">Manufacture</label>				
			<input id="manufacture" name="manufacture" class="element text medium" type="text" maxlength="255" value="<?=stripslashes($this->form['manufacture'])?>"/> 
			<p class="guidelines" id="guide_1"><small>Please enter manufacture</small></p> 
		</li>
		<li>
			<label class="description" for="element_4">Manufacturer URL </label>				
			<input id="manufacture_url" name="manufacture_url" class="element text large" type="text" maxlength="255" value="<?=stripslashes($this->form['manufacture_url'])?>"/> 
			<p class="guidelines" id="guide_1"><small>Please enter manufacture url</small></p> 
		</li>
		<li class="section_break"></li>
		<li>
			<label class="description" for="element_2">Strength </label>				
			<input id="strength" name="strength" class="element text small" type="text" maxlength="255" value="<?=stripslashes($this->form['strength'])?>"/> 
			<p class="guidelines" id="guide_1"><small>Please enter strength</small></p> 
		</li>
		<li>
			<label class="description" for="element_12">Formulation </label>
			<input id="formulation" name="formulation" class="element text small" type="text" maxlength="255" value="<?=stripslashes($this->form['formulation'])?>"/> 	
			<p class="guidelines" id="guide_1"><small>Please enter formulation</small></p> 			
		</li>
		<li>
			<label class="description" for="element_2">Pack Size </label>				
			<input id="packsize" name="packsize" class="element text small" type="text" maxlength="255" value="<?=stripslashes($this->form['packsize'])?>"/> 
			<p class="guidelines" id="guide_1"><small>Please enter pack size</small></p> 
		</li>
		<li>
			<label class="description" for="element_5">Cost Quoted </label>				
			<input id="cost_quoted" name="cost_quoted" class="element text small" type="text" maxlength="255" value="<?=stripslashes($this->form['cost_quoted']);?>" onkeyup="findCost(this.value,$('#nof_doses').val());" onkeypress="return blockNumbers(event)" /> 
			<p class="guidelines" id="guide_1"><small>Please enter cost quoted</small></p>  
		</li>
		<li>
			<label class="description" for="element_9">Number of Doses </label>				
			<input id="nof_doses" name="nof_doses" class="element text small" type="text" maxlength="255" value="<?=stripslashes($this->form['nof_doses']);?>" onkeyup="findCost($('#cost_quoted').val(),this.value);" onkeypress="return blockNumbers(event)"/>
			<p class="guidelines" id="guide_1"><small>Please enter no of doses</small></p>  
		</li>
		<li>
			<label class="description" for="element_8">Cost per unit Dose </label>				
			<input id="cost_per_udose" name="cost_per_udose" class="element text small" type="text" maxlength="255" value="<?=stripslashes($this->form['cost_per_udose']);?>" onkeypress="return false;" /> 				
		</li>
		<li>
			<label class="description" for="element_7">Number of Doses per day </label>				
			<input id="nof_dose_pday" name="nof_dose_pday" class="element text small" type="text" maxlength="255" value="<?=stripslashes($this->form['nof_dose_pday']);?>" onkeypress="return blockNumbers(event)" onkeyup="findTcost($('#cost_quoted').val(),$('#nof_doses').val(),this.value)"/> 				
		</li>
		<li>
			<label class="description" for="element_10">Cost of 28 days' Treatment (&pound;) </label>
			<input id="cost_28days" name="cost_28days" class="element text small" type="text" maxlength="255" value="<?=stripslashes($this->form['cost_28days'])?>" onkeypress="return false;"/> 			
		</li>
		<li>
			<label class="description" for="element_11">Comments </label>				
			<textarea id="comments" name="comments"><?=stripslashes($this->form['comments'])?></textarea>
			<p class="guidelines" id="guide_1"><small>Please enter comments</small></p>  			
		</li>		
		<li>
          <label class="description" for="status">Status </label>
          <span>
		    <input id="status" name="status" class="element radio" type="radio" value="1" checked="checked" <?php if($this->form['status']=='1'){?>checked="checked"<? } ?> />
			<label class="choice" for="status">Active</label>
			<input name="status" class="element radio" type="radio" value="0" <?php if($this->form['status']=='0'){?>checked="checked"<? } ?> />
			<label class="choice" for="status">InActive</label>
          </span>
        </li>
        <li class="buttons">
          <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_drugs('save');">Submit</button>
		  <?php if(!empty($this->form['id'])){?>
          <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_drugs('duplicate');">Duplicate</button>
		  <?php } ?>
        </li>
	 </ul>			
	</form>
</div>
</div>
</div>