<div id="article_tabs">
    <ul>
      <li><a href="#pglobal">Drug List</a></li>	       
    </ul>    
	<div id='pglobal'>
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='druglist'>
		   <thead>		   			
			<tr>				
				<th>Drug Name</th> 
				<th>Brand</th> 
				<th>Manufacture</th> 
				<th>Strength</th> 				
				<th>Formulation</th>
				<th>Packsize</th>
				<th>Cost Quoted</th>
				<th>NO Of Dose</th>
				<th>Cost/Dose</th>
				<th>Dose/Day</th>
				<th>28 Days Treatment</th>				
				<th>Status</th> 
				<th>Action</th> 				
			</tr>
			</thead>
			<tbody>				
				
			</tbody>
		</table>
	</div>
</div>

