/* Fashion Clear - An open source xhtml/css website template by Andreas Viklund - http://andreasviklund.com . Free to use in any way and for any purpose as long as the proper credits are given to the original designer.

Version: 1.0, February 27, 2006 */

* {margin:0; padding:0;}

/******** General tags ********/
body {
font:76% Verdana,Tahoma,Arial,sans-serif;
background:#fcfdf9 url(images/bodybg.jpg) top center repeat-y;
color:#505050;
line-height:1.2em;
margin:0 auto 0 auto;
padding:0;
}

a {
text-decoration:none;
color:#669900;
font-weight:bold;
}

a:hover{color:#99cc00;}
a img {border:0;}
p {font-size:1em; line-height:1.3em; margin:0 0 14px 5px;}
ul,ol,dl {margin:2px 0 16px 35px;}
ul ul,ol ol {margin:4px 0 4px 30px;}

h2 {
font-size:1.4em;
text-transform:uppercase;
border-bottom:2px solid #559900;
margin:15px 5px 10px 0;
padding:1px 2px 3px 1px;
}

h3 {
font-size:1.2em;
margin:10px 0 8px 0;
padding:0;
}

blockquote{
font-size:0.9em;
border:1px solid #bababa;
margin:20px 10px;
padding:8px;
}

blockquote p {margin:0;}

/******** Main wrap ********/
#wrap {
color:#505050;
width:760px;
margin:0 auto;
padding:0;
}

/******** Header ********/
#header {
clear:both;
background:#ffffff url(images/topbg.jpg) top center no-repeat !important;
height: 200px;
}

#title {
text-align:center;
}

#title h1 {
font-size:3.8em;
text-transform:uppercase;
color:#648340;
padding:55px 0 15px 5px;
letter-spacing:-3px;
}

#title h1 a {color:#648340; text-decoration:none;}
#title h1 a:hover {}

#slogan {

color:#808080;
font-size:1.4em;
margin:0 0 10px 5px;
}

#mainmenu {
display: none;
}

/******** leftside, left sidebar ********/
#leftside {
clear:both;
float:left;
width:150px;
margin:0 0 50px 0;
padding:1px 10px 5px 0;
}

#leftside h2{
margin:0px 0 10px 0;
font-size:1.1em;
}

#leftside ul{
list-style:none;
margin:0;
font-size:1.1em;
padding:0 0 0 5px;;
}

#leftside li{
list-style:none;
margin:0 0 8px 0;
padding:0;
}

#leftside li a{
padding:3px;
color:#669900;
}

#leftside li.current{

}


#leftside li a:hover{
padding:2px;
text-decoration:none;
border:1px solid #99cc00;
}

#leftside ul ul{
margin:7px 0 6px 10px;
font-size:0.9em;
line-height:1.1em;
padding:0;
}

#leftside ul ul li a{
font-weight:normal;
}

#leftside ul ul li a:hover{
padding:2px;
text-decoration:none;
border:1px solid #99cc00;
}

/******** Content variations ********/
#contentwide {
text-align:left;
margin:0 0 0 170px;
padding:0;
}

#contentfull {
text-align:left;
margin:0;
padding:0;
}

#contentwide p,#contentfull p {
line-height:1.6em;
}

#contentwide h2,#contentfull h2 {
font-size:1.1em;
margin:0px 0 10px;
}

#contentwide h3,#contentfull h3 {
font-size:1.3em;
margin:0px 0 8px;
}

#contentwide li,#contentfull li{margin-bottom:4px;}

/******** Footer ********/
#footer {
clear:both;
width:760px;
text-align:left;
color:#808080;
font-size:0.9em;
margin:25px auto 0 auto;
padding:4px 0;
}

#footer p {margin:3px 3px 3px 10px;}
#footer a {color:#505050; text-decoration:none;}
#footer a:hover, a:hover {text-decoration:underline;}

/******** Various classes ********/
.splitcontentleft {float:left; width:48%;}
.splitcontentright {float:right; width:46%;}

.important {
text-align:center;
color:#505050;
border:1px solid #bababa;
padding:2px;
}

.infobox{
width:240px;
float:right;
font-size:0.9em;
border:1px solid #bababa;
margin:0 0 5px 20px;
padding:5px;
}

.infobox p {margin:0;}
.infobox ul{margin:0 0 0 25px;}
.links a {font-weight:normal;}
.links li {line-height:1.1em;}
.left {float:left; margin:0 15px 4px 0;}
.right {float:right; margin:0 0 4px 15px;}
.textright {text-align:right;}
.readmore {text-align:right; margin:-10px 10px 18px 0;}
.center {text-align:center;}
.blue {color:#559900;}
.big {font-size:1.2em;}
.small {font-size:0.8em;}
.bold {font-weight:bold;}
.clear {clear:both;}
.hide {display:none;}

.photo {
border:1px solid #bababa;
padding:2px;
background-color:#ffffff;
margin:6px 18px 2px 5px;
}

#lmenu {display: block !important;}