<div id="article_tabs">
	<ul>
	  <li><a href="#tgeneral">Add/Edit Shipping</a></li>
	</ul>
	<div id="tgeneral">
		<div id="form_container">	
			<form action="<?=$this->baseurl?>/shippings/add" class="appnitro" enctype="multipart/form-data" method="post" id="addship" name="addship">
			<div class="form_description">
				<h2>Add/Edit Shipping</h2>
				<p class="error">
					<ul></ul>
				</p>
			</div>		
			<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
			<ul> 	
				<li>
					<label class="description" for="weight">Weight<span class="required">*</span></label>
					<div>
						<input id="weight" name="weight" class="element text small" type="text" maxlength="255" value="<?php echo $this->form['weight']; ?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter weight.</small></p>
				</li>		
				<li>
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class='grid'>
					<thead>
					 <tr>
						<th></th>
						<th></th>
						<th width="31%" align="center">Zone</th>
						<th width="69%" align="center">Shipping Charge</th>
					 </tr>
					 </thead>
					 <tbody>
						<? $i=1;
							for($i=1;$i<=3;$i++){
								$name	=	'zone'.$i.'_charge';
						?>
						 <tr>
							<td></td>
							<td></td>
							<td width="31%" align="center" class="verdena11redbold">
								<select name='zone<?=$i?>' id='zone<?=$i?>'>
									<option value="">:: Select ::</option>
									<option <?if($i=='1') echo 'selected'?> value='1'>Zone 1 (UK)</option>
									<option <?if($i=='2') echo 'selected'?> value='2'>Zone 2 (Europe)</option>
									<option <?if($i=='3') echo 'selected'?> value='3'>Zone 3 (Other)</option>
								 </select>
							&nbsp;&nbsp;</td>
							<td width="69%" align="center"><input type="text" name="zone<?=$i?>_charge" class="element text small" value='<?=$this->form[$name]?>'></td>
						 </tr>			 
						<? }?>
						</tbody>
					 </table>
				</li>		
				<li class="buttons">
				  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_shipping(window.document.addship);">Submit</button>
				</li>
			 </ul>			
			</form>
		</div>
	</div>
</div>