<div id="activitytabs">	 
  <ul>
	<li><a href="#art">List Shipping</a></li>
  </ul>
  <div id="art">
	<h2>List Shipping</h2>
	<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="shippinglist">
	   <thead>
		<tr>
			<th>Weight</th> 	        
			<th>Zone1 Charge</th>   
			<th>Zone2 Charge</th>       
			<th>Zone3 Charge</th>	
			<th>Action</th>
		</tr>    
		</thead>
		<tbody>		
		</tbody>
	</table>
</div>
</div>
