<div id="activitytabs">	  
  <ul>
	<li><a href="#language">Language List</a></li>
  </ul>	
  <div id="language">
	<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="languagelist">
	  <col id="colname" />
	  <col id="colurl"/>
	  <col id="colstatus" />
	  <col id="colactions" />
	  <thead>
		<tr>
		  <th>Language Name</th>     
		  <th>Code</th>     
		  <th>Default</th>
		  <th>Action</th>
		</tr>   
	  </thead>  
	  <tbody>   
		<tr>
		</tr>
	  </tbody>
	</table>
</div>
</div>
