<div class="form_description">
  <h2>Add/Edit Page</h2>
  <p>Pages are navigation items (buttons) assigned to your website, here you can do stuff</p>
  <p class="error">
  <ul>   
  </ul>
  </p>
</div>
<div id="form_container">
  <div id="article_tabs">
    <ul>
      <li><a href="#pgeneral">Pages General</a></li>
	  <span id='new_arttab'>
      <li><a href="#tgeneral">Article General</a></li>
      <li><a href="#tcontent">Article Content</a></li>
      <li><a href="#timages">Article Images</a></li>
      <li><a href="#tmeta">Article Meta</a></li>
	  </span>
    </ul>    
  <form action="<?=$this->baseurl?>/pages/add" class="appnitro" enctype="multipart/form-data" method="post" id="addpage" name="addpage">
  <div id="pgeneral">  
    <input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />	    
    <ul>
	  <li>
        <label class="description" for="cat_title">Language<span class="required">*</span></label>
        <div><?=$langs['language_id']?>
          <select name="language_id" id="language_id" class='element select small'>
			<option value="">-Select Language-</option>					
			<?php foreach($this->langs as $langs){?>
			<option value="<?=$langs['language_id']?>" <?php if($this->form['language_id'] == $langs['language_id']){?>selected<? } ?>><?=$langs['language_name']?> [<?=$langs['language_code']?>]</option>
			<?php } ?>
		  </select>
        </div>
        <p class="guidelines"><small>Please enter title.</small></p>
      </li>
      <li>
        <label class="description" for="cat_title">Page Title<span class="required">*</span></label>
        <div>
          <input id="cat_title" name="cat_title" class="element text medium" type="text" maxlength="255" value="<?php echo $this->form['cat_title'] ?>"/>
        </div>
        <p class="guidelines"><small>Please enter title.</small></p>
      </li>
	  <li>
        <label class="description" for="cat_title">Use Page As Menu Item</label>
        <div>
		  <select id='menu_item' name='menu_item' class='element select small' onchange='showMenuItems(this.value);'>
			 <option value='0' <? if($this->form['menu_item']=='0'){?>selected<? } ?>>No</option>
			 <option value='1' <? if($this->form['menu_item']=='1'){?>selected<? } ?>>Yes</option>
		  </select>          
        </div>
      </li>	  
	  <li class='menu_items'>
		  <label class="description" for="element_3">Menu Title<span class="required">*</span></label>
		  <span>
		  <input id="menu_title" name="menu_title" class="element text" type="text" maxlength="255" value="<?php echo $this->form['menu_title']?> "/>
		  <label class="tam">Title</label>
		  </span> <span>
		  <input id="css_class" name="css_class" class="element text" type="text" maxlength="255" value="<?php echo $this->form['css_class']?> "/>
		  <label class="tam">Custome CSS Class/ID</label>
		  </span>
	 </li>
      <li class='menu_items'>
        <label class="description" for="cat_type">Navigation Category<span class="required">*</span></label>
        <div>
          <select name='cat_type' id='cat_type' class="element select small">
            <option value='Global Nav' <?php if($this->form['cat_type']=='Global Nav'){?>selected<?php } ?>>Global Nav</option>
            <option value='Secondary Global Nav' <?php if($this->form['cat_type']=='Secondary Global Nav'){?>selected<?php } ?>>Secondary Global Nav</option>
            <option value='Footer Nav' <?php if($this->form['cat_type']=='Footer Nav'){?>selected<?php } ?>>Footer Nav</option>
            <option value='Other Nav' <?php if($this->form['cat_type']=='Other Nav'){?>selected<?php } ?>>Other Nav</option>
          </select>
        </div>
        <p class="guidelines"><small>Please select cat type.</small></p>
      </li>
	   <li class='menu_items'>
        <label class="description" for="password">Show Menu Under<span class="required">*</span></label>
        <div>
          <select id='cat_parent_id' name='cat_parent_id' class="element select small">
			<option value='0'>Parent</option>
            <?=$list_cat?>
          </select>
        </div>
        <p class="guidelines"><small>Please select menu.</small></p>
      </li>
      <li>
        <label class="description" for="cat_url">Page URL<span class="required">*</span></label>
        <div>
          <input id="cat_url" name="cat_url" class="element text medium" type="text" maxlength="255" value="<?php 
		  if(!empty($this->form['cat_url']))
		  {
			  echo $this->form['cat_url'];
		  }else{ 
			  echo $this->form['ext_url'];
		  } ?>" />
		  <div id='info'></div>
        </div>
        <p class="guidelines"><small>Please enter url.</small></p>
      </li>      
      <li>
        <label class="description" for="temp_id">Template<span class="required">*</span></label>
        <div>
		  <input type='hidden' name='temp_id' id='temp_id' value="<?php echo $this->form['temp_id']?>">
          <input type='text' class='element text medium' name='txt_template' id='txt_template' readonly value="<?php echo $this->form['temp_filename'] ?>"> <a rel="facebox" href="<?=$this->baseurl?>/common/seltemplate" class="button">Select Template</a> <a class="button" onclick='clearTemplate();'>Clear</a>
        </div>
        <p class="guidelines"><small>Please select template.</small></p>
      </li>
      <li>
        <label class="description" for="art_id">Article<span class="required">*</span></label>
        <div>
          <input type='hidden' name='article_id' id='article_id' value="<?php echo $this->form['article_id'] ?>">
          <input type='text' class='element text medium' name='txt_article' id='txt_article' readonly value="<?php echo $this->form['article_title']?>"> <a rel="facebox" href="<?=$this->baseurl?>/common/selarticle" class="button">Select Article</a> <a class="button" onclick='showArticleTabs();'>Create New</a> <a class="button" onclick='clearArticle();'>Clear</a>        
        </div>
        <p class="guidelines"><small>Please select article.</small></p>
      </li>
	   <li>
        <label class="description" for="page_sche">Use Page Schedule</label>
        <div>
		  <select id='cat_schedule' name='cat_schedule' class='element select small' onchange='showSchedule(this.value);'>
			 <option value='0' <? if($this->form['cat_schedule']=='0'){?>selected<? } ?>>No</option>
			 <option value='1' <? if($this->form['cat_schedule']=='1'){?>selected<? } ?>>Yes</option>
		  </select>          
        </div>
      </li>	  
      <li class='schedule'>
        <label class="description" for="start_date">Start Date</label>
        <div>
          <input id="start_date" name="start_date" class="element text small" type="text" maxlength="255" value="<?php echo $this->form['start_date']?>"/>
        </div>
        <p class="guidelines"><small>Please enter start date.</small></p>
        <script>
				$('#start_date').datepicker({dateFormat: 'yy-mm-dd'}); 
			</script>
      </li>
      <li class='schedule'>
        <label class="description" for="stime">Start Time</label>
        <div>
          <select value="none" name="selSHour" class="element select small" style="width:45px;" tabindex="13">
            <option value="00" selected>00</option>
            <?php for($i=1;$i<12;$i++){ 
							if($i<10){	
					?>
            <option value="<?=$i?>" <?php if($i==$this->form['shour']){?>selected<? } ?>>0<?=$i?></option>
            <?php	}else{ ?>
            <option value="<?=$i?>" <?php if($i==$this->form['shour']){?>selected<? } ?>><?=$i?></option>
            <?php   }
				 }
			?>
          </select>
          <select name="selSMin" class="element select small" style="width:45px;" tabindex="14">
            <option value="00" <?php if("0"==$this->form['smin']){?>selected<? } ?>>00</option>
            <option value="15" <?php if("15"==$this->form['smin']){?>selected<? } ?>>15</option>
            <option value="30" <?php if("30"==$this->form['smin']){?>selected<? } ?>>30</option>
            <option value="45" <?php if("45"==$this->form['smin']){?>selected<? } ?>>45</option>
          </select>
          <select name="selSFormat" class="element select small" style="width:45px;" tabindex="15">
            <option value="am" <?php if($this->form['sform']=="AM"){?>selected<? } ?>>am</option>
            <option value="pm" <?php if($this->form['sform']=="PM"){?>selected<? } ?>>pm</option>
          </select>
        </div>
        <p class="guidelines"><small>Please select time.</small></p>
      </li>
      <li class='schedule'>
        <label class="description" for="end_date">End Date</label>
        <div>
          <input id="end_date" name="end_date" class="element text small" type="text" maxlength="255" value="<?php echo $this->form['end_date']?>"/>
        </div>
        <p class="guidelines"><small>Please enter end date.</small></p>
        <script>
				$('#end_date').datepicker({dateFormat: 'yy-mm-dd'}); 
			</script>
      </li>
      <li class='schedule'>
        <label class="description" for="stime">End Time</label>
        <div>
          <select value="none" name="selEHour" class="field select small" style="width:45px;" tabindex="19">
            <option value="00" selected>00</option>
            <?php for($k=1;$k<12;$k++){ 
							if($k<10){	
					?>
            <option value="<?=$k?>" <?php if($k==$this->form['ehour']){?>selected<? } ?>>0<?=$k?></option>
            <?php	}else{ ?>
            <option value="<?=$k?>" <?php if($k==$this->form['ehour']){?>selected<? } ?>><?=$k?></option>
            <?php   }
						 }
					?>
          </select>
          <select name="selEMin" class="field select small" style="width:45px;" tabindex="20">
            <option value="00" <?php if($this->form['emin']=="0"){?>selected<? } ?>>00</option>
            <option value="15" <?php if($this->form['emin']=="15"){?>selected<? } ?>>15</option>
            <option value="30" <?php if($this->form['emin']=="30"){?>selected<? } ?>>30</option>
            <option value="45" <?php if($this->form['emin']=="45"){?>selected<? } ?>>45</option>
          </select>
          <select name="selEFormat" class="field select small" style="width:45px;" tabindex="21">
            <option value="am" <?php if($this->form['eform']=="AM"){?>selected<? } ?>>am</option>
            <option value="pm" <?php if($this->form['eform']=="PM"){?>selected<? } ?>>pm</option>
          </select>
        </div>
        <p class="guidelines"><small>Please select time.</small></p>
      </li>    
      <li>
        <label class="description" for="login">Login Required</label>
		<div>
		  <select id='login_required' name='login_required' class='element select small' onchange='showGroup(this.value);'>
			 <option value='0' <? if($this->form['login_required']=='0'){?>selected<? } ?>>No</option>
			 <option value='1' <? if($this->form['login_required']=='1'){?>selected<? } ?>>Yes</option>
		  </select>          
        </div>
      </li>
	  <li class='group'>
			<label class="description" for="level">User Type<span class="required">*</span></label>
			<div>
				<select name="type_id" id="type_id" class="element select small">
					<option value="0">All/Any</option>
					 <?php foreach ($this->types as $type): ?>
					 <option value="<?php echo $type['UserType'];?>" <?php if($this->form['UserType'] == $type['UserType']){?>selected<? } ?>><?php echo $type['UserType'];?></option>
					 <?php endforeach ?>
				</select>
			</div> 
			<p class="guidelines"><small>Please select type.</small></p>
		</li>
      <li>
        <label class="description" for="status">Status </label>
        <span>
        <input id="status" name="status" class="element radio" type="radio" value="1" checked <?php if($this->form['status']=='1'){?>checked<? } ?>/>
        <label class="choice" for="status">Active</label>
        <input name="status" class="element radio" type="radio" value="0" <?php if($this->form['status']=='0'){?>checked<? } ?> />
        <label class="choice" for="status">InActive</label>
        </span> </li>
      <li class="buttons">
        <button id="savePage" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_page();">Submit</button>
      </li>
    </ul>
	</div>
	<div id="tgeneral">
		<ul>
			<li>
			  <label class="description" for="article_title">Article Title<span class="required">*</span></label>
			  <div>
				<input id="article_title" name="article_title" class="element text medium" type="text" maxlength="255" value=""/>
			  </div>
			  <p class="guidelines"><small>Please enter title.</small></p>
			</li>
			<li>
			  <label class="description" for="owner">Owner</label>
			  <div>
				<input id="owner" name="owner" class="element text medium" type="text" maxlength="255" value=""/>
			  </div>
			  <p class="guidelines"><small>Please enter owner.</small></p>
			</li>
			<li>
			  <label class="description" for="status">Status </label>
			  <span>
			  <input id="active" name="active" class="element radio" type="radio" value="1" checked />
			  <label class="choice" for="status">Active</label>
			  <input name="active" class="element radio" type="radio" value="0" />
			  <label class="choice" for="status">InActive</label>
			  </span> 
			 </li>
      </ul>
	</div>
	<div id="tcontent">
	   <ul>
        <li>
          <label class="description" for="snippet">Insert Snippets</label>
          <div>
            <select id='snippetid' name='snippetid' class="element select small">
              <option value="">-Select Snippet-</option>
			  <?php foreach ($this->snippets as $snippet): ?>
              <option value="<?php echo $snippet['snippet_title'] ?>"><?php echo $snippet['snippet_title']?></option>
              <?php endforeach ?>
            </select>
            <a class="button" href='javascript:void(0);' onclick='insertSnippet(document.addpage)'><img src="images/icons/textfield_add.png" width="16" height="16" border="0" />Insert</a> </div>
        </li>
        <li>
          <label class="description" for="short_text">Short Text</label>
          <div>
            <textarea id="short_text" name="short_text" class="mceEditor"></textarea>
          </div>
          <p class="guidelines"><small>Please enter short text.</small></p>
        </li>
        <li>
          <label class="description" for="long_text">Long Text<span class="required">*</span></label>
          <div>
            <textarea id="long_text" name="long_text" class="mceEditor"></textarea>
          </div>
          <p class="guidelines"><small>Please enter long text.</small></p>
        </li>
      </ul>
	</div>
    <div id="timages">
		<ul>
			<li>
			  <label class="description" for="himage">Header Image</label>
			  <div class="buttons">
				<?php echo $this->select->Select("yes","images",'no','addpage','header-image');?>
			  </div>
			  <p class="guidelines"><small>Please select header image.</small></p>
			</li>
			<li>
			  <label class="description" for="aimage">Article Image</label>
			  <div> <?php echo $this->select->Select("yes","images",'no','addpage','article-image');?></div>
			  <p class="guidelines"><small>Please select article image.</small></p>
			</li>
			<li>
			  <label class="description" for="image_text">Image Text</label>
			  <div>
				<textarea id="image_text" name="image_text" class="element textarea medium"></textarea>
			  </div>
			  <p class="guidelines"><small>Please enter image text.</small></p>
			</li>
		  </ul>
	</div>
    <div id="tmeta">
	   <ul>
        <li>
          <label class="description" for="meta_title">Meta Title</label>
          <div>
            <input id="meta_title" name="meta_title" class="element text medium" type="text" maxlength="255" value=""/>
          </div>
          <p class="guidelines"><small>Please select meta title.</small></p>
        </li>
        <li>
          <label class="description" for="meta_desc">Meta Description</label>
          <div>
            <textarea id="meta_desc" name="meta_desc" class="element textarea medium"></textarea>
          </div>
          <p class="guidelines"><small>Please enter meta description.</small></p>
        </li>
        <li>
          <label class="description" for="meta_keyword">Meta Keywords</label>
          <div>
            <textarea id="meta_keywords" name="meta_keywords" class="element textarea medium"></textarea>
          </div>
          <p class="guidelines"><small>Please enter meta meta keyword.</small></p>
        </li>
        <li class="buttons">
          <button id="saveArticle" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_newarticle();">Submit</button>
        </li>
      </ul>
	</div>
  </form>
 </div>
</div>
<script type='text/javascript'>
   <? if($this->form['menu_item']!='1'){?>
   $('.menu_items').hide();
   <? }if($this->form['cat_schedule']!='1'){?>
   $('.schedule').hide();
   <? }if($this->form['login_required']!='1'){?>
   $('.group').hide();
   <? } ?>	  
   hideArticleTabs();
   $('#cat_url').blur(function(){	  
	   checkURL($(this).val());
   });  
</script>
