<h2>Reorder Pages</h2>
<div id="article_tabs">
    <ul>
      <li><a href="#<?php echo str_replace(" ","_",strtolower($this->typeid));?>"><?php echo $this->typeid;?></a></li>
	</ul>
	<div id="<?php echo str_replace(" ","_",strtolower($this->typeid));?>">
<?php $db	=	Zend_Registry::get("db");
$selCat		=	$db->fetchAll("SELECT cat_id,cat_title,cat_order,status FROM `3bit_categories` WHERE cat_type='".$this->typeid."' and menu_item='1' AND cat_level='1' ORDER BY cat_order"); 

	 if($selCat){
?>
     <ul class="sortable">
		<span id="pages"></span>
<?php	foreach($selCat as $res){ ?>
                <li id="pages-<?=$res['cat_id']?>">
                    <div><img src="<?=$this->baseurl?>/public/images/blakarrow.gif" align="left"/>&nbsp;<?=stripslashes($res['cat_title'])?></div>
					 <?php 	$selScat	=	$db->fetchAll("SELECT cat_id,cat_title,cat_order,status FROM `3bit_categories` WHERE 1 and menu_item='1' AND cat_parent_id='".$res['cat_id']."' ORDER BY cat_order");							
							if($selScat){						 
					 ?>
						  <ul class="sortable">
				    <?php		foreach($selScat as $pres){ ?>
								 <li id="pages-<?=$pres['cat_id']?>">
	                            	<div><img src="<?=$this->baseurl?>/public/images/blakarrow.gif" align="left"/>&nbsp;<?=stripslashes($pres['cat_title'])?></div>
				                </li>
					<?php		}	?>

						  </ul>		
					<?php   }
					 ?>
                </li>                 
<?php		}	?>
      </ul>        
<?php } ?>
</div>
</div>
<script type="text/javascript">
/*jQuery( function($) { 	
	function applySortable(){
	   $(this).sortable({ opacity: 0.6, cursor: 'move', update: function(event,ui) {	
		    var module= $(".sortable").find('span').attr('id'); 
			var order = $(this).sortable("serialize") + '&module='+module+'&action=reorder'; 
			$.post("<?=$this->baseurl?>/common/reorder", order, function(theResponse){
				
			}); 															 
		   }								  
		});
		$(this).find("> li > ul").each(applySortable);
	}
	jQuery( function($) { 
		$(".sortable").each(applySortable);
	});
});*/
$(function() {
		$('ul.sortable').bind('mousedown', function(e) {
	      e.stopPropagation();
		});
	    $("ul.sortable").sortable({
		  opacity: 0.7,
	      helper: 'clone',
		  cursor: 'move',
	      tolerance: 'pointer',
		  update: function(event,ui) {	
		    var module= $(".sortable").find('span').attr('id'); 
			var order = $(this).sortable("serialize") + '&module='+module+'&action=reorder'; 
			$.post("<?=$this->baseurl?>/common/reorder", order, function(theResponse){
				
			}); 															 
		   }								  
		});
		$("ul.sortable").selectable();
		$("ul.sortable").disableSelection();    
    });
</script>  		