<div id="activitytabs">	  
  <ul>
	<li><a href="#users">User Types List</a></li>
  </ul>	
  <div id="users">	
	<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="usertypelist">
		<col id="coltitle" />   
		<col id="colstatus" />
		<col id="colactions" />
	   <thead>
		<tr>
			<th>Title</th> 
			<th>Status</th>
			<th>Action</th>
		</tr>   
		</thead>	
		<tbody>
		  <tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		</tbody>
	</table>
</div>
</div>
