<div id="article_tabs">
<ul>
  <li><a href="#tgeneral">Add/Edit Datasource</a></li>
</ul>
<div id="tgeneral">
  <div id="form_container">	
	<form action="<?=$this->baseurl?>/datasources/add" class="appnitro" enctype="multipart/form-data" method="post" id="adddatasource">
	<div class="form_description">
		<p class="error">
		    <ul>
		    </ul>
		</p>
	</div>		
	<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
	<ul> 	
		<li>
			<label class="description" for="title">Title<span class="required">*</span></label>
			<div>
				<input id="title" name="title" class="element text medium" type="text" maxlength="255" value="<?php echo $this->form['title']; ?>"/> 
			</div> 
			<p class="guidelines"><small>Please enter title.</small></p>
		</li>
		<li>
			<label class="description" for="content">Content<span class="required">*</span></label>
			<div>
				<textarea id="content" name="content" class="element textarea medium"><?php echo $this->form['content']; ?></textarea> 
			</div> 
			<p class="guidelines"><small>Please enter content.</small></p>
		</li>
		<li>
          <label class="description" for="status">Status </label>
          <span>
		    <input id="status" name="status" class="element radio" type="radio" value="1" checked <?php if($this->form['status']=='1'){?>checked<? } ?>/>
			<label class="choice" for="status">Active</label>
			<input name="status" class="element radio" type="radio" value="0" <?php if($this->form['status']=='0'){?>checked<? } ?> />
			<label class="choice" for="status">InActive</label>
          </span>
        </li>
        <li class="buttons">
          <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_datasource();">Submit</button>
        </li>
	 </ul>			
	</form>
</div>
</div>
</div>