<div id="article_tabs">
	<ul>
	  <li><a href="#tgeneral">Add/Edit News Type</a></li>
	</ul>
	<div id="tgeneral">	
	<div id="form_container">	
		<form action="<?=$this->baseurl?>/newstypes/add" class="appnitro" enctype="multipart/form-data" method="post" id="addntype">
		<div class="form_description">
			<h2>Add/Edit News Type</h2>
			<p class="error">
				<ul></ul>
			</p>
		</div>		
		<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
		<ul> 	
			<li>
				<label class="description" for="first_name">Title<span class="required">*</span></label>
				<div>
					<input id="type_name" name="type_name" class="element text medium" type="text" maxlength="255" value="<?php echo $this->form['type_name'];?>"/> 
				</div> 
				<p class="guidelines"><small>Please enter type name.</small></p>
			</li>		
			<li>
				<label class="description" for="last_name">Note</label>
				<div>
					<textarea id="note" name="note" class="element textarea medium"><?php echo $this->form['note'];?></textarea> 
				</div> 
				<p class="guidelines"><small>Please enter note.</small></p>
			</li>		
			<li>
			  <label class="description" for="status">Status </label>
			  <span>
				<input id="status" name="status" class="element radio" type="radio" value="1" checked="checked" <?php if($this->form['status']=='1'){?>checked="checked"<? } ?> />
				<label class="choice" for="status">Active</label>
				<input name="status" class="element radio" type="radio" value="0" <?php if($this->form['status']=='0'){?>checked="checked"<? } ?> />
				<label class="choice" for="status">InActive</label>
			  </span>
			</li>
			<li class="buttons">
			  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_newstype();">Submit</button>
			</li>
		 </ul>			
		</form>
	</div>
</div>
</div>