<div id="activitytabs">	 
  <ul>
	<li><a href="#art">List News Types</a></li>
  </ul>
  <div id="art">	
	<table class="display" cellspacing="0" cellpadding="0" width="100%" id="typelist" >
		<col id="colname" />
		<col id="colnote"/>
		<col id="colstatus" />
		<col id="colactions" />
	  <thead>
		<tr>
		  <th>Type Name</th>
		  <th>Note</th>
		  <th>Status</th>
		  <th>Action</th>
		</tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
  </div>
 </div>