<div id="article_tabs">
	<ul>
	  <li><a href="#tgeneral">Add/Edit Templates</a></li>
	</ul>
	<div id="tgeneral">
	<div id="form_container">	
		<form action="<?=$this->baseurl?>/templates/add/" class="appnitro" enctype="multipart/form-data" method="post" id="addtemp" name='addtemp' onsubmit="validate_template('save');">
		<div class="form_description">
			<h2>Add/Edit Templates</h2>
			<p class="error">
				<ul>			
				</ul>
			</p>
		</div>		
		<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
		<input type='hidden' name='message_id' id='message_id' value='<?php echo $this->form['message_id'];?>' />
		<ul> 	
			<li>
				<label class="description" for="first_name">Template Name<span class="required">*</span></label>
				<div>
					<input id="temp_filename" name="temp_filename" class="element text medium" type="text" maxlength="255" value="<?php echo $this->form['temp_filename']; ?>"/> 
				</div> 
				<p class="guidelines"><small>Please enter name.</small></p>
			</li>
			<li>
				<label class="description" for="temp_type">Template Type<span class="required">*</span></label>
				<div>
					<select id="temp_type" name="temp_type" class="element select small" onchange="replace_form(this.value)">
						<option value="articles" <?php if($this->form['temp_type'] =='articles'){?>selected<? } ?>>article</option> 						 
						<option value="message" <?php if($this->form['temp_type'] =='message'){?>selected<? } ?>>message</option> 
						<option value="newsletter" <?php if($this->form['temp_type'] =='newsletter'){?>selected<? } ?>>newsletter</option> 
						<option value="products" <?php if($this->form['temp_type'] =='products'){?>selected<? } ?>>products</option>
					</select>
				</div> 
				<p class="guidelines"><small>Please select type.</small></p>
			</li>
			<span id="temp_form" <?php if($this->form['temp_type'] =='message'){?>style="display:none" <?php } ?>>
			<li>
				<label class="description" for="first_name">Custom Template</label>
				<div>
					<input id="custom_template" name="custom_template" type="checkbox" <?php if(!empty($this->form['custom_template'])){?>checked <? } ?> value='1'/> 
				</div> 			
			</li>
			<li>
			  <label class="description" for="snippet">Insert Snippets</label>
			  <div>
				<select id='snippetid' name='snippetid' class="element select small">
				  <option value="">-Select Snippet-</option>
				  <?php foreach ($this->snippets as $snippet): ?>
				  <option value="<?php echo $snippet['snippet_title'];?>"><?php echo $snippet['snippet_title'];?></option>
				  <?php endforeach ?>
				</select>
				<a class="button" href='javascript:void(0);' onclick='if($("#snippetid").val()!=""){wraptext(document.addtemp.temp_content,"[["+$("#snippetid").val()+"]]","");}'><img src="<?=$this->baseurl?>/public/images/icons/textfield_add.png" width="16" height="16" border="0" />Insert</a> </div>
			</li>
			<li>
				<label class="description" for="sel_tag">Wrapping Tags</label>
				<div>
					<select id="sel_tag" name="sel_tag" class="element select small">
						<option value="">-Select-</option>
						<option value="repeat">{{repeat}}</option>
					</select>
					<a class="button" href='javascript:void(0);' onclick='if($("#sel_tag").val()!=""){wraptext(document.addtemp.temp_content,"{{"+$("#sel_tag").val()+"}}","{{/"+$("#sel_tag").val()+"}}")}'><img src="<?=$this->baseurl?>/public/images/icons/textfield_add.png" width="16" height="16" border="0" />Insert</a>
				</div> 
				<p class="guidelines"><small>Please enter name.</small></p>
			</li>		
			<li>
				<label class="description" for="last_name">Content<span class="required">*</span></label>
				<div>
					<textarea id="temp_content" name="temp_content" style="height: 350px; width: 100%;" class="element textarea medium"><?php echo stripslashes($this->form['temp_content']); ?></textarea> 
				</div> 
				<p class="guidelines"><small>Please enter content.</small></p>
			</li>	
			<li>
			  <label class="description" for="himage">Template Image</label>
			  <div class="buttons">
				<?php echo $this->select->Select("yes","images",'no','addtemp','template-thumbs');	?>
			  </div>
			  <p class="guidelines"><small>Please select header image.</small></p>
			</li>
			<li>
			  <label class="description" for="status">Status </label>
			  <span>
				<input id="temp_status" name="temp_status" class="element radio" type="radio" value="1" checked="checked" <?php if($this->form['temp_status']=='1'){?>checked="checked"<? } ?> />
				<label class="choice" for="status">Active</label>
				<input name="temp_status" class="element radio" type="radio" value="0" <?php if($this->form['temp_status']=='0'){?>checked="checked"<? } ?> />
				<label class="choice" for="status">InActive</label>
			  </span>
			</li>
			</span>
			<span id="message_form" <?php if($this->form['temp_type'] !='message' || $this->form['temp_type'] ==''){?>style="display:none" <?php } ?>>
			<li>
				<label class="description" for="message_type">Message Type<span class="required">*</span></label>
				<div>
					<select name="message_type" id="message_type" class="element select small">
					<option value="">Select Type</option>
					<option value='Email Welcome' <?php if($this->form['message_type']=="Email Welcome"){?>selected<?php } ?>>Email Welcome</option>
					<option value='New Order' <?php if($this->form['message_type']=="New Order"){?>selected<?php } ?>>New Order</option>
					<option value='New Order Accepted' <?php if($this->form['message_type']=="New Order Accepted"){?>selected<?php } ?>>New Order Accepted</option>
					<option value='New Order Canceled' <?php if($this->form['message_type']=="New Order Canceled"){?>selected<?php } ?>>New Order Canceled</option>
					<option value='New Order Rejected' <?php if($this->form['message_type']=="New Order Rejected"){?>selected<?php } ?>>New Order Rejected</option>
					<option value='Accepted Order Cancelled' <?php if($this->form['message_type']=="Accepted Order Cancelled"){?>selected<?php } ?>>Accepted Order Cancelled</option>
					<option value='Accepted Order Rejected' <?php if($this->form['message_type']=="Accepted Order Rejected"){?>selected<?php } ?>>Accepted Order Rejected</option>
					<option value='Accepted Order Shipped' <?php if($this->form['message_type']=="Accepted Order Shipped"){?>selected<?php } ?>>Accepted Order Shipped</option>	
					</select>
				</div> 
				<p class="guidelines"><small>Please select message type.</small></p>
			</li>		
			<li>
				<label class="description" for="to">Message To Customer<span class="required">*</span></label>
				<div>
					<input type="checkbox" value="1" name="message_to" id='message_to' <?php if($this->form['message_to']=="Customer"){?>checked<?php } ?> >
				</div> 			
			</li>
			<li>
				<label class="description" for="to">OR Admin<span class="required">*</span></label>
				<div>
					<select name='user_id[]' id='user_id' multiple>						
						<?php foreach ($this->users as $user): ?>
						 <option value="<?php echo $user['user_id']?>" <?php if(in_array($user['user_id'],explode(",",$this->form['user_id']))){?>selected<?php  } ?>><?php echo $user['uname']?></option>
						 <?php endforeach ?>

					</select>
				</div> 			
			</li>			
			<li>
				<label class="description" for="subject">Subject<span class="required">*</span></label>
				<div>
					<input type="text" value="<?=stripslashes($this->form['mail_subject'])?>" name="mail_subject"  id="mail_subject" class="field text medium" >
				</div> 	
				<p class="guidelines"><small>Please enter subject.</small></p>
			</li>
			<li>
				<label class="description" for="hmsg">HTML Message<span class="required">*</span></label>
				<div>
					<textarea name="message_text" id="message_text" style="height: 350px; width: 100%;" class="element textarea medium"><?=stripslashes($this->form['message_text'])?></textarea>
				</div> 	
				<p class="guidelines"><small>Please enter html message.</small></p>
			</li>
			<li>
				<label class="description" for="tmsg">Text Message</label>
				<div>
					<textarea name="text" id="text" class="field textarea medium" ><?=stripslashes($this->form['text'])?></textarea>
				</div> 	
				<p class="guidelines"><small>Please enter text message.</small></p>
			</li>
			<li>
				<label class="description" for="to">Send Email</label>
				<div>
					<input type="checkbox" value="1" name="email_status" tabindex="23" <?php if($this->form['email_status']=="1"){?>checked<?php } ?> >
				</div> 			
			</li>
			<li>
			  <label class="description" for="status">Status </label>
			  <span>
				<input id="active" name="active" class="element radio" type="radio" value="1" checked <?php if($this->form['active']=='1'){?>checked<? } ?>/>
				<label class="choice" for="status">Active</label>
				<input name="active" class="element radio" type="radio" value="0" <?php if($this->form['active']=='0'){?>checked<? } ?> />
				<label class="choice" for="status">InActive</label>
			  </span>
			</li>
			</span>			
			<li class="buttons">
			  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="submit">Submit</button>
			  <?php if($this->form['id']){?>
			  <button onclick="validate_template('duplicate');" type="button" class="fg-button ui-state-default ui-corner-all" id="dupForm">Duplicate</button>
			  <?php } ?>
			</li>
		 </ul>			
		</form>
	</div>
 </div>
 </div>
	<script type='text/javascript'>
		window.onload=function(){
			document.forms.addtemp.template_thumbsid.value="<?=$this->form['temp_thumbs']?>";
			document.forms.addtemp.template_thumbs.value="<?=$this->form['temp_thumbs_img']?>";	
		}
	</script>
