<div id="activitytabs">	 
  <ul>
	<li><a href="#art">List Templates</a></li>
  </ul>
  <div id="art">
	<h2>List Templates</h2>
	<table class="display" id="atemplatelist">
	  <col id="coltemplate" />	 
	  <col id="colstatus" />
	  <col id="colactions" />
	  <thead>
		<tr>
		  <th>Template</th>		  
		  <th>Template Type</th>		  
		  <th>Status</th>
		  <th>Action</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <td></td>		  
		  <td></td>		  
		  <td></td>
		  <td></td>
		</tr>
	  </tbody>
	</table>
</div>
</div>
