<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>	
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <title><?=$this->escape($this->title);?></title>
     <?php  echo $this->headLink()->appendStylesheet('/logincms/public/css/cupertino/jquery-ui-1.8rc2.custom.css')
				->appendStylesheet('/logincms/public/css/Base.css')
				->appendStylesheet('/logincms/public/css/BreadCrumb.css')
				->appendStylesheet('/logincms/public/css/forms.css')
				->appendStylesheet('/logincms/public/css/facebox.css')
				->appendStylesheet('/logincms/public/css/autoSuggest.css')
				->appendStylesheet('/logincms/public/css/custom.css')
				->appendStylesheet('/logincms/public/js/dataTables-1.6/extras/TableTools/media/css/TableTools.css');	
	 ?>
     <?php $this->headScript()
				->appendFile('/logincms/public/js/jquery-1.4.2.min.js')
				->appendFile('/logincms/public/js/jquery.tools.min.js')
				->appendFile('/logincms/public/js/jquery.layout-latest.js')
				->appendFile('/logincms/public/js/jquery-ui-1.8rc2.custom.min.js')
				->appendFile('/logincms/public/js/breadcrumbv1.1/jquery.jBreadCrumb.1.1.js')
				->appendFile('/logincms/public/js/dataTables-1.6/jquery.dataTables.js')
				->appendFile('/logincms/public/js/view.js')				
				->appendFile('/logincms/public/js/select_pattern.js')
				->appendFile('/logincms/public/js/swfobject.js')
				->appendFile('/logincms/public/js/jquery.uploadify.v2.1.0.min.js')
				->appendFile('/logincms/public/js/facebox.js')
				->appendFile('/logincms/public/js/ajax.js')				
				->appendFile('/logincms/public/js/jquery.autoSuggest.js')
				->appendFile('/tiny_mce/tiny_mce.js')
				->appendFile('/logincms/public/js/jquery.cuteTime.js')
				->appendFile('/logincms/public/js/functions.js');
		if($this->urlvar!='home')
			$this->headScript()->appendFile('/logincms/public/js/functions_'.$this->urlvar.'.js'); 	
		if($this->urlvar=='members'){
			$this->headScript()
				 ->appendFile('/logincms/public/js/dataTables-1.6/extras/TableTools/media/ZeroClipboard/ZeroClipboard.js')
				 ->appendFile('/logincms/public/js/dataTables-1.6/extras/TableTools/media/js/TableTools.js'); 
		}
			
		echo $this->headScript();
      ?>
      <script language="javascript" type="text/javascript">
	var sess_id = '<?=session_id();?>';
	var project_host='http://<?=$_SERVER['HTTP_HOST']?>/';
	var server_time= '<?=date("Y/m/d H:i:s");?>';
      </script>
   </head>
 <body>
 <div id="container">
	<div class="ui-layout-north" id="mastheadnavication">
		<div class="ui-layout-north" id='mastheadnavication'>
			<div class="super">
				<p>Logged in as <?php echo $this->fullname;?> <span class="seperate">|</span><?php echo date('l, jS F, Y'); ?><span class="seperate">|</span><a href="/logincms/index/logout"> Logout</a></p>
	  		</div>
			<h1>Palliative Drugs CMS V3.5b</h1>	 				
			<div id="featureTabsContainer">
				<?php foreach ($this->topnav as $link => $url): ?>
				<a href="/<?php echo $url;?>" class="tab 
				<?php  if(($this->urlvar=='users' || $this->urlvar=='usertypes')&&($url=='logincms/users')){
					  echo "tab_selected";
				       }else if(($this->urlvar=='pages' || $this->urlvar=='articles' || $this->urlvar=='templates' || $this->urlvar=='language')&&($url=='logincms/pages')){
					  echo "tab_selected";
					  }else if(($this->urlvar=='formulary' || $this->urlvar=='pubmed' || $this->urlvar=='snippets' || $this->urlvar=='drugs')&&($url=='logincms/formulary')){
					  echo "tab_selected";
					  }else if(($this->urlvar=='members')&&($url=='logincms/members')){
					  echo "tab_selected";
				       }else if(($this->urlvar=='news' || $this->urlvar=='newstypes' || $this->urlvar=='newsarchives')&&($url=='logincms/news')){
					  echo "tab_selected";
				       }else if(($this->urlvar=='assets' || $this->urlvar=='assetcat')&&($url=='logincms/assets')){
					  echo "tab_selected";
					   }else if(($url=='logincms/home' && $_SERVER['REQUEST_URI']=='/logincms/home')||($this->urlvar=='home' && $url=='logincms/home')){
					  echo "tab_selected"; 
				       }
				?> "><?php echo ucfirst($link);?></a>
				<?php endforeach ?>				
			</div>
			<div class="breadCrumbHolder module">
				<div id="breadCrumb3" class="breadCrumb module">
					<ul>
					<li><a href="home">Home</a></li>
					<?php	switch($this->urlvar){
						case "users":				
							echo "<li><a href='#'>Users List</a></li>";
						break;
						case "usertypes":				
							echo "<li><a href='#'>Usertypes List</a></li>";
						break;										
						case "pages":				
							echo "<li><a href='#'>Pages List</a></li>";
						break;
						case "articles":				
							echo "<li><a href='#'>Article List</a></li>";
						break;
						case "templates":				
							echo "<li><a href='#'>Template List</a></li>";
						break;
						case "language":				
							echo "<li><a href='#'>Languages List</a></li>";
						break;
						case "formulary":				
							echo "<li><a href='#'>Formulary List</a></li>";
						break;
						case "pubmed":				
							echo "<li><a href='#'>Pubmed List</a></li>";
						break;
						case "snippets":				
							echo "<li><a href='#'>Snippet List</a></li>";
						break;
						case "drugs":				
							echo "<li><a href='#'>Drugs List</a></li>";
						break;
						case "members":				
							echo "<li><a href='#'>Members List</a></li>";
						break;
						case "news":				
							echo "<li><a href='#'>News List</a></li>";
						break;
						case "newstypes":				
							echo "<li><a href='#'>News Type List</a></li>";
						break;
						case "assets":				
							echo "<li><a href='#'>Assets List</a></li>";
						break;
						case "assetcat":				
							echo "<li><a href='#'>Asset Category List</a></li>";
						break;
						default:
							echo "<li><a href='#'>Dashboard</a></li>";
						break;
					}?>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="outer-center">
	    <div class="middle-center">
	      <div class="inner-center">
		   <!-- start of inner content -->
		   <div class="dialog-confirm" title="Delete the record?">     
			  <p><span class="ui-icon ui-icon-alert" style='float: left; margin: 0pt 7px 20px 0pt;'></span>Are you sure you want to delete?</p>
		   </div>			
		  <?php echo $this->layout()->content; ?>
		  <!-- end of inner content -->
	      </div>
		  <?php if($this->urlaction=='add' && $this->urlvar=='formulary'){?>
		  <!-- Inner South Toolbox Area containing-->
		  <div class="ui-layout-south">
			<!-- start of inner content -->
			<div id="activitytabs">
				<ul>
				  <li><a href="#refs">Refs</a></li>
				  <li><a href="#snippets">Snippets</a></li>
				  <li><a href="#drugs">Drugs</a></li>
				  <li><a href="#tformulary">Formulary</a></li>
				</ul>
				<div id="refs">			     
					 <table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='pubmedlist'>
					   <col id="colid" />
					   <col id="colstatus" />
					   <col id="colid" />	 		   
					   <col id="colactions" />
					   <thead>		   			
						<tr>				
							<th><a href="#" class="sort">ID</a></th> 
							<th><a href="#" class="sort">PMID</a></th> 
							<th><a href="#" class="sort">Title</a></th> 				
							<th><a href="#" class="sort">Action</a></th> 				
						</tr>
						</thead>
						<tbody>								
						</tbody>
					</table>
				</div>
				<div id="snippets">
					<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='snippetlist'>				  
					   <thead>		   			
						<tr>				
							<th><a href="#" class="sort">Type</a></th> 
							<th><a href="#" class="sort">Ref No</a></th> 
							<th><a href="#" class="sort">Title</a></th> 				
							<th><a href="#" class="sort">Status</a></th> 												
						</tr>
						</thead>
						<tbody>								
						</tbody>
					</table>
				</div>
				<div id="drugs">
					 <table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='supplylist'>
					   <thead>		   			
						<tr>				
							<th>Drug Name</th> 
							<th>Brand</th> 
							<th>Manufacture</th> 
							<th>Strength</th> 				
							<th>Formulation</th>
							<th>Packsize</th>
							<th>Cost Quoted</th>
							<th>NO Of Dose</th>
							<th>Cost/Dose</th>
							<th>Dose/Day</th>
							<th>28 Days Treatment</th>																			
						</tr>
						</thead>
						<tbody>								
						</tbody>
					</table>
				</div>
				<div id="tformulary">
					 <table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='lformlist'>
					   <thead>		   			
						<tr>				
							<th>Title</th> 
							<th>Content Type</th> 
							<th>Version</th> 
							<th>Publish Status</th> 				
							<th>Status</th>
						</tr>
						</thead>
						<tbody>								
						</tbody>
					</table>
				</div>
			</div>
			<!-- end of inner content -->
		  </div>
		  <!-- Inner South Toolbox Area End-->
		  <?php } else if($this->urlaction=='add' && $this->urlvar=='snippets'){?>
		  <!-- Inner South Toolbox Area containing-->
		  <div class="ui-layout-south">
			<!-- start of inner content -->
			<div id="activitytabs">
				<ul>
				  <li><a href="#refs">Refs</a></li>				 
				</ul>
				<div id="refs">			     
					 <table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='pubmedlist'>
					   <col id="colid" />
					   <col id="colstatus" />
					   <col id="colid" />	 		   
					   <col id="colactions" />
					   <thead>		   			
						<tr>				
							<th><a href="#" class="sort">ID</a></th> 
							<th><a href="#" class="sort">PMID</a></th> 
							<th><a href="#" class="sort">Title</a></th> 				
							<th><a href="#" class="sort">Action</a></th> 				
						</tr>
						</thead>
						<tbody>								
						</tbody>
					</table>
				</div>				
			</div>
			<!-- end of inner content -->
		  </div>
		  <!-- Inner South Toolbox Area End-->
		  <?php } ?>
	    </div>
	    <div class="middle-west" id="sidenavigation">
	    <!-- start of content -->
		<div id="side-nav">
		<?php  
		if(is_array($this->leftnav)){ $m=0;?>
		<dl>      
		  <?php foreach ($this->leftnav as $link => $url):				
			   if(preg_match("/".$this->urlvar."/", str_replace(" ","",strtolower($link))) || preg_match("/".$this->urlvar."/", strtolower($url))){
					$style	=	'style="display:block;"';
			   }else{
				    $style	=	'style="display:none;"';
			   }
				if($url ==''){
						if($m!=0){
		  ?>
			</ul>
		  </dd>
		  <?			} ?>
		  <dt><a href="#"><?=$link?></a></dt>
		  
			<dd <?=$style?>>
				<ul>
		  <?php		}else{ ?>
				<li><a href="<?php echo $url;?>"><?=$link?></a></li>
		  <?php		} 
				$m++;
		   endforeach ?>
				</ul>
			 <dd>
		</dl>
		<?php }else{?>
		<dl>
		  <dt>
			<ul>
			    <li><? echo $_SERVER["HTTP_USER_AGENT"]; ?></li>
			    <li><? echo $_SERVER["SERVER_SIGNATURE"]; ?></li>
			</ul>
		  </dt>
		</dl>
		<?php } ?>
		</div>
      <!-- end of content -->
	   </div>
	   <?php if($this->urlaction=='add' && ($this->urlvar=='snippets' || $this->urlvar=='formulary')){?>
		<div class="middle-east">
			<div id="dialog" title="References">
				<h2>References</h2>
				<ol></ol>
				<a class="button" onclick="refresh_dialog()">Refresh</a>
			</div>
		</div>
		<?php } ?>
	</div>
</div>
</body>
</html>