<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	 
     <title>Palliative Drugs CMS</title>
     <?php echo $this->headLink()->appendStylesheet('/logincms/public/css/cupertino/jquery-ui-1.8rc2.custom.css')->appendStylesheet('/logincms/public/css/Base.css')->appendStylesheet('/logincms/public/css/forms.css')->appendStylesheet('/logincms/public/css/custom.css')->appendStylesheet('/logincms/public/css/autoSuggest.css') ?>
     <?php echo $this->headScript()->appendFile('/logincms/public/js/jquery-1.4.2.min.js')->appendFile('/logincms/public/js/jquery-ui-1.8rc2.custom.min.js')->appendFile('/logincms/public/js/jquery.highlight.js')->appendFile('/logincms/public/js/login.js') ?>
   </head>
   <body>
<script type="text/javascript">
      $(document).ready(function(){	
		$('#first_name').focus();    
		$('#submitLogin').click(function(){
		   validate_login();
		});
      	$('#Reset, #submitLogin').button();
	  });	
</script>
<?php echo $this->layout()->content; ?>
</body>
</html>