<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	 
     <title>Palliative Drugs CMS</title>
      <link type="text/css" rel="stylesheet" href="/min/g=logincss" />
	  <script type="text/javascript" src="/min/g=loginjs"></script>   
   </head>
   <body>
<script type="text/javascript">
      $(document).ready(function(){	
		$('#first_name').focus();    
		$('#submitLogin').click(function(){
		   validate_login();
		});
		$('#password, #username, #last_name, #first_name, #submitLogin').keypress(function(event){
			if(event.which=='13'){
				validate_login();
			}
		});
      	$('#Reset, #submitLogin').button();
	  });	
</script>
<?php echo $this->layout()->content; ?>
</body>
</html>