<h2>List Stocks</h2>
<div id="article_tabs">
	<ul>
		<li><a href="#tgeneral">Products</a></li>		
	 </ul>
	  <div id="tgeneral">
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="stocklist">
			<thead>	
			<tr>
				<th><a href="#" class="sort">Product Name</th> 
				<th><a href="#" class="sort">Delivery Stock</th>
				<th><a href="#" class="sort">Product Code</a></th>
				<th><a href="#" class="sort">Supplier Stock</a></th>
				<th><a href="#" class="sort">Site Stock</a></th>
				<th><a href="#" class="sort">Available Stock</a></th>
				<th><a href="#" class="sort">Status</th>        
				<th><a href="#" class="sort">Action</a></th>
			</tr>
			<tr id="DivAlert" style="display:none" >				
			</tr>
			</thead>
			<tbody>	
							
			</tbody>
		</table>
	</div>
</div>
