<div id="article_tabs">
	<ul>
	  <li><a href="#tgeneral">Add/Edit Formulary Snippet</a></li>
	</ul>
	<div id="tgeneral">
		<div id="form_container">	
			<form action="<?=$this->baseurl?>/figures/add/" class="appnitro" enctype="multipart/form-data" method="post" id="addsnippet" name="addsnippet">
			<div class="form_description">
				<h2>Add/Edit Formulary Snippets</h2>
				<p class="error">
					<ul>
					</ul>
				</p>
			</div>		
			<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
			<ul> 	
				<li>
					<label class="description" for="lang">Language<span class="required">*</span></label>
					<div>
					  <select id="language_id" name="language_id" class="element select small" >
						<?php foreach($this->langs as $langs){?>
						<option value="<?=$langs['language_id']?>" <?php if($this->form['language_id'] == $langs['language_id']){?>selected<? } ?>><?=$langs['language_name']?> [<?=$langs['language_code']?>]</option>
						<?php } ?>
					  </select>
					</div>
					<p class="guidelines"><small>Please select language.</small></p>
				  </li>		
				<li>
					<label class="description" for="first_name">Title<span class="required">*</span></label>
					<div>
						<input id="snippet_title" name="snippet_title" class="element text medium" type="text" maxlength="255" value="<?php echo stripslashes($this->form['snippet_title']) ?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter name.</small></p>
				</li>	
				<li>
					<label class="description" for="no">Number<span class="required">*</span></label>
					<div>
						<input id="snippet_number" name="snippet_number" class="element text small" type="text" maxlength="10" value="<?php echo stripslashes($this->form['snippet_number']) ?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter number.</small></p>
				</li>
				<li>
					<label class="description" for="ttype">Type</label>
					<div><select name="snippet_type" id="snippet_type" tabindex='2' class="element select">				
						<option value="Box" <?php if($this->form['snippet_type'] == "Box"){?>selected<?php } ?>>Box</option>
						<option value="Chart" <?php if($this->form['snippet_type'] == "Chart"){?>selected<?php } ?>>Chart</option>
						<option value="Table" <?php if($this->form['snippet_type'] == "Table"){?>selected<?php } ?>>Table</option>
						<option value="Other" <?php if($this->form['snippet_type'] == "Other"){?>selected<?php } ?>>Other</option>				
					</select></div>
					<p class="guidelines"><small>Please select type.</small></p>
				</li>
				<li>
				  <label class="description" for="himage">Image</label>
				  <div class="buttons">
					<?php echo $this->select->Select("yes","images",'no','addsnippet','snippet-image');?> <a class="button" href="javascript:;"  onclick="assignImage()">Assign</a>
				  </div>
				  <p class="guidelines"><small>Please select snippet image.</small></p>
				</li>  		
				<li>
					<label class="description" for="last_name">Content<span class="required">*</span></label>
					<div>
						<textarea id="long_text" name="long_text"  class="mceEditor"><?php echo stripslashes($this->form['long_text']); ?></textarea> 
					</div> 
					<p class="guidelines"><small>Please enter content.</small></p>
				</li>		
				<li>
				  <label class="description" for="status">Status </label>
				  <span>
					<input id="status" name="status" class="element radio" type="radio" value="1" checked="checked" <?php if($this->form['status']=='1'){?>checked="checked"<? } ?> />
					<label class="choice" for="status">Active</label>
					<input name="status" class="element radio" type="radio" value="0" <?php if($this->form['status']=='0'){?>checked="checked"<? } ?> />
					<label class="choice" for="status">InActive</label>
				  </span>
				</li>
				<li class="buttons">
				  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_figure();">Submit</button>
				</li>
			 </ul>			
			</form>
		</div>
	</div>
</div>