<div id="activitytabs">	 
  <ul>
	<li><a href="#art">List Figures</a></li>
  </ul>
  <div id="art">
	<h2>List Figures</h2>
	<table class="display" id="snippetlist">
	  <col id="colid" />
	  <col id="coltitle" />
	  <col id="coltype" />
      <col id="collang" />
      <col id="colusage" />
      <col id="colstatus" />
      <col id="colaction" />
	  <thead>
		<tr>
		  <th>Number</th>
		  <th>Snippet Title</th>
		  <th>Type</th>
		  <th>Language</th>
		  <th>Usage</th>
		  <th>Status</th>
		  <th>Action </th>
		</tr>		
	  </thead>
	  <tbody>
		<tr>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td></td>
		</tr>
	  </tbody>
	</table>
</div>
</div>
