<div id="article_tabs">
	<ul>
	  <li><a href="#tgeneral">Edit Customer</a></li>
	</ul>
	<div id="tgeneral">
		<div id="form_container">	
			<form action="<?=$this->baseurl?>/customers/add" class="appnitro" enctype="multipart/form-data" method="post" id="addcustomer" name='addcustomer'>
			<div class="form_description">
				<h2>Add/Edit Customer</h2>
				<p class="error">
					<ul>				
					</ul>
				</p>
			</div>			
			<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
			<ul> 	
				<li>
					<label class="description" for="title">Title<span class="required">*</span></label>
					<div>
						<select name="title" id="title">
							<option value="Mr" <?php if($this->form['title']=='Mr'){?>selected <? } ?>>Mr</option>
							<option value="Mrs" <?php if($this->form['title']=='Mrs'){?>selected <? } ?>>Mrs</option>
							<option value="Miss" <?php if($this->form['title']=='Miss'){?>selected <? } ?>>Miss</option>
							<option value="Ms" <?php if($this->form['title']=='Ms'){?>selected <? } ?>>Ms</option>
						</select>
					</div> 
					<p class="guidelines"><small>Please select title.</small></p>
				</li>	
				<li>
					<label class="description" for="fname">First Name<span class="required">*</span></label>
					<div>
						<input id="fname" name="fname" class="element text medium" type="text" maxlength="30" value="<?php echo $this->form['fname'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter first name.</small></p>
				</li>	
				<li>
					<label class="description" for="lname">Last Name<span class="required">*</span></label>
					<div>
						<input id="lname" name="lname" class="element text medium" type="text" maxlength="30" value="<?php echo $this->form['lname'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter last name.</small></p>
				</li>	
				<li>
					<label class="description" for="email">Email<span class="required">*</span></label>
					<div>
						<input id="email" name="email" class="element text medium" type="text" maxlength="30" value="<?php echo $this->form['email'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter email.</small></p>
				</li>	
				<li>
					<label class="description" for="phone">Contact Number<span class="required">*</span></label>
					<div>
						<input id="phone" name="phone" class="element text medium" type="text" value="<?php echo $this->form['phone'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter phone no.</small></p>
				</li>			
				<li>
					<label class="description" for="address1">Address1<span class="required">*</span></label>
					<div>
						<input id="address1" name="address1" class="element text medium" type="text" value="<?php echo $this->form['address1'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter address1.</small></p>
				</li>			
				<li>
					<label class="description" for="address2">Address2<span class="required">*</span></label>
					<div>
						<input id="address2" name="address2" class="element text medium" type="text" value="<?php echo $this->form['address2'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter address2.</small></p>
				</li>	
				<li>
					<label class="description" for="city">City<span class="required">*</span></label>
					<div>
						<input id="city" name="city" class="element text medium" type="text" value="<?php echo $this->form['city'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter city.</small></p>
				</li>	
				<li>
					<label class="description" for="state">State<span class="required">*</span></label>
					<div>
						<input id="state" name="state" class="element text medium" type="text" value="<?php echo $this->form['state'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter address2.</small></p>
				</li>
				<li>
					<label class="description" for="county">County</label>
					<div>
						<input id="county" name="county" class="element text medium" type="text" value="<?php echo $this->form['county'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter county.</small></p>
				</li>	
				<li>
					<label class="description" for="country">Country<span class="required">*</span></label>
					<div>
						<select name="country" id="country">
							<?php foreach($this->country as $country){ ?>
							<option value="<?=$country['id']?>" <?if($this->form['country']==$country['country']){?>selected<? }?>><?=$country['country']?></option>
							<?php } ?>
						</select>
					</div> 
					<p class="guidelines"><small>Please enter country.</small></p>
				</li>
				<li>
					<label class="description" for="postcode">Postcode<span class="required">*</span></label>
					<div>
						<input id="postcode" name="postcode" class="element text medium" type="text" value="<?php echo $this->form['postcode'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter postcode.</small></p>
				</li>	
				<li>
					<label class="description" for="password">Password</label>
					<div>
						<input id="password" name="password" class="element text medium" type="password" value="<?php echo base64_decode($this->form['password']);?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter password.</small></p>
				</li>	
				<li>
					<label class="description" for="password">Confirm Password</label>
					<div>
						<input id="password2" name="password2" class="element text medium" type="password" value="<?php echo base64_decode($this->form['password']);?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter confirm password.</small></p>
				</li>	
				<li class="buttons">
				  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_customer();">Submit</button>
				</li>
			 </ul>		
			</form>
		</div>
	</div>
</div>