<div id="activitytabs">	 
  <ul>
	<li><a href="#art">List Customers</a></li>
  </ul>
  <div id="art">
	<h2>List Customers</h2>
	<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="customerslist">
		<thead>	
		<tr>
			<th>Full Name</th> 
			<th>Order count</th>		
			<th>Last ordered date</th>
			<th>Postcode</th>
			<th>Email Address</th>		
			<th>Action</th>
		</tr>
		</thead>
		<tbody>			
		<tr>			
		</tr>
		</tbody>
	</table>
</div>
</div>
