<div id="form_container">
  <div class="form_description">
    <h2>Create/Update Subscribtion</h2>
    <p class="error">
    <ul>     
    </ul>
    </p>
  </div>  
  <div id="article_tabs">
  <ul>
    <li><a href="#tsubscribtion">Subscribtion Details</a></li>
  </ul>
  <form action="<?=$this->baseurl?>/members/createsubscriber" class="appnitro" enctype="multipart/form-data" method="post" name="createsubscription" id="createsubscription">
  <input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
  <input type='hidden' name='action' id='action' value='<?php echo $this->form['action'];?>' />
  <input type='hidden' name='formaction' id='formaction' value='' />
  <input type='hidden' name='subid' id='subid' value='<?php echo $this->form['subid'];?>' />
	<div id="tsubscription">
		<ul>  
			<li>
				<label class="description" for="start_date">Start Date</label>
				<div>
					<input id="start_date" name="start_date" class="element text small" type="text" maxlength="255" value="<?php echo stripslashes($this->form['start_date']) ?>"/>
				</div>
				<p class="guidelines"><small>Please enter start date.</small></p>	
			</li>
			<li>
				<label class="description" for="start_date">End Date</label>
				<div>
					<input id="end_date" name="end_date" class="element text small" type="text" maxlength="255" value="<?php echo stripslashes($this->form['end_date']) ?>"/>
				</div>
				<p class="guidelines"><small>Please enter end date.</small></p>	
			</li>
			<li>
				<label class="description" for="title">Duration</label>
				<div>
				<select id="duration" name="duration" class="element select small">
					<option value=""  <? if($this->form['duration']== ""){?>selected<? } ?>>Please select</option>
					<option value="1"  <? if($this->form['duration']== "1"){?>selected<? } ?>>Daily</option>
					<option value="30"  <? if($this->form['duration']== "30"){?>selected<? } ?>>Monthly</option>
					<option value="365"  <? if($this->form['duration']== "365"){?>selected<? } ?>>Yearly</option>
				</select>
				</div>
				<p class="guidelines"><small>Please select duration.</small></p>	
			</li>
			<li>
				<label class="description" for="duration">Status</label>		
				<span><input type="radio" name="active" id="active" value="1" <?php if($this->form['status']=="1" || $this->form['status']==""){?>CHECKED<?php } ?>><label class="choice" for="status">Active</label><input type="radio" name="active" value="0" <?php if($this->form['status']=="0"){?>CHECKED <?php } ?>><label class="choice" for="status">InActive</label></span>				   
			</li>
			<li class="buttons">
				<a id="saveForm" class="button" onclick="validate_subscription('addupdate');">Submit</a>
				<a id="saveForm" class="button" onclick="validate_subscription('addupdate_notify');">Submit & Notify</a>
			</li>
		</ul>
	</div>
</form>
</div>
</div>
<script type="text/javascript">
<!--
		window.onload=function(){
		$('#start_date').datepicker({dateFormat: 'dd-mm-yy',changeMonth:true,changeYear:true}); 
		$('#end_date').datepicker({dateFormat: 'dd-mm-yy',changeMonth:true,changeYear:true}); 
	}

//-->
</script>