<div id="filters">
  <h3><a href="#">Filters</a></h3>
  <div>	
  <input type='hidden' name='search_type' id='search_type' value='A'> 
  <ul id='member_type'>
	  <li class="filtertitle">By User Type</li>
	  <li id='fcon_A'><a class='selected' href="javascript:;" onclick="show_members('A');">All</a></li>
	  <li id='fcon_unchecked'><a href="javascript:;" onclick="show_members('unchecked');">Un-checked</a></li>
	  <li id='fcon_pending'><a href="javascript:;" onclick="show_members('pending');">Pending</a></li>
	  <li id='fcon_subscribers'><a href="javascript:;" onclick="show_members('subscribers');">Subscribers</a></li>
	  <li id='fcon_subscribers_active'><a href="javascript:;" onclick="show_members('subscribers_active');">Subscribers(Active)</a></li>
	  <li id='fcon_subscribers_7'><a href="javascript:;" onclick="show_members('subscribers_7');">Subscribers (7 day)</a></li>
	  <li id='fcon_subscribers_30'><a href="javascript:;" onclick="show_members('subscribers_30');">Subscribers (30)</a></li>		
	  <li id='fcon_hinari'><a href="javascript:;" onclick="show_members('hinari');">HINARI</a></li>		
  </ul>
 </div>
</div>
<div id="article_tabs">
    <ul>
      <li><a href="#pglobal">Members List</a></li>
    </ul>    
	<div id='pglobal'>
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='memberlist'>
		   <thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Role</th>
					<th>Speciality</th>
					<th>Organisation</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

