<?
$prevquickviewurl	=	$this->form['baseurl'].'/members/quickview/id/'.$this->form['previd'];
$nextquickviewurl	=	$this->form['baseurl'].'/members/quickview/id/'.$this->form['nextid'];

?>
<title>Member Details</title>
<style type="text/css">

body, html {background: #F2F5F7 repeat-x; font: 100% "Liberation Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.ui-tabs {padding: 0.2em;position: relative;}
.ui-corner-all {border-radius: 6px 6px 6px 6px;}
.ui-widget-content {background: url("/logincms/public/css/cupertino/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png") repeat-x scroll 50% top #F2F5F7;border: 1px solid #DDDDDD;color: #362B36;}
h2 {color: #1371AA;clear: left;font-size: 130%;font-weight: 400;margin: 0 0 3px; line-height: 1em;}
#filters .ui-widget-content { background: none; padding: 10px; }
#filters { margin-bottom: 3em; clear: both; font-size: 13px; }
#filters ul { list-style-type: none; margin: 1em 0 0; padding: 0px; clear: both; }
#filters ul li { float: left; }
#filters ul a:hover { background-color: #e0eef7; }
#newslisting_filter { margin: 1em 1em 0 1.4em; }
#filters { margin-bottom: 0; clear: both; font-size: 13px; }
li.filtertitle {display: inline-block; width: 100%; text-transform: uppercase; font-size: 0.80em; font-weight: bold; font-variant: normal; }
#filters ul li a { display: inline; font-size: 11px; float: left; margin-right: 5px; padding: 1px 5px 1px 7px; -moz-border-radius: 4px; -webkit-border-radius: 4px; background-color: #f4f4f4; text-decoration: none; margin-bottom: 5px; }
.msg{color:#339900;}
input.text {
	
    border-color: #7C7C7C #C3C3C3 #DDDDDD;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-size: 100%;
    margin: 0;
    padding: 2px 0;
}

select.select {
	
    border-color: #7C7C7C #C3C3C3 #DDDDDD;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-size: 100%;
    margin: 1px 0;
    padding: 1px 0 0;
}

.small{
	width:200px;
}

.medium{
	width:300px;
}

.required {
    color: red;
    float: none;
    font-weight: 700;
}
</style>
<script type="text/javascript" src="<?=$this->baseurl?>/public/js/jquery-1.4.2.min.js"></script>
<!--script type="text/javascript" src="<?=$this->baseurl?>/public/js/functions_members.js"></script -->
<script language="javascript" type="text/javascript">		
 parent.membertable.fnDraw();
</script>
</head>
<body>
<div id="inner-center" class="">
	<div id="article_tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		<form name="addmember" id="addmember" method="post">
		  <input type="hidden" name="id" value="<?php echo $this->form['id']?>">
		  <input type="hidden" name="action" value="action">
		  <table width="650" height="100%"  border="0" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" class="romantable" valign="top">
			<tbody>
				<tr>
					<td align="left">
					<div id="filters">
						<ul id='member_type'>
							<li><?if($this->form['previd']!=''){?><a href="<?=$prevquickviewurl?>"> &lt;&lt;Prev</a><?}?></li>
						</ul>
					</div>
					</td>
					<td align="right"><div id="filters">
						<ul id='member_type'>
							<li align="right"><?if($this->form['nextid']!=''){?><a href="<?=$nextquickviewurl?>">Next&gt;&gt;</a><?}?></li>		
						</ul></div>
					</td>
				</tr>
				<tr>
					<td colspan="2"><hr/></td>
				</tr>
				<?if($this->form['flag'] == 'success'){?>
				<tr>
					<td colspan="2" align="center" class="msg">					
					Record updated successfully!					
					<div class="form_description">
						<p class="error">
						<ul>     
						</ul>
						</p>
					  </div>  
					</td>
				</tr>
			  <?}?>
			  <tr>
				<td valign="top"><table width="100%" border="0" cellpadding="6" cellspacing="6" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" class="romantable" valign="top">
					<tbody>
					  <tr>
						<td><table width="100%" border="0" cellpadding="2" cellspacing="5" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" valign="top">
							<tbody>
								<tr><td valign="top" width="40%"><b>ID:</b></td> <td><?php echo $this->form['id']?></td></tr>
								<tr><td valign="top"><b>Username:</b><span class="required">*</span></td> 
									<td>
										<input id="username" name="username" class="element text medium" type="text" maxlength="255" value="<?=stripslashes($this->form['username'])?>" />
									</td>
								</tr>
								<tr><td valign="top"><b>Email:</b><span class="required">*</span></td>
									<td>
										<input id="email" name="email" class="element text medium" type="text" maxlength="255" value="<?=stripslashes($this->form['email'])?>" />
									</td>
								</tr>
								<tr><td valign="top"><b>Password:</b><span class="required">*</span></td> 
									<td>
										<input id="pwd" name="pwd" class="element text medium" type="password" maxlength="255" value="<?=stripslashes($this->form['pwd'])?>" />
									</td>
								</tr>
								<tr>
									<td valign="top"><b>User Type:</b></td> 
									<td>
										<input type="radio" name="user_type" value="for-profit" <?php if($this->form['UserType']=="for-profit"){?>checked<?php } ?>/> For profit&nbsp;&nbsp;
										<input type="radio" name="user_type" value="non-profit" <?php if($this->form['UserType']=="non-profit"){?>checked<?php } ?>/> For non profit <br/>
									</td>
								</tr>
								<tr><td valign="top"><b>First Name:</b><span class="required">*</span></td> 
									<td>
									<input id="FirstName" name="FirstName" class="element text" type="text" maxlength="255" value="<?php echo stripslashes($this->form['FirstName']) ?>"/>
									</td>
								</tr>
								<tr><td valign="top"><b>Last Name:</b></td> 
									<td><input id="LastName" name="LastName" class="element text" type="text" maxlength="255" value="<?php echo stripslashes($this->form['LastName']) ?>"/>
									</td>
								</tr>
								<tr><td valign="top"><b>Title:</b></td> 
									<td>
										<select name="title" id="title" class="element select">
											<option value="">Please select</option>
											<option value="Professor" <? if($this->form['title']== "Professor"){?>selected<? } ?>>Professor</option>
											<option value="Doctor"  <? if($this->form['title']== "Doctor"){?>selected<? } ?>>Doctor</option>
											<option value="Mr"  <? if($this->form['title']== "Mr"){?>selected<? } ?>>Mr</option>
											<option value="Mrs"  <? if($this->form['title']== "Mrs"){?>selected<? } ?>>Mrs</option>
											<option value="Ms"  <? if($this->form['title']== "Ms"){?>selected<? } ?>>Ms</option>
											<option value="Miss"  <? if($this->form['title']== "Miss"){?>selected<? } ?>>Miss</option>
											<option value="Sister"  <? if($this->form['title']== "Sister"){?>selected<? } ?>>Sister</option>
										</select>
									</td>
								</tr>
								<tr><td valign="top"><b>Role:</b><span class="required">*</span></td> 
								<td>
									<input id="role" name="role" class="element text small" type="text" maxlength="255" value="<?php echo stripslashes($this->form['role']) ?>" />
									<br>
									<select name="sel_role" id="sel_role" class="element select medium" onchange="$('#role').val(this.value);">
										<option value="">Please select</option>
										<?php foreach ($this->roles as $role): ?>
										 <option value="<?php echo stripslashes($role['role']) ?>" <?php if($this->form['role'] == $role['role']){?>selected<? } ?>><?php echo stripslashes($role['role']) ?></option>
										 <?php endforeach ?>					
									</select>
								</td>
								</tr>
								<tr><td valign="top"><b>Professional group number:</b><span class="required">*</span></td>
									<td>
										<input id="prof_reg_num" name="prof_reg_num" class="element text medium" type="text" maxlength="255" value="<?=$this->form['prof_reg_num']?>" />	
									</td>
								</tr>
								<tr><td valign="top"><b>Nurse Prescriber:</b></td> 
									<td>
										<input type="radio" name="nurse_prescriber" id="nurse_prescriber" value="1" <?php if($this->form['nurse_prescriber']=="1" || $this->form['nurse_prescriber']==""){?>CHECKED<?php } ?>><label class="choice" for="status">Yes</label><input type="radio" name="nurse_prescriber" value="0" <?php if($this->form['nurse_prescriber']=="0"){?>CHECKED <?php } ?>><label class="choice" for="status">No</label>
									</td>
								</tr>
								<tr><td valign="top"><b>specialty:</b><span class="required">*</span></td> 
									<td>
										<input id="speciality" name="speciality" class="element text small" type="text" maxlength="255" value="<?=$this->form['speciality']?>" />
										<br>
										<select name="sel_special" id="sel_special" class="element select medium" onchange="$('#speciality').val(this.value);">
											<option value="">Please select</option>
											<?php foreach ($this->speciality as $spec): ?>
											 <option value="<?php echo stripslashes($spec['speciality']) ?>" <?php if($this->form['speciality'] == $spec['speciality']){?>selected<? } ?>><?php echo stripslashes($spec['speciality']) ?></option>
											 <?php endforeach ?>	
										</select>
									</td>
								</tr>
								<tr><td valign="top"><b>Sub specialty:</b><span class="required">*</span></td> 
									<td>
										<input type="text" name="sub_specialty" id="sub_specialty" class="element text small" maxlength="200" value="<?=$this->form['sub_specialty']?>">
										<br>
										<select name="sel_subspecial" id="sel_subspecial" class="element select medium" onchange="$('#sub_specialty').val(this.value);">
											<option value="n/a">None</option>
											<?php foreach ($this->sub_spec as $sspec): ?>
											 <option value="<?php echo stripslashes($sspec['sub_specialty'])?>" <?php if($this->form['sub_specialty']==$sspec['sub_specialty']){?>selected<? } ?>><?php echo stripslashes($sspec['sub_specialty']) ?></option>
											 <?php endforeach ?>
										</select> 
									</td>
								</tr>
								<tr><td valign="top"><b>Organisation name:</b><span class="required">*</span></td> 
									<td>
										<input id="organisation" name="organisation" class="element text medium" type="text" maxlength="255" value="<?=stripslashes($this->form['organisation'])?>" />
									</td>
								</tr>
								<tr><td valign="top"><b>Address1:</b><span class="required">*</span></td> 
									<td>
										<input id="addr1" name="addr1" class="element text medium" type="text" maxlength="255" value="<?=stripslashes($this->form['addr1'])?>" />
									</td>
								</tr>
								<tr><td valign="top"><b>Address2:</b></td> 
									<td>
										<input id="addr2" name="addr2" class="element text medium" type="text" maxlength="255" value="<?=stripslashes($this->form['addr2'])?>" />
									</td>
								</tr>
								<tr><td valign="top"><b>Address3:</b></td> 
									<td>
										<input id="addr3" name="addr3" class="element text medium" type="text" maxlength="255" value="<?=stripslashes($this->form['addr3'])?>" />
									</td>
								</tr>
								<tr><td valign="top"><b>Address4:</b></td> 
									<td>
										<input id="addr4" name="addr4" class="element text medium" type="text" maxlength="255" value="<?=stripslashes($this->form['addr4'])?>" />
									</td>
								</tr>
								<tr><td valign="top"><b>City:</b></td> 
									<td>
										<input id="TownOrCity" name="TownOrCity" class="element text medium" type="text" maxlength="255" value="<?=stripslashes($this->form['TownOrCity']);?>" />
									</td>
								</tr>
								<tr><td valign="top"><b>State/Province/County:</b><span class="required">*</span></td> 
									<td>
										<input id="StateOrCounty" name="StateOrCounty" class="element text medium" type="text" maxlength="255" value="<?=stripslashes($this->form['StateOrCounty'])?>" />
									</td>
								</tr>
								<tr><td valign="top"><b>Zip/Postal Code:</b><span class="required">*</span></td> 
									<td>
										<input id="PostalCode" name="PostalCode" class="element text medium" type="text" maxlength="255" value="<?=$this->form['PostalCode']?>" />
									</td>
								</tr>
								<tr><td valign="top"><b>Country:</b></td> 
									<td>
										<select name="Country" id="Country" class="element select">
											<option value="">Please select</option>
											<?php foreach ($this->country as $cy): ?>
											 <option value="<?php echo stripslashes($cy['name']) ?>" <?php if($this->form['Country'] == $cy['name']){?>selected<? } ?>><?php echo stripslashes($cy['name']) ?></option>
											 <?php endforeach ?>
										</select>
									</td>
								</tr>
								<tr><td valign="top"><b>Telephone Number:</b><span class="required">*</span></td> 
									<td>
										<input id="phone" name="phone" class="element text medium" type="text" maxlength="255" value="<?=$this->form['phone']?>" />
									</td>
								</tr>
								<tr><td valign="top"><b>Main work place:</b></td> 
									<td>
										<input type="text" name="main_workplace" id="main_workplace" class="element text small" maxlength="200" value="<?=stripslashes($this->form['main_workplace'])?>">
										<br>
										<select id="sel_mworkplace" name="sel_mworkplace" class="element select medium" onchange="$('#txt_mworkplace').val(this.value);">
											<option value="">Please select</option>
											<?php foreach ($this->place as $pl): ?>
											 <option value="<?php echo stripslashes($pl['main_workplace']) ?>" <?php if($this->form['main_workplace'] == $pl['main_workplace']){?>selected<? } ?>><?php echo stripslashes($pl['main_workplace']) ?></option>
											 <?php endforeach ?>
										</select>	
									</td>
								</tr>
								<tr><td valign="top"><b>Current post/position:</b><span class="required">*</span></td> 
									<td>
										<input type="text" name="current_post" id="current_post" class="element text small" maxlength="200" value="<?=stripslashes($this->form['current_post'])?>">
										<br>
										<select id="sel_position" name="sel_position" class="element select medium" onchange="$('#current_post').val(this.value);">
											<option value="">Please select</option>
											<?php foreach ($this->post as $pl): ?>
											 <option value="<?php echo stripslashes($pl['current_post']) ?>" <?php if($this->form['current_post'] == $pl['current_post']){?>selected<? } ?>><?php echo stripslashes($pl['current_post']) ?></option>
											 <?php endforeach ?>
										</select>
									</td>
								</tr>
								<tr>
									<td valign="top"><b>Years in current post:</b><span class="required">*</span></td> 
									<td>
										<select id="years_in_post" name="years_in_post" class="element select">
											<option value="">Please select</option>
											<?php for($k=0;$k<=50;$k++){?>
											 <option value="<?=$k?>" <?php if($this->form['years_in_post']==$k){?>selected<?php } ?>><?=$k?></option>
											<?php } ?>
										</select>		
									</td>
								</tr>
								<tr><td valign="top"><b>Time spent in direct patient care:</b><span class="required">*</span></td> 
									<td>
									<select id="patient_care_time" name="patient_care_time" class="element select small">
										<option value="">Please select</option>
										<option value="1" <?php if($this->form['patient_care_time']=="1"){?>selected<?php } ?>><25%</option>  
										<option value="2" <?php if($this->form['patient_care_time']=="2"){?>selected<?php } ?>>25-50%</option>
										<option value="3" <?php if($this->form['patient_care_time']=="3"){?>selected<?php } ?>>51-75%</option>
										<option value="4" <?php if($this->form['patient_care_time']=="4"){?>selected<?php } ?>>>75%</option>
									</select>
									</td>
								</tr>
								<tr><td valign="top"><b>Gender:</b></td> 
									<td>
										<select id="gender" name="gender" class="element select small">
											<option value="">please select</option>
											<option value="M" <?php if($this->form['gender']=="M"){?>selected<?php } ?>>Male</option>
											<option value="F" <?php if($this->form['gender']=="F"){?>selected<?php } ?>>Female</option>
										</select>
									</td>
								</tr>
								<tr><td valign="top"><b>Year of birth:</b></td> 
									<td>
										<select id="year_of_birth" name="year_of_birth" class="element select small">
											<option value="">please select</option>
											<?php for($k=1938;$k<=1995;$k++){?>
											 <option value="<?=$k?>" <?php if($this->form['year_of_birth']==$k){?>selected<? } ?> ><?=$k?></option>
											<?php } ?>
										</select>
									</td>
								</tr>
								<tr><td valign="top"><b>Lead:</b></td> 
									<td>
									<select id="lead" name="lead" class="element select">	
										<option value="none">Please select</option>
										<option value="web search" <?php if($this->form['lead']=="web search"){?>selected<? } ?>>web search</option>
										<option value="word of mouth" <?php if($this->form['lead']=="word of mouth"){?>selected<? } ?>>word of mouth</option>
										<option value="book version" <?php if($this->form['lead']=="book version"){?>selected<? } ?>>book version</option>
										<option value="CD ROM version" <?php if($this->form['lead']=="CD ROM version"){?>selected<? } ?>>CD ROM version</option>
										<option value="mail shot" <?php if($this->form['lead']=="mail shot"){?>selected<? } ?>>mail shot</option>
										<option value="magazine advert" <?php if($this->form['lead']=="magazine advert"){?>selected<? } ?>>magazine advert</option>
										<option value="conference" <?php if($this->form['lead']=="conference"){?>selected<? } ?>>conference</option>
										<option value="link from other website" <?php if($this->form['lead']=="link from other website"){?>selected<? } ?>>link from other website</option>
										<option value="other" <?php if($this->form['lead']=="other"){?>selected<? } ?>>Others</option>
									</select>
									</td>
								</tr>
								<tr><td valign="top"><b>Accept site emails:</b></td> 
									<td>
										<input type="radio" name="accept_site_emails" id="accept_site_emails" value="1" <?php if($this->form['accept_site_emails']=="1" || $this->form['accept_site_emails']==""){?>CHECKED<?php } ?>>
										<label class="choice" for="status">Yes</label>
										<input type="radio" name="accept_site_emails" value="0" <?php if($this->form['accept_site_emails']=="0"){?>CHECKED <?php } ?>>
										<label class="choice" for="status">No</label>
									</td>
								</tr>
								<tr><td valign="top"><b>Accept bb emails:</b></td> 
									<td>
										<input type="radio" name="accept_bb_emails" id="accept_bb_emails" value="1" <?php if($this->form['accept_bb_emails']=="1" || $this->form['accept_bb_emails']==""){?>CHECKED<?php } ?>>
										<label class="choice" for="status">Yes</label>
										<input type="radio" name="accept_bb_emails" value="0" <?php if($this->form['accept_bb_emails']=="0"){?>CHECKED <?php } ?>>
										<label class="choice" for="status">No</label>
									</td>
								</tr>
								<tr><td valign="top"><b>Registration Status:</b></td> 
									<td>
										<input type="radio" name="status" value="1" <?php if($this->form['RegistrationChecked']=="1"){?>checked<?php } ?>/> Approved<br />
										<input type="radio" name="status" value="0" <?php if($this->form['RegistrationChecked']=="0"){?>checked<?php } ?>/> Pending <br/>
										<input type="radio" name="status" value="2" <?php if($this->form['RegistrationChecked']=="2"){?>checked<?php } ?>/> Un-approve <br/>
									</td>
								</tr>
								<tr><td valign="top"><b>Active Status:</b></td> 
									<td>
										<input type="radio" name="active" id="active" value="1" <?php if($this->form['active']=="1" || $this->form['active']==""){?>CHECKED<?php } ?>>Active<br>
										<input type="radio" name="active" value="0" <?php if($this->form['active']=="0"){?>CHECKED <?php } ?>>InActive<br>
									</td>
								</tr>
							</table></td>
						</tr>
						<tr>
						<td colspan="6"/>
						</tr>
						<tr>
						<tr>
						<td colspan="6" align="center">
							<span><input type="button" class="paginate_button" id='saveupdate' name="saveupdate" value="Update" onclick="document.addmember.submit();"></span></td>
						</tr>
						</tbody>
					</table>
				</td>
				</tr>
				</tbody>
			  </table></td>
			  </tr>
		  </table>
		</form>
	</div>
</div>
</body>
</html>
