<?
$prevquickviewurl	=	$this->form['baseurl'].'/members/quickview/id/'.$this->form['previd'];
$nextquickviewurl	=	$this->form['baseurl'].'/members/quickview/id/'.$this->form['nextid'];

?>
<title>Member Details</title>
<style type="text/css">

body, html {background: #F2F5F7 repeat-x; font: 100% "Liberation Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.ui-tabs {padding: 0.2em;position: relative;}
.ui-corner-all {border-radius: 6px 6px 6px 6px;}
.ui-widget-content {background: url("/logincms/public/css/cupertino/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png") repeat-x scroll 50% top #F2F5F7;border: 1px solid #DDDDDD;color: #362B36;}
h2 {color: #1371AA;clear: left;font-size: 130%;font-weight: 400;margin: 0 0 3px; line-height: 1em;}
#filters .ui-widget-content { background: none; padding: 10px; }
#filters { margin-bottom: 3em; clear: both; font-size: 13px; }
#filters ul { list-style-type: none; margin: 1em 0 0; padding: 0px; clear: both; }
#filters ul li { float: left; }
#filters ul a:hover { background-color: #e0eef7; }
#newslisting_filter { margin: 1em 1em 0 1.4em; }
#filters { margin-bottom: 0; clear: both; font-size: 13px; }
li.filtertitle {display: inline-block; width: 100%; text-transform: uppercase; font-size: 0.80em; font-weight: bold; font-variant: normal; }
#filters ul li a { display: inline; font-size: 11px; float: left; margin-right: 5px; padding: 1px 5px 1px 7px; -moz-border-radius: 4px; -webkit-border-radius: 4px; background-color: #f4f4f4; text-decoration: none; margin-bottom: 5px; }
.msg{color:#339900;}

</style>
</head>
<body>
<div id="inner-center" class="">
	<div id="article_tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		<form name="addcountry" action=''  method="post">
		  <input type="hidden" name="id" value="<?php echo $this->form['id']?>">
		  <table width="650" height="100%"  border="0" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" class="romantable" valign="top">
			<tbody>
				<tr>
					<td colspan="2"><br/><br/></td> 
				</tr>
				<tr>
					<td align="left" colspan="2">
						<h2>View member details</h2>
					</td>
				</tr>
				<tr>
					<td colspan="2"><br/></td>
				</tr>
				<tr>
					<td align="left">
					<div id="filters">
						<ul id='member_type'>
							<li><?if($this->form['previd']!=''){?><a href="<?=$prevquickviewurl?>"> &lt;&lt;Prev</a><?}?></li>
						</ul>
					</td>
					<td align="right"><div id="filters">
						<ul id='member_type'>
							<li align="right"><?if($this->form['nextid']!=''){?><a href="<?=$nextquickviewurl?>">Next&gt;&gt;</a><?}?></li>		
						</ul>
					</td>
				</tr>
				<tr>
					<td colspan="2"><hr/></td>
				</tr>
				<tr>
					<td colspan="2" align="center" class="msg">
					<?if($this->form['flag'] == 'success'){?>
					Record updated successfully!
					<?}?>
					</td>
				</tr>
			  <tr>
				<td valign="top"><table width="100%" border="0" cellpadding="6" cellspacing="6" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" class="romantable" valign="top">
					<tbody>
					  <tr>
						<td><table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" valign="top">
							<tbody>
								<tr><td valign="top" width="40%"><b>ID:</b></td> <td><?php echo $this->form['id']?></td></tr>
								<tr><td valign="top"><b>Username:</b></td> <td><?php echo $this->form['username']?></td></tr>
								<tr><td valign="top"><b>Email:</b></td> <td><?php echo $this->form['email']?></td></tr>
								<tr><td valign="top"><b>Password:</b></td> <td><?php echo $this->form['pwd']?></td></tr>
								<tr>
									<td valign="top"><b>User Type:</b></td> 
									<td>
										<input type="radio" name="user_type" value="admin" <?php if($this->form['UserType']=="admin"){?>checked<?php } ?>/> Admin&nbsp;&nbsp;
										<input type="radio" name="user_type" value="for-profit" <?php if($this->form['UserType']=="for-profit"){?>checked<?php } ?>/> For profit&nbsp;&nbsp;
										<input type="radio" name="user_type" value="non-profit" <?php if($this->form['UserType']=="non-profit"){?>checked<?php } ?>/> For non profit <br/>
									</td>
								</tr>
								<tr><td valign="top"><b>First Name:</b></td> <td><?php echo $this->form['FirstName']?></td></tr>
								<tr><td valign="top"><b>Last Name:</b></td> <td><?php echo $this->form['LastName']?></td></tr>
								<tr><td valign="top"><b>Title:</b></td> <td><?php echo $this->form['title']?></td></tr>
								<tr><td valign="top"><b>Role:</b></td> <td><?php echo $this->form['role']?></td></tr>
								<tr><td valign="top"><b>Professional group number:</b></td> <td><?php echo $this->form['prof_reg_num']?></td></tr>
								<tr><td valign="top"><b>Nurse Prescriber:</b></td> <td><?php echo ($this->form['nurse_prescriber']=='1')?'Yes':'No'?> </td></tr>
								<tr><td valign="top"><b>specialty:</b></td> <td><?php echo $this->form['speciality']?></td></tr>
								<tr><td valign="top"><b>Sub specialty:</b></td> <td><?php echo $this->form['sub_specialty']?></td></tr>
								<tr><td valign="top"><b>Organisation name:</b></td> <td><?php echo $this->form['organisation']?></td></tr>
								<tr><td valign="top"><b>Address1:</b></td> <td><?php echo $this->form['addr1']?></td></tr>
								<tr><td valign="top"><b>Address2:</b></td> <td><?php echo $this->form['addr2']?></td></tr>
								<tr><td valign="top"><b>Address3:</b></td> <td><?php echo $this->form['addr3']?></td></tr>
								<tr><td valign="top"><b>Address4:</b></td> <td><?php echo $this->form['addr4']?></td></tr>
								<tr><td valign="top"><b>City:</b></td> <td><?php echo $this->form['TownOrCity']?></td></tr>
								<tr><td valign="top"><b>State/Province/County:</b></td> <td><?php echo $this->form['StateOrCounty']?></td></tr>
								<tr><td valign="top"><b>Zip/Postal Code:</b></td> <td><?php echo $this->form['PostalCode']?></td></tr>
								<tr><td valign="top"><b>Country:</b></td> <td><?php echo $this->form['Country']?></td></tr>
								<tr><td valign="top"><b>Telephone Number:</b></td> <td><?php echo $this->form['phone']?></td></tr>
								<tr><td valign="top"><b>Main work place:</b></td> <td><?php echo $this->form['main_workplace']?></td></tr>
								<tr><td valign="top"><b>Current post/position:</b></td> <td><?php echo $this->form['current_post']?></td></tr>
								<tr><td valign="top"><b>Years in current post:</b></td> <td><?php echo $this->form['years_in_post']?></td></tr>
								<tr><td valign="top"><b>Time spent in direct patient care:</b></td> 
									<td>
									<?php 
										if($this->form['patient_care_time']=="1")
											echo '25%';
										else if($this->form['patient_care_time']=="2")
											echo '25-50%';
										else if($this->form['patient_care_time']=="3")
											echo '51-75%';
										else if($this->form['patient_care_time']=="4")
											echo '75%';
									?>
									</td>
								</tr>
								<tr><td valign="top"><b>Gender:</b></td> <td><?php echo ($this->form['gender']=='F')?'Female':'Male'?></td></tr>
								<tr><td valign="top"><b>Year of birth:</b></td> <td><?php echo $this->form['year_of_birth']?></td></tr>
								<tr><td valign="top"><b>Lead:</b></td> <td><?php echo $this->form['lead']?></td></tr>
								<tr><td valign="top"><b>Accept site emails:</b></td> <td><?php echo ($this->form['accept_site_emails']=='1')?'Yes':'No'?></td></tr>
								<tr><td valign="top"><b>Accept bb emails:</b></td> <td><?php echo ($this->form['accept_bb_emails']=='1')?'Yes':'No' ?></td></tr>
								<tr><td valign="top"><b>Status:</b></td> 
									<td>
										<input type="radio" name="status" value="1" <?php if($this->form['RegistrationChecked']=="1"){?>checked<?php } ?>/> Approved<br />
										<input type="radio" name="status" value="0" <?php if($this->form['RegistrationChecked']=="0"){?>checked<?php } ?>/> Pending <br/>
										<input type="radio" name="status" value="2" <?php if($this->form['RegistrationChecked']=="2"){?>checked<?php } ?>/> Un-approve <br/>
									</td>
								</tr>

							</table></td>
						</tr>
						<tr>
						<td colspan="6"/>
						</tr>
						<tr>
						<tr>
						<td colspan="6" align="center">
						  <span><input type="submit" id='saveupdate' class="paginate_button" name="saveupdate" value="Update"></span></td>
						</tr>
							</tbody>
						  </table></td>
					  </tr>

					</tbody>
				  </table></td>
			  </tr>
		  </table>
		</form>
	</div>
</div>
</body>
</html>
