<div id="filtersauto">
  <h3><a href="#">Filters</a></h3>
  <div>
    <form class="autosuggest">
		<input type="hidden" name="search_role" id="search_role">
		<input type="hidden" name="search_spec" id="search_spec">
		<input type="hidden" name="search_country" id="search_country">
	   <ul>
		<li>			
			<div><b>By Roles : </b><input type="text" name="sel_role" id="sel_role" class="element text medium" ></div>			
		</li>
		<li>
			<div><b>By Speciality : </b><input type="text" name="sel_spec" id="sel_spec" class="element text medium" ></div>		
		</li>
		<li>
			<div><b>By Country : </b><input type="text" name="sel_country" id="sel_country" class="element text medium" ></div>		
		</li>
	</ul>
	</form>
  </div>
</div>
<div id="dashtabs">
    <ul>
      <li><a href="#stat">Members Stats</a></li>	       
    </ul>    
	<div id='stat'>
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='memberstat'>
		   <thead>		   			
			<tr>				
				<th>Month</th> 
				<th>Registered Members</th>
				<th>Total Members</th>
			</tr>
			</thead>
			<tbody>			
			</tbody>
		</table>
	</div>
</div>