<div id="form_container">
  <div class="form_description">
    <h2>View Member</h2>
    <p class="error">
    <ul>     
    </ul>
    </p>
  </div>  
  <div id="article_tabs">
  <ul>
    <li><a href="#tcontact">Active Subscription</a></li>
  </ul>
  <form action="<?=$this->baseurl?>/members/add" class="appnitro" enctype="multipart/form-data" method="post" name="addmember" id="addmember">
  <input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
    <div id="tcontact">
      <ul>
		<li>
			<label class="description" for="element_3">Full name</label>
			<span>
				<?php echo stripslashes($this->form['title']) ?>
			</span>
			<span>
				<?php echo stripslashes($this->form['FirstName']) ?>
			</span> 
			<span>
				<?php echo stripslashes($this->form['LastName']) ?>
			</span>
		</li> 
		<li>
			<label class="description" for="title">Email</label>
			<span>
				<?php echo stripslashes($this->form['email']) ?>
			</span>
		</li>
		<li>
			<label class="description" for="title">Subscription start date</label>
			<span>
				<?php echo $this->form['start_date'] ?>
			</span>
		</li>
		<li>
			<label class="description" for="title">Subscription end date</label>
			<span>
				<?php echo $this->form['end_date'] ?>
			</span>
		</li>
		<li>
			<label class="description" for="title">Subscription duration</label>
			<span>
				<?php echo $this->form['duration'].' '.($this->form['duration']=='365'?'Year':'Days') ?>
			</span>
		</li>

		</li>		        
      </ul>
    </div>
  </form>
</div>
<div id='pglobal'>
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" >
				<tr>
					<td ><b>Start Date</b></th>
					<td><b>End Date</b></td>
					<td><b>Duration</b></td>
					<td><b>Order ID</b></td>
					<td><b>Status</b></td>
					<td><b>Group Name</b></td>
				</tr>
				<?php echo $this->details ?>
		</table>
		<br>
		<br>
		<br>
	</div>
</div>