<div id="activitytabs">	 
  <ul>
	<li><a href="#art">List Articles</a></li>
  </ul>
  <div id="art">
	<h2>List Articles</h2>
	<table class="display" id="articlelist">
	  <col id="colname" />
	  <col id="colurl"/>
	  <col id="colstatus" />
	  <col id="colactions" />
	  <thead>
		<tr>
		  <th>Title</th>
		  <th>Page URL</th>
		  <th>Status</th>
		  <th>Action</th>
		</tr>		
	  </thead>
	  <tbody>		
		<tr>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td></td>
		</tr>
	  </tbody>
	</table>
 </div>
</div>
