[+jot.subscription.enabled:is=`1`:then=`
<div class="jot-list">
<ul>
	[+jot.subscription.status:is=`0`:then=`
	<li><a href="[+jot.link.subscribe:esc+]#jf[+jot.link.id+]" onclick="return confirm('Are you sure you wish to enable notification of new replies for this topic?');">Subscribe</a> to new replies.</li>
	`+]

	[+jot.subscription.status:is=`1`:then=`
	<li><a href="[+jot.link.unsubscribe:esc+]#jf[+jot.link.id+]" onclick="return confirm('Are you sure you wish to disable notification of new replies for this topic?');">Unsubscribe</a> to new replies.</li>
	`+]
</ul>
</div>
`:strip+]