<div id="article_tabs">
	<ul>
	  <li><a href="#tgeneral">Add/Edit Snippet</a></li>
	</ul>
	<div id="tgeneral">
		<div id="form_container">	
			<form action="<?=$this->baseurl?>/snippets/add/" class="appnitro" method="post" id="addsnippet" name="addsnippet" onsubmit="validate_snippet();">
			<div class="form_description">
				<h2>Add/Edit Snippets</h2>
				<p class="error">
					<ul>
					</ul>
				</p>
			</div>		
			<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
			<ul> 	
				<li>
					<label class="description" for="first_name">Title<span class="required">*</span></label>
					<div>
						<input id="snippet_title" name="snippet_title" class="element text medium" type="text" maxlength="255" value="<?php echo stripslashes($this->form['snippet_title']); ?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter name.</small></p>
				</li>		
				<li>
					<label class="description" for="sel_tag">Wrapping Tags</label>
					<div>
						<select id="sel_tag" name="sel_tag" class="element select small">
							<option value="">-Select-</option>
							<option value="repeat">{{repeat}}</option>
						</select>&nbsp;
						<a class="button" href='javascript:void(0);' onclick='if($("#sel_tag").val()!=""){wraptext(document.addsnippet.long_text, "{{"+$("#sel_tag").val()+"}}","{{/"+$("#sel_tag").val()+"}}");}'><img src="<?=$this->baseurl?>/public/images/icons/textfield_add.png" width="16" height="16" border="0" />Insert</a>
					</div> 
					<p class="guidelines"><small>Please enter name.</small></p>
				</li>		
				<li>
					<label class="description" for="last_name">Content<span class="required">*</span></label>
					<div>
						<textarea id="long_text" name="long_text" style="height: 350px; width: 100%;" class="element textarea medium"><?php echo stripslashes($this->form['long_text']); ?></textarea> 
					</div> 
					<p class="guidelines"><small>Please enter content.</small></p>
				</li>		
				<li>
				  <label class="description" for="status">Status </label>
				  <span>
					<input id="status" name="status" class="element radio" type="radio" value="1" checked="checked" <?php if($this->form['status']=='1'){?>checked="checked"<? } ?> />
					<label class="choice" for="status">Active</label>
					<input name="status" class="element radio" type="radio" value="0" <?php if($this->form['status']=='0'){?>checked="checked"<? } ?> />
					<label class="choice" for="status">InActive</label>
				  </span>
				</li>
				<li class="buttons">
				  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="submit">Submit</button>
				</li>
			 </ul>			
			</form>
		</div>
	</div>
</div>
