<div id="activitytabs">	 
  <ul>
	<li><a href="#art">List Snippets</a></li>
  </ul>
  <div id="art">
	<h2>List Snippets</h2>
	<table class="display" id="snippetlist">
	  <col id="colsnippet" />
	  <col id="colstatus" />
	  <col id="colactions" />
	  <thead>
		<tr>
		  <th>Snippet Title</th>
		  <th>Status</th>
		  <th>Action </th>
		</tr>		
	  </thead>
	  <tbody>
		<tr>
		  <td></td>
		  <td></td>
		  <td></td>
		</tr>
	  </tbody>
	</table>
</div>
</div>
