body {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	line-height: 12px; 
	font-weight: normal; 
	font-variant: normal; 
	text-transform: none; 
	color: #666666;
}

p {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	line-height: 12px; 
	font-weight: normal; 
	font-variant: normal; 
	text-transform: none; 
	color: #666666;
}

a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	line-height: 12px; 
	font-weight: normal; 
	font-variant: normal; 
	text-transform: none; 
	color: #333333; 
	text-decoration: none;
}

a {  
	color: #333333; 
	text-decoration: none; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	line-height: 12px;
}

a:link {  
	color: #0000FF; 
	text-decoration: none; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	line-height: 12px;
}

a:visited {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	line-height: 12px; 
	color: #0000FF;
}

a:hover { 
	 font-family: Verdana, Arial, Helvetica, sans-serif; 
	 font-size: 10px; 
	 line-height: 12px; 
	 color: #FF0000; 
	 text-decoration: none;
}

.heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 12px;
	font-weight: bold;
	color: #666666;
}

td {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	line-height: 12px; 
	font-weight: normal; 
	font-variant: normal; 
	text-transform: none; 
	color: #666666;
}

th  {
	font-size : 11px;
	font-family : arial, verdana, helvetica, geneva, sans-serif;
	font-weight : bold;
	font-style : normal;
	color=#000000;
	background : #cccccc;
	color : #111111;
}

LI {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-style: normal; 
	line-height: 12px; 
	font-weight: normal; 
	font-variant: normal; 
	text-transform: none; 
	color: #666666;
}


.small_btn {
	font-size: 9px;
}