<div id="article_tabs">
	<ul>
	  <li><a href="#tgeneral">Add/Edit Country</a></li>
	</ul>
	<div id="tgeneral">
		<div id="form_container">	
			<form action="<?=$this->baseurl?>/countries/add" class="appnitro" enctype="multipart/form-data" method="post" id="addcountry" name="addcountry">
			<div class="form_description">
				<h2>Add/Edit Country</h2>
				<p class="error">
					<ul>				
					</ul>
				</p>
			</div>		
			<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
			<ul> 	
				<li>
					<label class="description" for="zone">Zone<span class="required">*</span></label>
					<div>
						<select name='zone_id' id='zone_id'>
							<option value="">:: Select ::</option>
							<option <?if($this->form['zone_id']=='1') echo 'selected'?> value='1'>Zone 1 </option>
							<option <?if($this->form['zone_id']=='2') echo 'selected'?> value='2'>Zone 2 </option>
							<option <?if($this->form['zone_id']=='3') echo 'selected'?> value='3'>Zone 3 </option>
							<option <?if($this->form['zone_id']=='4') echo 'selected'?> value='4'>Zone 4 </option>
							<option <?if($this->form['zone_id']=='5') echo 'selected'?> value='5'>Zone 5 </option>
						 </select> 
					</div> 
					<p class="guidelines"><small>Please select zone.</small></p>
				</li>		
				<li>
					<label class="description" for="code">ISO Code<span class="required">*</span></label>
					<div>
						<input id="iso_code" name="iso_code" class="element text small" type="text" maxlength="255" value="<?php echo $this->form['iso_code'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter iso code.</small></p>			
				</li>		
				<li>
					<label class="description" for="name">Country Name<span class="required">*</span></label>
					<div>
						<input id="country" name="country" class="element text medium" type="text" maxlength="255" value="<?php echo $this->form['country'];?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter country.</small></p>			
				</li>		
				<li class="buttons">
				  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_country();">Submit</button>
				</li>
			 </ul>			
			</form>
		</div>
	</div>
</div>