<div id="activitytabs">	 
  <ul>
	<li><a href="#art">List Country</a></li>
  </ul>
  <div id="art">
	<h2>List Country</h2>
	<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="countrylist">
	   <thead>
		<tr>
			<th>Name</th> 
			<th>ISO Code</th> 
			<th>Zone</th> 
			<th>EU</th> 
			<th>GC</th> 
			<th>Action</th>      
		</tr>    
		</thead>
		<tbody>		
		<tr>			
		</tr>
		</tbody>
	</table>
</div>
</div>
