<div class="field-confirm" title="Update Items" width="100%" border="1">     
  <table>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" name="upfieldvar" id="upfieldvar"></td>
			<td><select name="upobjtype" id="upobjtype">					
					<option value="Field">Field</option>
					<option value="Datefield">Datefield</option>
					<option value="TextArea">TextArea</option>
					<option value="TinyMce">TinyMce</option>
					<option value="Upload and Select Box">Upload and Select Box</option>					
			    </select>
			</td>
			<td></td>			
		</tr>
  </table>
</div>	
<div id="form_container">
  	<div class="form_description">
	  <h2>Add/Edit Fieldset</h2>
	   <p class="error">
		<ul></ul>
 	   </p>  
	 </div>
	 <div id="article_tabs">
		<ul>
		  <li><a href="#tgeneral">Fieldset</a></li>
		  <li><a href="#tcontent">Fields</a></li>
		  <li><a href="#tassets">Availability</a></li>
		</ul>		
		<form action="<?=$this->baseurl?>/fieldsets/add" class="appnitro" enctype="multipart/form-data" method="post" name="addfield" id="addfield">
		 <input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />		
		<div id="tgeneral">
		<ul>
		  <li>
            <label class="description" for="title">Fieldset Name<span class="required">*</span></label>
            <div>
              <input id="title" name="title" class="element text medium" type="text" maxlength="255" value="<?php echo $this->form['title'];?>"/>
            </div>
            <p class="guidelines"><small>Please enter fieldset name.</small></p>
          </li>
          <li>
            <label class="description" for="snippet">Field Group Type<span class="required">*</span></label>
            <div>
			  <input id="group_type" name="group_type" class="element text medium" type="text" maxlength="255" value="<?php echo $this->form['group_type'];?>"/>
              <select id='sel_group_type' name='sel_group_type' class="element select small" onchange="$('#group_type').val(this.value)">
                <option value="">-Select Group Type-</option> 
				<?php foreach($this->groups as $datas){?>
				<option value="<?=$datas['group_type']?>" <?php if($this->form['group_type']==$datas['group_type']){?>selected<?php } ?>><?=$datas['group_type']?></option> 
				<?php } ?>
              </select>
            </div>
          </li>
		   <li>
            <label class="description" for="title">Description</label>
            <div>
              <textarea id="description" name="description" class="element textarea medium" ><?php echo $this->form['description'];?></textarea>
            </div>
            <p class="guidelines"><small>Please enter description.</small></p>
          </li>
		   <li>
            <label class="description" for="title">Field Datasource</label>
            <div>
              <select id="datasource_id" name="datasource_id" class="element select small" onchange="showadvsql(this.value)">
				<option value="">-Select Datasource-</option> 
				<?php foreach($this->datasource as $datas){?>
				<option value="<?=$datas['datasource_id']?>" <?php if($this->form['datasource_id']==$datas['datasource_id']){?>selected<?php } ?>><?=$datas['title']?></option> 
				<?php } ?>
				<option value="advanced_sql" <?php if(!empty($this->form['advance_sql'])){?>selected <?php } ?>>Advanced SQL</option> 
			  </select>
            </div>
            <p class="guidelines"><small>Please select datasource.</small></p>
          </li>
		  <li id="sqlbox" <?php if(empty($this->form['advance_sql'])){?> style="display:none" <?php } ?>>            
            <div>
              <textarea id="advsql" name="advsql" class="element textarea medium" ><?php echo $this->form['advance_sql']?></textarea>
            </div>            
          </li>
		  <li class="buttons">
			<a class="next-tab button" rel="1">Continue</a>
		  </li>
		 </ul>
	  </div>
      <div id="tcontent">
         	<fieldset id='quried_fields'>			   

			</fieldset>
		    <table cellspacing="0" cellpadding="0" width="100%" class="grid">
			<thead>
				<tr>
					<th>Field Name</th>
					<th>Field Type</th>
					<th>Field var</th>
					<th>Object Type</th>
					<th>Status</th>
				<tr>
			</thead>
			<tbody id="trdata">
			 <?=$this->form['fields']?>
			</tbody>
			</table>
		<ul>
          <li class="buttons">
			<a class="next-tab button" rel="2">Continue</a>
		  </li>
        </ul>
      </div>
	  <div id="tassets">
        <ul>
           <li>
            <label class="description" for="title">Usage</label>
            <div>
              <select id="usage" name="usage" class="element select small">
				<option value="">-Select Usage-</option> 
				<option value="all" <?php if($this->form['usage']=='all'){?>selected<?php } ?>>All/Any</option>				
				<option value="snippets" <?php if($this->form['usage']=='snippets'){?>selected<?php } ?>>Snippets Only</option> 
				<option value="templates" <?php if($this->form['usage']=='templates'){?>selected<?php } ?>>Templates Only</option> 
			  </select>
            </div>
            <p class="guidelines"><small>Please select usage.</small></p>
          </li>
		  <li>
          <label class="description" for="status">Status </label>
          <span>
		    <input id="status" name="status" class="element radio" type="radio" value="1" checked <?php if($this->form['status']=='1'){?>checked<? } ?> />
			<label class="choice" for="status">Active</label>
			<input name="status" class="element radio" type="radio" value="0" <?php if($this->form['status']=='0'){?>checked<? } ?> />
			<label class="choice" for="status">InActive</label>
          </span>
        </li>
		  <li class="buttons">
			<button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_fieldset();">Save</button>
			<button id="saveasForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_fieldset();">Save As</button>
			<button id="cancelForm" class="fg-button ui-state-default ui-corner-all" type="reset">Cancel</button>			
		  </li>
		</ul>
      </div>      
	</form>	  					
   </div>
</div>
<?php //if(empty($this->form['id'])){?>
<script type='text/javascript'>
window.onload=function(){
	$( "#article_tabs" ).tabs('disable', 1);	
	$( "#article_tabs" ).tabs('disable', 2);	
	init_trclick();
}
</script>
<?php //} ?>
