<div id="related_tabs">
  <ul>
	<li><a href="#tpages">Pages</a></li>
	<li><a href="#tnews">News</a></li>			
  </ul>		
  <div id="tpages">
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="relatedpages">
		   <thead>		   			
			<tr>
				<th>Page Id</th>
				<th>Title</th> 
				<th>Language</th> 						
				<th>Type</th>
				<th>URL</th> 
				<th>Template</th> 
				<th>Status</th> 
			</tr>
			</thead>
			<tbody>						
			</tbody>
		</table>	
  </div>
  <div id="tnews">
		<table class='display' id="relatednews" cellspacing="0" cellpadding="2">
		   <thead>
			<tr>
			  <th>News Id</th>
			  <th>Title</th>
			  <th>Date</th>
			  <th>Type</th>
			  <th>Category</th>
			  <th>Status</th>
			</tr>
			</thead>	
			<tbody>
			</tbody>	
		</table>
  </div>
  <a class="button" onclick="assign_related();">Insert</a>
</div>
	