<div id="form_container">		
	<div class="form_description">
		<h2>Add/Edit Products</h2>
		<p class="error">
			<ul></ul>
		</p>
	</div>			
	<div id="article_tabs">
		<ul>
			<li><a href="#tgeneral">General</a></li>			
			<li><a href="#tvariation">Variation</a></li>
			<li><a href="#timages">Images</a></li>
			<li><a href="#tmeta">Meta</a></li>
		 </ul>
		 <form action="<?=$this->baseurl?>/products/generaladd" class="appnitro" enctype="multipart/form-data" method="post" name="addproduct" id="addproduct">
		 <input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
		 <input type='hidden' name='process' id='process' value='' />
		 <div id="tgeneral">
			<ul>
				<li>
					<label class="description" for="pcats">Product Category<span class="required">*</span></label>
					<div>
						<select id='procat_id' name='procat_id[]' class="element select small" multiple> 
							<?=$this->prodcats?>
						</select>
					</div> 
					<p class="guidelines"><small>Please select category.</small></p> 
				</li>
				<li>
					<label class="description" for="pcats">Product Template<span class="required">*</span></label>
					<div>
						<select id='temp_id' name='temp_id' class="element select small"> 
						<?php foreach ($this->templates as $temp): ?>
							 <option value="<?php echo $temp['temp_id'] ?>" <?php if($this->form['temp_id']==$temp['temp_id']){?>selected<?php  } ?>><?php echo $temp['temp_filename'] ?></option>
							 <?php endforeach ?>	
						</select>
					</div> 
					<p class="guidelines"><small>Please select category.</small></p> 
				</li>
				<li>
					<label class="description" for="title">Product Name<span class="required">*</span></label>
					<div>
						<input id="product_name" name="product_name" class="element text medium" type="text" maxlength="255" value="<?php echo stripslashes($this->form['product_name']) ?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter product name.</small></p>
				</li>
				<li>
					<label class="description" for="title">Product Short Name</label>
					<div>
						<input id="product_shortname" name="product_shortname" class="element text medium" type="text" maxlength="255" value="<?php echo stripslashes($this->form['product_shortname'])?>"/> 
					</div> 
					<p class="guidelines"><small>Please enter product short name.</small></p>
				</li>
				<li>
					<label class="description" for="desc">Short text<span class="required">*</span></label>
					<div>
						<textarea id="short_text" name="short_text" class="mceEditor"><?php echo stripslashes($this->form['short_text'])?></textarea> 
					</div> 
					<p class="guidelines"><small>Please enter short text.</small></p>
				</li>	
				<li>
					<label class="description" for="desc">Description<span class="required">*</span></label>
					<div>
						<textarea id="description" name="description" class="mceEditor"><?php echo stripslashes($this->form['description'])?></textarea> 
					</div> 
					<p class="guidelines"><small>Please enter description.</small></p>
				</li>
				<li>
					<label class="description" for="testimonials">Testimonials</label>
					<div>
						<textarea id="testimonials" name="testimonials" class="mceEditor"><?php echo stripslashes($this->form['testimonials'])?></textarea> 
					</div> 
					<p class="guidelines"><small>Please enter testimonials.</small></p>
				</li>	
			</ul>
		</div>	
		<div id="tvariation">			
		   <table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td>Product Code</td>
				<td>Style</td>				
				<td>Price</td>								
				<td>Supplier Stock</td>						
				<td>Site Stock</td>						
				<td>Available Stock</td>						
				<td>Product Vat</td>	
				<td>Vat Moss</td>		
				<td>Status</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
			    <td><input type="text" name="txt_pcode" id="txt_pcode"  size="8"/></td>
			    <td><input type="text" name="txt_style" id="txt_style"  size="8"/></td>
			    <td><input type="text" name="txt_price" id="txt_price"  size="5"/></td>				
				<td><input type="text" name="txt_supplier" id="txt_supplier" size="5"/></td>
				<td><input type="text" name="txt_site" id="txt_site" size="5" onkeyup="$('#txt_ava').val(this.value);"/></td>
				<td><input type="text" name="txt_ava" id="txt_ava" size="5"/></td>
				<td><select id='txt_vat' name='txt_vat' style="width:100px;"> 							
							 <?php foreach ($this->vats as $vat): ?>
							 <option value="<?php echo $vat['vat_id']?>" <?php if($this->form['vat_id']==$vat['vat_id']){?>selected<?php  } ?>><?php echo $vat['vat_code'] ?></option>
							 <?php endforeach ?>
						</select>
				</td>
				<td><input type="checkbox" name="txt_vmoss" id="txt_vmoss" value="1"/></td>
				<td><select name="txt_status" id="txt_status" style="width:100px;">
						<option value="1">Active</option>
						<option value="0">Inactive</option>
					</select></td>
				<td><input type="button" id='sbutton' value="Add" name="Add" onclick="addstyle('txt_pcode','txt_style','txt_price','txt_supplier','txt_site','txt_ava','txt_vat','txt_vmoss','txt_status')"/></td>
				</tr>
				<tr>
					<td colspan="10">
						<table cellpadding="0" cellspacing="0" border="0" width="100%" id="variantTable" >
						<?=$this->form['style_list']?>
						</table>
					</td>
				</tr>
			</table>  				
		</div>
		   <div id="timages">
				<ul>				
					<li>
					  <label class="description" for="himage">Product Image</label>
					  <div class="buttons">
						<?php
							  echo $this->select->Select("yes","images",'no','addproduct','product-image');
						?>
					  </div>
					  <p class="guidelines"><small>Please select product image.</small></p>
					</li>
					<li>
					  <label class="description" for="timage">Product Thumb</label>
					  <div class="buttons">
						<?php echo $this->select->Select("yes","images",'no','addproduct','product-thumb');	?>
					  </div>
					  <p class="guidelines"><small>Please select product thumb.</small></p>
					</li>				
					<li>
					  <label class="description" for="status">Shipping By</label>
					  <span>
					  <input id="shipping_type" name="shipping_type" class="element radio" type="radio" value="1" checked <?php if($this->form['shipping_type']=='1'){?>checked<? } ?>/>
					  <label class="choice" for="status">Cart Total</label>
					  <input name="shipping_type" class="element radio" type="radio" value="0" <?php if($this->form['shipping_type']=='0'){?>checked<? } ?> />
					  <label class="choice" for="status">Weight</label>
					  </span> 
					</li>	
					<li>
					  <label class="description" for="external_product">External product url</label>
					  <div class="buttons">
						<input id="external_product" name="external_product" type="checkbox" value="1" <?php if($this->form['external_product']=='1'){?>checked<?php } ?> />					
					  </div>
					  <p class="guidelines"><small>Please select featured.</small></p>
					</li>
					<li>
					  <label class="description" for="featured">Featured</label>
					  <div class="buttons">
						<input id="featured" name="featured" type="checkbox" value="1" <?php if($this->form['featured']=='1'){?>checked<?php } ?> />					
					  </div>
					  <p class="guidelines"><small>Please select featured.</small></p>
					</li>	
					<li>
					  <label class="description" for="status">Status </label>
					  <span>
					  <input id="status" name="status" class="element radio" type="radio" value="1" checked <?php if($this->form['status']=='1'){?>checked<? } ?>/>
					  <label class="choice" for="status">Active</label>
					  <input name="status" class="element radio" type="radio" value="0" <?php if($this->form['status']=='0'){?>checked<? } ?> />
					  <label class="choice" for="status">InActive</label>
					  </span> 
					</li>					
				</ul>
		   </div>
		   <div id="tmeta">
				<ul>				
					 <li>
					  <label class="description" for="meta_title">Meta Title<span class="required">*</span></label>
					  <div>
						<input id="meta_title" name="meta_title" class="element text medium" type="text" maxlength="255" value="<?php echo $this->form['meta_title']?>"/>
					  </div>
					  <p class="guidelines"><small>Please select meta title.</small></p>
					</li>
					<li>
					  <label class="description" for="meta_desc">Meta Description</label>
					  <div>
						<textarea id="meta_desc" name="meta_desc" class="element textarea medium"><?php echo $this->form['meta_desc']?></textarea>
					  </div>
					  <p class="guidelines"><small>Please enter meta description.</small></p>
					</li>
					<li>
					  <label class="description" for="meta_keyword">Meta Keywords</label>
					  <div>
						<textarea id="meta_keywords" name="meta_keywords" class="element textarea medium"><?php echo $this->form['meta_keywords']?></textarea>
					  </div>
					  <p class="guidelines"><small>Please enter meta meta keyword.</small></p>
					</li>
					<li class="buttons">
						<button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_general('new');">Submit</button>
						<?php if($this->form['id']!=''){?>
						<button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_general('duplicate');">Duplicate</button>
						<?php } ?>
				    </li>
				</ul>
		   </div>
			</form>
	  </div>	   	
</div>
<script type='text/javascript'>
window.onload=function(){
	document.forms.addproduct.product_imageid.value="<?=$this->form['product_image']?>";
	document.forms.addproduct.product_image.value="<?=$this->form['product_image_img']?>";
	document.forms.addproduct.product_thumbid.value="<?=$this->form['product_thumb']?>";
	document.forms.addproduct.product_thumb.value="<?=$this->form['product_thumb_img']?>";
}
</script>