<h2>List Products</h2>
<div id="activitytabs">	 
  <ul>
	<li><a href="#general">General Products</a></li>	
  </ul>
  <div id="general">		
	<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='generalproducts'>
		<col id="colname" />
		<col id="colmail"/>
		<col id="colstatus" />
		<col id="colactions" />
	   <thead>
		<tr>
			<th>Product Name</th> 
			<th>SKU</th> 
			<th>Image</th>		
			<th>Price</th>
			<th>Status</th>
			<th>Action</th>
		</tr>		
		</thead>		
		<tbody>		
			<tr>
			</tr>		
		</tbody>
	</table>
</div>
</div>

