<?php $db			=	Zend_Registry::get("db"); ?>
<div id="form_container">
	<div id="cart_details"><?=$this->cart_items?></div>
	<h2></h2>
	<div class="form_description">
		<a class="button" onclick="addnew_customer(1);">Add New Customer</a>&nbsp;( OR )&nbsp;<a class="button" onclick="addnew_customer(0);">Select Existing User</a>	
	</div>		
		<div id="activitytabs" style="display:none">
			<ul>
			    <li><a href="#tcustomers">Customers</a></li>				
			</ul>
			<div id="tcustomers">
				<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='customers'>					
				   <thead>
					<tr>
						<th>Full Name</th> 
						<th>Email</th> 							
						<th>Role</th>
						<th>Speciality</th>
						<th>Organisation</th>
						<th>Action</th>
					</tr>		
					</thead>		
					<tbody>		
						<tr>
						</tr>		
					</tbody>
				</table>
			</div>			
		</div>
		<div id="newcustomers" style="display:none">			
			<div id="article_tabs">
			<ul>
			    <li><a href="#tbilling">Billing Details</a></li>				
			    <li><a href="#tshipping">Shipping Details</a></li>				
			</ul>
			<form action="#" class="appnitro" enctype="multipart/form-data" method="post" name="newscustomer" id="newscustomer">
				<input type="hidden" name="sessid" id="sessid" value="<?=$_SESSION['wlsession']['asess_id']?>" />
				<div id="tbilling">
					<p>Please enter billing address below.</p>
					<ul>
						<li id='biname'>
							<label class="description" for="bname">Name<span class="required">*</span></label>
							<span><input id="btitle" name= "btitle" class="element text" maxlength="4" size="4" value="" tabindex="1"/>		
							<label>Title</label>         
							</span><span>
							<input id="bfirst" name= "bfirst" class="element text" maxlength="255" tabindex='2' size="8" value=""/>
							<label>First</label>
							</span> <span>
							<input id="blast" name= "blast" class="element text" maxlength="255" tabindex='3' size="14" value=""/>
							<label>Last</label>
							</span> 
						 </li>
						 <li id="biemail">
							<label class="description" for="bemail">Email<span class="required">*</span></label>
							<div>
							  <input id="bemail" name="bemail" class="element text medium" type="text" maxlength="255" value="" tabindex="4"/>
							</div>
						  </li>	
						  <li id="biaddr" >
							<label class="description" for="add">Address<span class="required">*</span></label>
							<div>
							  <input id="baddress1" name="baddress1" class="element text large" value="" type="text" tabindex="5">
							  <label for="addr1">Street Address</label>
							</div>
							<div>
							  <input id="baddress2" name="baddress2" class="element text large" value="" type="text" tabindex="6">
							  <label for="addr2">Address Line 2</label>
							</div>
							<div class="left">
							  <input id="bcity" name="bcity" class="element text medium" value="" type="text" tabindex="7">
							  <label for="city">City</label>
							</div>
							<div class="right">
							  <input id="bstate" name="bstate" class="element text medium" value="" type="text" tabindex="8">
							  <label for="state">County / State / Province / Region</label>
							</div>
							<div class="left">
							  <input id="bzipcode" name="bzipcode" class="element text medium" maxlength="15" value="" type="text" tabindex="9">
							  <label for="pcode">Postcode</label>
							</div>
							<div class="right">
							  <?php
									$selcntry		= "SELECT * FROM 3bit_country WHERE iso_number != '' ORDER BY country";			
									$db_query		= $db->fetchAll($selcntry);				
									echo '<select id="bcountry" name="bcountry" class="element select medium" tabindex="10">
																  <option value="0">-Select country-</option>';
										foreach($db_query as $db_rows){
											if($db_rows['id'] == '232')
												echo "<option value=\"".$db_rows['id']."\" selected=selected>".ucfirst(strtolower($db_rows['country']))."</option> ";
											else
												echo "<option value=\"".$db_rows['id']."\" >".ucfirst(strtolower($db_rows['country']))."</option> ";						
										}
									echo "</select>";
								  ?>		 
							  <label for="country">Country</label>
							</div>	
						  </li>
						  <li id="bitel" >
							<label class="description" for="mobile">Contact Telephone<span class="required">*</span></label>
							<div>
							  
							  <input id="bphone" name="bphone" class="element text medium" type="text" maxlength="255" value=""  tabindex="11" /><label for="inc">please include any dialing codes in case we need to contact you regarding your order</label>
							</div>
						 </li>
					</ul>
				</div>			
				<div id="tshipping">
					<p>Please enter delivery address below</p>
					 <ul>
						  <li id='shname'>
							<label class="description" for="dname">Name<span class="required">*</span></label>
							<span><input id="dtitle" name= "dtitle" class="element text" maxlength="4" size="4" value="" tabindex="13"/>		
							<label>Title</label>         
							</span><span>
							<input id="dfirst" name= "dfirst" class="element text" maxlength="255" tabindex='14' size="8" value=""/>
							<label>First</label>
							</span> <span>
							<input id="dlast" name= "dlast" class="element text" maxlength="255" tabindex='15' size="14" value=""/>
							<label>Last</label>
							</span> 
						 </li>
						 <li id="shaddr" >
							<label class="description" for="add">Address<span class="required">*</span></label>
							<div>
							  <input id="daddress1" name="daddress1" class="element text large" value="" type="text" tabindex="16">
							  <label for="addr1">Street Address</label>
							</div>
							<div>
							  <input id="daddress2" name="daddress2" class="element text large" value="" type="text" tabindex="17">
							  <label for="addr2">Address Line 2</label>
							</div>
							<div class="left">
							  <input id="dcity" name="dcity" class="element text medium" value="" type="text" tabindex="18">
							  <label for="city">City</label>
							</div>
							<div class="right">
							  <input id="dstate" name="dstate" class="element text medium" value="" type="text" tabindex="19">
							  <label for="state">County / State / Province / Region</label>
							</div>
							<div class="left">
							  <input id="dzipcode" name="dzipcode" class="element text medium" maxlength="15" value="" type="text" tabindex="20">
							  <label for="pcode">Postcode</label>
							</div>
							<div class="right">
							  <?php
									$selcntry		= "SELECT * FROM 3bit_country WHERE iso_number != '' ORDER BY country";			
									$db_query		= $db->fetchAll($selcntry);
									
									echo '<select id="dcountry" name="dcountry" class="element select medium" tabindex="21">
																  <option value="0">-Select country-</option>';
										foreach($db_query as $db_rows){
											if($db_rows['id'] == '232')
												echo "<option value=\"".$db_rows['id']."\" selected=selected>".ucfirst(strtolower($db_rows['country']))."</option> ";
											else
												echo "<option value=\"".$db_rows['id']."\" >".ucfirst(strtolower($db_rows['country']))."</option> ";						
										}
									echo "</select>";
								  ?>		 
							  <label for="country">Country</label>
							</div>	
						  </li>
						  <li id="shtel" >
							<label class="description" for="mobile">Contact Telephone<span class="required">*</span></label>
							<div>
							  
							  <input id="dphone" name="dphone" class="element text medium" type="text" maxlength="255" value=""  tabindex="22" />
							<label for="inc">please include any dialing codes in case we need to contact you regarding your order</label>
							</div>
						 </li>          
						</ul>
				</div>
				<ul>
				  <li><a class="button" id="saveForm" type="button" onclick="validate_customer();">Submit</a><a class="button" id="saveForm" type="button" onclick="addnew_customer(2);">Cancel</a></li>				 
				</ul>
			</form>
		</div>		
		</div>
</div>