<div id="form_container">	
	<div class="form_description">
		<h2>Confirm Order</h2>
		<p class="error">
		    <ul></ul>
		</p>
	</div>		
		<div id="activitytabs">
			<ul>
			    <li><a href="#tcustomers">Confirm Order</a></li>							    
			</ul>
			<div id="tcustomers">
				<form method="post" name="frmCheckout" class="appnitro" id="frmCheckout" action="<?=$this->baseurl?>/manualorder/checkout">
					<input type="hidden" name="sessid" value="<?=$_SESSION['wlsession']['asess_id']?>" />
					<input type="hidden" name="customer_id" value="<?=$_SESSION['wlsession']['cms_customer']?>" />
					<input type="hidden" name="address_id" value="<?=$_SESSION['wlsession']['cms_custaddr']?>" />
					<input type="hidden" name="frontuser_id" value="<?=$_SESSION['wlsession']['cms_frontuser']?>" />
					<?=$this->customer_details?>
					<?=$this->cart_items?>
				</form>
				  <div class="cart_action_buttons">  								  
					  <a class="button" href="JavaScript:;" onclick='confirmsubmit("#frmCheckout")'>Goto Checkout</a>
				  </div>
			</div>								
		</div>
</div>