<div id="form_container">	 
	<div class="form_description">
		<h2>Add Products to Cart</h2>		
	</div>	
		<div id="activitytabs">
			<ul>
			    <li><a href="#tproducts">Products</a></li>				
			</ul>
			<div id="tproducts">
				<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='products'>
					<col id="colname" />
					<col id="colmail"/>
					<col id="colstatus" />
					<col id="colactions" />
				   <thead>
					<tr>
						<th>Product Name</th> 
						<th>SKU</th> 							
						<th>Price</th>
						<th>Status</th>
						<th>Action</th>
					</tr>		
					</thead>		
					<tbody>		
						<tr>
						</tr>		
					</tbody>
				</table>
			</div>			
			<div id="cart_details"><?=$this->cart_items?></div>
		</div>	
</div>