<div id="article_tabs">
	<ul>
	  <li><a href="#tgeneral">Add/Edit Message</a></li>
	</ul>
	<div id="tgeneral">
		<div id="form_container">	
			<form action="<?=$this->baseurl?>/messages/add" class="appnitro" enctype="multipart/form-data" method="post" id="addmessage" name="addmessage">
			<div class="form_description">
				<h2>Add/Edit Message</h2>
				<p class="error">
					<ul></ul>
				</p>
			</div>		
			<input type='hidden' name='id' id='id' value='<?php echo $this->form['id'];?>' />
			<ul> 	
				<li>
					<label class="description" for="message_type">Message Type<span class="required">*</span></label>
					<div>
						<select name="message_type" id="message_type" class="element select small">
						<option value="">Select Type</option>
						<option value='Email Welcome' <?php if($this->form['message_type']=="Email Welcome"){?>selected<?php } ?>>Email Welcome</option>
						<option value='New Order' <?php if($this->form['message_type']=="New Order"){?>selected<?php } ?>>New Order</option>
                        <option value='New ProForma Order' <?php if($this->form['message_type']=="New ProForma Order"){?>selected<?php } ?>>New ProForma Orderr</option>
						<option value='New Order Accepted' <?php if($this->form['message_type']=="New Order Accepted"){?>selected<?php } ?>>New Order Accepted</option>
						<option value='New Order Canceled' <?php if($this->form['message_type']=="New Order Canceled"){?>selected<?php } ?>>New Order Canceled</option>
						<option value='New Order Rejected' <?php if($this->form['message_type']=="New Order Rejected"){?>selected<?php } ?>>New Order Rejected</option>
						<option value='Accepted Order Cancelled' <?php if($this->form['message_type']=="Accepted Order Cancelled"){?>selected<?php } ?>>Accepted Order Cancelled</option>
						<option value='Accepted Order Rejected' <?php if($this->form['message_type']=="Accepted Order Rejected"){?>selected<?php } ?>>Accepted Order Rejected</option>
						<option value='Accepted Order Shipped' <?php if($this->form['message_type']=="Accepted Order Shipped"){?>selected<?php } ?>>Accepted Order Shipped</option>	
                        <option value='Subscription Activated' <?php if($this->form['message_type']=="Subscription Activated"){?>selected<?php } ?>>Subscription Activated</option>	
						<option value="Subscription Reminder"  <?php if($this->form['message_type']=="Subscription Reminder"){?>selected<?php } ?>>Subscription Reminder</option>
						</select>
					</div> 
					<p class="guidelines"><small>Please select message type.</small></p>
				</li>		
				<li>
					<label class="description" for="to">Message To Customer<span class="required">*</span></label>
					<div>
						<input type="checkbox" value="1" name="message_to" id='message_to' <?php if($this->form['message_to']=="Customer"){?>checked<?php } ?> >
					</div> 			
				</li>
				<li>
					<label class="description" for="to">OR Admin<span class="required">*</span></label>
					<div>
						<select name='user_id' id='user_id'>
							<option value='0'> Select Admin </option>
							<?php foreach ($this->users as $user): ?>
							 <option value="<?php echo $user['user_id']?>" <?php if($this->form['user_id']==$user['user_id']){?>selected<?php  } ?>><?php echo $user['uname']?></option>
							 <?php endforeach ?>

						</select>
					</div> 			
				</li>
				<li>
					<label class="description" for="fields">Insert Fields</label>
					<div>
						<select name='dummy' class="field select small">
						 <?php foreach($this->fields as $field){?>
							<option value="<?=$field?>"><?=$field?></option>
						 <?} ?>
						</select>
						<a href='javascript:void(0);' onclick='insertValueQuery(document.addmessage)' class="button">Insert</a>
					</div> 
				</li>
				<li>
					<label class="description" for="subject">Subject<span class="required">*</span></label>
					<div>
						<input type="text" value="<?=$this->form['mail_subject']?>" name="mail_subject"  id="mail_subject" class="field text medium" >
					</div> 	
					<p class="guidelines"><small>Please enter subject.</small></p>
				</li>
				<li>
					<label class="description" for="hmsg">HTML Message<span class="required">*</span></label>
					<div>
						<textarea name="message_text" id="message_text" class="field textarea medium" ><?=stripslashes($this->form['message_text'])?></textarea>
					</div> 	
					<p class="guidelines"><small>Please enter html message.</small></p>
				</li>
				<li>
					<label class="description" for="tmsg">Text Message</label>
					<div>
						<textarea name="text" id="text" class="field textarea medium" ><?=$this->form['text']?></textarea>
					</div> 	
					<p class="guidelines"><small>Please enter text message.</small></p>
				</li>
				<li>
					<label class="description" for="to">Send Email</label>
					<div>
						<input type="checkbox" value="1" name="email_status" tabindex="23" <?php if($this->form['email_status']=="1"){?>checked<?php } ?> >
					</div> 			
				</li>
				<li>
				  <label class="description" for="status">Status </label>
				  <span>
					<input id="active" name="active" class="element radio" type="radio" value="1" checked <?php if($this->form['active']=='1'){?>checked<? } ?>/>
					<label class="choice" for="status">Active</label>
					<input name="active" class="element radio" type="radio" value="0" <?php if($this->form['active']=='0'){?>checked<? } ?> />
					<label class="choice" for="status">InActive</label>
				  </span>
				</li>
				<li class="buttons">
				  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_message();">Submit</button>
				</li>
			 </ul>			
			</form>
		</div>
	</div>
</div>