<div id="activitytabs">	 
  <ul>
	<li><a href="#art">List Messages</a></li>
  </ul>
  <div id="art">
	<h2>List Messages</h2>
	<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="messagelist">
	   <thead>
		<tr>
			<th>Message Type</th>
			<th>Message To</th>
			<th>Status</th>
			<th>Action</th>
		</tr>		
		</thead>
		<tbody>		
		<tr>			
		</tr>
		</tbody>
	</table>
</div>
</div>
