<h2>List Downloads</h2>
<div id="filters">
  <h3><a href="#">Filters</a></h3>
  <div>
    <div>		  
	  <input type='hidden' name='search_type' id='search_type' value='A'>
      <ul id='dtypes'>       
        <li id='type_A'><a class="selected" onclick="show_downloads('A');" href="javascript:;">All / Any</a></li>
        <li id='type_com'><a onclick="show_downloads('com');" href="javascript:;">Complete</a></li>		
        <li id='type_inc'><a onclick="show_downloads('inc');" href="javascript:;">Incomplete</a></li>
        <li id='type_not'><a onclick="show_downloads('not');" href="javascript:;">Not-Assigned</a></li>        
      </ul>      
    </div>
  </div>
</div>
<div id="activitytabs">	  
  <ul>
	<li><a href="#orders">Orders List</a></li>
  </ul>
	<div id="orders">
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="downloadslist">
		   <thead>
			<tr>
				<th>Order Number</th>
				<th>Customer Name</th>
				<th>Download</th>
				<th>Ordered Date</th>
				<th>Action</th>
			</tr>    
			</thead>
			<tbody>			
			</tbody>
		</table>
	</div>
</div>
