<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Order Details</title>
<!--  --><link type="text/css" rel="stylesheet" href="/min/g=sitecss"/>
<link href="/logincms/public/css/temp.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/logincms/public/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/logincms/public/js/functions_orders.js"></script>  
</head>
<body style="background-color: #fff; overflow: auto !important;">
<form name="editaddress" id="editaddress" class="appnitro" enctype="multipart/form-data" method="post">
<input type="hidden" name="order_id" value="<?=$this->id?>">
<input type="hidden" name="address_id" value="<?=$this->details['address_id']?>">
<input type="hidden" name="type" value="<?=$this->type?>">
<div class="form_description">
	<p class="error">
		<ul>				
		</ul>
	</p>
</div>
<div id="activitytabs">
  <ul>
	<li><a href="#users">Edit Address</a></li>
  </ul>
    <div id="users">
	<ul> 	
		<li>
			<label class="description" for="title">Title<span class="required">*</span></label>
			<div>
				<select name="title" id="title">
					<option value="Mr" <?php if($this->details['title']=='Mr'){?>selected <? } ?>>Mr</option>
					<option value="Mrs" <?php if($this->details['title']=='Mrs'){?>selected <? } ?>>Mrs</option>
					<option value="Miss" <?php if($this->details['title']=='Miss'){?>selected <? } ?>>Miss</option>
					<option value="Ms" <?php if($this->details['title']=='Ms'){?>selected <? } ?>>Ms</option>
				</select>
			</div> 
			<p class="guidelines"><small>Please select title.</small></p>
		</li>	
		<li>
			<label class="description" for="fname">First Name<span class="required">*</span></label>
			<div>
				<input id="fname" name="fname" class="element text medium" type="text" maxlength="30" value="<?php echo $this->details['fname'];?>"/> 
			</div> 
			<p class="guidelines"><small>Please enter first name.</small></p>
		</li>	
		<li>
			<label class="description" for="lname">Last Name<span class="required">*</span></label>
			<div>
				<input id="lname" name="lname" class="element text medium" type="text" maxlength="30" value="<?php echo $this->details['lname'];?>"/> 
			</div> 
			<p class="guidelines"><small>Please enter last name.</small></p>
		</li>	
		<li>
			<label class="description" for="email">Email<span class="required">*</span></label>
			<div>
				<input id="email" name="email" class="element text medium" type="text" maxlength="30" value="<?php echo $this->details['email'];?>"/> 
			</div> 
			<p class="guidelines"><small>Please enter email.</small></p>
		</li>	
		<li>
			<label class="description" for="phone">Contact Number<span class="required">*</span></label>
			<div>
				<input id="phone" name="phone" class="element text medium" type="text" value="<?php echo $this->details['phone'];?>"/> 
			</div> 
			<p class="guidelines"><small>Please enter phone no.</small></p>
		</li>			
		<li>
			<label class="description" for="address1">Address1<span class="required">*</span></label>
			<div>
				<input id="address1" name="address1" class="element text medium" type="text" value="<?php echo $this->details['address1'];?>"/> 
			</div> 
			<p class="guidelines"><small>Please enter address1.</small></p>
		</li>			
		<li>
			<label class="description" for="address2">Address2<span class="required">*</span></label>
			<div>
				<input id="address2" name="address2" class="element text medium" type="text" value="<?php echo $this->details['address2'];?>"/> 
			</div> 
			<p class="guidelines"><small>Please enter address2.</small></p>
		</li>	
		<li>
			<label class="description" for="city">City<span class="required">*</span></label>
			<div>
				<input id="city" name="city" class="element text medium" type="text" value="<?php echo $this->details['city'];?>"/> 
			</div> 
			<p class="guidelines"><small>Please enter city.</small></p>
		</li>	
		<li>
			<label class="description" for="state">State<span class="required">*</span></label>
			<div>
				<input id="state" name="state" class="element text medium" type="text" value="<?php echo $this->details['state'];?>"/> 
			</div> 
			<p class="guidelines"><small>Please enter address2.</small></p>
		</li>
		<li>
			<label class="description" for="county">County</label>
			<div>
				<input id="county" name="county" class="element text medium" type="text" value="<?php echo $this->details['county'];?>"/> 
			</div> 
			<p class="guidelines"><small>Please enter county.</small></p>
		</li>	
		<li>
			<label class="description" for="country">Country<span class="required">*</span></label>
			<div>
				<select name="country" id="country" disabled="disabled">
					<?php foreach($this->country as $country){ ?>
					<option value="<?=$country['id']?>" <?if($this->details['country']==$country['id']){?>selected<? }?>><?=$country['country']?></option>
					<?php } ?>
				</select>
				<input id="country" name="country" class="element text medium" type="hidden" value="<?php echo $this->details['country'];?>"/>
			</div> 
			<p class="guidelines"><small>Please enter country.</small></p>
		</li>
		<li>
			<label class="description" for="postcode">Postcode<span class="required">*</span></label>
			<div>
				<input id="postcode" name="postcode" class="element text medium" type="text" value="<?php echo $this->details['postcode'];?>"/> 
			</div> 
			<p class="guidelines"><small>Please enter postcode.</small></p>
		</li>
		<li class="buttons">
		  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_address();">Submit</button>
		</li>
	 </ul>	
    </div>
</div>
</form>
</body>
</html>