<div id="activitytabs">
  <ul>	
	<li><a href="#overview">Overview</a></li>
	<li><a href="#orders">Card Orders</a></li>
    <li><a href="#pforders">Pro Forma Orders</a></li>
	<li><a href="#awaiting">Awaiting Dispatch</a></li>
	<li><a href="#dispatched">Dispatched</a></li>
	<li><a href="#sales">Sales</a></li>
	<li><a href="#refunds">Refunds</a></li>
  </ul>  
  <div id="overview">
	<?=$this->order_overview?>
  </div>
  <div id="orders">
	<?=$this->dash_orders?>
  </div>
    <div id="pforders">
		<a class="button" href="<?=$this->baseurl?>/orders/generateproformacsv"><img src="<?=$this->baseurl?>/public/images/icons/page_white_excel.png" width="16" height="16" border="0" />Export</a>
	<?=$this->proforma_dash_orders?>
  </div>
  <div id="awaiting">
     <?=$this->dash_awaiting?>
  </div>
  <div id="dispatched">
	<a style="cursor:pointer" onclick="filter_dash('all','shipped')" >All</a>&nbsp;/&nbsp;<a style="cursor:pointer" onclick="filter_dash('today','shipped')" >Today</a>&nbsp;/&nbsp;<a style="cursor:pointer" onclick="filter_dash('week','shipped')" >Week</a>&nbsp;/&nbsp;<a style="cursor:pointer" onclick="filter_dash('month','shipped')" >Month</a>
	<?=$this->dash_dispatched?>
  </div>
  <div id="sales">
    <a style="cursor:pointer" onclick="filter_dash('all','sales')" >All</a>&nbsp;/&nbsp;<a style="cursor:pointer" onclick="filter_dash('today','sales')" >Today</a>&nbsp;/&nbsp;<a style="cursor:pointer" onclick="filter_dash('week','sales')" >Week</a>&nbsp;/&nbsp;<a style="cursor:pointer" onclick="filter_dash('month','sales')" >Month</a>
	<?=$this->dash_sales?>
  </div>
  <div id="refunds">
	<a style="cursor:pointer" onclick="filter_dash('all','refunds')" >All</a>&nbsp;/&nbsp;<a style="cursor:pointer" onclick="filter_dash('today','refunds')" >Today</a>&nbsp;/&nbsp;<a style="cursor:pointer" onclick="filter_dash('week','refunds')" >Week</a>&nbsp;/&nbsp;<a style="cursor:pointer" onclick="filter_dash('month','refunds')" >Month</a>
	<?=$this->dash_refunds?>
  </div>
</div>
 <br />
<div id="dashtabs">
  <ul>
	<li><a href="#audit">Recent Activity</a></li>
  </ul>
	<div id="audit">
		<ol>
		 <?php	$temp = '';
				$datecnt= 0;
			 foreach ($this->history as $item):
				$keys		=	array("new","approve","dispatch","cancel","reject","complete");	
				$mystring	=	stripslashes($item['status']);
				$pos		=	'';
				$class		=	'';
				for($i=0;$i<count($keys);$i++){					
					$pos		=	strpos($mystring, $keys[$i]);				
					if($pos!==false){
						$class	=	$keys[$i];											
					}

				}
				if($class	== "reject")
					$class="cancel";

				if(empty($class))
					$class = "admin note";
					

				if($item['amonth'] !=$temp){
					$temp	=	$item['amonth'];
					$datecnt=	$datecnt+1;
					if($datecnt==5){
						break;
					}
				
		?>
			<li class="activdate"><?=$item['amonth']?></li>
		<?php 	} ?>
		  <li class="<?=$class?>"><?=stripslashes($item['status']);?></li>
		  <?php endforeach ?>	  
		</ol>
	  </div>
</div>