<h2>List <?=$this->type?> Orders</h2>
<div id="filters">
  <h3><a href="#">Filters</a></h3>
  <div>
    <div>	  
	  <input type='hidden' name='search_year' id='search_year' value='<?=date('Y')?>'>
	  <input type='hidden' name='search_month' id='search_month' value='<?=date("n")?>'>
	  <input type='hidden' name='search_stat' id='search_stat' value='<?=$this->type?>'>
      <ul id='ostatus'>
        <strong>By Status</strong>
        <li id='stat_A'><a <?php if($this->type==''){?>class="selected" <? }?> onclick="show_orders('A','0','0');" href="javascript:;">All / Any</a></li>
        <li id='stat_New'><a <?php if($this->type=='New'){?>class="selected" <? }?> onclick="show_orders('New','0','0');" href="javascript:;">New</a></li>
        <li id='stat_Accepted'><a <?php if($this->type=='Accepted'){?>class="selected" <? }?> onclick="show_orders('Accepted','0','0');" href="javascript:;">Accepted</a></li>
        <li id='stat_Shipped'><a <?php if($this->type=='Shipped'){?>class="selected" <? }?> onclick="show_orders('Shipped','0','0');" href="javascript:;">Dispatched</a></li>
        <li id='stat_Refunded'><a <?php if($this->type=='Refunded'){?>class="selected" <? }?> onclick="show_orders('Refunded','0','0');" href="javascript:;">Refunds</a></li>
        <li id='stat_Cancelled'><a <?php if($this->type=='Cancelled'){?>class="selected" <? }?> onclick="show_orders('Cancelled','0','0');" href="javascript:;">Cancelled</a></li>
      </ul>
      <ul id='oyear'>
        <strong>By Year</strong>
        <li id='year_A'><a href="javascript:;" onclick="show_orders('0','A','0');">All / Any</a></li>
		<?php foreach($this->years as $yer){?>
		<li id='year_<?=$yer['yer']?>'><a <? if($yer['yer']==$yer['cyer']){?>class="selected" <? } ?> href="javascript:;" onclick="show_orders('0','<?=$yer['yer']?>','0');"><?=$yer['yer']?></a></li>
		<?php } ?>
      </ul>
      <ul id='omonth'>
        <strong>Month</strong>
        <li id='month_A'><a href="javascript:;" onclick="show_orders('0','0','A');">All / Any</a></li>
        <li id='month_12'><a <?php if(date("m")==12){?>class='selected' <? } ?>href="javascript:;" onclick="show_orders('0','0','12');">Dec</a></li>
        <li id='month_1'><a <?php if(date("m")==1){?>class='selected' <? } ?> href="javascript:;" onclick="show_orders('0','0','1');">Jan</a></li>
        <li id='month_2'><a <?php if(date("m")==2){?>class='selected' <? } ?> href="javascript:;" onclick="show_orders('0','0','2');">Feb</a></li>
        <li id='month_3'><a <?php if(date("m")==3){?>class='selected' <? } ?> href="javascript:;" onclick="show_orders('0','0','3');">Mar</a></li>
        <li id='month_4'><a <?php if(date("m")==4){?>class='selected' <? } ?> href="javascript:;" onclick="show_orders('0','0','4');">Apr</a></li>
        <li id='month_5'><a <?php if(date("m")==5){?>class='selected' <? } ?> href="javascript:;" onclick="show_orders('0','0','5');">May</a></li>
        <li id='month_6'><a <?php if(date("m")==6){?>class='selected' <? } ?> href="javascript:;" onclick="show_orders('0','0','6');">Jun</a></li>
        <li id='month_7'><a <?php if(date("m")==7){?>class='selected' <? } ?> href="javascript:;" onclick="show_orders('0','0','7');">Jul</a></li>
        <li id='month_8'><a <?php if(date("m")==8){?>class='selected' <? } ?> href="javascript:;" onclick="show_orders('0','0','8');">Aug</a></li>
        <li id='month_9'><a <?php if(date("m")==9){?>class='selected' <? } ?> href="javascript:;" onclick="show_orders('0','0','9');">Sep</a></li>
        <li id='month_10'><a <?php if(date("m")==10){?>class='selected' <? } ?> href="javascript:;" onclick="show_orders('0','0','10');">Oct</a></li>
        <li id='month_11'><a <?php if(date("m")==11){?>class='selected' <? } ?> href="javascript:;" onclick="show_orders('0','0','11');">Nov</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="activitytabs">	  
  <ul>
	<li><a href="#orders">Orders List</a></li>
  </ul>
	<div id="orders">
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="orderslist">
		   <thead>
			<tr>
				<th>Order Number</th>
				<th>Customer Name</th>
				<th>Organisation</th>
				<th>Order Date</th>
				<th>Order Total</th>
				<th>Action</th>
			</tr>    
			</thead>
			<tbody>			
			</tbody>
		</table>
	</div>
</div>
