<?php

	$db = Zend_Registry::get("db");

	if(isset($this->data['sendemail']) && isset($this->data['order_id'])){ //Function to send email

		$id	=	$this->data['order_id'];

		$sql = "select o.*,u.customer_id,u.email as cemail,ca.*,c.*,o.status as ostatus,DATE_FORMAT(o.ordered_date,'%d-%m-%Y')as dat, DATE_FORMAT(o.ordered_date,'%h:%i %p')as tim from 3bit_orders o,3bit_customers u,3bit_country c,3bit_customers_address ca where o.customer_id=u.customer_id and o.order_id='".$id."' and ca.address_id = o.address_id and c.id=u.country order by o.order_id DESC";		
		$rows			= $db->fetchRow($sql);
		$numrows		= count($rows);
		$customer_id	= $rows['customer_id'];	
		$address_id		= $rows['address_id'];	
		$status			= $rows['ostatus'];
		$invoice_number	= $rows['invoice_number'];
		$invoice_date	= $rows['dat'];
		$payment_method	= $rows['payment_method'];
		$payment_status	=	$rows['payment_status'];
		$email			=	$rows['cemail'];
		$billing_info	= ucfirst($rows['billing_fname'])."&nbsp;".ucfirst($rows['billing_lname'])."<br>";
		$billing_text	= "\n".ucfirst($rows['billing_fname'])." ".ucfirst($rows['billing_lname'])."\n";
		if($rows['billing_address1'] != ""){ 
			$billing_info	.= $rows['billing_address1']."<br>";
			$billing_text	.=$rows['billing_address1']."\n";	
		}
		if($rows['billing_address2'] != ""){
			$billing_info	.= $rows['billing_address2']."<br>";
			$billing_text	.=$rows['billing_address2']."\n";
		}
		if($rows['billing_city'] != ""){
			$billing_info	.= $rows['billing_city']."<br>";
			$billing_text	.=$rows['billing_city']."\n";
		}
		if($rows['billing_country'] != ""){
			$billing_info.= $rows['country']."<br>";
			$billing_text	.=$rows['country']."\n";
		}
		if($rows['billing_postcode']!=""){
			$billing_info	.= "(".$rows['billing_postcode'].")<br>";
			$billing_text	.="(".$rows['billing_postcode'].")\n";
		}
		if($rows['billing_phone']!= "") {
			$billing_info	.= "<b>Telephone:</b>".$rows['billing_phone']."<br>";
			$billing_text	.="Telephone:".$rows['billing_phone']."\n";
		}else{
			$billing_info	.=  "<b>Telephone:</b>".$rows['phone']."<br>";
			$billing_text	.="Telephone:".$rows['phone']."\n";
		} 
		if($email != ""){
			$billing_info	.= "<b>Email:</b>".$email."<br>";
			$billing_text	.="Email:".$email."\n";
		}
		
		$shipping_info	= ucfirst($rows['shipping_fname'])."&nbsp;".ucfirst($rows['shipping_lname'])."<br>";
		$shipping_text	= "\n".ucfirst($rows['shipping_fname'])."  ".ucfirst($rows['shipping_lname'])."\n";	
		if($rows['shipping_address1'] != ""){
			$shipping_info	.=	$rows['shipping_address1']."<br>";
			$shipping_text	.=	$rows['shipping_address1']."\n";
		}
		if($rows['shipping_address2'] != ""){
			$shipping_info	.= $rows['shipping_address2']."<br>";					
			$shipping_text	.=	$rows['shipping_address2']."\n";
		}
		if($rows['shipping_city'] != ""){
			$shipping_info	.= $rows['shipping_city']."<br>";
			$shipping_text	.= $rows['shipping_city']."\n";
		}
		if($rows['shipping_country'] != "") {
			$selCntry	=	$db->fetchRow("SELECT country FROM 3bit_country WHERE id='".$rows['shipping_country']."'");
			if($selCntry){											
				$shipcountry	=  $selCntry['country'];
				$shipping_info	.= $shipcountry."<br>";
				$shipping_text	.= $shipcountry."\n";	
			}
		}
		if($rows['shipping_postcode']!=""){
			$shipping_info	.= "(".$rows['shipping_postcode'].")<br>";
			$shipping_text	.= "(".$rows['shipping_postcode'].")"."\n";
		}
		if($rows['shipping_phone']!= ""){ 
			$shipping_info	.= "<b>Telephone:</b>".$rows['shipping_phone']."<br>"; 
			$shipping_text	.= "Telephone:".$rows['shipping_phone']."\n"; 
		}else{
			$shipping_info	.= "<b>Telephone:</b>".$rows['phone']."<br>";
			$shipping_text	.= "Telephone:".$rows['phone']."\n"; 
		}					


		$sql_order 		= "select * from 3bit_order_details where order_id='".$rows['order_id']."'";
		$res_order  	= $db->fetchAll($sql_order);
		$numrows 		= count($res_order);
		$sub_total		= 0;
		$product_details=	'';

		$text_details		= '------------------------------------------------------------------------------------------------------------------'."\n";

		foreach($res_order as $rows_order){
		  $product_name_var	=	'';

		  if(!empty($rows_order['product_id'])){
			$selProd	=	$db->fetchAll("select p.* from 3bit_products p WHERE p.product_id='".$rows_order['product_id']."'  "); 						
			if($selProd){
				foreach($selProd as $res){
					$product_id		=	$res['product_id'];	
					$product_name 	= 	$res['product_name'];
					$product_code	=	$res['product_code'];
					$product_qty	=	$rows_order['quantity'];										
					if($res['size'] != '') 
					  $product_name_var = "( ".$res['size']." )";				 
				}
			}
		}
		$product_price	=	$rows_order['price'];
		$product_price	=	number_format($product_price, 2, '.', '');	
		$line_price		=	$rows_order['quantity']*$product_price;
		$line_price		=	number_format($line_price, 2, '.', '');	
		$sub_total		+=	$line_price;
		$sub_total		=	number_format($sub_total, 2, '.', '');
		$vatprice		=	$rows['order_vat_tax'];

		$product_details	.=	 '<tr>
									<td colspan="2">'.$product_name.''.$product_name_var.'</td>
				                    <td align="left">'.$product_code.'</td>
				                    <td align="center">'.$rows_order['quantity'].'</td>
									<td align="right">&pound;'.$product_price.'</td>
			                        <td align="right">&pound;'.$line_price.'</td>
			                    </tr>';	
		$text_details		.=$product_name.''.$product_name_var."  ".$rows_order['quantity']." Ã‚Â£".$product_price." Ã‚Â£".$line_price."\n";

		}

		$text_details	.= '------------------------------------------------------------------------------------------------------------------'."\n";


		$db_query_intl 	= "SELECT * FROM 3bit_order_details where order_id='".$rows['order_id']."' ";			
		$db_result_intl = $db->fetchAll($db_query_intl);
		$numrowsintl 	= count($db_result_intl);
		foreach($db_result_intl as $dsdet){
			$discount	= $dsdet['discount'];
			$shipping	= $dsdet['shipping'];	
		}
		$total 			= $rows['ordertotal'];
		$discount		= number_format($discount, 2, '.', '');	
		$shipping 		= number_format($shipping, 2, '.', '');
		$item_vat		= $rows['order_vat_tax'];
		$item_vat		= number_format($item_vat, 2, '.', '');
		$disp_total		= number_format($sub_total, 2, '.', '');;	
		$sub_total		= ($sub_total+$shipping)-$discount;
		$sub_total		= number_format($sub_total, 2, '.', '');		


		$content	=	'<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
					<html xmlns="http://www.w3.org/1999/xhtml">
					<head>
						<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
						<title>Order Details</title>
						<style type="text/css">							
							body{
								background-image:none;
								background-color:#FFFFFF;
								font-family:Arial, Helvetica, sans-serif;
								font-size:13px;
								line-height:normal;
							}
							h1{
								background-image:none;
								background-color:#cc0000;
							}
							tr.items td { vertical-align: top; }
							td.itemname { padding-right: 20px; }
						</style>
					</head>
					<table width="680" height="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size: 10pt; font-family: verdana;" class="romantable" valign="top">';

				if($status	=='Shipped'){
  					$content	.=	'<tbody>		
						<tr>
	  						<td>
								<table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size: 10pt; font-family: verdana;" valign="top">
		  						<tbody>
									<tr>
									  <td align="left"><b>Invoice</b></td>
									  <td align="right"><b>Invoice Number:</b> '.$invoice_number.'</td>
									</tr>
									<tr>
									  <td colspan="2"><hr/></td>
									</tr>
							  </tbody>
							  </table>
						   </td>
						</tr>';
				} 
				$content	.=	'
						<tr>
						  <td><img align="left" src="http://www.palliativedrugs.com/images/palliative-logo.gif"/><br/><br/></td>
						</tr>
						<tr>
	  						<td valign="top">
								<table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size: 10pt; font-family: verdana;" class="romantable" valign="top">
		  						<tbody>
									<tr>
			  <td><p><strong>Palliativedrugs.com Limited </strong><br />
			    The Study Centre, <br />
			    Hayward House, <br />
			    Nottingham University Hospitals NHS Trust, <br />
			    City Campus, Hucknall Road, <br />
			    Nottingham,<br />
			    NG5 1PB. </p></td>
			  <td align="right"><b>+44.(0)115 962 7778</b><br/>
				hq@palliativedrugs.com<br/></td>
			</tr>
							  </tbody>
							  </table>
							</td>
						</tr>
					    <tr>
      					<td valign="top">
							<table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size: 10pt; font-family: verdana;" class="romantable" valign="top">
          					<tbody>
            					<tr>
              						<td align="left">
									<table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size: 10pt; font-family: verdana;" valign="top">
                  					<tbody>
                    					<tr>
                      						<td align="left"><b>Invoice</b></td>
                      						<td align="right"><b>Invoice Number:</b> '.$_POST['order_id'].'</td>
                    					</tr>                    
                  					</tbody>
                					</table>
									</td>
            					</tr>           
            					<tr>
              						<td>
										<table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size: 10pt; font-family: verdana;" valign="top">
                 						<tbody>
						                    <tr>
						                      <td><b> <a style="text-decoration: none;" href="javascript:;">Invoice To:</a></b></td>
						                      <td width="20"></td>
						                      <td><b> <a style="text-decoration: none;" href="javascript:;">Deliver To:</a></b></td>
						                    </tr>
						                    <tr>
						                      <td width="340" class="styleborder">'.$billing_info.'</td>
						                      <td width="20"></td>
                      						  <td width="290" class="styleborder">'.$shipping_info.'</td>
						                    </tr>
						                    <tr>
						                      <td colspan="3"><hr/></td>
						                    </tr>
						                    <tr>
						                      <td valign="top"><b>Invoice Date:</b>'.$invoice_date.'<br/>
						                        <b>Payment Method:</b>'.$payment_method.'<br/>
												<b>Order Number:</b>'.$_POST['order_id'].'<br/>						                        
											 </td>
						                     <td width="20"></td>
						                     <td valign="top"><b>Payment Status:</b>'.$payment_status.'<br/>
					                         				  <b>Currency:</b> GBP<br/><br/>
											 </td>
					                       </tr>
					                  </tbody>
					                  </table>
									</td>
					            </tr>
            					<tr>
					              <td><hr/></td>
					            </tr>
            					<tr valign="top">
					              <td>
									  <table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size: 10pt; font-family: verdana;" class="romantable" valign="top">
                  						<tbody>
                    						<tr bgcolor="#DD4731">
						                      <td colspan="2"><font color="#ffffff"><b>Item Name</b></font></td>
						                      <td><font color="#ffffff"><b>SKU</b></font></td>
						                      <td width="50" align="right"><font color="#ffffff"><b>Quantity</b></font></td>
						                      <td width="50" align="right"><font color="#ffffff"><b>Price</b></font></td>
						                      <td width="50" align="right"><font color="#ffffff"><b>Total</b></font></td>
						                    </tr>
						        			'.$product_details.'
											<tr>
						                      <td colspan="3"></td>
						                      <td colspan="3"><hr size="1"/></td>
						                    </tr>
						                    <tr>
						                      <td colspan="3"></td>
						                      <td colspan="2"><b>Subtotal</b></td>
						                      <td align="right">&pound;'.$disp_total.'</td>
										    </tr>
    						                <tr>
						                      <td colspan="3"></td>
						                      <td colspan="2"><b>Shipping</b></td>
						                      <td align="right">&pound;'.$shipping.'</td>
						                    </tr>
						                    <tr>
						                      <td colspan="3"></td>
						                      <td colspan="2"><b>Tax (Inc)</b></td>
						                      <td align="right">&pound;'.$item_vat.'</td>
						                    </tr>
											<tr>
						                      <td colspan="3"></td>
						                      <td colspan="2"><b>Discount</b></td>
						                      <td align="right">&pound;'.$discount.'</td>
						                    </tr>
						                    <tr>
						                      <td colspan="3"/>
						                      <td colspan="3"><hr size="1"/></td>
						                    </tr>
						                    <tr>
							                  <td colspan="3"/>
						                      <td colspan="2"><b>Total</b></td>
						                      <td align="right">&pound;'.$total.'</td>
						                    </tr>											
											<tr>
							                      <td colspan="6"/>						                      
						                    </tr>																			
					                  </tbody>
				                	  </table>
  									</td>
    					        </tr>            
				          </tbody>
						  </table>
					</td>
				</tr>	
			</table>	
		<body>
	</body>
</html>';

	$text_details	.='
	Subtotal    Ã‚Â£'.$disp_total.'
	Shipping Ã‚Â£'.$shipping.'
	Tax (Inc) Ã‚Â£'.$item_vat.'
	Discount Ã‚Â£'.$discount.'
	Total Ã‚Â£'.$total.'

	Company Registration number - 05140671
	VAT Registation 851380924';

	$plain_text		=	'
	Palliativedrugs.com Limited 
	The Study Centre, 
	Hayward House, 
	Nottingham University Hospitals NHS Trust, 
	City Campus, Hucknall Road, 
	Nottingham,
	NG5 1PB.
	+44.(0)115 962 7778
						
	Invoice Date:'.$invoice_date.'
	Payment Method:'.$payment_method.'
	Currency: GBP

	Invoice to:'
	.$billing_text.'
	
	Deliver to:'
	.$shipping_text
	
	.$text_details;

	$headers  = 'MIME-Version: 1.0' . "\r\n";
	$headers .= 'Content-type: text/html; charset=iso-8859-1' . "\r\n";
	$headers .= 'From: Palliativedrugs.com <hq@palliativedrugs.com>' . "\r\n";	
	

	$result	=	mail($email, 'Palliativedrugs.com - Invoice', $content, $headers);

	if ($result){
		echo "<script language='javascript' type='text/javascript'>
			   alert('Message has been sent!');
			  </script>";
	} 

	}  

	if(isset($this->data['sendpdfemail']) && isset($this->data['order_id'])){		

		$order_id	=	$this->data['order_id'];

		$ordmodel	=	new Application_Model_Orders();	

		$selPDF		=	$db->fetchRow("SELECT download_id,frontuser_id FROM 3bit_pdf_download WHERE order_id='".$order_id."'");

		if(count($selPDF)>0){

			 $frontuser_id=	$selPDF['frontuser_id'];

			 $fecgetOrderDetails	=	$db->fetchAll("SELECT product_id FROM 3bit_order_details WHERE order_id = '".$order_id."'");

				if(count($fecgetOrderDetails)>0){

					foreach($fecgetOrderDetails as $row){ 
						
						// Checking for ebook ===============================
						$selPDF			=	$db->fetchAll("SELECT p.*,pc.procat_title FROM 3bit_products p,3bit_product_category pc WHERE FIND_IN_SET(pc.procat_id,p.procat_id) AND pc.procat_id='4' AND p.product_id='".$row['product_id']."'");
	  				    $numPDF			=	count($selPDF);
						if($numPDF>0){
								
							 //$ordmodel->updatePDF($frontuser_id);

							 $message_type	=	'Ebook Download';
							 
							 $ordmodel->sendMails($order_id,$message_type,'0','Customer');							 
							 
						}

						// Checking for combo ===============================
						$selCombo			=	$db->fetchAll("SELECT p.*,pc.procat_title FROM 3bit_products p,3bit_product_category pc WHERE FIND_IN_SET(pc.procat_id,p.procat_id) AND pc.procat_id='2' AND p.product_id='".$row['product_id']."'");

						$numCombo	=	count($selCombo);	

						if($numCombo>0){						

							if($row['product_id']!='14' && $row['product_id']!='15'){
								
								 //$ordmodel->updatePDF($frontuser_id);

								 $message_type	=	'Combo Package';
							 
								 $ordmodel->sendMails($order_id,$message_type,'0','Customer');								 
							}						
						}
					}
				}

		}else{

			$selDet	=	$db->fetchRow("SELECT ordered_date,frontuser_id FROM orders WHERE order_id='".$order_id."'");

			$odate	=	$selDet['ordered_date'];

			$frontuser_id=	$selDet['frontuser_id'];

			$db->query("INSERT INTO 3bit_pdf_download SET 
											order_id	=	'".$order_id."',
											ordered_date=	now(),
											frontuser_id=	'".$frontuser_id."',
											downloaded	=	'0',
											created_date=	now(),
											modified_date=	now()");

			$fecgetOrderDetails	=	$db->fetchAll("SELECT product_id FROM 3bit_order_details WHERE order_id = '".$order_id."'");

			if(count($fecgetOrderDetails)>0){

				foreach($fecgetOrderDetails as $row){ 
					
					// Checking for ebook ===============================
					$selPDF			=	$this->_db->fetchAll("SELECT p.*,pc.procat_title FROM 3bit_products p,3bit_product_category pc WHERE FIND_IN_SET(pc.procat_id,p.procat_id) AND pc.procat_id='4' AND p.product_id='".$row['product_id']."'");
					$numPDF			=	count($selPDF);
					if($numPDF>0){
							
						 //$ordmodel->updatePDF($frontuser_id);

						 $message_type	=	'Ebook Download';
						 
						 $ordmodel->sendMails($order_id,$message_type,'0','Customer');							 
					}

					// Checking for combo ===============================
					$selCombo			=	$db->fetchAll("SELECT p.*,pc.procat_title FROM 3bit_products p,3bit_product_category pc WHERE FIND_IN_SET(pc.procat_id,p.procat_id) AND pc.procat_id='2' AND p.product_id='".$row['product_id']."'");

					$numCombo	=	count($selCombo);	

					if($numCombo>0){						

						if($row['product_id']!='14' && $row['product_id']!='15'){
							
							 //$ordmodel->updatePDF($frontuser_id);

							 $message_type	=	'Combo Package';
						 
							 $ordmodel->sendMails($order_id,$message_type,'0','Customer');								 
						}						
					}
				}
			}			
		}
		
	}

	$id 		= 	$this->id;	
	
	$sql = "select o.*,u.customer_id,u.email as cemail,ca.*,c.*,o.status as ostatus,DATE_FORMAT(o.ordered_date,'%d-%m-%Y')as dat, DATE_FORMAT(o.ordered_date,'%h:%i %p')as tim from 3bit_orders o,3bit_customers u,3bit_country c,3bit_customers_address ca where o.customer_id=u.customer_id and o.order_id='".$id."' and ca.address_id = o.address_id and c.id=u.country order by o.order_id DESC";		
	
	$rows			=	$db->fetchRow($sql);
	$numrows		=	count($rows);
	$customer_id	=	$rows['customer_id'];	
	$address_id		=	$rows['address_id'];
	$invoice_number	=	$rows['invoice_number'];
	$dat			=	$rows['dat'];
	$tim			=	$rows['tim'];
	$status			=	$rows['ostatus'];

	$selCustAdd		=	$db->fetchRow("SELECT a.`address_id`,a.`customer_id`,a.shipping_country,c.is_eu FROM 3bit_customers_address a, 3bit_country c WHERE a.customer_id ='".$customer_id."' AND  a.address_id='".$address_id."' AND a.shipping_country=c.id ");

	$numcust		=	count($selCustAdd);

?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Order Details</title>
<script>					 
function printPage(){
    document.getElementById('print').style.visibility = 'hidden';
	document.getElementById('sendemail').style.visibility = 'hidden';
    if (typeof(window.print) != 'undefined') {
        window.print();
    }
    document.getElementById('print').style.visibility = 'hidden';
	document.getElementById('sendemail').style.visibility = 'hidden';
}
</script>
<style type="text/css">
body {
	background-image:none;
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:normal;
}
h1 {
	background-image:none;
	background-color:#cc0000;
}
tr.items td { vertical-align: top; }
td.itemname { padding-right: 20px; }
</style>
</head>
<body>
<form name="addcountry" action=''  method="post">
  <input type="hidden" name="order_id" value="<?php echo $id?>">
  <table width="650" height="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" class="romantable" valign="top">
    <tbody>
      <?php if($status == 'Shipped'){?>
      <tr>
        <td><table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size: 10pt; font-family: verdana;" valign="top">
            <tbody>
              <tr>
                <td align="left"><b>Invoice</b></td>
                <td align="right"><b>Invoice Number:</b> <?php echo $invoice_number?></td>
              </tr>
              <tr>
                <td colspan="2"><hr/></td>
              </tr>
            </tbody>
          </table></td>
      </tr>
      <?php } ?>
      <tr>
        <td><img align="left" src="http://www.palliativedrugs.com/images/palliative-logo.gif"/><br/>
          <br/></td>
      </tr>
      <tr>
        <td valign="top"><table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" class="romantable" valign="top">
            <tbody>
              <tr>
                <td><p><strong>Palliativedrugs.com Limited </strong><br />
                    The Study Centre, <br />
                    Hayward House, <br />
                    Nottingham University Hospitals NHS Trust, <br />
                    City Campus, Hucknall Road, <br />
                    Nottingham,<br />
                    NG5 1PB. </p></td>
                <td align="right"><b>+44.(0)115 962 7778</b><br/>
                  <a href="mailto:hq@palliativedrugs.com">hq@palliativedrugs.com</a><br/></td>
              </tr>
            </tbody>
          </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" class="romantable" valign="top">
            <tbody>
              <tr>
                <td><table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" valign="top">
                    <tbody>
                      <tr>
                        <td><b> <a style="text-decoration: none;" href="javascript:;">Invoice To:</a></b></td>
                        <td width="20"></td>
                        <td><b> <a style="text-decoration: none;" href="javascript:;">Deliver To:</a></b></td>
                      </tr>
                      <tr>
                        <td width="340" class="styleborder"><?php echo ucfirst($rows['billing_fname'])."&nbsp;".ucfirst($rows['billing_lname'])."<br>";?>
                          <?php if($rows['billing_address1'] != "") echo $rows['billing_address1']."<br>";?>
                          <?php if($rows['billing_address2'] != "") echo $rows['billing_address2']."<br>";?>
                          <?php if($rows['billing_city'] != "") echo $rows['billing_city']."<br>";?>
                          <?php if($rows['billing_country'] != "") echo $rows['country']."<br>";?>
                          <?php if($rows['billing_postcode']!="")echo "(".$rows['billing_postcode'].")<br>";?>
                          <?php if($rows['billing_phone']!= "") {echo "<b>Telephone:</b>".$rows['billing_phone']."<br>";}else if($rows['phone']<>""){echo "<b>Telephone:</b>".$rows['phone']."<br>";} ?>
                          <?php if($rows['cemail'] != "") echo "<b>Email:</b>".$rows['cemail']."<br>"; ?></td>
                        <td width="20"></td>
                        <td width="290" class="styleborder"><?php echo ucfirst($rows['shipping_fname'])."&nbsp;".ucfirst($rows['shipping_lname'])."<br>";?>
                          <?php if($rows['shipping_address1'] != "") echo $rows['shipping_address1']."<br>";?>
                          <?php if($rows['shipping_address2'] != "") echo $rows['shipping_address2']."<br>";?>
                          <?php if($rows['shipping_city'] != "") echo $rows['shipping_city']."<br>";?>
                          <?php if($rows['shipping_country'] != "") {
								$selCntry	=	$db->fetchRow("SELECT country FROM 3bit_country WHERE id='".$rows['shipping_country']."'");
								if($selCntry){											
									$shipcountry	=	$selCntry['country'];
									echo $shipcountry."<br>";
								}
							  }
						?>
                          <?php if($rows['shipping_postcode']!="")echo "(".$rows['shipping_postcode'].")<br>";?>
                          <?php if($rows['shipping_phone']!= ""){ echo "<b>Telephone:</b>".$rows['shipping_phone']."<br>"; }else if($rows['phone']<>""){echo "<b>Telephone:</b>".$rows['phone']."<br>";}?></td>
                      </tr>
                      <tr>
                        <td colspan="3"><hr/></td>
                      </tr>
                      <tr>
                        <td valign="top"><b>Invoice Date:</b> <?php echo $dat?><br/>
                          <b>Payment Method:</b> <?php echo $rows["payment_method"]?><br/>
                          <b>Order Number:</b> <?php echo $rows["order_id"]?><br/>
                          <?php if(trim($rows["special_instruction"])<>""){?>
                          <b>Any Special Instructions for delivery:</b><?php echo stripslashes($rows["special_instruction"]);?><br/>
                          <?php } ?></td>
                        <td width="20"></td>
                        <td valign="top"><b>Payment Status:</b> <?php echo $rows["payment_status"]?><br/>
                          <b>Currency:</b> GBP<br/>
                          <br/></td>
                      </tr>
                    </tbody>
                  </table></td>
              </tr>
              <tr>
                <td><hr/></td>
              </tr>
              <tr valign="top">
                <td><table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" class="romantable" valign="top">
                    <tbody>
                      <tr bgcolor="#DD4731">
                        <td colspan="2"><font color="#ffffff"><b>Item Name</b></font></td>
                        <td><font color="#ffffff"><b>SKU</b></font></td>
                        <td width="50" align="right"><font color="#ffffff"><b>Quantity</b></font></td>
                        <td width="50" align="right"><font color="#ffffff"><b>Price</b></font></td>
                        <td width="50" align="right"><font color="#ffffff"><b>Total</b></font></td>
                      </tr>
                      <?php
					$sql_order 		= "select * from 3bit_order_details where order_id='".$rows['order_id']."'";
					$res_order  	= $db->fetchAll($sql_order);
					$numrows 		= count($res_order);
					$sub_total		= 0;
					$product_name_var = '';

					foreach($res_order as $rows_order){

					    if(!empty($rows_order['product_id'])){
							$selProd	=	$db->fetchAll("select p.* from 3bit_products p WHERE p.product_id='".$rows_order['product_id']."'  ");						
							if($selProd){																				
								foreach($selProd as $res){
									$product_id		=	$res['product_id'];	
									$product_name 	= 	$res['product_name'];
									$product_code	=	$res['product_code'];
									$product_qty	=	$rows_order['quantity'];										
									if($res['size'] != '') 
									  $product_name_var = $res['size'];									
									else if($res['style'] != '') 
									  $product_name_var = $res['style'];									
								}
							}
						}

						// updated on 24/04/2009 

						$product_price	=	$rows_order['price'];
						$product_price	=	number_format($product_price, 2, '.', '');	
						$line_price		=	$rows_order['quantity']*$product_price;
						$line_price		=	number_format($line_price, 2, '.', '');	
						$sub_total		+=	$line_price;
						$sub_total		=	number_format($sub_total, 2, '.', '');
						$vatprice		=	$rows['order_vat_tax'];

						// Checking for pdf product ==============================================================================================
						$selPDF			=	$db->fetchAll("SELECT p.*,pc.procat_title FROM 3bit_products p,3bit_product_category pc WHERE FIND_IN_SET(pc.procat_id,p.procat_id) AND pc.procat_id='4' AND p.product_id='".$rows_order['product_id']."'");

						if(count($selPDF)>0)
							$numPDF		=	count($selPDF);
						

						// Checking for combo product ==============================================================================================
						$selCombo		=	$db->fetchAll("SELECT p.*,pc.procat_title FROM 3bit_products p,3bit_product_category pc WHERE FIND_IN_SET(pc.procat_id,p.procat_id) AND pc.procat_id='2' AND p.product_id='".$rows_order['product_id']."'");

						$numCombo		=	count($selCombo);	

						if($numCombo>0){
							if($rows_order['product_id']!='14' && $rows_order['product_id']!='15'){
								$numPDF	=	$numCombo;
							}
						}

					?>
                      <tr class="items">
                        <td colspan="2" class="itemname"><?php echo $product_name;?>
                          <?php if($product_name_var != "") echo " ( ".$product_name_var." ) ";?></td>
                        <td align="left"><?php echo $product_code;?></td>
                        <td align="center"><?php echo $rows_order['quantity'];?></td>
                        <td align="right">&pound;<?php echo $product_price;?></td>
                        <td align="right">&pound;
                          <?php if($line_price != "") echo $line_price; ?></td>
                      </tr>
                      <?php
						}
						$db_query_intl 	= "SELECT * FROM 3bit_order_details where order_id='".$rows['order_id']."' ";			
						$db_result_intl = $db->fetchAll($db_query_intl);
						$numrowsintl 	= count($db_result_intl);
						foreach($db_result_intl as $dsdet){
							$discount	= $dsdet['discount'];
							$shipping	= $dsdet['shipping'];	
						}
						$total 			= $rows['ordertotal'];
						$discount		= number_format($discount, 2, '.', '');	
						$shipping 		= number_format($shipping, 2, '.', '');
						$item_vat		= $rows['order_vat_tax'];
						$item_vat		= number_format($item_vat, 2, '.', '');
						$disp_total		= number_format($sub_total, 2, '.', '');;	
						$sub_total		= ($sub_total+$shipping)-$discount;
						$sub_total		= number_format($sub_total, 2, '.', '');

						?>
                      <tr>
                        <td colspan="3"></td>
                        <td colspan="3"><hr size="1"/></td>
                      </tr>
                      <tr>
                        <td colspan="3"></td>
                        <td colspan="2"><b>Subtotal</b></td>
                        <td align="right">&pound;<?php echo $disp_total?></td>
                      </tr>
                      <tr>
                        <td colspan="3"></td>
                        <td colspan="2"><b>Shipping</b></td>
                        <td align="right">&pound;<?php echo $shipping;?></td>
                      </tr>
                      <tr>
                        <td colspan="3"></td>
                        <td colspan="2"><b>Tax (Inc)</b></td>
                        <td align="right">&pound;<?php echo $item_vat?></td>
                      </tr>
                      <tr>
                        <td colspan="3"></td>
                        <td colspan="2"><b>Discount</b></td>
                        <td align="right">&pound;<?php echo $discount?></td>
                      </tr>
                      <tr>
                        <td colspan="3"/>
                        <td colspan="3"><hr size="1"/></td>
                      </tr>
                      <tr>
                        <td colspan="3"/>
                        <td colspan="2"><b>Total</b></td>
                        <td align="right">&pound;<?php echo number_format($total, 2, '.', ''); ?></td>
                      </tr>
                      <tr>
                        <td colspan="6"/>
                      </tr>
                      <tr>
                      <tr>
                        <td colspan="6" align="center"><input type='button' value='Print' class='button' id="print" onClick="printPage();">
                          &nbsp;
                          <input type="submit" id='sendemail' name="sendemail" value="Send Email">
                          <?php if($numPDF>0){ ?>
						  &nbsp;
                          <input type="submit" id='sendpdfemail' name="sendpdfemail" value="Send Generated PDF Email">
						  <?php } ?>
						</td>
                      </tr>
                    </tbody>
                  </table></td>
              </tr>
            </tbody>
          </table></td>
      </tr>
  </table>
</form>
</body>
</html>
