<?php
	$db = Zend_Registry::get("db");

	$id 		= 	$this->id;	

	$sql = "SELECT o.*,u.customer_id,ca.*,c.* FROM orders o,customers u,country c,customers_address ca WHERE o.customer_id=u.customer_id AND o.order_id='".$id."' AND o.status='Refunded' AND ca.address_id = o.address_id AND c.id=u.country ORDER BY o.order_id DESC";		
	
	$rows			=	$db->fetchRow($sql);
	$numrows		=	count($rows);
	$customer_id	=	$rows['customer_id'];	
	$address_id		=	$rows['address_id'];
	$invoice_number	=	$rows['invoice_number'];
	$dat			=	$rows['dat'];
	$tim			=	$rows['tim'];
	$status			=	$rows['ostatus'];

	$selCustAdd		=	$db->fetchRow("SELECT a.`address_id`,a.`customer_id`,a.shipping_country,c.is_eu FROM customers_address a, country c WHERE a.customer_id ='".$customer_id."' AND  a.address_id='".$address_id."' AND a.shipping_country=c.id ");

	$numcust		=	count($selCustAdd);

?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Order Details</title> 
<script>					 
function printPage(){
    document.getElementById('print').style.visibility = 'hidden';
    if (typeof(window.print) != 'undefined') {
        window.print();
    }
    document.getElementById('print').style.visibility = 'hidden';
}
</script>
<style type="text/css">
body{
	background-image:none;
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:normal;
}
h1{
	background-image:none;
	background-color:#cc0000;
}
</style>
</head>
<body>
<form name="addcountry" action=''  method="post">
<table width="680" height="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" class="romantable" valign="top">
  <tbody>			
	<tr>
	  <td><table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size: 10pt; font-family: verdana;" valign="top">
		  <tbody>
			<tr>
			  <td align="left"><b>Invoice</b></td>
			  <td align="right"><b>Invoice Number:</b> <?php echo $invoice_number?></td>
			</tr>
			<tr>
			  <td colspan="2"><hr/></td>
			</tr>
		  </tbody>
		</table></td>
	</tr>
	<tr>
	  <td><img align="left" src="http://nottsccc.co.uk/images/nccc-logo.gif"/><br/>
		<br/></td>
	</tr>
	<tr>
	  <td valign="top"><table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" class="romantable" valign="top">
		  <tbody>
			<tr>
			  <td><b>Nottinghamshire County Cricket Club</b><br/>
				Trent Bridge<br/>
				Nottingham<br/>
				Notts<br/>
				NG2 6AG</td>
			  <td align="right"><b>+44 (0)115 982 3000</b><br/>
				administration@nottsccc.co.uk<br/></td>
			</tr>
		  </tbody>
		</table></td>
	</tr>
    <tr>
      <td valign="top"><table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" class="romantable" valign="top">
          <tbody>            
            <tr>
              <td><table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" valign="top">
                  <tbody>
                    <tr>
                      <td><b> <a style="text-decoration: none;" href="javascript:;">Refund Details:</a></b></td>
                      <td width="20"></td>
                      <td><b> <a style="text-decoration: none;" href="javascript:;">Customer Details:</a></b></td>
                    </tr>
                    <tr>
                      <td width="340" class="styleborder" valign="top"> 
					  	Refund Date: <?php echo $dat?><br/>
                      	Order Number: <?php echo $rows["order_id"]?><br/>
						Transaction Id&nbsp;:&nbsp;<?php echo $rows["order_number"]?><br />
						Payment Method&nbsp;:&nbsp;<?php echo $rows["payment_method"]?>  	
					  </td>
                      <td width="20"></td>
                      <td width="290" class="styleborder">
					    <?php echo ucfirst($rows['shipping_fname'])."&nbsp;".ucfirst($rows['shipping_lname'])."<br>";?>
						<?php if($rows['shipping_address1'] != "") echo $rows['shipping_address1']."<br>";?>
						<?php if($rows['shipping_address2'] != "") echo $rows['shipping_address2']."<br>";?>					
						<?php if($rows['shipping_city'] != "") echo $rows['shipping_city']."<br>";?>
						<?php if($rows['shipping_country'] != "") {
								$selCntry	=	$db->fetchRow("SELECT country FROM country WHERE id='".$rows['shipping_country']."'");
								if($selCntry){											
									$shipcountry	=	$selCntry['country'];
									echo $shipcountry."<br>";
								}
							  }
						?>
						<?php if($rows['shipping_postcode']!="")echo "(".$rows['shipping_postcode'].")<br>";?>
						<?php if($rows['shipping_phone']!= ""){ echo "<b>Telephone:</b>".$rows['shipping_phone']."<br>"; }else if($rows['phone']<>""){echo "<b>Telephone:</b>".$rows['phone']."<br>";}?>						
					 </td>
                    </tr>                    
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td><hr/></td>
            </tr>
            <tr valign="top">
              <td>
			  <table width="100%" border="0" align="center" style="color: rgb(0, 0, 0); font-size:10pt; font-family: verdana;" class="romantable" valign="top">
                  <tbody>
                    <tr bgcolor="#8e9e50">
                      <td><font color="#ffffff"><b>Item Name</b></font></td>
                      <td><font color="#ffffff"><b>SKU</b></font></td>
                      <td width="50" align="right"><font color="#ffffff"><b>Quantity</b></font></td>
                      <td width="50" align="right"><font color="#ffffff"><b>Total</b></font></td>
                    </tr>
					<?php
					$sql_order 		= "SELECT * FROM credit_details WHERE order_id='".$rows['order_id']."'";
					$res_order  	= $db->fetchAll($sql_order);
					$numrows 		= count($res_order);
					$sub_total		= 0;
					$product_name_var = '';

					foreach($res_order as $rows_order){

					    if(!empty($rows_order['product_id'])){
							$selProd	=	$db->fetchAll("SELECT p.* FROM products p WHERE p.product_id='".$rows_order['product_id']."'  ");							
							if($selProd){																				
								foreach($selProd as $res){
									$product_id		=	$res['product_id'];	
									$product_name 	= 	$res['product_name'];
									$product_code	=	$res['product_code'];
									$product_qty	=	$rows_order['quantity'];										
									if($res['size'] != '') 
									  $product_name_var = $res['size'];									
									else if($res['style'] != '') 
									  $product_name_var = $res['style'];									
								}
							}
						}else if(!empty($rows_order['membership_id'])){
							$selProd	=	$db->fetchAll("SELECT m.* FROM memberships m WHERE m.membership_id='".$rows_order['membership_id']."'  ");		
							if($selProd){																				
								foreach($selProd as $res){
									$product_id		=	$res['membership_id'];	
									$product_name 	= 	$res['membership_name'];
									$product_code	=	$res['product_code'];
									$product_qty	=	$rows_order['quantity'];																								
								}
							}
						}else if(!empty($rows_order['event_id'])){
							$selProd	=	$db->fetchAll("SELECT e.* FROM `events` e WHERE e.event_id='".$rows_order['event_id']."'");								
							if($selProd){																				
								foreach($selProd as $res){
									$product_id		=	$res['event_id'];	
									$product_name 	= 	$res['product_name'];
									$product_code	=	$res['product_code'];
									$product_qty	=	$rows_order['quantity'];
									if($res['style'] != '') 
									  $product_name_var = $res['style'];		
								}
							}
						}

						// updated on 24/04/2009 

						$product_price	=	$rows_order['price'];
						$product_price	=	number_format($product_price, 2, '.', '');	
						$line_price		=	$rows_order['quantity']*$product_price;
						$line_price		=	number_format($line_price, 2, '.', '');	
						$sub_total		+=	$line_price;
						$sub_total		=	number_format($sub_total, 2, '.', '');
						$vatprice		=	$rows['order_vat_tax'];

					?>
                    <tr>
                      <td><?php echo $product_name;?>
					  <?php if($product_name_var != "") echo " ( ".$product_name_var." ) ";?></td>
                      <td align="left"><?php echo $product_code;?></td>
                      <td align="center"><?php echo $rows_order['quantity'];?></td>
                      <td align="right">&pound;<?php if($line_price != "") echo $line_price; ?></td>
                    </tr>
					  <?php
						}
						$db_query_intl 	= "SELECT * FROM credit_details WHERE order_id='".$rows['order_id']."' ";			
						$db_result_intl = $db->fetchAll($db_query_intl);
						$numrowsintl 	= count($db_result_intl);
						foreach($db_result_intl as $dsdet){
							$refund		= $dsdet['refund_amount'];
							$restockfee	= $dsdet['restocking_fee'];
						}
						$total 			= 0-$rows['ordertotal'];
						$item_vat		= $vatprice;						
						$item_vat		= number_format($item_vat, 2, '.', '');
						$refund			= number_format($refund, 2, '.', '');	
						$restockfee 	= number_format($restockfee, 2, '.', '');	

						?>
                   
                    <tr>
                      <td colspan="3"></td>
                      <td colspan="3"><hr size="1"/></td>
                    </tr>
                   <tr>
						<td colspan="3" align="right" class="verdena11redbold"><b>Refund Amount Fee&nbsp;&nbsp;:&nbsp;&nbsp;</b></td>
						<td align="right" class="verdena11"><?php echo $refund;?></td> 
					</tr>
                    <tr>
						<td colspan="3" align="right" class="verdena11redbold"><b>Restocking Fee&nbsp;&nbsp;:&nbsp;&nbsp;</b></td>
						<td align="right" class="verdena11"><?php echo $restockfee;?></td> 
					</tr>
					<tr>
						<td colspan="3" align="right" class="verdena11redbold"><b>Total Refund&nbsp;&nbsp;:&nbsp;&nbsp;</b></td>
						<td align="right" class="verdena11"><?php echo number_format($total, 2, '.', ''); ?></td> 
					</tr>				
					<tr>
	                      <td colspan="6"/>						                      
                    </tr>
					<tr>                
					<tr> 
						<td colspan="6" align="center"><input type='button' value='Print' class='button' id="print" onClick="printPage();"></td>
					</tr>               
                  </tbody>
                </table></td>
            </tr>            
          </tbody>
        </table>
	</td>
	</tr>	
</table>
</form>
</body>
</html>
