<?php
$db		= Zend_Registry::get("db");

   if(isset($this->data['but_refund'])){

		$selPrev	=	$db->fetchAll("SELECT cart_sessionid,customer_id,address_id,currency,ordered_date,ordertotal,order_vat_tax FROM orders WHERE order_id='".$this->data['order_id']."'");

		if($selPrev){
			foreach($selPrev as $pres){
				$csess_id		=	stripslashes($pres['cart_sessionid']);
				$ccust_id		=	stripslashes($pres['customer_id']);
				$ordered_date	=	$pres['ordered_date'];
				$order_total	=	$pres['ordertotal'];
				$order_vat_tax	=	$pres['order_vat_tax'];
				$selCname		=	$db->fetchRow("SELECT fname,lname,email FROM customers WHERE customer_id = '".$ccust_id."'");
				if($selCname){
					$custfname	=	$selCname['fname'];
					$custlname	=	$selCname['lname'];
					$custemail	=	$selCname['email'];
					$dispname	=	$custfname." ".$custlname;
				}				
				
				$cadd_id		=	stripslashes($pres['address_id']);
				$ccurrency		=	stripslashes($pres['currency']);
				$finalrefund	=	0-$this->data['final_refund'];
				$invoice_number	=	$this->orders->findmaxinvoice();
				
				$insNew			=	"INSERT INTO orders SET
											cart_sessionid		=	'".$csess_id."',
											customer_id			=	'".$ccust_id."',
											address_id			=	'".$cadd_id."',
											ordertotal			=	'".$finalrefund."',
											currency			=	'".$ccurrency."',
											status				=	'Refunded',
											invoice_number		=	'".$invoice_number."',
											ordered_date		=	now(),
											shipped_date		=	now(),
											order_number		=	'".$this->data['txn_id']."',
											ccerrcode			=	'1',
											payment_method		=	'".$this->data['refund_method']."',											
											user_id				=	'".$_SESSION['wlsession']['user_id']."',
											live_vat_rate		=	'".$this->orders->configRate()."',
											created_date		=	now(),
											modified_date		=	now()";
				if($db->query($insNew)){
					$insertid	=	$db->lastInsertId();

					$db->query("INSERT INTO order_actions SET 
									order_id			=	'".$insertid."',
									invoice_number		=	'".$invoice_number."',
									action				=	'Refunded',
									action_date			=	now(),
									payment_method		=	'".$this->data['refund_method']."',
									transaction_number	=	'".$this->data['txn_id']."',
									amount_paid			=	'".$finalrefund."',
									status				=	'1',
									created_date		=	now(),
									modified_date		=	now()");

					$alldetid	=	$this->data['alldetid'];
					$detarr		=	explode(",",$alldetid);

					$orderurl		=	"<a href='".$this->baseurl."/orders/orderhistory/id/".$this->data['order_id']."' rel='facebox'>order #".$this->data['order_id']."</a>";

					$adminurl		=	"<a href='".$this->baseurl."/orders/adminhistory/id".$_SESSION['wlsession']['user_id']."' rel='facebox'>".$_SESSION['fullname']."</a>";

					$customerurl	=	"<a href='".$this->baseurl."/orders/customerhistory/id/".$ccust_id."' rel='facebox'>".$dispname."</a>";					

					$hisurl			=	addslashes($adminurl)." refunds &pound;".$this->data['final_refund']." to ".addslashes($customerurl)." on ".addslashes($orderurl)." on ".date('jS M Y H:i:s');

					$db->query("INSERT INTO order_history SET
													order_id		=	'".$insertid."',
													user_id			=	'".$_SESSION['wlsession']['user_id']."',
													status			=	'".$hisurl."',
													history_date	=	now() ");

					if($this->data['refund_notes']<>""){

						$textNew		=	addslashes($adminurl)." added a customer note to ".$customerurl." ";

						$textNew		.=	$this->data['refund_notes'];

						$db->query("INSERT INTO order_history SET order_id = '".$insertid."',status = '".addslashes($textNew)."' ,user_id='".$_SESSION['wlsession']['user_id']."',customer_id='".$ccust_id."',history_date=now() ");

					}

					$vatprice		=	0;
					for($k=0;$k<count($detarr);$k++){
						$selP		=	$db->fetchRow("SELECT product_id,membership_id,event_id FROM order_details WHERE order_detail_id='".$detarr[$k]."'");
						if($selP){
							$prodid		=	$selP['product_id'];
							$membid		=	$selP['membership_id'];
							$evenid		=	$selP['event_id'];
						}
						$detail_id	=	$detarr[$k];						
						$qtyname	=	"txt_qty".$detail_id;
						$prodqty	=	$this->data[$qtyname];
						$pricename	=	"txt_eprice".$detail_id;
						$prodprice	=	$this->data[$pricename];
						$stkname	=	"chkstock".$detail_id;
						$prodstk	=	$this->data[$stkname];
						if($prodstk<>""){
							$estk	=	$db->fetchRow("SELECT product_id FROM products WHERE product_id='".$prodid."'");
							if($estk){
								$db->query("UPDATE products SET available_stock = available_stock+".$prodqty.",site_stock = site_stock+".$prodqty." WHERE product_id='".$prodid."'");
							}
						}
						if($prodqty=='' || $prodqty==0){
							$eqtyname	=	"txt_eqty".$detail_id;
							$prodqty	=	$this->data[$eqtyname];
						}
						if($prodqty>0 && $prodqty<>""){
							if($prodid!='0'){
								$selVat		=	$db->fetchRow("SELECT vat_id FROM products WHERE product_id ='".$prodid."'");
								if($selVat){ 
									 $provat	=	$selVat['vat_id'];
								}
							}else if($membid !='0'){
								$selVat		=	$db->fetchRow("SELECT vat_id FROM memberships WHERE membership_id ='".$membid."'");
								if($selVat){ 
									 $provat	=	$selVat['vat_id'];
								}
							}
							$insCredit	=	"INSERT INTO credit_details SET
														refund_id		=	'".$this->data['order_id']."',
														order_id		=	'".$insertid."',
														product_id		=	'".$prodid."',
														membership_id	=	'".$membid."',
														event_id		=	'".$evenid."',
														quantity		=	'".$prodqty."',
														price			=	'".$prodprice."',
														refund_amount	=	'".$this->data['txt_refund']."',
														restocking_fee	=	'".$this->data['txt_restock']."',
														total_refund	=	'".$this->data['final_refund']."',
														txn_id			=	'".$this->data['txn_id']."',
														txn_method		=	'".$this->data['refund_method']."',
														refunded_date	=	'".date("Y-m-d")."',
														vat_id			=	'".$provat."',
														created_date	=	now(),
														modified_date	=	now()";
							$db->query($insCredit);

							if($order_vat_tax>0){ 
								if($prodid!='0')
									$item_vat		=	$this->orders->findProductvat($prodid);
								else if($membid!='0')
									$item_vat		=	$this->orders->findMemvat($membid);
								
								$item_vat		=	$item_vat*$prodqty;
								$item_vat		=	number_format($item_vat, 2, '.', '');
								$vatprice		+=	$item_vat;
							}
						}
					}

					if($vatprice>0)
						$vatprice	=	0-$vatprice;

						$db->query("UPDATE orders SET order_vat_tax ='".$vatprice."' WHERE order_id='".$insertid."'");

					// Send email to admin for the refunds---------------------------------------
					$disp_total		=	"".$order_total;
					$stockfee		=	"".$this->data['txt_restock'];
					$refundtotal	=	"".$this->data['final_refund'];
					$dat			=	date("d-m-Y");

					$Seladmin		= 	"SELECT * FROM messages WHERE message_type='Refunded' AND message_to = 'Admin' AND active = '1'";
					
					$row			= 	$db->fetchRow($Seladmin);
			
					if($row){						
						$body			= 	stripslashes($row['message_text']);	
						$text			=	stripslashes($row['text']);	
						$subject		=	stripslashes($row['mail_subject']);	
						
						$subtag			= 	str_replace("{order_id}",$this->data['order_id'], $subject);
						$subtag			= 	str_replace("{ordered_date}",$dat, $subtag);	
						$subtag			= 	str_replace("{fname}",$custfname, $subtag);
						$subtag			= 	str_replace("{lname}",$custlname, $subtag);

						$bodytag		= 	str_replace("{fname}",$custfname, $body);
						$bodytag		= 	str_replace("{lname}",$custlname, $bodytag);
						$bodytag		= 	str_replace("{email}",$custemail, $bodytag);
						$bodytag		= 	str_replace("{order_id}",$this->data['order_id'], $bodytag);
						$bodytag		= 	str_replace("{invoice_number}",$invoice_number, $bodytag);
						$bodytag		= 	str_replace("{ordered_date}",$ordered_date, $bodytag);
						$bodytag		= 	str_replace("{payment_method}",$this->data['refund_method'], $bodytag);
						$bodytag		= 	str_replace("{order_number}",$this->data['txn_id'], $bodytag);			
						$bodytag		= 	str_replace("{ordertotal}",$disp_total, $bodytag);					
						$bodytag		= 	str_replace("{stock_fee}",$stockfee, $bodytag);						
						$bodytag		= 	str_replace("{refund_total}",$refundtotal, $bodytag);

						$texttag		= 	str_replace("{fname}",$custfname, $text);
						$texttag		= 	str_replace("{lname}",$custlname, $texttag);
						$texttag		= 	str_replace("{email}",$custemail, $texttag);
						$texttag		= 	str_replace("{order_id}",$this->data['order_id'], $texttag);
						$texttag		= 	str_replace("{invoice_number}",$invoice_number, $texttag);
						$texttag		= 	str_replace("{ordered_date}",$ordered_date, $texttag);
						$texttag		= 	str_replace("{payment_method}",$this->data['refund_method'], $texttag);
						$texttag		= 	str_replace("{order_number}",$this->data['txn_id'], $texttag);			
						$texttag		= 	str_replace("{ordertotal}",$disp_total, $texttag);					
						$texttag		= 	str_replace("{stock_fee}",$stockfee, $texttag);						
						$texttag		= 	str_replace("{refund_total}",$refundtotal, $texttag);
			
						$userArr		=	array();
						$pos			=	strpos($row['user_id'], ',');
						if($pos>0){
							$userArr	=	explode(",",substr($row['user_id'],0,-1));	
						}else{
							$userArr[0]	=	$row['user_id'];
						}	
						$cnt			=	count($userArr);
						for($k=0;$k<$cnt;$k++){
							$user_id		=	$db->fetchRow("SELECT `user_email` FROM users WHERE user_id ='".$userArr[$k]."' ");
							if($user_id){
								$adminEmail	=	$user_id['user_email'];
							}	

							$headers  = 'MIME-Version: 1.0' . "\r\n";
							$headers .= 'Content-type: text/html; charset=iso-8859-1' . "\r\n";
							mail($adminEmail,$subtag,$bodytag,$headers);
						}
					}
		
					// Send Mail To Customer ---------------------------------------------------------		

					$body			=	'';		
					$SelCus			= 	"SELECT * FROM messages WHERE message_type='Refunded' AND message_to = 'Customer' AND active = '1' ";
					$crow			= 	$db->fetchRow($SelCus);
					if($crow){						
						$body			= 	stripslashes($crow['message_text']);
						$text			=	stripslashes($crow['text']);
						$subject		=	stripslashes($crow['mail_subject']);
			
						$subtag			=   str_replace("{order_id}",$this->data['order_id'], $subject);
						$subtag			= 	str_replace("{ordered_date}",$dat, $subtag);	
						$subtag			= 	str_replace("{fname}",$custfname, $subtag);
						$subtag			= 	str_replace("{lname}",$custlname, $subtag);
								
						$bodytag		= 	str_replace("{fname}",$custfname, $body);
						$bodytag		= 	str_replace("{lname}",$custlname, $bodytag);		
						$bodytag		= 	str_replace("{order_id}",$this->data['order_id'], $bodytag);
						$bodytag		= 	str_replace("{invoice_number}",$invoice_number, $bodytag);
						$bodytag		=	str_replace("{ordertotal}",$disp_total,$bodytag);
						$bodytag		= 	str_replace("{ordered_date}",$ordered_date, $bodytag);
						$bodytag		= 	str_replace("{order_details}",$prd_details, $bodytag);
						$bodytag		= 	str_replace("{stock_fee}",$stockfee, $bodytag);						
						$bodytag		= 	str_replace("{refund_total}",$refundtotal, $bodytag);
						
						$texttag		= 	str_replace("{fname}",$custfname, $text);
						$texttag		= 	str_replace("{lname}",$custlname, $texttag);		
						$texttag		= 	str_replace("{order_id}",$this->data['order_id'], $texttag);
						$texttag		= 	str_replace("{invoice_number}",$invoice_number, $texttag);
						$texttag		=	str_replace("{ordertotal}",$disp_total,$texttag);
						$texttag		= 	str_replace("{ordered_date}",$ordered_date, $texttag);
						$texttag		= 	str_replace("{order_details}",$prd_details, $texttag);
						$texttag		= 	str_replace("{stock_fee}",$stockfee, $texttag);						
						$texttag		= 	str_replace("{refund_total}",$refundtotal, $texttag);

						$headers  = 'MIME-Version: 1.0' . "\r\n";
						$headers .= 'Content-type: text/html; charset=iso-8859-1' . "\r\n";
						mail($custemail,$subtag,$bodytag,$headers);															
					}
					// End of the emails here --------------------------------------------------
				}			
			}
		}
		echo "<script>
			window.opener.location.href='".$this->baseurl."/orders/list/type/Refunded';
			
		</script>";		
		header("location:".$this->baseurl."/orders/view/id/".$insertid."");	
	}


?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Order Refund</title>
<script type="text/javascript">
	function blockNumbers(e){
		var key;
		var keychar;
		var reg;			 
		if(window.event) {
			// for IE, e.keyCode or window.event.keyCode can be used
			key = e.keyCode;
		}else if(e.which) {
			// netscape
			key = e.which;
		}else {
			// no event, so pass through
			return true;
		}
		keychar = String.fromCharCode(key);
		
		if ( (key>=48 &&  key<=57) || (key==46) || (key==44)|| (key==45) || (key==34) || (key==39) || (key==32) || (key == 8) || (key == 43) || (key == 41) || (key == 40)){
			return true;
		}else{
			return false;
		}
	}
	function validateQTY(enterval,extval){
		var enval	=	enterval.value;
		if(enval!=''){
			chkval	=	parseFloat(enval);
			chkval1	=	parseFloat(extval);
		}		
		if(chkval>chkval1){
			alert('refund quantity should be less than or equal to ordered quantity!');
			enterval.value='';
			document.addrefund.txt_refund.value					='';
			document.getElementById('finalrefund').innerHTML	='';
			enterval.focus();
			return false;
		}else if(enval==''){			
			document.addrefund.txt_refund.value					='';
			document.getElementById('finalrefund').innerHTML	='';
			calTotalrefund();
		}else{
			calTotalrefund();
		}
	}

	function calTotalrefund(){
		var ids		=	document.addrefund.alldetid.value;
		var idarr	=	new Array();	
		tot			=	0;
		grandtot	=	0;
		idarr		=	ids.split(",");
		arrlen		=	idarr.length;
		for(var k=0;k<arrlen;k++){
			proid	=	idarr[k];
			proqty		=	eval('document.addrefund.txt_qty'+proid+'.value');
			proprice	=	eval('document.addrefund.txt_eprice'+proid+'.value');
			if(proqty=="")
				proqty	=	0;
			if(proprice=="")
				proprice=	0;
			tot			=	parseFloat(proqty)*parseFloat(proprice);
			grandtot	=	grandtot+tot;			
		}

		document.addrefund.txt_refund.value= grandtot.toFixed(2);
		stockval	=	document.addrefund.txt_restock.value;
		if(stockval!=''){
			fintot		=	parseFloat(grandtot)-parseFloat(stockval);
			fintot		=	fintot.toFixed(2);
		}else
			fintot		=	grandtot.toFixed(2);

		document.getElementById('finalrefund').innerHTML	=	fintot;
		document.addrefund.final_refund.value	=	fintot;
		
	}
	
	function validateRefund(frmname){
		if(trim(frmname.txt_refund.value)=="" || frmname.txt_refund.value<1){
			alert('Enter the refund amount!');
			frmname.txt_refund.focus();
			return false;
		}else if(trim(frmname.refund_method.value)==0){
			alert("Please select refund method!");
			frmname.refund_method.focus();
			return false;
		}else if(trim(frmname.txn_id.value)==""){
			alert("Please enter the transaction id!");
			frmname.txn_id.focus();
			return false;
		}		
		document.getElementById('refund_button').style.display = 'none';
		document.getElementById('process_button').innerHTML = 'Please wait....';		
	}

	function calFinalrefund(){
		refunval	=	document.addrefund.txt_refund.value;
		stockval	=	document.addrefund.txt_restock.value;
		if(stockval!=''){
			fintot		=	parseFloat(refunval)-parseFloat(stockval);
			fintot		=	fintot.toFixed(2);
		}else
			fintot		=	parseFloat(refunval).toFixed(2);
		document.getElementById('finalrefund').innerHTML	=	fintot;
		document.addrefund.final_refund.value	=	fintot;
	}

</script>
<style type="text/css">
/* Backgrounds */
body{
	background-image:none;
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:normal;
}
h1{
	background-image:none;
	background-color:#cc0000;
}
</style>
</head>
<body>
<?php
$id 			= 	$this->id;
$res			=	$db->fetchRow("SELECT o.*,u.customer_id,ca.*,c.* FROM orders o,customers u,country c,customers_address ca WHERE o.customer_id=u.customer_id AND o.order_id='".$id."' AND ca.address_id = o.address_id AND c.id=u.country ORDER BY o.order_id DESC");
$numrows		=	count($res);
$customer_id	=	$res['customer_id'];	
$address_id		=	$res['address_id'];	
$datearray		=	explode(" ", $res["ordered_date"]);
$dot			=	explode("-",$datearray[0]);
$dat 			=	$dot[2]."-".$dot[1]."-".$dot[0];
$tot			=	explode(":",$datearray[1]);
$tim 			=	$tot[0]." ".$tot[1];

$selCustAdd		=	$db->fetchRow("SELECT a.`address_id`,a.`customer_id`,a.shipping_country,c.is_eu FROM customers_address a, country c WHERE a.customer_id ='".$customer_id."' AND  a.address_id='".$address_id."' AND a.shipping_country=c.id ");
$numcust		=	count($selCustAdd);

?>
<form name="addrefund" action=''  method="post" onsubmit="return validateRefund(document.addrefund);">
<input type="hidden" name="order_id" value="<?php echo $id;?>">
<fieldset>
 <legend><b>Refund Order</b></legend>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align='center'>
  <tr> 
  	<td colspan="5" width="100%" background="../images/top_curve_bg.gif" align="center"  class="arialbold16grey">Order Refund</td>
 </tr>	
	<tr> 
		<td class="Height"></td>
	</tr>	
	 <tr>                 
		<td colspan="3" background="../../images/top_curve_bg.gif" align="left" class="verdena11redbold">Order Number&nbsp;&nbsp;:&nbsp;&nbsp;</td>
		<td background="../../images/top_curve_bg.gif" class="verdena11"><?php echo $id;?></td>
		<td background="../../images/top_curve_bg.gif">&nbsp;</td>
		<td background="../../images/top_curve_bg.gif">&nbsp;</td>
	 </tr>
	 <tr> 
		 <td colspan="5"><hr color="000000"></td>
	 </tr>	
	 <tr> 
		<td colspan="3" align="left" class="verdena11redbold"><b>Order Details</b></td>
		<td align="left" class="verdena11redbold"><b>Customer Details</b></td>                
		<td background="../../images/top_curve_bg.gif">&nbsp;</td>
	 </tr>
	 <tr> 
		 <td colspan="5"><hr color="000000"></td>
	 </tr>
	 <tr> 
	   <td colspan="3" valign="top" align="left" class="verdena11">Order Date&nbsp;:&nbsp;<?php echo $dat?><br>Order Time&nbsp;:&nbsp;<?php echo $tim?><br />Transaction Id&nbsp;:&nbsp;<?php echo $res["order_number"]?><br />Status&nbsp;:&nbsp;<?php echo $res["payment_status"]?><br />Payment Method&nbsp;:&nbsp;<?php echo $res["payment_method"]?></td>
		<td colspan="2" align="left" class="verdena11" style=text-align="left"><?php echo ucfirst($res['billing_fname'])?>&nbsp;<?php echo ucfirst($res['billing_lname']);?>
			<br>
			<?php if($res['billing_address1'] != "") echo $res['billing_address1']."<br>"?>
			<?php if($res['billing_address2'] != "") echo $res['billing_address2']."<br>"?>					
			<?php if($res['billing_city'] != "") echo $res['billing_city']."<br>"?>
			<?php if($res['billing_country'] != "") echo $res['country'];?>&nbsp;<?php if($res['billing_postcode'] != "") echo "(".$res['billing_postcode'].")<br>"?>
			<?php if($res['phone'] != "") echo $res['phone']."<br>"?>
			<?php if($res['email'] != "") echo $res['email']."<br>"?>
		</td>
	</tr>			
	<tr> 
		<td height="10" colspan="5"></td>
	</tr>
	<tr> 
		 <td colspan="5"><hr color="000000"></td>
	 </tr>	
	 <tr> 
		<td class="verdena11redbold"><b>Description</b></td>
		<td class="verdena11redbold"><b>Product Code</b></td>
		<td align="center" class="verdena11redbold"><b>Quantity</b></td>
		<td align="center" class="verdena11redbold"><b>Unit Price</b></td>                
		<td align="right" class="verdena11redbold"><b>Total</b></td>                
	 </tr>
	<tr> 
		<td class="Height"></td>
	</tr>	
	<?php
		$sql_order 		= "SELECT * FROM order_details WHERE order_id='".$res['order_id']."'";
		$res_order  	= $db->fetchAll($sql_order);
		$numrows 		= count($res_order);
		$sub_total		= 0;

		$tempqty = 0;
		foreach($res_order as $rows_order){
			if(!empty($rows_order['product_id'])){
				$selProd	=	$db->fetchAll("SELECT p.* FROM products p WHERE p.product_id='".$rows_order['product_id']."'  ");				
				if($selProd){
					foreach($selProd as $pres){
						$product_id		=	$pres['product_id'];
						$det_id			=	$rows_order['order_detail_id'];
						$alldetid		.=	$det_id.",";
						$product_name 	= 	$pres['product_name'];	
						$product_code	=	$pres['product_code'];	
						$product_qty	=	$rows_order['quantity'];
						if($pres['size'] != '') 
						  $product_name_var = $pres['size'];									
						else if($pres['style'] != '') 
						  $product_name_var = $pres['style'];
						$mqty			=	0;
						$selMemo		=	$db->fetchAll("SELECT * FROM credit_details WHERE refund_id='".$res['order_id']."' AND product_id='".$product_id."'");
						if($selMemo){																									  				
							foreach($selMemo as $mres){
								$mqty	=	$mres['quantity'];
							}
						}																																	  
						if($product_qty>$mqty){
							$disp_qty	=	$product_qty-$mqty;
						}										
					} 			
				}
			}else if(!empty($rows_order['membership_id'])){
				$selProd	=	$db->fetchAll("SELECT m.* FROM memberships m WHERE m.membership_id='".$rows_order['membership_id']."'  ");				
				if($selProd){
					foreach($selProd as $pres){
						$membership_id	=	$pres['membership_id'];
						$det_id			=	$rows_order['order_detail_id'];
						$alldetid		.=	$det_id.",";
						$product_name 	= 	$pres['membership_name'];	
						$product_code	=	$pres['product_code'];	
						$product_qty	=	$rows_order['quantity'];
						$mqty			=	0;
						$selMemo		=	$db->fetchAll("SELECT * FROM credit_details WHERE refund_id='".$res['order_id']."' AND membership_id='".$membership_id."'");
						if($selMemo){																									  				
							foreach($selMemo as $mres){
								$mqty	=	$mres['quantity'];
							}
						}																																	  
						if($product_qty>$mqty){
							$disp_qty	=	$product_qty-$mqty;
						}										
					} 			
				}
			}else if(!empty($rows_order['event_id'])){
				$selProd	=	$db->fetchAll("SELECT e.* FROM events e WHERE e.event_id='".$rows_order['event_id']."'  ");				
				if($selProd){
					foreach($selProd as $pres){
						$event_id		=	$pres['event_id'];
						$det_id			=	$rows_order['order_detail_id'];
						$alldetid		.=	$det_id.",";
						$product_name 	= 	$pres['product_name'];	
						$product_code	=	$pres['product_code'];	
						$product_qty	=	$rows_order['quantity'];
						if($pres['style'] != '') 
						  $product_name_var = $pres['style'];
						$mqty			=	0;
						$selMemo		=	$db->fetchAll("SELECT * FROM credit_details WHERE refund_id='".$res['order_id']."' AND event_id='".$event_id."'");
						if($selMemo){																									  				
							foreach($selMemo as $mres){
								$mqty	=	$mres['quantity'];
							}
						}																																	  
						if($product_qty>$mqty){
							$disp_qty	=	$product_qty-$mqty;
						}										
					} 			
				}
			}
			$product_price	=	$rows_order['price'];
			$line_price		=	$rows_order['quantity']*$product_price;
			$line_price		=	number_format($line_price, 2, '.', '');	
			$sub_total		+=	$line_price;
			$sub_total		=	number_format($sub_total, 2, '.', '');
			$vatprice		=	$res['order_vat_tax'];

			if($product_qty>$mqty){

				$tempqty	=	1;

				$disp_qty	=	$product_qty-$mqty;

	?>
	 <tr> 
		<td class="verdena11"><?php echo $product_name;?><?php if($product_name_var != "") echo " ( ".$product_name_var." ) ";?></td>
		<td class="verdena11">&nbsp;<?php echo $product_code;?></td>
		<td align="center" class="verdena11"><?php echo $disp_qty;?>
			<input type="hidden" size="3" maxlength="3" name="txt_eqty<?php echo $det_id;?>" value="<?php echo $disp_qty;?>">&nbsp;
			<input type="text" size="3" maxlength="3" name="txt_qty<?php echo $det_id;?>" onkeypress="return blockNumbers(event);" onblur="return validateQTY(this,document.addrefund.txt_eqty<?php echo $det_id;?>.value);" value="<?php echo $this->data['txt_qty'.$det_id];?>">&nbsp;<input type="checkbox" value="1" name="chkstock<?php echo $det_id;?>" <?php if($this->data['chkstock'.$det_id]<>"")echo "CHECKED";?>>
		</td>
		<td align="center" class="verdena11">&pound;<?php echo $product_price?><input type="hidden" name="txt_eprice<?php echo $det_id;?>" value="<?php echo $product_price;?>"></td>                
		<td align="right" class="verdena11">&pound;<?php if($line_price != "") echo $line_price; ?></td>                
	 </tr>
	<?php }
			
		} 
	
		$db_query_intl 		= "SELECT * FROM order_details where cart_sessionid='".$res['cart_sessionid']."' ";			
		$db_result_intl		= $db->fetchAll($db_query_intl);
		$numrowsintl 		= count($db_result_intl);
		foreach($db_result_intl as $dsdet){
			$discount		= $dsdet['discount'];
			$shipping		= $dsdet['shipping'];	
		}		
		$discount			= number_format($discount, 2, '.', '');	
		$shipping 			= number_format($shipping, 2, '.', '');
		$total 				= $res['ordertotal'];
		$item_vat			= $res['order_vat_tax'];
		$item_vat			= number_format($item_vat, 2, '.', '');
		$disp_total			= $sub_total;							 
		$sub_total			= ($sub_total+$shipping)-$discount;	 		 
		$sub_total			= number_format($sub_total, 2, '.', '');	

		if($sub_total>0 && $tempqty>0){
	?>
	<input type="hidden" name="alldetid" value="<?php echo substr($alldetid,0,-1);?>">
	 <tr> 
		<td colspan="4" align="right" class="verdena11redbold"><b>Sub Total&nbsp;&nbsp;:&nbsp;&nbsp;</b></td>
		<td align="right" class="verdena11">&pound;<?php echo $disp_total?></td>                          
	 </tr>
	 <tr> 
		<td colspan="4" align="right" class="verdena11redbold"><b>Vat&nbsp;&nbsp;:&nbsp;&nbsp;</b></td>
		<td align="right" class="verdena11">&pound;<?php echo $item_vat;?></td>                          
	 </tr>
	  <tr> 
		<td colspan="4" align="right" class="verdena11redbold"><b>Discount&nbsp;&nbsp;:&nbsp;&nbsp;</b></td>
		<td align="right" class="verdena11">&pound;<?php echo $discount?></td>                          
	 </tr>
	<tr>
		<td colspan="4" align="right" class="verdena11redbold"><b>Shipping Charge&nbsp;&nbsp;:&nbsp;&nbsp;</b></td>
		<td class="verdena11" align="right">&pound;<?php echo $shipping;?></td>                          
	</tr>
	<tr>
	<td colspan="4" align="right" class="verdena11redbold"><b>Total Cost&nbsp;&nbsp;:&nbsp;&nbsp;</b></td>
	<td align="right" class="verdena11">&pound;<?php echo number_format($total, 2, '.', ''); ?></td> 
	</tr>
	 <tr> 
		 <td colspan="5"><hr color="000000"></td>
	 </tr>
	 <tr>
		<td colspan="5">
			<table cellspacing="0" cellpadding="0" border="1" width="100%">
			 <tr>
				<td rowspan="3">
					<textarea name="refund_notes" cols="35" rows="4"><?php echo $this->data['refund_notes'];?></textarea>
				</td>
				<td align="right" class="verdena11redbold"><b>Refund:<b></td><td><input type="text" name="txt_refund"  onkeypress="return blockNumbers(event);" onblur="calFinalrefund();" value="<?php echo $this->data['txt_refund'];?>"></td>
			<tr>
			<tr>
				<td align="right" class="verdena11redbold"><b>Restocking fee:<b></td><td><input type="text" name="txt_restock"  onkeypress="return blockNumbers(event);" onblur="calFinalrefund();" value="<?php echo $this->data['txt_restock'];?>"></td>
			</tr>
			<tr>
				<td height="10" colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2" align="right" class="verdena11redbold"><b>Refund Method:<b></td>
				<td>
					<select name="refund_method">
						<option value="0">Select</option>
						<option value="Cheque" <?php if($this->data['refund_method']=="Cheque"){?>selected<?php } ?>>Cheque</option>
						<option value="Google" <?php if($this->data['refund_method']=="Google"){?>selected<?php } ?>>Google</option>
						<option value="HSBC" <?php if($this->data['refund_method']=="HSBC"){?>selected<?php } ?>>HSBC</option>
						<option value="Cash" <?php if($this->data['refund_method']=="Cash"){?>selected<?php } ?>>Cash</option>
						<option value="Voucher" <?php if($this->data['refund_method']=="Voucher"){?>selected<?php } ?>>Voucher</option>						
					</select>
				</td>
			</tr>
			<tr>
				<td height="10" colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2" align="right" class="verdena11redbold"><b>Transaction ID:<b></td>
				<td>
					<input type="text" name="txn_id" value="<?php echo $this->data['txn_id'];?>">
				</td>
			</tr>
			<tr>
				<td height="10" colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td><span id='refund_button'><input type="submit" name="but_refund" value="Issue Refund"></span><span id='process_button'></span></td>
				<td colspan="2"><b>Total Refund:&pound;&nbsp;</b><span id="finalrefund"><?php if($this->data['final_refund']<>""){echo $this->data['final_refund'];}else{?>0.00<?php } ?></span><input type="hidden" name="final_refund" value="<?php echo $this->data['final_refund'];?>"> </td>
			<tr>
			</table>
		</td>
	 </tr>
	<tr> 
		<td colspan="5" class="Height"></td>
	</tr>	
	<?php }else{?>
	<tr> 
		<td colspan="5" height="10"></td>
	</tr>	
	<tr> 
		<td colspan="5">All the products are refunded!</td>
	</tr>	
	<?php } ?>
</table>
</fieldset>
</form>
<body>
</body>
</html>