<div id="activitytabs">
  <ul>
	<li><a href="#users">Orders</a></li>
  </ul>
    <div id="users">
	<h2>Order Details</h2>
	<form name="vieworder" action=''  method="post">
	<input type="hidden" name="order_process" value="">
	<input type="hidden" name="old_status" value="">
	<input type="hidden" name="order_id" value="<?=$this->id?>">
	<?=$this->details?> 
	</form>
	</div>
</div>