<div id="activitytabs">	 
  <ul>
	<li><a href="#art">List Invites</a></li>
  </ul>
  <div id="art">
	<h2>List Invites</h2>
	<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="inviteslist">
	   <thead>
		<tr>
			<th>Survey Group</th> 	        
			<th>Subject</th>   
			<th>Date</th>       
			<th>Sent</th>       
			<th>Completed</th>       
			<th>Never</th>       
			<th>Status</th>	
			<th>Action</th>	
		</tr>    
		</thead>
		<tbody>		
		</tbody>
	</table>
</div>
</div>
