<div class="dialog-send-confirm" title="Are you sure?">     
  <p><span class="ui-icon ui-icon-alert" style='float: left; margin: 0pt 7px 20px 0pt;'></span>Are you sure you want to send invites?</p>
</div>
<div id="article_tabs">
	<ul>
	  <li><a href="#tgeneral">Send Invites</a></li>
	</ul>
	<div id="tgeneral">
		<div id="form_container">	
			<form action="<?=$this->baseurl?>/invites/resend" class="appnitro" enctype="multipart/form-data" method="post" id="addinvite" name="addinvite">
			<input type="hidden" id="invite_id" name="invite_id" value="<?php echo $this->id;?>" > 
			<div class="form_description">
				<h2>Send Invites</h2>
				<p class="error">
					<ul></ul>
				</p>
			</div>
			<ul> 	
				<li>
					<label class="description" for="field">Type</label>
					<div>
						<select name="type" id="type" class="element select medium">
							<option value="failure">Failure</option>
							<option value="resend">Resend</option>
						</select>
					</div>
				</li>	
				<li>
					<label class="description" for="subject">Subject<span class="required">*</span></label>
					<div>
						<input id="subject" name="subject" class="element text medium" type="text" maxlength="255" value=""/> 
					</div> 
					<p class="guidelines"><small>Please enter subject.</small></p>
				</li>
				<li>
					<label class="description" for="field">Insert Field</label>
					<div>
						<select name="field" id="field" class="element select medium">
						<?=$this->fields;?>
						</select> &nbsp;<a class="button" href='javascript:void(0);' onclick='if($("#field").val()!=""){wraptext(document.addinvite.temp_content,"{{"+$("#field").val()+"}}","");}'><img src="<?=$this->baseurl?>/public/images/icons/textfield_add.png" width="16" height="16" border="0" />Insert</a>
					</div>
				</li>	
				<li>					
					<label class="description" for="hmsg">HTML Message<span class="required">*</span></label>
					<div>
						<textarea name="html_message" id="html_message" class="field textarea medium"></textarea>
					</div> 	
					<p class="guidelines"><small>Please enter html message.</small></p>				
				</li>		
				<li>
					<label for="tmsg" class="description">Text Message</label>
					<div>
						<textarea class="field textarea medium" id="text_message" name="text_message"></textarea>
					</div> 	
					<p class="guidelines"><small>Please enter text message.</small></p>
				</li>
				<li class="buttons">
				  <button id="saveForm" class="fg-button ui-state-default ui-corner-all" type="button" onclick="validate_invite(window.document.addinvite);"> Send </button>
				</li>
			 </ul>			
			</form>
		</div>
	</div>
</div>