<?php
	$db					=	Zend_Registry::get("db");
	$d					=	date("d");
	$m					=	date("m");
	$y					=	date("Y");
	$lastmon			=	date("m", mktime(0, 0, 0, date("m")-1, 1, date("Y")));
	$lastyear			=	date("Y", mktime(0, 0, 0, date("m")-1, 1, date("Y")));		
	$currmonth			=	date("F Y", mktime(0, 0, 0, date("m"), 1, date("Y")));
	$lastmonth			=	date("F Y", mktime(0, 0, 0, date("m")-1, 1, date("Y")));	
 ?>
<h2>TOP 10 SOLD THIS MONTH - <?=strtoupper($currmonth)?></h2>
<div class="report_tabs">	  
  <ul>
	<li><a href="#prods">PRODUCTS</a></li>	
  </ul>
	<div id="prods">
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display">	
			<thead>
				<tr>
					<th>Rank</th>
					<th>Quantity</th>
					<th>Item Name</th>
				</tr>
			</thead>
			<tbody>
			<?php $i=0;
				foreach ($this->products as $item):
					$i++;
					if($item['size'] != '') 
						$variation_type = "( ".$item['size']." )" ;
					else if($item['style'] != '') 
						$variation_type = "( ".$item['style']." )" ;
					else
						$variation_type = "";
			?>
			<tr>
				<td><?php echo $i;?></td>
				<td><?php echo stripslashes($item['qty']);?></td>
				<td><?php echo stripslashes($item['product_name'])."&nbsp;".$variation_type;?></td>			
			</tr>
			<?php endforeach ?>	
			</tbody>
		</table>
	</div>	
</div>
<h2>TOP 10 SOLD LAST MONTH - <?=strtoupper($lastmonth)?></h2>
<div class="report_tabs">	  
  <ul>
	<li><a href="#lprods">PRODUCTS</a></li>	
  </ul>
	<div id="lprods">
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Quantity</th>
					<th>Item Name</th>
				</tr>
			</thead>
			<tbody>
			<?php $i=0;
				foreach ($this->lproducts as $item):
					$i++;
					if($item['size'] != '') 
						$variation_type = "( ".$item['size']." )" ;
					else if($item['style'] != '') 
						$variation_type = "( ".$item['style']." )" ;
					else
						$variation_type = "";
			?>
			<tr>
				<td><?php echo $i;?></td>
				<td><?php echo stripslashes($item['qty']);?></td>
				<td><?php echo stripslashes($item['product_name'])."&nbsp;".$variation_type;?></td>			
			</tr>
			<?php endforeach ?>	
			</tbody>
		</table>
	</div>	
</div>
<div class="report_tabs">	  
  <ul>
	<li><a href="#salessday">Total sales for the last 6 days</a></li>	
  </ul>
  <div id="salessday">
	 <table border="1" width="100%" cellpadding="0" cellspacing="0" class="display">  
	<tr>
	<th><b>This month</b></th>
	<?php
	   	for($i=0;$i<6;$i++){
  	?>
     <th>
        <?php
			echo $day	=	date("jS M Y", mktime(0, 0, 0, $m, $d-$i, $y));
		?>
	  </th>
	<?php } ?>	  
	</tr>
	<tr>
	<th>Total Number</th>
	<?php
	   	for($i=0;$i<6;$i++){
  	?>	 
     <td>
        <?php
			$mdate		=	date("Y-m-d", mktime(0, 0, 0, $m, $d-$i, $y));	
			$selOrder	=	$db->fetchAll("SELECT a.order_id as cnt,a.order_id FROM 3bit_order_actions a,3bit_orders o WHERE DATE_FORMAT(a.action_date,'%Y-%m-%d')= '$mdate'  AND (a.action='New' OR a.action='Refunded') AND o.payment_status != 'Declined (General).' AND (o.status !='Rejected' AND o.status !='Archived') AND o.order_id=a.order_id ");	
			
			if($selOrder>0)
				echo count($selOrder);
			else
				echo "0";
		?>
	  </td>
	<?php } ?>
	</tr>
	<tr>
	<th>Total Value</th>
	<?php
	   	for($i=0;$i<6;$i++){
  	?>	 
     <td class='amount'>
        <?php
			$mdate		=	date("Y-m-d", mktime(0, 0, 0, $m, $d-$i, $y));	
			$sales_tot	=	0;
			$selRef		=	$db->fetchRow("SELECT sum(amount_paid) as total FROM 3bit_order_actions WHERE DATE_FORMAT(action_date,'%Y-%m-%d')= '$mdate' AND action='Refunded' ");	
			if($selRef){
				$ref_total	=	$selRef['total'];
			}

			$selSales	=	$db->fetchRow("SELECT sum(a.amount_paid) as total FROM 3bit_order_actions a,3bit_orders o WHERE DATE_FORMAT(a.action_date,'%Y-%m-%d')= '$mdate' AND (a.action='New') AND o.payment_status != 'Declined (General).' AND (o.status !='Rejected' AND o.status !='Archived') AND o.order_id=a.order_id ");
			if($selSales){
				$act_total	=	$selSales['total'];
			}	
			$sales_tot		=	$act_total+$ref_total;
			
			echo "&pound; ".number_format($sales_tot,2,'.','');
		?>
	  </td>
	<?php } ?>
	</tr>
	<tr>
	<th><b>Last month</b></th>
	<?php
	   	for($i=0;$i<6;$i++){
  	?>
     <th>
        <?php
			echo $day	=	date("jS M Y", mktime(0, 0, 0, $m-1, $d-$i, $y));
		?>
	  </th>
	<?php } ?>
	</tr>
	<tr>
	<th>Total Number</th>
	<?php
	   	for($i=0;$i<6;$i++){
  	?>
     <td>
        <?php		
			$mdate		=	date("Y-m-d", mktime(0, 0, 0, $m-1, $d-$i, $y));
	
			$datefrom	=	strtotime($mdate);

			$dateto		=	strtotime('2009-12-01'); 			

			$selOrder	=	$db->fetchRow("SELECT a.order_id FROM 3bit_order_actions a,3bit_orders o WHERE DATE_FORMAT(a.action_date,'%Y-%m-%d')= '$mdate'  AND (a.action='New' OR a.action='Refunded') AND o.payment_status != 'Declined (General).' AND (o.status !='Rejected' AND o.status !='Archived') AND o.order_id=a.order_id ");					
			if($selOrder)
				echo count($selOrder);
			else
				echo "0";
		?>
	  </td>
	<?php } ?>
	</tr>
	<th>Total Value</th>
	<?php
	   	for($i=0;$i<6;$i++){
  	?>	 
     <td class='amount'>
        <?php
			$mdate		=	date("Y-m-d", mktime(0, 0, 0, $m-1, $d-$i, $y));

			$datefrom	=	strtotime($mdate);

			$sales_tot	=	0; 
			$ref_total	=	0;
			$act_total	=	0;
			
			$selRef		=	$db->fetchRow("SELECT sum(amount_paid) as total FROM 3bit_order_actions WHERE DATE_FORMAT(action_date,'%Y-%m-%d')= '$mdate' AND action='Refunded' ");	
			if($selRef){
				$ref_total	=	$selRef['total'];
			}

			$selSales		=	$db->fetchRow("SELECT sum(a.amount_paid) as total FROM 3bit_order_actions a,3bit_orders o WHERE DATE_FORMAT(a.action_date,'%Y-%m-%d')= '$mdate' AND (a.action='New') AND o.payment_status != 'Declined (General).' AND o.order_id=a.order_id ");
			if($selSales){
				$act_total	 =	 $selSales['total'];
			}
		
			$sales_tot		=	$act_total+$ref_total;
			echo "&pound; ".number_format($sales_tot,2,'.','');
		?>
	  </td>
	<?php } ?>
	</tr>
	</table>
  </div>
 </div>
 <div class="report_tabs">	  
  <ul>
	<li><a href="#salessmon">Total sales for the last 12 months</a></li>	
  </ul>
  <div id="salessmon">
	 <table border="1" width="100%" cellpadding="0" cellspacing="0" class="display">  
		<tr>
			<th><b>This year</b></th>
			<?php
	   			for($i=0;$i<12;$i++){
		  	?>
		     <th>
			<?php
				echo $day	=	date("M Y", mktime(0, 0, 0, $m-$i, 1, $y));
			?>
			 </th>
			<?php } ?>
		</tr>
		<tr>
			<td>Total Number</td>
			<?php
	   			for($i=0;$i<12;$i++){
		  	?>
		     <td>
			<?php
				$mdate		=	date("Y-m-d", mktime(0, 0, 0, $m-$i, $d, $y));
				$smon		=	date("m", mktime(0, 0, 0, $m-$i, 1, $y));
				$syear		=	date("Y", mktime(0, 0, 0, $m-$i, 1, $y));
				$datefrom	=	strtotime($mdate);

				$selOrder	=	$db->fetchRow("SELECT a.order_id FROM 3bit_order_actions a,3bit_orders o WHERE month(a.action_date)= '".$smon."' AND year(a.action_date) = '".$syear."' AND (a.action='New' OR a.action='Refunded') AND o.payment_status != 'Declined (General).' AND (o.status !='Rejected' AND o.status !='Archived') AND o.order_id=a.order_id ");				
				
				if($selOrder)
					echo count($selOrder);
				else
					echo "0";			
			?>
			 </td>
			<?php } ?>
		</tr>
		<tr>
			<td>Total Value</td>
			<?php
	   			for($i=0;$i<12;$i++){
		  	?>
		     <td>
			<?php
				$smon		=	date("m", mktime(0, 0, 0, $m-$i, 1, $y));
				$syear		=	date("Y", mktime(0, 0, 0, $m-$i, 1, $y));
				$pyear	=	date("Y", mktime(0, 0, 0, $m-$i, 1, $y-1));

				$mdate		=	date("Y-m-d", mktime(0, 0, 0, $m-$i, $d, $y));
				$datefrom	=	strtotime($mdate);

				$prevdate	=	date("Y-m-d", mktime(0, 0, 0, $m-$i, $d, $y-1));
				$pdatefrom	=	strtotime($prevdate);

				$sales_tot	=	0; 
				$act_total	=	0;
				$ref_total	=	0;
				
				$selRef		=	$db->fetchRow("SELECT sum(amount_paid) as total FROM 3bit_order_actions WHERE month(action_date)= '$smon' AND year(action_date) = '".$syear."' AND action='Refunded' ");	
				if($selRef){					
					$ref_total	=	$selRef['total'];
				}

				$selSales		=	$db->fetchRow("SELECT sum(a.amount_paid) as total FROM 3bit_order_actions a,3bit_orders o WHERE month(a.action_date)= '".$smon."' AND year(a.action_date) = '".$syear."' AND a.action='New' AND o.payment_status != 'Declined (General).' AND (o.status !='Rejected' AND o.status !='Archived') AND o.order_id=a.order_id ");
				if($selSales){
					$act_total	 =	 $selSales['total'];
				}				
				$sales_tot		=	$act_total+$ref_total;

				$prevRef		=	$db->fetchRow("SELECT sum(amount_paid) as total FROM 3bit_order_actions WHERE month(action_date)= '$smon' AND year(action_date) = '".$pyear."' AND action='Refunded' ");	
				if($prevRef){
					$ref_prev	=	$prevRef['total'];
				}

				$prevSales		=	$db->fetchRow("SELECT sum(a.amount_paid) as total FROM 3bit_order_actions a,3bit_orders o WHERE month(a.action_date)= '$smon' AND year(a.action_date) = '".$pyear."' AND a.action='New' AND o.payment_status != 'Declined (General).' AND (o.status !='Rejected' AND o.status !='Archived') AND o.order_id=a.order_id ");
				if($prevSales){
					$act_prev	 =	 $prevSales['total'];
				}

				$sales_prev		=	$act_prev+$ref_prev;
				

				echo "&pound; ".number_format($sales_tot,2,'.','');

				echo "<br/> (&pound; ".number_format($sales_prev,2,'.','').")";
			?>
			 </td>
			<?php } ?>
		</tr>
		</table>
  </div>
 </div>
 <div class="report_tabs">	  
  <ul>
	<li><a href="#invoicemon">Invoices raised for last 12 months</a></li>	
  </ul>
  <div id="invoicemon">
	<table border="1" width="100%" cellpadding="0" cellspacing="0" class="display">  
		<tr>
			<th><b>This year</b></th>
			<?php
	   			for($i=0;$i<12;$i++){
		  	?>
		     <th>
			<?php
				echo $day	=	date("M Y", mktime(0, 0, 0, $m-$i, 1, $y));
			?>
			 </th>
			<?php } ?>
		</tr>
		<tr>
			<th>Total Number</th>
			<?php
	   			for($i=0;$i<12;$i++){
		  	?>
		     <td>
			<?php
				$mdate		=	date("Y-m-d", mktime(0, 0, 0, $m-$i, $d, $y));
				$smon		=	date("m", mktime(0, 0, 0, $m-$i, 1, $y));
				$syear		=	date("Y", mktime(0, 0, 0, $m-$i, 1, $y));
				$datefrom	=	strtotime($mdate);

				$selOrder	=  $db->fetchRow("SELECT count(t1.order_id)as cnt FROM 3bit_orders AS t1 WHERE (t1.status='Shipped' OR t1.status='Refunded') AND t1.ccerrcode !='' AND  month(t1.shipped_date)= '".$smon."' AND year(t1.shipped_date) = '".$syear."'  ORDER BY t1.shipped_date DESC") ;
				
				if($selOrder)
					echo $selOrder['cnt'];
				else
					echo "0";				
			?>
			 </td>
			<?php } ?>
		</tr>
		<tr>
			<th>Total Value</th>
			<?php
	   			for($i=0;$i<12;$i++){
		  	?>
		     <td>
			<?php
				$smon	=	date("m", mktime(0, 0, 0, $m-$i, 1, $y));
				$syear	=	date("Y", mktime(0, 0, 0, $m-$i, 1, $y));
				$pyear	=	date("Y", mktime(0, 0, 0, $m-$i, 1, $y-1));

				$mdate		=	date("Y-m-d", mktime(0, 0, 0, $m-$i, $d, $y));

				$datefrom	=	strtotime($mdate);

				$sales_tot	=	0;

				$selOrder	=  $db->fetchRow("SELECT sum(t1.ordertotal)as sales_tot FROM 3bit_orders AS t1 WHERE (t1.status='Shipped' OR t1.status='Refunded') AND t1.ccerrcode !='' AND  month(t1.shipped_date)= '".$smon."' AND year(t1.shipped_date) = '".$syear."'  ORDER BY t1.shipped_date DESC") ;
				
				if($selOrder)
					$sales_tot	= $selOrder['sales_tot'];
				else
					$sales_tot	= "0";	
				
				$prevOrder	=  $db->fetchRow("SELECT sum(t1.ordertotal)as sales_tot FROM 3bit_orders AS t1 WHERE (t1.status='Shipped' OR t1.status='Refunded') AND t1.ccerrcode !='' AND  month(t1.shipped_date)= '".$smon."' AND year(t1.shipped_date) = '".$pyear."'  ORDER BY t1.shipped_date DESC") ;
				
				if($prevOrder)
					$sales_prev	= $prevOrder['sales_tot'];
				else
					$sales_prev	= "0";		

				echo "&pound; ".number_format($sales_tot,2,'.','');
				echo "<br/> (&pound; ".number_format($sales_prev,2,'.','').")";
			?>
			 </td>
			<?php } ?>
		</tr>
		</table>
  </div>
 </div>