<div class="report_tabs">	  
  <ul>
	<li><a href="#prods">Protal Users Stats</a></li>	
  </ul>
	<div id="prods">
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display">	
			<thead>
				<tr>				
					<th>Month</th>
					<th>Count</th>
				</tr>
			</thead>
			<tbody>
			<?php $total=0;
			foreach ($this->portalstats as $stats):
					$total+=$stats['ucount'];
			?>
			<tr>
				<td><?php echo stripslashes($stats['pmonth']);?></td>			
				<td><?php echo stripslashes($stats['ucount']);?></td>
			</tr>
			<?php endforeach ?>	
			<tr>
				<td><b>Total</b></td>			
				<td><b><?php echo stripslashes($total);?></b></td>
			</tr>
			</tbody>
		</table>
	</div>	
</div>
