<div id="filters">
 <h3><a href="#">PRODUCT SALES REPORTS</a></h3>
 <div>
 <form method="post" action="<?=$this->baseurl?>/reports/productsales" name="reportform" class="appintro">   
    <table border="0" width="100%" cellpadding="2" cellspacing="4" class="display">
	 <tr>		
		<td colspan="2">&nbsp;
		</td>
	  </tr>
	<tbody>
	  <tr>
		<td>Select Product</td>
		<td><select name="txt_prod" id="txt_prod" ><?php echo $this->products;?></select>&nbsp;&nbsp;<button type="submit" name="search" id="search" class="fg-button ui-state-default ui-corner-all"><img src="/logincms/public/images/icons/magnifier.png" width="16" height="16" />Submit</button></td>
	 </tr>
	  <tr>		
		<td colspan="2">&nbsp;
		</td>
	  </tr>
	  </tbody>
    </table>    
</form>
</div>
</div>
<?php if($this->orders !=''){?>
<div id="article_tabs">
		<ul>
			<li><a href="#result">Result</a></li>
		</ul>
		<div id="result">
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display">
			 <thead>
			<tr>
				<th>Order Number</th>
				<th>Ordered Date</th>
				<th>Customer Name</th>
				<th>Email</th>
				<th>Quantity</th>
			</tr>    
			</thead>
			<tbody>
			<?php foreach ($this->orders as $item): ?>
			<tr>
				<td><?php echo stripslashes($item['order_id']);?></td>
				<td><?php echo stripslashes($item['odate']);?></td>
				<td><?php echo stripslashes($item['Name']);?></td>
				<td><?php echo stripslashes($item['email']);?></td>
				<td><?php echo stripslashes($item['quantity']);?></td>
			</tr>
			<?php endforeach ?>	
			</tbody>
		</table>
		</div>
</div>
<?php } ?>