<div id="filters">
 <h3><a href="#">SALES REPORTS</a></h3>
 <div>
 <form method="post" action="<?=$this->baseurl?>/reports/salesanalytics" name="reportform" onsubmit="return validateReport(document.reportform);" class="appintro">   
    <table border="0" width="100%" cellpadding="2" cellspacing="4">
	  <tr>
		 <th colspan='4' align="left">Select a Report Type and Date Range:</th>
	  </tr>      
	  <tr>
		<td width="20%">Report Type:</td>
		<td width="30%">
			<select name='report_type' id='report_type' onChange='updateUnit(this.value);' class="element select small">				 
				<option value=""></option>
				<option value="CartConversion" <?php if($this->form['report_type']=='CartConversion'){?>selected<? } ?>>Cart Conversion</option>
				<option value="OrdersByDate" <?php if($this->form['report_type']=='OrdersByDate'){?>selected<? } ?>>Orders By Date</option>				
				<option value="OrdersByProduct" <?php if($this->form['report_type']=='OrdersByProduct'){?>selected<? } ?>>Orders By Product</option>
				<option value="RefundsByDate" <?php if($this->form['report_type']=='RefundsByDate'){?>selected<? } ?>>Refunds By Date</option>
				<option value="RefundsByProduct" <?php if($this->form['report_type']=='RefundsByProduct'){?>selected<? } ?>>Refunds By Product</option>
				<option value="SalesByDate" <?php if($this->form['report_type']=='SalesByDate'){?>selected<? } ?>>Sales By Date</option>				
				<option value="SalesByProduct" <?php if($this->form['report_type']=='SalesByProduct'){?>selected<? } ?>>Sales By Product</option>
				<option value="SalesByPaymentType" <?php if($this->form['report_type']=='SalesByPaymentType'){?>selected<? } ?>>Sales By Payment Type</option>
				<option value="SalesTaxByDate" <?php if($this->form['report_type']=='SalesTaxByDate'){?>selected<? } ?>>Sales Tax By Date</option>
				<option value="ShippingByDate" <?php if($this->form['report_type']=='ShippingByDate'){?>selected<? } ?>>Shipping By Date</option>
				<option value="Deposits" <?php if($this->form['report_type']=='Deposits'){?>selected<? } ?>>Value Of Deposits</option>
				<option value="TotalOrdersByDate" <?php if($this->form['report_type']=='TotalOrdersByDate'){?>selected<? } ?>>Total Orders by Date</option>
				<option value="AverageByDate" <?php if($this->form['report_type']=='AverageByDate'){?>selected<? } ?>>Average Times by Date</option>
			</select>
		</td>
		<td width="10%">Display Type:</td>
		<td>
			<select name='display_type' id='display_unit' class="element select small">
			<?php if($this->form['report_type']=='CartConversion' || $this->form['report_type']=='OrdersByDate' || $this->form['report_type']=='ReferredOrdersByDate' || $this->form['report_type']=='RefundsByDate' || $this->form['report_type']=='SalesByDate' || $this->form['report_type']=='SalesTaxByDate' || $this->form['report_type']=='ShippingByDate' || $this->form['report_type']=='TotalOrdersByDate' || $this->form['report_type']=='AverageByDate'){
			?>		
				<option value="Daily" <?php if($this->form['display_type']=='Daily'){?>selected<? } ?>>Daily</option>
				<option value="Weekly" <?php if($this->form['display_type']=='Weekly'){?>selected<? } ?>>Weekly</option>
				<option value="Monthly" <?php if($this->form['display_type']=='Monthly'){?>selected<? } ?>>Monthly</option>
				<option value="Yearly" <?php if($this->form['display_type']=='Yearly'){?>selected<? } ?>>Yearly</option>
			<?php }else if($this->form['report_type']=='OrdersByProduct' || $this->form['report_type']=='RefundsByProduct' || $this->form['report_type']=='SalesByProduct'){?>
				 <option value="TOP 5" <?php if($this->form['display_type']=='TOP 5'){?>selected<? } ?>>TOP 5</option>
				 <option value="TOP 10" <?php if($this->form['display_type']=='TOP 10'){?>selected<? } ?>>TOP 10</option>
				 <option value="TOP 15" <?php if($this->form['display_type']=='TOP 15'){?>selected<? } ?>>TOP 15</option>
				 <option value="ALL" <?php if($this->form['display_type']=='ALL'){?>selected<? } ?>>ALL</option>
			<?php }else if($this->form['report_type']=='CouponReturn' || $this->form['report_type']=='SalesByPaymentType' || $this->form['report_type']=='Deposits'){ ?>
				   <option selected="selected" value="N/A">N/A</option>
			<?php } ?>
			</select>
		</td>
	  </tr>	 
	  <tr>
		<td width="20%">Quick Date:</td>
		<td width="30%">
			<select name='quick_date' id='quick_date' onchange='dateUodate(this.value);' class="element select small"> 				 
				<option value=""></option>
				<option value="Today" <?php if($this->form['quick_date']=='Today'){?>selected<?php } ?>>Today</option>
				<option value="Yesterday" <?php if($this->form['quick_date']=='Yesterday'){?>selected<?php } ?>>Yesterday</option>
				<option value="This Month" <?php if($this->form['quick_date']=='This Month'){?>selected<?php } ?>>This Month</option>
				<option value="This Year" <?php if($this->form['quick_date']=='This Year'){?>selected<?php } ?>>This Year</option>
			</select>			
		</td>
		<td width="10%">Date Range:</td>
		<td>
			From: <input id="start_date" name="start_date" type="text" onkeypress="return false;" tabindex="3" value ="<?php echo $this->form['start_date'];?>"/>		
			To: <input id="end_date" name="end_date" type="text" tabindex="9" onkeypress="return false;" value ="<?php echo $this->form['end_date'];?>"  />
		</td>
	  </tr>	  
	  <tr>
		<td colspan="2">
			<button type="submit" name="show_report" class="fg-button ui-state-default ui-corner-all">Generate Report</button>			
		</td>
		<td colspan="2">
		</td>
	  </tr>
    </table>    
</form>
</div>
</div>
<?php if($this->results!=''){
		echo $this->results;			
} ?>