<div id="filters">
  <h3><a href="#">Search Orders</a></h3>
  <div>
	<div id="search">
		<form name="order_search" id="order_search" class="appintro" method="post" action="<?=$this->baseurl?>/reports/searchorders" enctype="multipart/form-data">
			<table cellspacing='0' cellpadding='0' border='0' width='100%' class="grid">
		    <tbody>
				<tr>
					<td>Customer Name/Email</td>
					<td><input name="txt_cust" id="txt_cust" type="text" value ="<?=$this->form['txt_cust']?>" /></td>
					<td>Accountancy Year</td>
					<td><select name="selayear" id="selayear" style="width:100px;">
							<option value="">&nbsp;All/Any&nbsp;</option>
							<?=$this->ayear?>
					    </select>
					</td>
				</tr>
				<tr>
					<td>Start Date</td>
					<td><input name="txt_start" id="txt_start" type="text" value ="<?=$this->form['txt_start']?>" /></td>
					<td>End Date</td>
					<td><input name="txt_end" id="txt_end" type="text" value ="<?=$this->form['txt_end']?>" /></td>
				</tr>
				<tr>
					<td>Status</td>
					<td><select name="selstatus" id="selstatus" style="width:100px;" onchange="return false;">
							<option value="0">&nbsp;All/Any&nbsp;</option>
							<option value="New" <?php if($this->form['selstatus']=='New'){?>selected <?php } ?>>New</option>
							<option value="Accepted" <?php if($this->form['selstatus']=='Accepted'){?>selected <?php } ?>>Accepted</option>							
							<option value="Shipped" <?php if($this->form['selstatus']=='Shipped'){?>selected <?php } ?>>Dispatched</option>	
							<option value="Refunded" <?php if($this->form['selstatus']=='Refunded'){?>selected <?php } ?>>Refunded</option>
							<option value="Cancelled" <?php if($this->form['selstatus']=='Cancelled'){?>selected <?php } ?>>Cancelled</option>
						</select>
					</td>
					<td colspan="2">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="4"><button id="search" name="search" class="fg-button ui-state-default ui-corner-all" type="submit"><img src="<?=$this->baseurl?>/public/images/icons/magnifier.png" width="16" height="16" />Search</button>&nbsp;<?php if($this->orders !=''){?><a class="button" href="<?=$this->baseurl?>/reports/generatecsv"><img src="<?=$this->baseurl?>/public/images/icons/page_white_excel.png" width="16" height="16" border="0" />Export</a><? } ?></td>					
				</tr>
			</tbody>
			</table>
		</form>
	</div>
</div>
</div>
<?php if($this->orders !=''){?>
<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display">
   <thead>
	<tr>
		<th>Order Number</th>
		<th>Customer Name</th>
		<th>Order Date</th>
		<th>Order Total</th>
		<th>Status</th>
		<th>Action</th>
	</tr>    
	</thead>
	<tbody>
	<?php foreach ($this->orders as $item): ?>
	<tr>
		<td><?php echo $item['order_id'];?></td>
		<td><?php echo $item['Name'];?></td>
		<td><?php echo $item['order_date'];?></td>
		<td><?php echo $item['ordertotal'];?></td>
		<td><?php echo $item['status'];?></td>
		<td><a href="<?=$this->baseurl?>/orders/view/id/<?=$item['order_id'];?>" class='button' target="_blank"><img src="<?=$this->baseurl?>/public/images/icons/page_white_text.png" alt="View" width="16" height="16" border='0' />View</a>
		</td>
	</tr>
	<?php endforeach ?>	
	</tbody>
</table>
<?php } ?>
<script>
window.onload=function(){
	$('#txt_start').datepicker({dateFormat: 'dd-mm-yy',changeYear:true}); 
	$('#txt_end').datepicker({dateFormat: 'dd-mm-yy',changeYear:true}); 
}
</script>
