<div id="article_tabs">
    <ul>
      <li><a href="#flinks">Add Audit</a></li>	       
    </ul>    
	<div id='flinks'>
		<form action="#" class="appnitro" enctype="multipart/form-data" method="post" id="addaudit" name='addaudit'>
		 <input type="hidden" name="formulary_id" id="formulary_id" value="<?php echo $this->id;?>">
		<ul>
			<li>
				<label class="description" for="scope">Change Scope<span class="required">*</span></label>
				<div>
					<select name="scope" id="scope" class="element select small"> 
						<option value="New">New</option>
						<option value="Update">Update</option>
						<option value="Minor Update">Minor Update</option>
						<option value="Correction">Correction</option>
						<option value="Technical">Technical</option>
					</select>
				</div> 
			</li>
			<li>
			  <label class="description" for="change_notes">Notes<span class="required">*</span></label>
			  <div>
				<textarea id="change_notes" name="change_notes" class="mceEditor"></textarea>
			  </div>
			</li>
			<li>
			  <label class="description" for="date_string">Date String Message<span class="required">*</span></label>
			  <div>
				<input id="date_string" name="date_string" class="element select small" readonly />
			  </div>
			</li>
			<li class="buttons">
				<a id="saveAudit" class="button" onclick="validate_audit();">Save</a> or <a id="cancelForm" class="button" onclick="$(document).trigger('close.facebox');clickstatus=false;">Cancel</a>
			</li>
		</ul>
		</form>
	</div>
</div>