<?php header( 'Content-Type:text/html; charset=UTF-8' );
	  $db			=	Zend_Registry::get("db");
	  $modelform	=	new Application_Model_Formulary();
	  require_once("../../siteconfig/classes/html2fpdf/html2fpdf.php");

	  if($this->version==''){
	    $selVersion		=	$db->fetchAll("SELECT version FROM 3bit_tmp_formulary_blocks WHERE formulary_id='".$this->id."' ORDER BY version DESC LIMIT 0,1");
		if(count($selVersion)>0){
			$lat_version	=	$selVersion[0]['version'];
		}
	  }else{
	    $lat_version	=	$this->version;
      }
	  global $block_title;
	  $block_title[1] =		array(
									 "pre_text_article"		=>	"pre_text_article",
									 "class"				=>	"class",
									 "indication"			=>	"indication",
									 "pharmacology"			=>	"pharmacology",
									 "cautions"				=>	"cautions",
									 "undesireable_effects"	=>	"undesireable_effects",
									 "dose_and_use"			=>	"dose_and_use",
									 "overdose"				=>	"overdose",
									 "death_rattle"			=>	"death_rattle",
									 "supply"				=>	"supply",
									 "post_text_article"	=>	"post_text_article",
									 "Bio Availability"		=>  "Bio Availability",
									 "Onset of Action"		=>  "Onset of Action",
									 "Time to peak plasma concentration"=>"Time to peak plasma concentration",
									 "Plasma Halflife"		=>  "Plasma Halflife",
									 "Duration of Action"	=>	"Duration of Action",
									 "Contra Indications"	=>  "Contra Indications"

								);

	  $block_title[2] =		array(
								 "pre_text_article"		=>	"Vor Text lesen",
								 "class"				=>	"Klasse",
								 "indication"			=>	"Anzeige",
								 "pharmacology"			=>	"Pharmakologie",
								 "cautions"				=>	"Verwarnungen",
								 "undesireable_effects"	=>	"unerwünschte Wirkungen",
								 "dose_and_use"			=>	"Dosierung und Anwendung",
								 "overdose"				=>	"Überdosierung",
								 "death_rattle"			=>	"Röcheln",
								 "supply"				=>	"beliefern",
								 "post_text_article"	=>	"nachgestellten Text lesen",
								 "Bio Availability"		=>  "Bio-Verfügbarkeit",
								 "Onset of Action"		=>  "Wirkungseintritt",
								 "Time to peak plasma concentration"=>"Time to Peak-Plasmakonzentration",
								 "Plasma Halflife"		=>  "Plasma Halflife",
								 "Duration of Action"	=>	"Dauer der Aktion",
								 "Contra Indications"	=>  "Kontraindikationen" );


	$block_array	=	array('pre_text_article','class','indication','pharmacology','cautions','undesireable_effects','dose_and_use','overdose','death_rattle','supply','post_text_article');
	$temp			=	0;

	$selForm	=	$db->fetchAll("SELECT publish_status,formulary_title FROM 3bit_formulary WHERE formulary_id='".$this->id."' ");

	if(count($selForm)>0){
		$publish_status	=	$selForm[0]['publish_status'];
		$formulary_tit	=	$selForm[0]['formulary_title'];
	}
	 $returnTxt	=	'<html>
						<head>
							<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
							<link type="text/css" href="'.$this->baseurl.'/public/css/cupertino/jquery-ui-1.8rc2.custom.css" rel="stylesheet" media="print" charset="utf-8" />
							<link type="text/css" href="'.$this->baseurl.'/public/css/Base.css" rel="stylesheet" media="print" charset="utf-8" />
							<link type="text/css" href="'.$this->baseurl.'/public/css/BreadCrumb.css" rel="stylesheet" media="print" charset="utf-8" />
							<link type="text/css" href="'.$this->baseurl.'/public/css/forms.css" rel="stylesheet" media="print" charset="utf-8" />
							<link type="text/css" href="'.$this->baseurl.'/public/css/screen.css" rel="stylesheet" media="print" charset="utf-8" />
							<link type="text/css" href="'.$this->baseurl.'/public/css/style.css" rel="stylesheet" media="print" charset="utf-8" />
							<link type="text/css" href="'.$this->baseurl.'/public/css/custom.css" rel="stylesheet" media="print" charset="utf-8" />
						</head>
						<body>';

		 for($m=0;$m<count($block_array);$m++){

			$selBlocks	=	$db->fetchAll("SELECT fb.*,f.formulary_title,f.bnf_reference,f.language_id FROM 3bit_tmp_formulary_blocks fb,3bit_formulary f WHERE f.formulary_id ='".$this->id."' AND fb.version='".$lat_version."' AND f.formulary_id=fb.formulary_id AND fb.block_type= '".$block_array[$m]."' GROUP BY fb.version");	

			  if(count($selBlocks)>0){
				  $i=0;					  
				  foreach($selBlocks as $brow){
					  $block_id	=	$brow['block_id'];			  
						  if($temp ==0){
							$returnTxt.=	'<div id="monographtitle">
												<h1>'.stripslashes($brow['formulary_title']).'<span>'.$brow['bnf_reference'].'</span></h1>
											</div>';					 				  
						  }
						  $temp		=   $i+1;

						  $block_type	=	stripslashes($brow['block_type']);
					  
						  if($block_type=='generic_supply')
							  $block_type	=	'supply';			  

						  if($brow['block_content1'] != ''){

							  if($brow['block_type'] !='indication')
								  $divid	=	$modelform->remSpecial($brow['block_type']);
							  else
								  $divid	=	'indications';

							$returnTxt	.=	'<div id="'.$divid.'">';

							if($block_type != 'post_text_article'){
								$returnTxt	.=	'<H2>'.stripslashes($brow['block_title']).'</H2>';							
							}  

							if($brow['block_content1'] != ''){
								$decoded	=	stripslashes($brow['block_content1']);
								$returnTxt	.=	$decoded;
							}
							if($block_type == 'indication'){
							   $contra_indications	= stripslashes($brow['block_content2']);	
							   if($contra_indications !=''){
									$returnTxt	.=	'<div class="greybox"><H2>'.stripslashes($block_title[$brow['language_id']]['Contra Indications']).'</H2>';
									$returnTxt	.=	$contra_indications.'</div>';
								}

							}
							$returnTxt	.=	'</div>';							
						  }
					 $i++;
				  }					  
			  }
			  
		  }	  
			  if($returnTxt ==''){
				  $returnTxt	=	'No sections are added!';	
			  }else{
				  $returnTxt	=	$modelform->getParsed($returnTxt,'1');
			  }

		 /////////////////////////////////////////////////// To display blocks ///////////////////////////////////////////////////////////////////
		 /////////////////////////////////////////////////// To display footnote /////////////////////////////////////////////////////////////////
		 global $matchCount,$uniquearr,$lastuniquearr;		

		  if(is_array($lastuniquearr)){	

			$lastuniquearr	=	array_values(array_unique($lastuniquearr)); 

			$pubid	=	implode(",",$lastuniquearr);

			$pubid	=	preg_replace(array('/\{/','/\}/'),array('',''),$pubid);
				
			$parr	=	explode(",",$pubid);

			$cnt	=	count($parr);

			if($cnt>0){

				 //$returnTxt	.= "<H2>Footnotes</H2><ol>";

				 $returnTxt	.= "<div id='references'><ol>";
			
				for($m=0;$m<$cnt;$m++){			
					$selLat	=	$db->fetchAll("SELECT * FROM endnote_refs WHERE id='".$parr[$m]."' ORDER BY id ");

					if(count($selLat)>0){

						foreach($selLat as $row){

							$dispauth	=	'';
					
							$auth		=	array();
							
							$dispedit	=	'';

							$editors	=	array();

							$auth		=	explode("\r",$row['author']);						

							$authcount	=	count($auth);

							if($authcount>0){
								if($authcount>2){			
									$dispauth	=	$auth[0]." et al";
								}else if($authcount==2){
									$dispauth	=	implode(",",$auth);
									$dispauth	=	substr($dispauth,0,-1);
									$dispauth	=	$dispauth;
								}else{
								   $dispauth	=	$auth[0];
								}
							}else{
								$dispauth	=	$row['author'];
							}			

							if($editcount>0){
								if($editcount>2){
									$dispedit	= "In : ".$editors[0]." et al. (eds)&nbsp;";	
								}else if($editcount==2){
									$dispedit	= "In : ".$editors[0].",".$editors[1]." (eds) &nbsp;";
								}else{
									$dispedit	= "In : ".$editors[0]." (eds) &nbsp;";
								}
							}
						
							if($content !=''){
								$returnTxt	.= "<li><a name='".($m+1)."' ></a>".$content."</li>";
							}else{
								if($row['date']!='')
									$datetext	=	$row['year']."  ".$row['date'];
								else
									$datetext	=	$row['year'];
								
								if($row['pages']!=''){
									$returnTxt		.=	"<li id='".($m+1)."'><strong><a href='#up".($m+1)."'>^</a></strong> ".$dispauth."&nbsp;(".$datetext.")&nbsp;".stripslashes($row['title']);

									if($dispedit!=''){	
										$returnTxt		.=	"&nbsp;".$dispedit;
									}
									if($row['secondary_title']!=''){	
										$returnTxt		.=	"&nbsp;<i>".stripslashes($row['secondary_title'])."</i>";
									}
									if($row['publisher']!=''){
										 $returnTxt		.=	",&nbsp;".$row['publisher'];
									}
									if($row['place_published']!=''){

										$returnTxt		.= ",".$row['place_published'];
									}
									if($row['volume']!='' && $row['pages']!=''){
									   $returnTxt		.= "&nbsp;<b>".$row['volume']."</b>:&nbsp;".$row['pages'];
									}else if($row['volume']=='' && $row['pages']!=''){
									   $returnTxt		.= "&nbsp;pp.&nbsp;".$row['pages'];
									}

									$returnTxt		.= "</li>";

								}else{
									$returnTxt		.=	"<li id='".($m+1)."'><strong><a href='#up".($m+1)."'>^</a></strong> ".$dispauth."&nbsp;(".$datetext.")&nbsp;".stripslashes($row['title']);
									if($dispedit!=''){	
										$returnTxt		.=	"&nbsp;".$dispedit;
									}
									if($row['secondary_title']!=''){	
										$returnTxt		.=	"&nbsp;<i>".stripslashes($row['secondary_title'])."</i>";
									}
									if($row['edition']!=''){   
									   $returnTxt		.=	"&nbsp;(".$row['edition']."e).";
									}
									if($row['publisher']!=''){
										 $returnTxt		.=	"&nbsp;".$row['publisher'];
									}
									if($row['place_published']!=''){

										$returnTxt		.= ",".$row['place_published'];
									}
									$returnTxt		.= "</li>";
								}

							}

						}	
					}
				}
				 $returnTxt	.= "</ol></div>";
			}
		  }

		  $returnTxt	.= "</body></html>";

	echo $returnTxt;
	
	$path		= $_SERVER['DOCUMENT_ROOT']."/assets/pdfs/";
	$fullPath	= $path.$modelform->remSpecial($formulary_tit).'.pdf';


    $pdf=new HTML2FPDF();
	$pdf->SetFont('Arial','',12);
	$pdf->AddPage();
	if(ini_get('magic_quotes_gpc')=='1')
		$returnTxt=stripslashes($returnTxt);
	$pdf->WriteHTML($returnTxt);
	$pdf->Output($fullPath);	 
	/*if ($fd = fopen ($fullPath, "r")) {
		$fsize = filesize($fullPath);
		$path_parts = pathinfo($fullPath);
		$ext = strtolower($path_parts["extension"]);
		switch ($ext) {
			case "pdf":
			header("Content-type: application/pdf"); // add here more headers for diff. extensions
			header("Content-Disposition: attachment; filename=\"".$path_parts["basename"]."\""); // use 'attachment' to force a download
			break;
			default;
			header("Content-type: application/octet-stream");
			header("Content-Disposition: filename=\"".$path_parts["basename"]."\"");
		}
		header("Content-length: $fsize");
		header("Cache-control: private"); //use this to open files directly
		while(!feof($fd)) {
			$buffer = fread($fd, 2048);
			echo $buffer;
		}
	}
	fclose ($fd);
	unlink($fullPath);*/
	exit;
?>

