<div id="filters">
  <h3><a href="#">Filters</a></h3>
  <div>	
    <div>
	  <input type='hidden' name='search_type' id='search_type' value='<?php if(!empty($_SESSION['wlsession']['search_type'])){ echo($_SESSION['wlsession']['search_type']);}else{?>A<?php } ?>'>
	  <input type='hidden' name='search_level' id='search_level' value='<?php if(!empty($_SESSION['wlsession']['search_level'])){ echo($_SESSION['wlsession']['search_level']);}else{?>A<?php } ?>'>
	  <input type='hidden' name='search_lang' id='search_lang' value='<?php if(!empty($_SESSION['wlsession']['search_lang'])){ echo($_SESSION['wlsession']['search_lang']);}else{?>en<?php } ?>'>
      <ul id='form_type'>
		  <li class="filtertitle">By Content Type</li>
		  <li id='fcon_A'><a <?php if($_SESSION['wlsession']['search_type']==''){ echo("class='selected'");}?> href="javascript:;" onclick="show_form('A','0','0');">Any / All</a></li>
		  <li id='fcon_PR'><a <?php if($_SESSION['wlsession']['search_type']=='PR'){ echo("class='selected'");}?> href="javascript:;" onclick="show_form('PR','0','0');">Prelims</a></li>
		  <li id='fcon_GT'><a <?php if($_SESSION['wlsession']['search_type']=='GT'){ echo("class='selected'");}?> href="javascript:;" onclick="show_form('GT','0','0');">General Topics</a></li>
		  <li id='fcon_RA'><a <?php if($_SESSION['wlsession']['search_type']=='RA'){ echo("class='selected'");}?> href="javascript:;" onclick="show_form('RA','0','0');">Routes of Administration</a></li>
		  <li id='fcon_DM'><a <?php if($_SESSION['wlsession']['search_type']=='DM'){ echo("class='selected'");}?> href="javascript:;" onclick="show_form('DM','0','0');">Monographs</a></li>
		  <li id='fcon_AP'><a <?php if($_SESSION['wlsession']['search_type']=='AP'){ echo("class='selected'");}?> href="javascript:;" onclick="show_form('AP','0','0');">Appendices</a></li>
	      <li id='fcon_QPD'><a <?php if($_SESSION['wlsession']['search_type']=='QPD'){ echo("class='selected'");}?> href="javascript:;" onclick="show_form('QPD','0','0');">Quick Practice Guide</a></li>		
      </ul>
      <ul id='form_level'>
        <li class="filtertitle">By Level</li>
        <li id='flev_A'><a <?php if($_SESSION['wlsession']['search_level']==''){ echo("class='selected'");}?> href="javascript:;" onclick="show_form('0','A','0');">Any / All</a></li>
		<?php foreach($this->levels as $level){?>
		<li id='flev_<?php echo str_replace(" ","_",$level)?>'><a <?php if($_SESSION['wlsession']['search_level']==$level){ echo("class='selected'");}?>  href="javascript:;" onclick="show_form('0','<?php echo $level?>','0');"><?php echo $level?></a></li>
		<?php } ?>        
      </ul>
      <ul id='form_lang'>
        <li class="filtertitle">By Language</li>
        <li id='flang_A'><a <?php if($_SESSION['wlsession']['search_lang']=='A'){ echo("class='selected'");}?> href="javascript:;" onclick="show_form('0','0','A');">Any / All</a></li>
        <li id='flang_en'><a <?php if($_SESSION['wlsession']['search_lang']=='en' || $_SESSION['wlsession']['search_lang']==''){ echo("class='selected'");}?> href="javascript:;" onclick="show_form('0','0','en');">English</a></li>
        <li id='flang_de'><a <?php if($_SESSION['wlsession']['search_lang']=='de'){ echo("class='selected'");}?> href="javascript:;" onclick="show_form('0','0','de');">German</a></li>  
      </ul>
    </div>
  </div>
</div>
<h2>Formulary List</h2>
<div id="article_tabs">
    <ul>
      <li><a href="#pglobal">Formulary List</a></li>	       
    </ul>    
	<div id='pglobal'>
		<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id="formularylist">
           <col id="title" />
           <col id="notes" />
           <col id="content" />
           <col id="snippet" />
           <col id="type" />
           <col id="version" />
           <col id="pstatus" />
           <col id="status" />
           <col id="colaction" />        
		   <thead>		   			
			<tr>				
				<th>Title</th> 
				<th>Notes</th> 
				<th>Content</th> 		
				<th>Snippets</th>
				<th>Content Type</th> 
				<th>Version</th> 						
				<th>Publish Status</th> 
				<th>Status</th> 
				<th>Action</th> 				
			</tr>
			</thead>
			<tbody>								
			</tbody>
		</table>
	</div>
</div>

