<?php $db			=	Zend_Registry::get("db");
	  $modelform	=	new Application_Model_Formulary();
	  
	  
	  $selForm		=	$db->fetchAll("SELECT a.formulary_id, f.formulary_title, f.major_version FROM 3bit_formulary_articles a, 3bit_formulary f WHERE a.language_id =  '1' AND a.formulary_id = f.formulary_id GROUP BY f.formulary_id");

	  if(count($selForm)>0){
?>
<div id="article_tabs">
    <ul>
      <li><a href="#flinks">Formulary Links List</a></li>	       
    </ul>    
	<div id='flinks'>
	<table cellspacing="0" cellpadding="0" border="0" width="100%" class="display">
	<thead>
		<tr>
			<th width="10%">Formulary ID</th>			
			<th width="50%">Formulary Title</th>
			<th width="10%">Live Version</th>
			<th width="10%">Updated Date</th>
			<th width="10%">Links</th>
		</tr>
	</thead>
	<tbody>
	<?php

	    foreach($selForm as $frow){

			$form_id	=	$frow['formulary_id'];

			$selLive	=	$db->fetchAll("SELECT version,modified_date,content FROM 3bit_formulary_articles WHERE formulary_id = '".$frow['formulary_id']."' ORDER BY version DESC LIMIT 0,1 ");

			if(count($selLive)>0){
				$live_version	=	stripslashes($selLive[0]['version']);
				$updated_date	=	stripslashes($selLive[0]['modified_date']);
				$content		=	stripslashes($selLive[0]['content']);

				$pattern	=	'%<a [^="">]+href="(?P<url>[^"]+)"[^>*]*>(?P<text>[^< ]+)</text></url></a>%si';
				$pattern	=	'%<a [^>]+href="(?P<url>[^"]+)"[^>*]*>(?P<text>[^< ]+)</a>%si';
				$pattern	=	'/<a[^>]*href="(.*)">.*<\/a>/i';	

				preg_match_all('/<a[\s]+[^>]*href\s*=\s*([\"\']+)([^>]+?)(\1|>)/i', $content, $links);
				$ulinks		=	array_unique($links[2]);

	?>
		<tr>
			<td valign="top"><?=$frow['formulary_id']?></td>			
			<td valign="top"><?=stripslashes($frow['formulary_title'])?></td>			
			<td valign="top"><?=$live_version?></td>
			<td valign="top"><?=$updated_date?></td>
			<td valign="top">&nbsp;<?php if(!empty($ulinks)){ ?>
					<ul>
						<?php foreach($ulinks as $link){ ?>
						<li><?=$link?></li>
						<?php } ?>
					</ul>
				<?php } ?>
			</td>
	<?php
			}

		} ?>
		</tbody>
	</table>
	</div>
</div>
<?php	}		
?>
