<?php $db			=	Zend_Registry::get("db");
	  $modelform	=	new Application_Model_Formulary();
   if($this->version==''){
	   $selVersion		=	$db->fetchAll("SELECT version FROM 3bit_tmp_formulary_blocks WHERE formulary_id='".$this->id."' ORDER BY version DESC LIMIT 0,1");
		if(count($selVersion)>0){
			$lat_version	=	$selVersion[0]['version'];
		}
   }else{
	   $lat_version	=	$this->version;
   }

   global $block_title;

   $block_title[1]		=	array(

								 "pre_text_article"		=>	"pre_text_article",

								 "class"				=>	"class",

								 "indication"			=>	"indication",

								 "pharmacology"			=>	"pharmacology",

								 "cautions"				=>	"cautions",

								 "undesireable_effects"	=>	"undesireable_effects",

								 "dose_and_use"			=>	"dose_and_use",

								 "overdose"				=>	"overdose",

								 "death_rattle"			=>	"death_rattle",

								 "supply"				=>	"supply",

								 "post_text_article"	=>	"post_text_article",

								 "Bio Availability"		=>  "Bio Availability",

								 "Onset of Action"		=>  "Onset of Action",

								 "Time to peak plasma concentration"=>"Time to peak plasma concentration",

								 "Plasma Halflife"		=>  "Plasma Halflife",

								 "Duration of Action"	=>	"Duration of Action",

								 "Contra Indications"	=>  "Contra Indications"
							);

   $block_title[2] =		array(

								 "pre_text_article"		=>	"Vor Text lesen",

								 "class"				=>	"Klasse",

								 "indication"			=>	"Anzeige",

								 "pharmacology"			=>	"Pharmakologie",

								 "cautions"				=>	"Verwarnungen",

								 "undesireable_effects"	=>	"unerwünschte Wirkungen",

								 "dose_and_use"			=>	"Dosierung und Anwendung",

								 "overdose"				=>	"Überdosierung",

								 "death_rattle"			=>	"Röcheln",

								 "supply"				=>	"beliefern",

								 "post_text_article"	=>	"nachgestellten Text lesen",

								 "Bio Availability"		=>  "Bio-Verfügbarkeit",

								 "Onset of Action"		=>  "Wirkungseintritt",

								 "Time to peak plasma concentration"=>"Time to Peak-Plasmakonzentration",

								 "Plasma Halflife"		=>  "Plasma Halflife",

								 "Duration of Action"	=>	"Dauer der Aktion",

								 "Contra Indications"	=>  "Kontraindikationen" );

	$block_array	=	array('pre_text_article','class','indication','pharmacology','cautions','undesireable_effects','dose_and_use','overdose','death_rattle','supply','post_text_article');

	$temp			=	0;

	$selForm		=	$db->fetchAll("SELECT publish_status,formulary_title FROM 3bit_formulary WHERE formulary_id='".$this->id."' ");

	if(count($selForm)>0){

		$publish_status	=	$selForm[0]['publish_status'];

		$formulary_tit	=	stripslashes($selForm[0]['formulary_title']);
	}
?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Formulary Preview</title>
	<link type="text/css" href="<?=$this->baseurl?>/public/css/cupertino/jquery-ui-1.8rc2.custom.css" rel="stylesheet" media="screen" charset="utf-8" />
	<link type="text/css" href="<?=$this->baseurl?>/public/css/screen.css" rel="stylesheet" media="screen" charset="utf-8" />
	<link type="text/css" href="<?=$this->baseurl?>/public/css/custom.css" rel="stylesheet" media="screen" charset="utf-8" />
	<link type="text/css" href="<?=$this->baseurl?>/public/css/style.css" rel="stylesheet" media="screen" charset="utf-8" />	
	<script language="javascript" type="text/javascript">
		var sess_id = '<?=session_id();?>';
		var project_host='http://<?=$_SERVER['HTTP_HOST']?>/';
		var baseurl		='<?=$this->baseurl?>';
		var server_time= '<?=date("Y/m/d H:i:s");?>';
     </script>
	<script type="text/javascript" src="<?=$this->baseurl?>/public/js/jquery-1.4.2.min.js"></script> 
	<script type='text/javascript' src='http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js'></script>
	<script type="text/javascript" src="<?=$this->baseurl?>/public/js/jquery-ui-1.8rc2.custom.min.js"></script>
	<script type="text/javascript" src="http://layout.jquery-dev.net/lib/js/jquery.layout-latest.js" charset="utf-8"></script>
	<script type="text/javascript" src="<?=$this->baseurl?>/public/js/breadcrumbv1.1/jquery.jBreadCrumb.1.1.js" charset="utf-8"></script>
	<script type="text/javascript" src="<?=$this->baseurl?>/public/js/dataTables-1.6/jquery.dataTables.js" charset="utf-8"></script>
	<script type="text/javascript" src="<?=$this->baseurl?>/public/js/jquery.autoSuggest.js" charset="utf-8"></script>
	<script type="text/javascript" src="<?=$this->baseurl?>/public/js/functions_formulary.js"></script>	
	<script type="text/javascript" src="/tiny_mce/tiny_mce.js"></script>  
	<script type="text/javascript" src="<?=$this->baseurl?>/public/js/functions_preview.js"></script>	
</head>

<body class="formulary" id="preview">

<div id="container">

  <div class="ui-layout-north" id="previewheader">

   <input type="hidden" name="id" id="id" value="<?=$this->id;?>" />

   <input type="hidden" name="version" id="version" value="<?=$this->version;?>" />

   <input type="hidden" name="snippetid" id="snippetid" value="" />

    <!-- start of inner content -->

    <div id="headerbar">

      <h1><a href="<?=$this->baseurl?>/formulary">Formulary</a> : <?php echo $formulary_tit;?></h1>

      <div class="option-actions right">

        <form>

          <div id="editstatus">

            <input type="radio" id="radio5" name="radio_action" <?php if($this->edit!='1'){?>checked="checked" <?php } ?>/>

            <label for="radio5">Preview Mode</label>

            <input type="radio" id="radio6" name="radio_action" <?php if($this->edit=='1'){?>checked="checked" <?php } ?>/>

            <label for="radio6">Edit Mode</label>

          </div>

        </form>

      </div>

      <div class="option-actions">

        <form>

          <div id="pubstatus">

            <input type="radio" id="radio1" name="radio_status" value="draft" <? if($publish_status=='draft'){?>checked="checked"<? } ?> />

            <label for="radio1">Draft</label>

            <input type="radio" id="radio2" name="radio_status"  value="pending" <? if($publish_status=='pending'){?>checked="checked"<? } ?> />

            <label for="radio2">Pending Approval</label>

            <input type="radio" id="radio3" name="radio_status" value="approved"  <? if($publish_status=='approved'){?>checked="checked"<? } ?> />

            <label for="radio3">Approved</label>

            <input type="radio" id="radio4" name="radio_status" value="final"  <? if($publish_status=='final'){?>checked="checked"<? } ?> />

            <label for="radio4">Live</label>

          </div>

        </form>

      </div>

	   <!-- div class="option-actions">
			<a href="<?=$this->baseurl?>/formulary/exportpdf/id/<?=$this->id?>/version/<?=$this->version?>" class="button">Export as PDF</a>
      </div -->

    </div>

    <!-- end of inner content -->

    <!-- end of north content -->

  </div>

  <div class="outer-center">

    <div class="middle-center">

      <div class="inner-center">

		<div class="dialog-confirm" title="Monograph Saved">     

		  <p><span class="ui-icon ui-icon-circle-check" style='float: left; margin: 0pt 7px 20px 0pt;'></span>This monograph has now been saved.</p>

		</div>

        <!-- start of formulary inner content -->

        <div class="container" id="formulary">

		<?php		 	   



		  $returnTxt	=	'';



		 for($m=0;$m<count($block_array);$m++){



			$selBlocks	=	$db->fetchAll("SELECT fb.*,f.formulary_title,f.bnf_reference,f.language_id FROM 3bit_tmp_formulary_blocks fb,3bit_formulary f WHERE f.formulary_id ='".$this->id."' AND fb.version='".$lat_version."' AND f.formulary_id=fb.formulary_id AND fb.block_type= '".$block_array[$m]."' GROUP BY fb.version");

			  if(count($selBlocks)>0){

				  $i=0;					  

				  foreach($selBlocks as $brow){

					  $block_id	=	$brow['block_id'];			  

						  if($temp ==0){

							$returnTxt.=	'<div id="monographtitle">

												<h1>'.stripslashes($brow['formulary_title']).'<span>'.$brow['bnf_reference'].'</span></h1>

											</div>';					 				  

						  }

						  $temp		=   $i+1;



						  $block_type	=	stripslashes($brow['block_type']);

					  

						  if($block_type=='generic_supply')

							  $block_type	=	'supply';			  



						  if($brow['block_content1'] != ''){



							  if($brow['block_type'] !='indication')

								  $divid	=	$modelform->remSpecial($brow['block_type']);

							  else

								  $divid	=	'indications';



							$returnTxt	.=	'<div id="'.$divid.'">';



							if($block_type != 'post_text_article'){

								$returnTxt	.=	'<H2>'.($brow['block_title']).'</H2>';							

							}  



							if($brow['block_content1'] != ''){

								$decoded	=	stripslashes($brow['block_content1']);

								$returnTxt	.=	$decoded;

							}

							if($block_type == 'indication'){

							   $contra_indications	= stripslashes($brow['block_content2']);	

							   if($contra_indications !=''){

									$returnTxt	.=	'<div class="greybox"><H2>'.$block_title[$brow['language_id']]['Contra Indications'].'</H2>';

									$returnTxt	.=	$contra_indications.'</div>';

								}



							}

							$returnTxt	.=	'</div>';

							$returnTxt	.=	'<span class="'.$divid.'" ><textarea id="textarea_'.$divid.'" rows="10" cols="130" ></textarea><a href="javascript:;" onclick=update_block($("#id").val(),$("#version").val(),"'.$divid.'");>Save</a>&nbsp;<a href="javascript:;" onclick=cancel_update();>Cancel</a></span>';

						  }

					 $i++;

				  }					  

			  }

			  

		  }	  

			  if($returnTxt ==''){

				  $returnTxt	=	'No sections are added!';	

			  }else{

				  $returnTxt	=	$modelform->getParsed($returnTxt,'1');

			  }



		 /////////////////////////////////////////////////// To display blocks ///////////////////////////////////////////////////////////////////

		 ?>



		 <?php /////////////////////////////////////////////////// To display footnote ///////////////////////////////////////////////////////////////////

		  global $matchCount,$uniquearr,$lastuniquearr;			

		  if(is_array($lastuniquearr)){	



			$lastuniquearr	=	array_values(array_unique($lastuniquearr)); 



			$pubid	=	implode(",",$lastuniquearr);



			$pubid	=	preg_replace(array('/\{/','/\}/'),array('',''),$pubid);

				

			$parr	=	explode(",",$pubid);



			$cnt	=	count($parr);



			if($cnt>0){



				 //$returnTxt	.= "<H2>Footnotes</H2><ol>";



				 $returnTxt	.= "<div id='references'><ol>";

			

				for($m=0;$m<$cnt;$m++){			

					$selLat	=	$db->fetchAll("SELECT * FROM endnote_refs WHERE id='".$parr[$m]."' ORDER BY id ");

					if(count($selLat)>0){

						foreach($selLat as $row){



							$dispauth	=	'';

					

							$auth		=	array();

							

							$dispedit	=	'';



							$editors	=	array();



							$auth		=	explode("\r",$row['author']);						



							$authcount	=	count($auth);



							if($authcount>0){

								if($authcount>2){			

									$dispauth	=	$auth[0]." <i>et al</i>.";

								}else if($authcount==2){

									$dispauth	=	implode(",",$auth);

									$dispauth	=	substr($dispauth,0,-1);

									$dispauth	=	$dispauth;

								}else{

								   $dispauth	=	$auth[0];

								}

							}else{

								$dispauth	=	$row['author'];

							}			



							if($editcount>0){

								if($editcount>2){

									$dispedit	= "In : ".$editors[0]." <i>et al</i>. (eds)&nbsp;";	

								}else if($editcount==2){

									$dispedit	= "In : ".$editors[0].",".$editors[1]." (eds) &nbsp;";

								}else{

									$dispedit	= "In : ".$editors[0]." (eds) &nbsp;";

								}

							}

						

							if($content !=''){

								$returnTxt	.= "<li><a name='".($m+1)."' ></a>".$content."</li>";

							}else{

								if($row['date']!='')

									$datetext	=	$row['year']."  ".$row['date'];

								else

									$datetext	=	$row['year'];							
								
								
								if(substr(stripslashes($row['title']),-1, 1)!='.')
									$reftit		=	stripslashes($row['title']).".";
								else
									$reftit		=	stripslashes($row['title']);

								if($row['pages']!=''){

									$returnTxt		.=	"<li id='".($m+1)."'><strong><a href='#up".($m+1)."'>^</a></strong> ".$dispauth."&nbsp;(".$datetext.")&nbsp;<i>".$reftit."</i>";



									if($dispedit!=''){	

										$returnTxt		.=	"&nbsp;".$dispedit;

									}

									if($row['secondary_title']!=''){	

										$returnTxt		.=	"&nbsp;<i>".stripslashes($row['secondary_title'])."</i>";

									}

									if($row['publisher']!=''){

										 $returnTxt		.=	",&nbsp;".$row['publisher'];

									}

									if($row['place_published']!=''){



										$returnTxt		.= ",".$row['place_published'];

									}

									if($row['volume']!='' && $row['pages']!=''){

									   $returnTxt		.= "&nbsp;<b>".$row['volume']."</b>:&nbsp;".$row['pages'];

									}else if($row['volume']=='' && $row['pages']!=''){

									   $returnTxt		.= "&nbsp;pp.&nbsp;".$row['pages'];

									}

									$returnTxt		.= ".";

									if($row['accession_number']!='' && is_numeric($row['accession_number'])){

										$returnTxt		.= " <a href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&dopt=Citation&list_uids=".$row['accession_number']."'>PubMed: ".$row['accession_number']."</a>.";
									}

									$returnTxt		.= "</li>";



								}else{

									$returnTxt		.=	"<li id='".($m+1)."'><strong><a href='#up".($m+1)."'>^</a></strong> ".$dispauth."&nbsp;(".$datetext.")&nbsp;<i>".$reftit."</i>";

									if($dispedit!=''){	

										$returnTxt		.=	"&nbsp;".$dispedit;

									}

									if($row['secondary_title']!=''){	

										$returnTxt		.=	"&nbsp;<i>".stripslashes($row['secondary_title'])."</i>";

									}

									if($row['edition']!=''){   

									   $returnTxt		.=	"&nbsp;(".$row['edition']."e).";

									}

									if($row['publisher']!=''){

										 $returnTxt		.=	"&nbsp;".$row['publisher'];

									}

									if($row['place_published']!=''){



										$returnTxt		.= ",".$row['place_published'];

									}

									$returnTxt		.= ".";

									if($row['accession_number']!='' && is_numeric($row['accession_number'])){

										$returnTxt		.= " <a href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&dopt=Citation&list_uids=".$row['accession_number']."'>PubMed: ".$row['accession_number']."</a>.";
									}

									$returnTxt		.= "</li>";

								}



							}



						}	

					}

				}

				 $returnTxt	.= "</ol></div>";

			}

		  }

		  echo $returnTxt;

		?>



		</div>

        <!-- end of formulary inner content -->

      </div>

      <!-- Inner South Toolbox Area containing-->

      <div class="ui-layout-south">

        <!-- start of inner content -->

		<div id="listform">

			<ul>

			  <li><a href="#refs">Refs</a></li>

			  <li><a href="#snippets">Snippets</a></li>			  
			  
			  <li><a href="#tformulary">Formulary</a></li>			  

			</ul>

			<div id="refs">			     

				 <table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='pubmedlist'>

				   <col id="colid" />

				   <col id="colstatus" />

				   <col id="colid" />	 		   

				   <col id="colactions" />

				   <thead>		   			

					<tr>				

						<th><a href="#" class="sort">ID</a></th> 

						<th><a href="#" class="sort">PMID</a></th> 

						<th><a href="#" class="sort">Title</a></th> 				

						<th><a href="#" class="sort">Action</a></th> 				

					</tr>

					</thead>

					<tbody>								

					</tbody>

				</table>

			</div>

			<div id="snippets">

				<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='snippetlist'>				  

				   <thead>		   			

					<tr>				

						<th><a href="#" class="sort">Type</a></th> 

						<th><a href="#" class="sort">Ref No</a></th> 

						<th><a href="#" class="sort">Title</a></th> 				

						<th><a href="#" class="sort">Status</a></th> 												

					</tr>

					</thead>

					<tbody>								

					</tbody>

				</table>

			</div>

			<div id="tformulary">
				<table cellspacing='0' cellpadding='0' border='0' width='100%' class="display" id='lformlist'>
				   <thead>		   			
					<tr>				
						<th>Title</th>
						<th>Anchors</th> 
						<th>Content Type</th> 
						<th>Version</th> 
						<th>Publish Status</th> 				
						<th>Status</th>
					</tr>
					</thead>
					<tbody>								
					</tbody>
				</table>
			</div>

        </div>        		

		<!-- end of inner content -->

      </div>

      <!-- Inner South Toolbox Area End-->

    </div>

    <div class="middle-east">

		<div id="dialog" title="References">

			<h2>References</h2>			

			<ol>

			<?php global $matchCount,$uniquearr,$lastuniquearr;				 

				  if(is_array($lastuniquearr)){	



					$lastuniquearr	=	array_values(array_unique($lastuniquearr)); 



					$pubid	=	implode(",",$lastuniquearr);



					$pubid	=	preg_replace(array('/\{/','/\}/'),array('',''),$pubid);

						

					$parr	=	explode(",",$pubid);



					$cnt	=	count($parr);



					if($cnt>0){



						for($m=0;$m<$cnt;$m++){			

							$selLat	=	$db->fetchAll("SELECT * FROM endnote_refs WHERE id='".$parr[$m]."' ORDER BY id ");



							if(count($selLat)>0){



								foreach($selLat as $row){



									$dispauth	=	'';

							

									$auth		=	array();

									

									$dispedit	=	'';



									$editors	=	array();



									$auth		=	explode("\r",$row['author']);						



									$authcount	=	count($auth);



									if($authcount>0){

										if($authcount>2){			

											$dispauth	=	$auth[0]." et al";

										}else if($authcount==2){

											$dispauth	=	implode(",",$auth);

											$dispauth	=	substr($dispauth,0,-1);

											$dispauth	=	$dispauth;

										}else{

										   $dispauth	=	$auth[0];

										}

									}else{

										$dispauth	=	$row['author'];

									}			



									if($editcount>0){

										if($editcount>2){

											$dispedit	= "In : ".$editors[0]." et al. (eds)&nbsp;";	

										}else if($editcount==2){

											$dispedit	= "In : ".$editors[0].",".$editors[1]." (eds) &nbsp;";

										}else{

											$dispedit	= "In : ".$editors[0]." (eds) &nbsp;";

										}

									}

								

									if($content !=''){

										$referTxt	.= "<li><a href='javascript:;' onclick=mySimpleHtmlInserter('{".$row['id']."}');>".$content."&nbsp;{".$row['id']."}</a></li>";

									}else{

										if($row['date']!='')

											$datetext	=	$row['year']."  ".$row['date'];

										else

											$datetext	=	$row['year'];

										if($row['pages']!=''){

											$refTxt		=	$dispauth."&nbsp;(".$datetext.")&nbsp;".stripslashes($row['title']);



											if($dispedit!=''){	

												$refTxt		.=	"&nbsp;".$dispedit;

											}

											if($row['secondary_title']!=''){	

												$refTxt		.=	"&nbsp;<i>".stripslashes($row['secondary_title'])."</i>";

											}

											if($row['publisher']!=''){

												 $refTxt		.=	",&nbsp;".$row['publisher'];

											}

											if($row['place_published']!=''){

												$refTxt		.= ",".$row['place_published'];

											}

											if(trim($row['volume'])!='' && trim($row['pages'])!=''){

											   $refTxt		.= "&nbsp;<b>".$row['volume']."</b>:&nbsp;".$row['pages'];

											}else if(trim($row['volume'])=='' && trim($row['pages'])!=''){

											   $refTxt		.= "&nbsp;pp.&nbsp;".$row['pages'];

											}							



										}else{

											$refTxt		=	$dispauth."&nbsp;(".$datetext.")&nbsp;".stripslashes($row['title']);

											if($dispedit!=''){	

												$refTxt		.=	"&nbsp;".$dispedit;

											}

											if($row['secondary_title']!=''){	

												$refTxt		.=	"&nbsp;<i>".stripslashes($row['secondary_title'])."</i>";

											}

											if($row['edition']!=''){   

											   $refTxt		.=	"&nbsp;(".$row['edition']."e).";

											}

											if($row['publisher']!=''){

												 $refTxt		.=	"&nbsp;".$row['publisher'];

											}

											if($row['place_published']!=''){



												$refTxt		.= ",".$row['place_published'];

											}								

										}

										

										

										$referTxt	.= "<li><a href='javascript:;' onclick=mySimpleHtmlInserter('{".$row['id']."}');>".$refTxt."&nbsp;<span>{".$row['id']."}</span></li>";

									}



								}	

							}

						}		 

					}

				  }

				  echo $referTxt;
			?>		

			</ol>	

		</div>

	

	</div>

  </div>

</div>

</body>

</html>

