<h2>Formulary Scope Audits</h2>
<div id="article_tabs">
    <ul>
      <li><a href="#pglobal">List</a></li>	       
    </ul>    
	<div id='pglobal'>
		<h1><?php echo $this->formulary_title;?></h1>
		<?php foreach($this->audits as $audit){?>
			<ul>
				<li>V<?php echo $audit['version']?>&nbsp;-&nbsp;<?php echo $audit['cdate'];?>&nbsp;<?php echo $audit['scope_type'];?></li>
				<?php if(!empty($audit['notes'])){?>
				<li><?php echo stripslashes($audit['notes']);?></li>
				<?php } ?>
			</ul>
		<?php } ?>
	</div>
</div>

