<?php if(basename($_SERVER['SCRIPT_FILENAME'])=='list.php'){ ?>
<div style="float:right" id="filters"><form method="POST" action="" name="frmFilter">
   	viewing: 
<select onchange="document.frmFilter.submit();" name="category">
	<option selected="" value="all" <? if($_SESSION['category']=="all"){?>selected<? } ?>>All messages</option>
	<option value="drug" <? if($_SESSION['category']=="drug"){?>selected<? } ?>> Drug &amp; symptom control </option>
	<option value="non-drug" <? if($_SESSION['category']=="non-drug"){?>selected<? } ?>> Non-drug &amp; other topics </option>
</select>
</form></div>
<?php } ?>