{IF LOGGEDIN true}<a class="PhorumNavLink" href="{URL->REGISTERPROFILE}">{LANG->MyProfile}</a>&bull;{IF ENABLE_PM}<a class="PhorumNavLink" href="{URL->PM}">{LANG->PrivateMessages}</a>&bull;{/IF}<a class="PhorumNavLink" href="{URL->LOGINOUT}">{LANG->LogOut}</a>{ELSE}<a class="PhorumNavLink" href="{URL->LOGINOUT}">{LANG->LogIn}</a>{/IF}
<?php if(basename($_SERVER['SCRIPT_FILENAME'])=='list.php'){ ?>
<form method="POST" action="" name="frmFilter">
   	viewing: 
<select onchange="document.frmFilter.submit();" name="category">
	<option selected="" value="all" <? if($_SESSION['category']=="all"){?>selected<? } ?>>All messages</option>
	<option value="drug" <? if($_SESSION['category']=="drug"){?>selected<? } ?>> Drug &amp; symptom control </option>
	<option value="non-drug" <? if($_SESSION['category']=="non-drug"){?>selected<? } ?>> Non-drug &amp; other topics </option>
</select>
</form>
<?php } ?>