<div class="PhorumNavBlock PhorumNarrowBlock" style="text-align: left"> <span class="PhorumNavHeading PhorumHeadingLeft">{LANG->Goto}:</span>&nbsp;
  <!--{IF URL->INDEX}<a class="PhorumNavLink" href="{URL->INDEX}">{LANG->ForumList}</a>&bull;{/IF}-->
  {IF URL->TOP}<a class="PhorumNavLink" href="{URL->TOP}">{LANG->MessageList}</a>&bull;{/IF}<a class="PhorumNavLink" href="{URL->SEARCH}">{LANG->Search}</a>
  <!-- &bull;{INCLUDE loginout_menu} -->
</div>
