<?php 
$userinfo = new objUserInfo($_SESSION['visitor']->id);
?>
<div class="PhorumStdBlockHeader PhorumNarrowBlock">
  <table class="PhorumFormTable" cellspacing="0" border="0">
    {! A submit button that will be used to catch users pressing enter }
    <script type="text/javascript">
      document.write('<input type="submit" name="ignore" style="display:none">');
    </script>
    {! Author =================================================================== }
    <tr>
      <td style="white-space: nowrap">{LANG->YourName}:&nbsp;</td>
      <td width="100%">
	  <?php if(!empty($userinfo->name)&& $userinfo->name!='unknown'){
				echo $userinfo->name;
			}else{	  
	  ?>
        {IF OPTION_ALLOWED->edit_author}
          <input type="text" name="author" size="30" value="{POST->author}" />
        {ELSE}
          {POST->author}
        {/IF}
	<?php } ?>
      </td>
    </tr>
    {! Email ==================================================================== }
    <tr>
      <td style="white-space: nowrap">{LANG->YourEmail}:&nbsp;</td>
      <td width="100%">
	  <?php if(!empty($userinfo->email)&& $userinfo->email!='unknown'){
				echo $userinfo->email;
			}else{	  
	  ?>
        {IF POST->message_id}
          {! Editing a message }
          {IF POST->user_id}
            {POST->email}
          {ELSE}
            {IF MODERATOR}
              <input type="text" name="email" size="30" value="{POST->email}" />
            {ELSE}
              <?php echo $PHORUM['user']['email'] ?>
            {/IF}
          {/IF}
        {ELSE}
          {! Writing a new message }
          {IF LOGGEDIN true}
            <?php echo $PHORUM['user']['email'] ?>
          {ELSE}
            <input type="text" name="email" size="30" value="{POST->email}" />
          {/IF}
        {/IF}
		<?php } ?>
      </td>
    </tr>
	<?php if(!empty($userinfo->role) && $userinfo->role!='unknown'){ ?>
	 <tr>
		<td style="white-space: nowrap">Role:&nbsp;</td>
		<td><?=$userinfo->role?></td>
     </tr>
	 <?php }if(!empty($userinfo->org) && $userinfo->org!='unknown'){ ?>
	 <tr>
		<td style="white-space: nowrap">Organisation:&nbsp;</td>
		<td><?=$userinfo->org?></td>
     </tr>
	 <?php }if(!empty($userinfo->country) && $userinfo->country!='unknown'){ ?>
	 <tr>
		<td style="white-space: nowrap">Country:&nbsp;</td>
		<td><?=$userinfo->country?></td>
     </tr>
	 <?php }?>
	{IF POST->mode "post"}
	<tr>
		<td style="white-space: nowrap">Category:&nbsp;</td>
		<td><select name="category" id="category">
				<option value="drug" {IF POST->category "drug"} selected{/IF}>Drug &amp; symptom control</option>
				<option value="non-drug" {IF POST->category "non-drug"} selected{/IF}>Non-drug &amp; other topics</option>
			</select>
		</td>
     </tr>
	{/IF}
    {! Subject ================================================================== }
    <tr>
      <td style="white-space: nowrap">{LANG->Subject}:&nbsp;</td>
      <td><input type="text" name="subject" id="phorum_subject" size="50" value="{POST->subject}" /></td>
    </tr>
    {HOOK tpl_editor_after_subject}
    {! Moderator only fields ==================================================== }
    {IF SHOW_THREADOPTIONS}
      <tr>
        <td>{LANG->Special}:&nbsp;</td>
        <td>
          {IF SHOW_SPECIALOPTIONS}
            <select name="special">
              <option value=""></option>
              {IF OPTION_ALLOWED->sticky}
                <option value="sticky"{IF POST->special "sticky"} selected{/IF}>{LANG->MakeSticky}</option>
              {/IF}
              {IF OPTION_ALLOWED->announcement}
                <option value="announcement" {IF POST->special "announcement"} selected{/IF}>{LANG->MakeAnnouncement}</option>
              {/IF}
            </select>
          {/IF}
          {IF OPTION_ALLOWED->allow_reply}
            <input type="checkbox" name="allow_reply" value="1" {IF POST->allow_reply} checked="checked"{/IF}> {LANG->AllowReplies}
          {/IF}
        </td>
      </tr>
    {/IF}
    {! Email notify ============================================================= }
    {IF POST->user_id}
      {IF EMAILNOTIFY}
        <tr>
          <td colspan="2">
            <input type="checkbox" name="email_notify" value="1" {IF POST->email_notify} checked="checked"{/IF} /> {LANG->EmailReplies}
          </td>
        </tr>
      {/IF}
    {/IF}
    {! Show signature =========================================================== }
    {IF POST->user_id}
      <tr>
        <td colspan="2">
          <input type="checkbox" name="show_signature" value="1" {IF POST->show_signature} checked="checked"{/IF} /> {LANG->AddSig}
        </td>
      </tr>
    {/IF}
  </table>
</div>
{! Attachments ============================================================== }
{IF ATTACHMENTS}
  {INCLUDE posting_attachments}
{/IF}
{! Body ===================================================================== }
{HOOK tpl_editor_before_textarea}
<div class="PhorumStdBlock PhorumNarrowBlock">
  <textarea name="body" id="phorum_textarea" rows="15" cols="50" style="width: 99%">{POST->body}</textarea>
  {IF MODERATED}
    {LANG->ModeratedForum}<br />
  {/IF}
</div>
