<?php if(!empty($this->denied_module)){ ?>
<div class="ui-state-error ui-corner-all" style="padding: 0pt 0.7em;"> 
	<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span> 
	<strong>Alert:</strong> Access denied for <?php echo $this->denied_module;?> module.</p>
</div>			
<?php } ?>
<script type="text/javascript" language="javascript" src="<?=$this->baseurl?>/public/js/sparklines.js"></script>
<script type="text/javascript" language="javascript" src="<?=$this->baseurl?>/public/js/json2.js"></script>
<link rel="stylesheet" type="text/css" href="<?=$this->baseurl?>/public/css/cgm_ga_stylesheet.css" />
<h2>Dashboard</h2>
<?php ini_set('memory_limit','50M');
define("cgm_ga_username", "jatinder.hanspal@googlemail.com");
define("cgm_ga_password", "1210kanu72");
define("cgm_ga_profile_id", "17276532");
define("cgm_ga_web_id", "UA-8576276-1");

function cgm_ga_get_dashboard($ga_action='') {
	global $wpdb, $plugin_url;
	$action = 'visits';
	$dashboard = true;
	if (!empty($ga_action)) {
		$dashboard = false;
		$action = $ga_action;
	}		
	$allowed_actions = array('visits', 'bounces', 'pageviews', 'timeOnSite', 'pages_visit', 'new_visit', 'visitors');
	if (!in_array($action, $allowed_actions)) {
		$action = 'visits';
	}	

?>
	<div id="cgm_ga" class="wrap">
		<h2>Google Analytics Dashboard</h2>
<?php
			require '/home/pall/www/siteconfig/classes/data.php';
			if (cgm_ga_init_data(cgm_ga_username, cgm_ga_password, cgm_ga_profile_id)) {
?>
			<div id="main_chart"></div>
			<script type="text/javascript">							
				<?php
				echo '$(document).ready(function(){
						swfobject.embedSWF("/siteconfig/classes/open_flash_charts/open-flash-chart.swf", "main_chart", "100%", "200", "9.0.0", "expressInstall.swf", {"get-data":"get_main_chart"}); 
					 });';
				?>
				
				function get_main_chart() {
					return JSON.stringify(data_1);
				}
			</script>
			<?php
				if ($dashboard) {
					?>
					<script type="text/javascript">
						<?php
						echo '$(document).ready(function(){
								swfobject.embedSWF("/siteconfig/classes/open_flash_charts/open-flash-chart.swf", "visitors", "100%", "150", "9.0.0", "expressInstall.swf", {"get-data":"get_visitors"}); 
							 });';
						echo '$(document).ready(function(){
								swfobject.embedSWF("/siteconfig/classes/open_flash_charts/open-flash-chart.swf", "traffic_sources", "100%", "150", "9.0.0", "expressInstall.swf", {"get-data":"get_traffic_sources"}); 
							 });';
						?>			
					
 
						function get_visitors() {
							return JSON.stringify(data_2);
						}
					
						function get_traffic_sources() {
							return JSON.stringify(traffic_sources);
						}
				
						function findSWF(movieName) {
						  if (navigator.appName.indexOf("Microsoft")!= -1) {
						    return window[movieName];
						  } else {
						    return document[movieName];
						  }
						}
					
						$(document).ready(function(){
							$("#sparklines a").click(function(data) {
								var id = $(this).attr("id");
								id = id.split('-');
								var data = data_array[id[1]];
								var tmp = findSWF("main_chart");
			    				var x = tmp.load( JSON.stringify(data) );
								return false;
							});
						});

						var visits = <?php echo get_ga_data('visits'); ?>;
						var bounces = <?php echo get_ga_data('bounces'); ?>;
						var pageviews = <?php echo get_ga_data('pageviews'); ?>;
						var timeOnSite = <?php echo get_ga_data('timeOnSite'); ?>;
						var pages_visit = <?php echo get_ga_data('pages_visit'); ?>;
						var new_visits = <?php echo get_ga_data('new_visits'); ?>;
				
						var data_array = [];
						data_array[0] = visits;
						data_array[1] = bounces;
						data_array[2] = pageviews;
						data_array[3] = timeOnSite;
						data_array[4] = pages_visit;
						data_array[5] = new_visits;
						
						var data_1 = <?php echo $action; ?>;	
						var data_2 = <?php echo get_ga_data('visitors'); ?>;	
						var traffic_sources = <?php echo cgm_ga_get_pie_chart(cgm_ga_username, cgm_ga_password, cgm_ga_profile_id, 'medium'); ?>;
				
					
						$(document).ready(function(){
							total = 0;
							for (var i=0, count=traffic_sources.elements[0].values.length; i<count; i++) {
								total += traffic_sources.elements[0].values[i];
							} 
							var sources_html = '';
							for (var i=0, count=traffic_sources.elements[0].keys.length; i<count; i++) {
								var percent = (traffic_sources.elements[0].values[i]/total)*100;
								percent = percent.toFixed(2);
								sources_html += '<p><span class="ga_legend_key" style="background: '+traffic_sources.elements[0].colours[i]+';"></span><span style="float: left;"><strong>';
								var title = traffic_sources.elements[0].keys[i];
								if (title == '(none)') {
									title = 'Direct Traffic';
								}
								sources_html += title+'</strong><br />'+traffic_sources.elements[0].values[i]+' ('+percent+'%)</p>';
								
							}
											
							$('#traffic_sources_key').html(sources_html);
						});					
						
					    $(document).ready(function(){
					        var myvalues = '';
							myvalues = <?php echo get_ga_sparkline('visits'); ?>;
					        $('.visits_sparkline').sparkline(myvalues, {spotColor: 'false', minSpotColor: 'false', maxSpotColor: 'false'});
			
							myvalues = <?php echo get_ga_sparkline('bounces'); ?>;
					        $('.bounce_sparkline').sparkline(myvalues, {spotColor: false, minSpotColor: false, maxSpotColor: false});
			
							myvalues = <?php echo get_ga_sparkline('pageviews'); ?>;
					        $('.pageviews_sparkline').sparkline(myvalues, {spotColor: false, minSpotColor: false, maxSpotColor: false});
			
							myvalues = <?php echo get_ga_sparkline('timeOnSite'); ?>;
					        $('.timeOnSite_sparkline').sparkline(myvalues, {spotColor: false, minSpotColor: false, maxSpotColor: false});
			
							myvalues = <?php echo get_ga_sparkline('pages_visit'); ?>;
					        $('.pages_visit_sparkline').sparkline(myvalues, {spotColor: false, minSpotColor: false, maxSpotColor: false});
			
							myvalues = <?php echo get_ga_sparkline('new_visits'); ?>;
					        $('.new_visits_sparkline').sparkline(myvalues, {spotColor: false, minSpotColor: false, maxSpotColor: false});
					    });
					</script>
					<?php
				} else {
					?>
					<script type="text/javascript">
						var data_1 = <?php echo get_ga_data($action); ?>;
					</script>
					<?php
				} 

				if ($dashboard) {
					?>
					<div class="postbox">
						<h3 class='hndle'><span>Site Usage</span></h3>
						<div id="sparklines">
							<h3><a href="/logincms/home/index/details/visits" class="sparkline" id="visits-0"><span class="visits_sparkline">Loading...</span><?php echo get_ga_total('visits'); ?> Visits</a></h3>
							<h3><a href="/logincms/home/index/details/bounces" class="sparkline" id="bounces-1"><span class="bounce_sparkline">Loading...</span><?php echo get_ga_total('bounces'); ?>% Bounce Rate</a></h3>
							<h3><a href="/logincms/home/index/details/pageviews" class="sparkline" id="pageviews-2"><span class="pageviews_sparkline">Loading...</span><?php echo number_format(get_ga_total('pageviews')); ?> Pageviews</a></h3>
							<h3><a href="/logincms/home/index/details/timeOnSite" class="sparkline" id="timeOnSite-3"><span class="timeOnSite_sparkline">Loading...</span><?php echo get_ga_total('timeOnSite'); ?> Avg. Time on Site</a></h3>
							<h3><a href="/logincms/home/index/details/pages_visit" class="sparkline" id="pages_visit-4"><span class="pages_visit_sparkline">Loading...</span><?php echo get_ga_total('pages_visit'); ?> Pages/Visit</a></h3>
							<h3><a href="/logincms/home/index/details/new_visits" class="sparkline" id="new_visits-5"><span class="new_visits_sparkline">Loading...</span><?php echo get_ga_total('new_visits'); ?> % New Visits</a></h3>
						</div>
					</div>
					
					<div>
					<div id="column_1">
						<div id="visitor_overview" class="postbox">
							<h3 class='hndle'><span>Visitors Overview</span></h3>
							<div id="visitors"></div>
							<h4><span class="left" style="margin: 0 0 0 10px;"><?php echo get_ga_total('visitors'); ?> Visitors</span><span class="right" style="margin: 0 10px 0 0;"><a href="/logincms/home/index/details/visitors/">View Report</a></span></h4>
						</div>
					</div>
					
					<div id="column_2">					
						<div id="traffic_sources_overview" class="postbox">
							<h3 class='hndle'><span>Traffic Sources Overview</span></h3>
							<div id="traffic_sources"></div>
							<div id="traffic_sources_key"></div>
						</div>					
					</div>
					</div>
					<?php
				}else {
					switch ($action) {
					
						case 'visitors':
							?>
							<script type="text/javascript">
								<?php
								echo '$(document).ready(function(){
									swfobject.embedSWF("/siteconfig/classes/open_flash_charts/open-flash-chart.swf", "browser_pie", "100%", "150", "9.0.0", "expressInstall.swf", {"get-data":"get_browser_info"}); 
								 });';
								?>
								
								function get_browser_info() {
			   			            return JSON.stringify(browser_info_js);
			   					}
			
								var browser_info_js = <?php echo cgm_ga_get_pie_chart(cgm_ga_username, cgm_ga_password, cgm_ga_profile_id, 'browser'); ?>;
								$(document).ready(function(){
									total = 0;
									for (var i=0, count=browser_info_js.elements[0].values.length; i<count; i++) {
										total += browser_info_js.elements[0].values[i];
									} 
									var sources_html = '';
									for (var i=0, count=browser_info_js.elements[0].keys.length; i<count; i++) {
										var percent = (browser_info_js.elements[0].values[i]/total)*100;
										percent = percent.toFixed(2);
										sources_html += '<p><span class="ga_legend_key" style="background: '+browser_info_js.elements[0].colours[i]+';"></span><span style="float: left;"><strong>';
										var title = browser_info_js.elements[0].keys[i];
										if (title == '(none)') {
											title = 'Direct Traffic';
										}
										sources_html += title+'</strong><br />'+browser_info_js.elements[0].values[i]+' ('+percent+'%)</p>';
								
									}
									$('#browser_key').html(sources_html);
								});
							</script>
							<div id="column_1">
							
							<div id="broswer_info" class="postbox">
								<h3 class='hndle'><span>Visitor's Browsers</span></h3>

								<div id="browser_pie"></div>
								<div id="browser_key"></div>
							</div>
							
							<?php
							$results = cgm_ga_get_countries(cgm_ga_username, cgm_ga_password, cgm_ga_profile_id);
							?>
							
							<div id="visitor_country" class="postbox " >
								<h3 class='hndle'><span>Countries</span></h3>
								
								<table>
									<tr>
										<th class="cell_title">Country</th>
										<th class="cell_visits">Visits</th>
										<th class="cell_percent">% of Total</th>
									</tr>
									<?php
									$total_visits = get_ga_total('visits');
									foreach ($results as $result) {
										$percent = round(($result->getVisits()/$total_visits)*100, 2);
										echo '<tr>';
											echo '<td class="cell_title">'.$result->getCountry().'</td>';
											echo '<td class="cell_visits">'.$result->getVisits().'</td>';
											echo '<td class="cell_percent">'.number_format($percent,2).'%</td>';
										echo '</tr>';
									}
									?>
							
								</table>

							</div>
							
							</div>
							
							<div id="column_2">
							
							<div id="screen_resolution" class="postbox " >
								<h3 class='hndle'><span>Screen Resolutions</span></h3>
								
								<table>
									<tr>
										<th class="cell_title">Resolution</th>
										<th class="cell_visits">Visits</th>
										<th class="cell_percent">% of Total</th>
									</tr>
									<?php
									$results = cgm_ga_get_resolutions(cgm_ga_username, cgm_ga_password, cgm_ga_profile_id);
									$total_visits = get_ga_total('visits');
									foreach ($results as $result) {
										$percent = round(($result->getVisits()/$total_visits)*100, 2);
										echo '<tr>';
											echo '<td class="cell_title">'.$result->getScreenResolution().'</td>';
											echo '<td class="cell_visits">'.$result->getVisits().'</td>';
											echo '<td class="cell_percent">'.number_format($percent,2).'%</td>';
										echo '</tr>';
									}
									?>
							
								</table>

							</div>
							
							</div>
							
							<?php
							break;
						
						
					}
				}

?>

<?php 		} 

?>
	</div>

<?php


}
if (!empty($this->getaction)) 
	cgm_ga_get_dashboard($this->getaction);
else
	cgm_ga_get_dashboard();


?>
<br clear=all>
<div id="activitytabs">
  <ul>
	<li><a href="#audit">Activity</a></li>
  </ul>
  <div id="audit">
     <ol>
	<?php	
		
		$temp = '';
		$datecnt= 0;
		foreach ($this->audits as $audit):
			if($audit['amonth'] !=$temp){
				$temp	=	$audit['amonth'];
				$datecnt=	$datecnt+1;
				if($datecnt==3){
					break;
				}
	?>
		<li class="activdate"><?=$audit['amonth']?></li>
	<?php 	} 
			if($audit['action_status']=='failure'){
				$action_class	=	'loginfail';
			}else{
				$action_class	=	 $audit['module'];
			}
	?>
	  <li id="audit<?=$audit['audit_id']?>" class="<?=stripslashes($action_class);?>"><?=stripslashes($audit['audit_history']);?>&nbsp; <?php if(strtolower($_SESSION['wlsession']['utype'])=='super admin'){?><a href="javascript:void(0)" onclick="delete_activity('<?=$audit['audit_id']?>',this);" style="colour:red;">[X]</a><?php } ?></li>
	<?php endforeach ?>			  	  
     </ol>
  </div>
</div>